<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_009_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{166,122}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,134},{166,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{170,120}}</string>
                <key>offset</key>
                <string>{-1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,136},{170,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{162,122}}</string>
                <key>offset</key>
                <string>{-1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,135},{162,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,126},{160,122}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,134},{160,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,384},{124,144}}</string>
                <key>offset</key>
                <string>{-37,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,116},{124,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,512},{124,146}}</string>
                <key>offset</key>
                <string>{-36,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,114},{124,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,510},{120,140}}</string>
                <key>offset</key>
                <string>{-39,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,120},{120,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,652},{118,140}}</string>
                <key>offset</key>
                <string>{-39,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,120},{118,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,660},{62,164}}</string>
                <key>offset</key>
                <string>{-35,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,91},{62,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,380},{60,164}}</string>
                <key>offset</key>
                <string>{-35,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,90},{60,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,526},{64,160}}</string>
                <key>offset</key>
                <string>{-37,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,92},{64,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{66,158}}</string>
                <key>offset</key>
                <string>{-37,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,94},{66,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,250},{132,152}}</string>
                <key>offset</key>
                <string>{-36,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,86},{132,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{134,152}}</string>
                <key>offset</key>
                <string>{-35,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,85},{134,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,384},{126,148}}</string>
                <key>offset</key>
                <string>{-38,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,86},{126,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,250},{128,148}}</string>
                <key>offset</key>
                <string>{-38,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,86},{128,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{166,122}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,100},{166,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,122}}</string>
                <key>offset</key>
                <string>{2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,100},{170,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{162,124}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,97},{162,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,126},{158,122}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,98},{158,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_009_0.png</string>
            <key>size</key>
            <string>{512,773}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e85d61103c1c633da9c020bef0d053c$</string>
            <key>textureFileName</key>
            <string>c_009_0.png</string>
        </dict>
    </dict>
</plist>
