<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_004_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,624},{166,112}}</string>
                <key>offset</key>
                <string>{-23,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,141},{166,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,494},{170,128}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,128},{170,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{176,100}}</string>
                <key>offset</key>
                <string>{-16,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,142},{176,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{190,100}}</string>
                <key>offset</key>
                <string>{-14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,148},{190,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,108}}</string>
                <key>offset</key>
                <string>{-4,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,143},{198,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,296},{178,110}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,146},{178,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,860},{80,128}}</string>
                <key>offset</key>
                <string>{-40,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,122},{80,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,558},{66,138}}</string>
                <key>offset</key>
                <string>{-19,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,111},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,132},{90,114}}</string>
                <key>offset</key>
                <string>{-27,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,124},{90,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{128,106}}</string>
                <key>offset</key>
                <string>{-32,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,135},{128,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,328},{146,122}}</string>
                <key>offset</key>
                <string>{-26,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,132},{146,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,842},{128,128}}</string>
                <key>offset</key>
                <string>{-29,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,131},{128,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,224},{102,124}}</string>
                <key>offset</key>
                <string>{-39,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,112},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{100,124}}</string>
                <key>offset</key>
                <string>{-19,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,111},{100,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,858},{74,112}}</string>
                <key>offset</key>
                <string>{-23,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,119},{74,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,738},{46,118}}</string>
                <key>offset</key>
                <string>{-23,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,121},{46,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,800},{40,136}}</string>
                <key>offset</key>
                <string>{-23,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,116},{40,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,738},{60,136}}</string>
                <key>offset</key>
                <string>{-25,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,115},{60,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{176,100}}</string>
                <key>offset</key>
                <string>{-18,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,121},{176,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,108},{192,92}}</string>
                <key>offset</key>
                <string>{-4,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,129},{192,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{170,86}}</string>
                <key>offset</key>
                <string>{-7,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,132},{170,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,452},{148,104}}</string>
                <key>offset</key>
                <string>{-15,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,128},{148,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,732},{136,126}}</string>
                <key>offset</key>
                <string>{-20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,120},{136,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{136,118}}</string>
                <key>offset</key>
                <string>{-29,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,118},{136,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,626},{166,104}}</string>
                <key>offset</key>
                <string>{23,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,119},{166,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{170,86}}</string>
                <key>offset</key>
                <string>{14,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,130},{170,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,408},{176,84}}</string>
                <key>offset</key>
                <string>{17,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,130},{176,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{190,92}}</string>
                <key>offset</key>
                <string>{14,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,135},{190,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,104}}</string>
                <key>offset</key>
                <string>{5,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,135},{198,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{180,86}}</string>
                <key>offset</key>
                <string>{3,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,137},{180,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_004_5.png</string>
            <key>size</key>
            <string>{512,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66fdf35b456f6ad13888de4a04d6b9d6$</string>
            <key>textureFileName</key>
            <string>c_004_5.png</string>
        </dict>
    </dict>
</plist>
