<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_003_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{100,138}}</string>
                <key>offset</key>
                <string>{-40,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,112},{100,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{102,136}}</string>
                <key>offset</key>
                <string>{-36,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,113},{102,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,356},{84,124}}</string>
                <key>offset</key>
                <string>{-40,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,118},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{94,128}}</string>
                <key>offset</key>
                <string>{-44,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,119},{94,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{98,132}}</string>
                <key>offset</key>
                <string>{8,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,95},{98,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{122,116}}</string>
                <key>offset</key>
                <string>{-3,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,112},{122,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,230},{70,142}}</string>
                <key>offset</key>
                <string>{-29,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,96},{70,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,476},{78,136}}</string>
                <key>offset</key>
                <string>{-38,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,102},{78,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,354},{92,116}}</string>
                <key>offset</key>
                <string>{-43,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,106},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,578},{74,130}}</string>
                <key>offset</key>
                <string>{-31,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,102},{74,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{124,126}}</string>
                <key>offset</key>
                <string>{7,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,96},{124,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,126},{102,124}}</string>
                <key>offset</key>
                <string>{-8,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,103},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,112},{122,122}}</string>
                <key>offset</key>
                <string>{-27,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,94},{122,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,236},{114,118}}</string>
                <key>offset</key>
                <string>{-28,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,99},{114,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,556},{108,92}}</string>
                <key>offset</key>
                <string>{-16,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,110},{108,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,236},{102,116}}</string>
                <key>offset</key>
                <string>{-17,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,96},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,666},{102,108}}</string>
                <key>offset</key>
                <string>{15,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,107},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,354},{88,120}}</string>
                <key>offset</key>
                <string>{4,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,102},{88,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{148,104}}</string>
                <key>offset</key>
                <string>{10,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,100},{148,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,448},{120,102}}</string>
                <key>offset</key>
                <string>{19,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,105},{120,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,236},{112,116}}</string>
                <key>offset</key>
                <string>{21,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,96},{112,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{108,144}}</string>
                <key>offset</key>
                <string>{22,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,85},{108,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,710},{88,98}}</string>
                <key>offset</key>
                <string>{8,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,118},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,556},{112,100}}</string>
                <key>offset</key>
                <string>{3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{112,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{100,134}}</string>
                <key>offset</key>
                <string>{40,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,90},{100,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,442},{100,126}}</string>
                <key>offset</key>
                <string>{36,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,96},{100,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,570},{84,138}}</string>
                <key>offset</key>
                <string>{40,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,91},{84,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,160}}</string>
                <key>offset</key>
                <string>{44,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,88},{94,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,710},{98,82}}</string>
                <key>offset</key>
                <string>{-8,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,130},{98,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_003_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,666},{122,80}}</string>
                <key>offset</key>
                <string>{3,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,127},{122,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_003_4.png</string>
            <key>size</key>
            <string>{512,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37252ba6c55d50044a0d723699b9c254$</string>
            <key>textureFileName</key>
            <string>c_003_4.png</string>
        </dict>
    </dict>
</plist>
