<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_008_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,398},{122,152}}</string>
                <key>offset</key>
                <string>{-46,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,112},{122,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{154,126}}</string>
                <key>offset</key>
                <string>{-35,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,127},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,274},{162,122}}</string>
                <key>offset</key>
                <string>{-24,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,134},{162,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,128}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,131},{190,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{180,124}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,131},{180,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{120,152}}</string>
                <key>offset</key>
                <string>{-45,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,121},{120,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,722},{84,148}}</string>
                <key>offset</key>
                <string>{-42,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,99},{84,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,970},{112,140}}</string>
                <key>offset</key>
                <string>{-41,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,107},{112,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1014},{108,136}}</string>
                <key>offset</key>
                <string>{-35,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,122},{108,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,194},{150,138}}</string>
                <key>offset</key>
                <string>{-28,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,126},{150,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,128},{144,144}}</string>
                <key>offset</key>
                <string>{-30,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,118},{144,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{70,158}}</string>
                <key>offset</key>
                <string>{-44,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,102},{70,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,454},{136,134}}</string>
                <key>offset</key>
                <string>{-34,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,101},{136,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,872},{94,140}}</string>
                <key>offset</key>
                <string>{-42,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,95},{94,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{74,138}}</string>
                <key>offset</key>
                <string>{-40,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,104},{74,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,454},{50,158}}</string>
                <key>offset</key>
                <string>{-27,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,107},{50,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1084},{62,158}}</string>
                <key>offset</key>
                <string>{-27,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,104},{62,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,590},{130,136}}</string>
                <key>offset</key>
                <string>{-39,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,101},{130,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,522},{154,118}}</string>
                <key>offset</key>
                <string>{12,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,112},{154,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,776},{140,122}}</string>
                <key>offset</key>
                <string>{-7,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,104},{140,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,848},{142,120}}</string>
                <key>offset</key>
                <string>{-11,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,106},{142,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,722},{124,140}}</string>
                <key>offset</key>
                <string>{-29,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,104},{124,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,642},{132,132}}</string>
                <key>offset</key>
                <string>{-22,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,108},{132,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{150,116}}</string>
                <key>offset</key>
                <string>{4,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,112},{150,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{122,144}}</string>
                <key>offset</key>
                <string>{46,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,99},{122,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{154,130}}</string>
                <key>offset</key>
                <string>{35,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,109},{154,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,334},{162,118}}</string>
                <key>offset</key>
                <string>{24,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,115},{162,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{190,112}}</string>
                <key>offset</key>
                <string>{1,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,120},{190,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{180,112}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,120},{180,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_008_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,900},{120,138}}</string>
                <key>offset</key>
                <string>{45,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,97},{120,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_008_5.png</string>
            <key>size</key>
            <string>{512,1155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1992650d168db0d99565eb4146275ef6$</string>
            <key>textureFileName</key>
            <string>c_008_5.png</string>
        </dict>
    </dict>
</plist>
