<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_004_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,112}}</string>
                <key>offset</key>
                <string>{6,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,139},{176,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{160,114}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,145},{160,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,92},{174,106}}</string>
                <key>offset</key>
                <string>{-17,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,146},{174,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,208},{166,70}}</string>
                <key>offset</key>
                <string>{-14,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,165},{166,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{96,122}}</string>
                <key>offset</key>
                <string>{-2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,127},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,88},{140,118}}</string>
                <key>offset</key>
                <string>{-37,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,135},{140,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,200},{166,90}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,154},{166,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{150,84}}</string>
                <key>offset</key>
                <string>{32,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,162},{150,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,446},{96,106}}</string>
                <key>offset</key>
                <string>{-5,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,130},{96,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,454},{82,122}}</string>
                <key>offset</key>
                <string>{-38,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,117},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,342},{120,102}}</string>
                <key>offset</key>
                <string>{10,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,142},{120,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,464},{112,98}}</string>
                <key>offset</key>
                <string>{56,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,164},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{170,88}}</string>
                <key>offset</key>
                <string>{-2,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,133},{170,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,464},{114,110}}</string>
                <key>offset</key>
                <string>{-40,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,109},{114,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,376},{116,86}}</string>
                <key>offset</key>
                <string>{19,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,151},{116,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{128,82}}</string>
                <key>offset</key>
                <string>{51,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,189},{128,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,88}}</string>
                <key>offset</key>
                <string>{-6,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,133},{176,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,292},{160,82}}</string>
                <key>offset</key>
                <string>{-6,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,123},{160,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{174,46}}</string>
                <key>offset</key>
                <string>{17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,179},{174,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,280},{166,60}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,222},{166,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_004_7.png</string>
            <key>size</key>
            <string>{512,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bad20eb908d1ef4b48deecdfd197482$</string>
            <key>textureFileName</key>
            <string>c_004_7.png</string>
        </dict>
    </dict>
</plist>
