<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_004_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{174,96}}</string>
                <key>offset</key>
                <string>{-11,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,147},{174,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{172,98}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,145},{172,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,98}}</string>
                <key>offset</key>
                <string>{4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,144},{172,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{168,100}}</string>
                <key>offset</key>
                <string>{4,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,142},{168,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,100}}</string>
                <key>offset</key>
                <string>{-6,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,142},{172,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{170,98}}</string>
                <key>offset</key>
                <string>{-14,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,144},{170,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,416},{128,120}}</string>
                <key>offset</key>
                <string>{-36,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,124},{128,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,546},{126,120}}</string>
                <key>offset</key>
                <string>{-38,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,125},{126,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,674},{124,120}}</string>
                <key>offset</key>
                <string>{-36,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,125},{124,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,734},{116,120}}</string>
                <key>offset</key>
                <string>{-35,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,124},{116,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,852},{108,122}}</string>
                <key>offset</key>
                <string>{-41,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,122},{108,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,852},{114,124}}</string>
                <key>offset</key>
                <string>{-39,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,120},{114,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,102},{60,132}}</string>
                <key>offset</key>
                <string>{-32,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,106},{60,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,236},{56,132}}</string>
                <key>offset</key>
                <string>{-31,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,107},{56,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,796},{54,130}}</string>
                <key>offset</key>
                <string>{-30,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,107},{54,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,368},{58,128}}</string>
                <key>offset</key>
                <string>{-29,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,108},{58,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,236},{66,130}}</string>
                <key>offset</key>
                <string>{-34,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,105},{66,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,852},{68,130}}</string>
                <key>offset</key>
                <string>{-37,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,105},{68,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,596},{136,120}}</string>
                <key>offset</key>
                <string>{-29,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,105},{136,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,294},{130,120}}</string>
                <key>offset</key>
                <string>{-37,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,106},{130,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,116},{134,118}}</string>
                <key>offset</key>
                <string>{-36,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,106},{134,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,624},{142,112}}</string>
                <key>offset</key>
                <string>{-32,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,109},{142,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,450},{144,112}}</string>
                <key>offset</key>
                <string>{-32,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,109},{144,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{144,112}}</string>
                <key>offset</key>
                <string>{-27,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,109},{144,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,104},{174,90}}</string>
                <key>offset</key>
                <string>{10,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,123},{174,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,102},{172,92}}</string>
                <key>offset</key>
                <string>{3,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,121},{172,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,280},{172,88}}</string>
                <key>offset</key>
                <string>{-4,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,124},{172,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,454},{168,88}}</string>
                <key>offset</key>
                <string>{-4,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,123},{168,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,276},{172,90}}</string>
                <key>offset</key>
                <string>{6,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,123},{172,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{170,90}}</string>
                <key>offset</key>
                <string>{14,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,122},{170,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_004_1.png</string>
            <key>size</key>
            <string>{512,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c418823c4d5f48b25af9ba50782786d$</string>
            <key>textureFileName</key>
            <string>c_004_1.png</string>
        </dict>
    </dict>
</plist>
