<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_006_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{172,106}}</string>
                <key>offset</key>
                <string>{1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,142},{172,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,232},{170,104}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,144},{170,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{166,104}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,144},{166,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{170,106}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,142},{170,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,140},{132,130}}</string>
                <key>offset</key>
                <string>{-35,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,123},{132,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,272},{132,128}}</string>
                <key>offset</key>
                <string>{-35,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,125},{132,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,532},{126,126}}</string>
                <key>offset</key>
                <string>{-40,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,127},{126,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,402},{128,128}}</string>
                <key>offset</key>
                <string>{-38,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,125},{128,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,232},{58,144}}</string>
                <key>offset</key>
                <string>{-35,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,104},{58,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,402},{56,144}}</string>
                <key>offset</key>
                <string>{-35,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,104},{56,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,378},{64,140}}</string>
                <key>offset</key>
                <string>{-39,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,107},{64,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,520},{62,142}}</string>
                <key>offset</key>
                <string>{-37,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,105},{62,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{136,138}}</string>
                <key>offset</key>
                <string>{-35,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,99},{136,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,338},{136,138}}</string>
                <key>offset</key>
                <string>{-35,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,98},{136,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,478},{132,136}}</string>
                <key>offset</key>
                <string>{-39,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,99},{132,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,612},{132,138}}</string>
                <key>offset</key>
                <string>{-37,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,97},{132,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,114}}</string>
                <key>offset</key>
                <string>{-1,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,113},{174,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{170,112}}</string>
                <key>offset</key>
                <string>{0,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,114},{170,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,118},{166,112}}</string>
                <key>offset</key>
                <string>{0,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,113},{166,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{168,114}}</string>
                <key>offset</key>
                <string>{0,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,111},{168,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_006_0.png</string>
            <key>size</key>
            <string>{512,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa816b4620c11015623e13fb35edcef$</string>
            <key>textureFileName</key>
            <string>c_006_0.png</string>
        </dict>
    </dict>
</plist>
