<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_006_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,404},{176,110}}</string>
                <key>offset</key>
                <string>{-3,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,144},{176,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,110}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,144},{178,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{178,108}}</string>
                <key>offset</key>
                <string>{2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,146},{178,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{176,108}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,145},{176,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{178,108}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,146},{178,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,108}}</string>
                <key>offset</key>
                <string>{-5,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,146},{178,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,934},{132,130}}</string>
                <key>offset</key>
                <string>{-35,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,128},{132,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,132},{136,128}}</string>
                <key>offset</key>
                <string>{-32,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,131},{136,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{142,128}}</string>
                <key>offset</key>
                <string>{-31,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,131},{142,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{142,128}}</string>
                <key>offset</key>
                <string>{-30,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{142,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,738},{134,130}}</string>
                <key>offset</key>
                <string>{-32,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,128},{134,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,540},{132,130}}</string>
                <key>offset</key>
                <string>{-35,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,128},{132,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,860},{62,142}}</string>
                <key>offset</key>
                <string>{-29,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,111},{62,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,734},{60,142}}</string>
                <key>offset</key>
                <string>{-28,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,112},{60,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,796},{62,142}}</string>
                <key>offset</key>
                <string>{-29,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,112},{62,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,670},{62,142}}</string>
                <key>offset</key>
                <string>{-29,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,112},{62,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,870},{62,142}}</string>
                <key>offset</key>
                <string>{-29,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,111},{62,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,672},{64,142}}</string>
                <key>offset</key>
                <string>{-30,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,111},{64,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,112},{140,136}}</string>
                <key>offset</key>
                <string>{-28,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,107},{140,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,262},{136,134}}</string>
                <key>offset</key>
                <string>{-31,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,110},{136,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,398},{132,134}}</string>
                <key>offset</key>
                <string>{-33,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,109},{132,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,534},{134,132}}</string>
                <key>offset</key>
                <string>{-32,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,110},{134,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,398},{140,132}}</string>
                <key>offset</key>
                <string>{-30,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,110},{140,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,254},{142,134}}</string>
                <key>offset</key>
                <string>{-28,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,108},{142,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,226},{176,110}}</string>
                <key>offset</key>
                <string>{3,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,121},{176,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{176,110}}</string>
                <key>offset</key>
                <string>{-1,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,122},{176,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,938},{176,106}}</string>
                <key>offset</key>
                <string>{-3,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,125},{176,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,760},{176,106}}</string>
                <key>offset</key>
                <string>{-1,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,124},{176,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,582},{176,106}}</string>
                <key>offset</key>
                <string>{2,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,124},{176,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{176,110}}</string>
                <key>offset</key>
                <string>{5,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,121},{176,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_006_1.png</string>
            <key>size</key>
            <string>{512,1116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c9c4fb125927133428f839a79f2f718$</string>
            <key>textureFileName</key>
            <string>c_006_1.png</string>
        </dict>
    </dict>
</plist>
