<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_006_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,70},{178,106}}</string>
                <key>offset</key>
                <string>{-14,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,141},{178,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,274},{162,112}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,138},{162,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,122},{142,124}}</string>
                <key>offset</key>
                <string>{-11,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,129},{142,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,76}}</string>
                <key>offset</key>
                <string>{-17,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,163},{180,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,536},{108,128}}</string>
                <key>offset</key>
                <string>{-38,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,120},{108,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{144,118}}</string>
                <key>offset</key>
                <string>{-6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,132},{144,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,414},{132,120}}</string>
                <key>offset</key>
                <string>{-5,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,136},{132,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,178},{172,94}}</string>
                <key>offset</key>
                <string>{44,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,153},{172,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{74,136}}</string>
                <key>offset</key>
                <string>{-37,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,102},{74,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,570},{114,104}}</string>
                <key>offset</key>
                <string>{-12,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,132},{114,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{106,132}}</string>
                <key>offset</key>
                <string>{2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,122},{106,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,450},{118,104}}</string>
                <key>offset</key>
                <string>{57,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,166},{118,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{164,116}}</string>
                <key>offset</key>
                <string>{-20,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,108},{164,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,338},{160,74}}</string>
                <key>offset</key>
                <string>{-8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{160,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,536},{116,120}}</string>
                <key>offset</key>
                <string>{13,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,124},{116,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{160,82}}</string>
                <key>offset</key>
                <string>{57,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,205},{160,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{176,108}}</string>
                <key>offset</key>
                <string>{14,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,106},{176,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,388},{160,60}}</string>
                <key>offset</key>
                <string>{-4,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,141},{160,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,248},{142,88}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,141},{142,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_006_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,66}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,226},{180,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_006_7.png</string>
            <key>size</key>
            <string>{512,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa6e4c6199ec9aed54c7c2689f76da4f$</string>
            <key>textureFileName</key>
            <string>c_006_7.png</string>
        </dict>
    </dict>
</plist>
