<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_005_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{150,120}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,139},{150,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,230},{148,118}}</string>
                <key>offset</key>
                <string>{-4,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,140},{148,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,120}}</string>
                <key>offset</key>
                <string>{-5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{150,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{148,120}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,138},{148,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,120}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,139},{150,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,120}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,139},{150,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{104,130}}</string>
                <key>offset</key>
                <string>{-38,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,131},{104,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,612},{106,130}}</string>
                <key>offset</key>
                <string>{-38,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,131},{106,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,770},{108,128}}</string>
                <key>offset</key>
                <string>{-38,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,133},{108,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,770},{108,128}}</string>
                <key>offset</key>
                <string>{-37,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,133},{108,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,512},{108,128}}</string>
                <key>offset</key>
                <string>{-38,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,132},{108,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,512},{106,130}}</string>
                <key>offset</key>
                <string>{-37,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,131},{106,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,440},{54,136}}</string>
                <key>offset</key>
                <string>{-32,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,118},{54,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,230},{54,138}}</string>
                <key>offset</key>
                <string>{-32,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,117},{54,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,370},{54,136}}</string>
                <key>offset</key>
                <string>{-32,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,119},{54,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{54,134}}</string>
                <key>offset</key>
                <string>{-31,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,120},{54,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,456},{54,132}}</string>
                <key>offset</key>
                <string>{-31,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,121},{54,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{52,134}}</string>
                <key>offset</key>
                <string>{-31,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,120},{52,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{114,130}}</string>
                <key>offset</key>
                <string>{-35,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,113},{114,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,496},{114,130}}</string>
                <key>offset</key>
                <string>{-34,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,114},{114,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,620},{114,128}}</string>
                <key>offset</key>
                <string>{-34,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,115},{114,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{112,128}}</string>
                <key>offset</key>
                <string>{-35,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,115},{112,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,770},{112,126}}</string>
                <key>offset</key>
                <string>{-36,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,116},{112,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,642},{114,126}}</string>
                <key>offset</key>
                <string>{-36,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,116},{114,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,230},{150,102}}</string>
                <key>offset</key>
                <string>{1,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,131},{150,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,350},{148,104}}</string>
                <key>offset</key>
                <string>{4,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,130},{148,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,124},{150,104}}</string>
                <key>offset</key>
                <string>{4,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,129},{150,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{148,104}}</string>
                <key>offset</key>
                <string>{3,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,129},{148,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,124},{150,104}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,129},{150,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,334},{148,104}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,129},{148,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_005_1.png</string>
            <key>size</key>
            <string>{512,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1420395b306fbe4294d5bcc5f588b64$</string>
            <key>textureFileName</key>
            <string>c_005_1.png</string>
        </dict>
    </dict>
</plist>
