<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_005_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{150,116}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,136},{150,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,192},{120,126}}</string>
                <key>offset</key>
                <string>{-2,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,139},{120,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,120},{142,90}}</string>
                <key>offset</key>
                <string>{-9,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,144},{142,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,60}}</string>
                <key>offset</key>
                <string>{-11,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,184},{164,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,244},{110,120}}</string>
                <key>offset</key>
                <string>{-42,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,128},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,314},{118,122}}</string>
                <key>offset</key>
                <string>{-5,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,140},{118,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,212},{124,108}}</string>
                <key>offset</key>
                <string>{-1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,124},{124,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{140,74}}</string>
                <key>offset</key>
                <string>{31,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,169},{140,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,120},{54,122}}</string>
                <key>offset</key>
                <string>{-38,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,113},{54,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,434},{78,114}}</string>
                <key>offset</key>
                <string>{-14,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,134},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,414},{110,102}}</string>
                <key>offset</key>
                <string>{3,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,122},{110,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{120,80}}</string>
                <key>offset</key>
                <string>{44,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,179},{120,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{108,114}}</string>
                <key>offset</key>
                <string>{-42,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,105},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,366},{118,104}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,130},{118,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{126,82}}</string>
                <key>offset</key>
                <string>{11,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,139},{126,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,64},{144,68}}</string>
                <key>offset</key>
                <string>{46,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,213},{144,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{150,92}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,119},{150,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,322},{120,90}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,130},{120,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,134},{142,56}}</string>
                <key>offset</key>
                <string>{9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,166},{142,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_005_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,60}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,227},{164,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_005_7.png</string>
            <key>size</key>
            <string>{512,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07681f7799066e079aaf9cdfc81eb395$</string>
            <key>textureFileName</key>
            <string>c_005_7.png</string>
        </dict>
    </dict>
</plist>
