<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_002_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,332},{136,76}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,153},{136,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,192},{136,76}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,153},{136,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{138,76}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,152},{138,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{138,76}}</string>
                <key>offset</key>
                <string>{-2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,152},{138,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{138,78}}</string>
                <key>offset</key>
                <string>{-3,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,152},{138,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,94},{136,78}}</string>
                <key>offset</key>
                <string>{-2,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,151},{136,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,302},{106,96}}</string>
                <key>offset</key>
                <string>{-37,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,138},{106,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,404},{104,96}}</string>
                <key>offset</key>
                <string>{-36,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,139},{104,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{104,94}}</string>
                <key>offset</key>
                <string>{-38,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,140},{104,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,510},{102,96}}</string>
                <key>offset</key>
                <string>{-39,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,137},{102,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,512},{100,98}}</string>
                <key>offset</key>
                <string>{-38,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,136},{100,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,512},{102,96}}</string>
                <key>offset</key>
                <string>{-38,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,137},{102,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,258},{56,114}}</string>
                <key>offset</key>
                <string>{-32,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,117},{56,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,142},{54,114}}</string>
                <key>offset</key>
                <string>{-31,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,118},{54,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,614},{54,112}}</string>
                <key>offset</key>
                <string>{-31,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,118},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,290},{56,112}}</string>
                <key>offset</key>
                <string>{-32,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,116},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,174},{56,114}}</string>
                <key>offset</key>
                <string>{-32,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,114},{56,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,616},{58,112}}</string>
                <key>offset</key>
                <string>{-33,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,116},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,174},{108,112}}</string>
                <key>offset</key>
                <string>{-36,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,109},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,186},{106,114}}</string>
                <key>offset</key>
                <string>{-36,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,109},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,400},{110,110}}</string>
                <key>offset</key>
                <string>{-36,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,110},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,510},{110,108}}</string>
                <key>offset</key>
                <string>{-35,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,109},{110,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,400},{110,108}}</string>
                <key>offset</key>
                <string>{-35,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,109},{110,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,288},{108,110}}</string>
                <key>offset</key>
                <string>{-35,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,108},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{136,92}}</string>
                <key>offset</key>
                <string>{0,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,120},{136,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,94}}</string>
                <key>offset</key>
                <string>{-1,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,120},{136,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,94},{138,90}}</string>
                <key>offset</key>
                <string>{-1,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,121},{138,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{138,90}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,120},{138,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{138,90}}</string>
                <key>offset</key>
                <string>{2,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,121},{138,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{136,90}}</string>
                <key>offset</key>
                <string>{2,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,120},{136,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_002_1.png</string>
            <key>size</key>
            <string>{512,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e071ac0e5b1063bf8e781778579792c$</string>
            <key>textureFileName</key>
            <string>c_002_1.png</string>
        </dict>
    </dict>
</plist>
