<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_002_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,80},{134,84}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,150},{134,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,82}}</string>
                <key>offset</key>
                <string>{-2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,152},{148,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{146,78}}</string>
                <key>offset</key>
                <string>{-1,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,154},{146,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,166},{118,80}}</string>
                <key>offset</key>
                <string>{-3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{118,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,380},{106,82}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,151},{106,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,248},{114,82}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,151},{114,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,332},{104,102}}</string>
                <key>offset</key>
                <string>{-27,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,132},{104,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,218},{110,104}}</string>
                <key>offset</key>
                <string>{-26,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,132},{110,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{108,100}}</string>
                <key>offset</key>
                <string>{-29,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,135},{108,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,528},{94,96}}</string>
                <key>offset</key>
                <string>{-34,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,137},{94,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,528},{92,94}}</string>
                <key>offset</key>
                <string>{-31,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,140},{92,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,528},{96,96}}</string>
                <key>offset</key>
                <string>{-28,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,137},{96,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{44,114}}</string>
                <key>offset</key>
                <string>{-20,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,113},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,252},{40,114}}</string>
                <key>offset</key>
                <string>{-18,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,115},{40,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,168},{46,112}}</string>
                <key>offset</key>
                <string>{-21,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,116},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,108},{56,108}}</string>
                <key>offset</key>
                <string>{-26,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,117},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,104}}</string>
                <key>offset</key>
                <string>{-27,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,120},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,294},{54,106}}</string>
                <key>offset</key>
                <string>{-25,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,118},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{98,102}}</string>
                <key>offset</key>
                <string>{-25,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,112},{98,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,330},{108,102}}</string>
                <key>offset</key>
                <string>{-24,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,115},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{104,102}}</string>
                <key>offset</key>
                <string>{-28,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,113},{104,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,498},{94,102}}</string>
                <key>offset</key>
                <string>{-30,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,109},{94,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,436},{88,98}}</string>
                <key>offset</key>
                <string>{-27,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,113},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,434},{92,98}}</string>
                <key>offset</key>
                <string>{-25,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,114},{92,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,86},{134,80}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,125},{134,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,76}}</string>
                <key>offset</key>
                <string>{1,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,130},{150,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{146,76}}</string>
                <key>offset</key>
                <string>{0,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,128},{146,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{118,84}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,117},{118,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,294},{106,84}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,117},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,168},{114,82}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,121},{114,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_002_2.png</string>
            <key>size</key>
            <string>{512,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5053bbe15adc175ac4f0de674786dcab$</string>
            <key>textureFileName</key>
            <string>c_002_2.png</string>
        </dict>
    </dict>
</plist>
