<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_001_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,144},{138,68}}</string>
                <key>offset</key>
                <string>{-3,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,155},{138,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,116},{110,66}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,162},{110,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{110,64}}</string>
                <key>offset</key>
                <string>{-15,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,167},{110,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,38}}</string>
                <key>offset</key>
                <string>{-10,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,200},{140,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{84,88}}</string>
                <key>offset</key>
                <string>{-22,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,145},{84,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,104},{98,88}}</string>
                <key>offset</key>
                <string>{-3,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,152},{98,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,114},{110,54}}</string>
                <key>offset</key>
                <string>{-10,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,167},{110,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{134,60}}</string>
                <key>offset</key>
                <string>{31,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,197},{134,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,88},{46,88}}</string>
                <key>offset</key>
                <string>{-24,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,140},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,136},{50,96}}</string>
                <key>offset</key>
                <string>{-7,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,150},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,188},{82,64}}</string>
                <key>offset</key>
                <string>{9,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,160},{82,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,228},{86,70}}</string>
                <key>offset</key>
                <string>{61,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,212},{86,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,138},{118,68}}</string>
                <key>offset</key>
                <string>{-17,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,143},{118,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,204},{92,82}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,157},{92,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{98,56}}</string>
                <key>offset</key>
                <string>{16,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,165},{98,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{100,68}}</string>
                <key>offset</key>
                <string>{48,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,231},{100,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{138,60}}</string>
                <key>offset</key>
                <string>{3,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,146},{138,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{112,56}}</string>
                <key>offset</key>
                <string>{6,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,168},{112,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,258},{110,40}}</string>
                <key>offset</key>
                <string>{14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,185},{110,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,42}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,250},{140,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_001_7.png</string>
            <key>size</key>
            <string>{512,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34d53a5b75792cee7822a6169d8d6bc$</string>
            <key>textureFileName</key>
            <string>c_001_7.png</string>
        </dict>
    </dict>
</plist>
