<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_002_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,238},{120,74}}</string>
                <key>offset</key>
                <string>{-5,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,152},{120,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,334},{120,76}}</string>
                <key>offset</key>
                <string>{-5,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,151},{120,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,238},{116,76}}</string>
                <key>offset</key>
                <string>{-6,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,153},{116,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,98},{114,76}}</string>
                <key>offset</key>
                <string>{-6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,152},{114,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,218},{92,96}}</string>
                <key>offset</key>
                <string>{-37,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,135},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,106},{88,98}}</string>
                <key>offset</key>
                <string>{-37,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,134},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,316},{92,90}}</string>
                <key>offset</key>
                <string>{-40,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,142},{92,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,314},{92,92}}</string>
                <key>offset</key>
                <string>{-38,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,140},{92,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{58,112}}</string>
                <key>offset</key>
                <string>{-35,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,114},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,176},{60,112}}</string>
                <key>offset</key>
                <string>{-36,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,114},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,110},{66,106}}</string>
                <key>offset</key>
                <string>{-39,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,118},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,106}}</string>
                <key>offset</key>
                <string>{-39,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,118},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,108}}</string>
                <key>offset</key>
                <string>{-31,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,106},{106,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{-32,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,106},{108,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{106,102}}</string>
                <key>offset</key>
                <string>{-34,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,110},{106,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,112},{104,104}}</string>
                <key>offset</key>
                <string>{-32,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,109},{104,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{120,94}}</string>
                <key>offset</key>
                <string>{5,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,112},{120,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{122,94}}</string>
                <key>offset</key>
                <string>{5,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,113},{122,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{114,94}}</string>
                <key>offset</key>
                <string>{6,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,113},{114,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_002_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,218},{114,92}}</string>
                <key>offset</key>
                <string>{5,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,113},{114,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_002_0.png</string>
            <key>size</key>
            <string>{512,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bef048e8cf2d4982bb5e2df8c16f34c$</string>
            <key>textureFileName</key>
            <string>c_002_0.png</string>
        </dict>
    </dict>
</plist>
