<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_004_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,194},{162,94}}</string>
                <key>offset</key>
                <string>{-10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,150},{162,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{164,92}}</string>
                <key>offset</key>
                <string>{-10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,151},{164,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{168,92}}</string>
                <key>offset</key>
                <string>{-9,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,151},{168,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,100},{164,92}}</string>
                <key>offset</key>
                <string>{-10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,151},{164,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,400},{110,114}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,134},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,512},{108,112}}</string>
                <key>offset</key>
                <string>{-40,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,136},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,512},{112,108}}</string>
                <key>offset</key>
                <string>{-40,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,140},{112,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,400},{114,110}}</string>
                <key>offset</key>
                <string>{-43,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,138},{114,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,208},{78,122}}</string>
                <key>offset</key>
                <string>{-43,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,120},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,288},{72,120}}</string>
                <key>offset</key>
                <string>{-40,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,122},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,362},{74,120}}</string>
                <key>offset</key>
                <string>{-41,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,122},{74,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,484},{80,120}}</string>
                <key>offset</key>
                <string>{-44,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,122},{80,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,98},{144,108}}</string>
                <key>offset</key>
                <string>{-37,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,120},{144,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,290},{140,108}}</string>
                <key>offset</key>
                <string>{-34,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,120},{140,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{144,108}}</string>
                <key>offset</key>
                <string>{-35,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,120},{144,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{146,108}}</string>
                <key>offset</key>
                <string>{-37,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,120},{146,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{162,94}}</string>
                <key>offset</key>
                <string>{9,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,126},{162,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{164,96}}</string>
                <key>offset</key>
                <string>{9,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,124},{164,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,96}}</string>
                <key>offset</key>
                <string>{9,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,123},{168,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_004_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{164,94}}</string>
                <key>offset</key>
                <string>{10,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,124},{164,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_004_0.png</string>
            <key>size</key>
            <string>{512,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50aafa8ff6d70a0a5133820afad3ef1e$</string>
            <key>textureFileName</key>
            <string>c_004_0.png</string>
        </dict>
    </dict>
</plist>
