<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_009_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,130},{182,120}}</string>
                <key>offset</key>
                <string>{-4,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,127},{182,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{158,116}}</string>
                <key>offset</key>
                <string>{5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,141},{158,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{182,130}}</string>
                <key>offset</key>
                <string>{-13,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,130},{182,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{198,58}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,194},{198,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,436},{118,156}}</string>
                <key>offset</key>
                <string>{-22,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,99},{118,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,154},{136,128}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,137},{136,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,316},{178,118}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,136},{178,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,62},{192,66}}</string>
                <key>offset</key>
                <string>{41,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,192},{192,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{58,160}}</string>
                <key>offset</key>
                <string>{-24,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,85},{58,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,440},{110,122}}</string>
                <key>offset</key>
                <string>{-1,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,132},{110,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,552},{126,126}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,123},{126,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,556},{144,88}}</string>
                <key>offset</key>
                <string>{59,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,202},{144,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,284},{154,132}}</string>
                <key>offset</key>
                <string>{-17,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,93},{154,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{156,98}}</string>
                <key>offset</key>
                <string>{-1,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,133},{156,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{130,100}}</string>
                <key>offset</key>
                <string>{8,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,135},{130,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{150,100}}</string>
                <key>offset</key>
                <string>{49,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,220},{150,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{182,114}}</string>
                <key>offset</key>
                <string>{4,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,110},{182,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,556},{154,96}}</string>
                <key>offset</key>
                <string>{-3,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,131},{154,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,252},{182,62}}</string>
                <key>offset</key>
                <string>{13,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,163},{182,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_009_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,78}}</string>
                <key>offset</key>
                <string>{17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,240},{200,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_009_7.png</string>
            <key>size</key>
            <string>{512,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bf73dc515c337827812479d741344d1$</string>
            <key>textureFileName</key>
            <string>c_009_7.png</string>
        </dict>
    </dict>
</plist>
