<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_001_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,66}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,165},{124,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{122,66}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,166},{122,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,184},{116,66}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,167},{116,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,92},{112,66}}</string>
                <key>offset</key>
                <string>{-2,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,169},{112,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,302},{114,66}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{114,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{120,66}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,166},{120,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{90,88}}</string>
                <key>offset</key>
                <string>{-27,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,150},{90,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,184},{88,86}}</string>
                <key>offset</key>
                <string>{-28,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,150},{88,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,370},{86,88}}</string>
                <key>offset</key>
                <string>{-30,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,152},{86,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,92},{86,90}}</string>
                <key>offset</key>
                <string>{-31,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,153},{86,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,370},{86,88}}</string>
                <key>offset</key>
                <string>{-29,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,152},{86,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{88,88}}</string>
                <key>offset</key>
                <string>{-28,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,151},{88,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,418},{46,92}}</string>
                <key>offset</key>
                <string>{-29,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,140},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,322},{46,94}}</string>
                <key>offset</key>
                <string>{-29,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,139},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,322},{48,92}}</string>
                <key>offset</key>
                <string>{-30,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,141},{48,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,378},{48,92}}</string>
                <key>offset</key>
                <string>{-30,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,141},{48,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,378},{48,92}}</string>
                <key>offset</key>
                <string>{-30,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,140},{48,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,372},{46,92}}</string>
                <key>offset</key>
                <string>{-29,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,139},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,274},{94,80}}</string>
                <key>offset</key>
                <string>{-24,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,140},{94,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,160},{92,80}}</string>
                <key>offset</key>
                <string>{-24,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,141},{92,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{90,82}}</string>
                <key>offset</key>
                <string>{-26,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,140},{90,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,120},{88,82}}</string>
                <key>offset</key>
                <string>{-26,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,139},{88,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{90,80}}</string>
                <key>offset</key>
                <string>{-25,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,141},{90,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{92,80}}</string>
                <key>offset</key>
                <string>{-24,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,140},{92,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,84},{124,56}}</string>
                <key>offset</key>
                <string>{1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,148},{124,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,204},{120,56}}</string>
                <key>offset</key>
                <string>{2,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,149},{120,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{116,58}}</string>
                <key>offset</key>
                <string>{2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,147},{116,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,264},{112,58}}</string>
                <key>offset</key>
                <string>{2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,147},{112,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,262},{114,58}}</string>
                <key>offset</key>
                <string>{2,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,147},{114,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_001_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,142},{120,56}}</string>
                <key>offset</key>
                <string>{2,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,149},{120,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_001_1.png</string>
            <key>size</key>
            <string>{512,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cb7f83000bcd44c7ed2a7ea1a5a88ca$</string>
            <key>textureFileName</key>
            <string>c_001_1.png</string>
        </dict>
    </dict>
</plist>
