<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_015_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,386},{220,104}}</string>
                <key>offset</key>
                <string>{1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,123},{220,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{220,110}}</string>
                <key>offset</key>
                <string>{11,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,122},{220,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{222,104}}</string>
                <key>offset</key>
                <string>{6,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,125},{222,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,106}}</string>
                <key>offset</key>
                <string>{-3,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,123},{224,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,492},{218,110}}</string>
                <key>offset</key>
                <string>{-10,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,123},{218,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,604},{216,108}}</string>
                <key>offset</key>
                <string>{-9,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,123},{216,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1012},{164,142}}</string>
                <key>offset</key>
                <string>{-46,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,101},{164,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,714},{176,140}}</string>
                <key>offset</key>
                <string>{-38,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,104},{176,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1000},{164,142}}</string>
                <key>offset</key>
                <string>{-41,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,102},{164,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1298},{152,150}}</string>
                <key>offset</key>
                <string>{-47,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,97},{152,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{140,150}}</string>
                <key>offset</key>
                <string>{-51,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,98},{140,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{148,146}}</string>
                <key>offset</key>
                <string>{-48,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,98},{148,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,430},{64,162}}</string>
                <key>offset</key>
                <string>{-39,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,75},{64,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,924},{74,166}}</string>
                <key>offset</key>
                <string>{-44,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,77},{74,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,260},{64,168}}</string>
                <key>offset</key>
                <string>{-39,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,75},{64,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,594},{68,170}}</string>
                <key>offset</key>
                <string>{-41,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,72},{68,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{76,168}}</string>
                <key>offset</key>
                <string>{-45,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,72},{76,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{72,164}}</string>
                <key>offset</key>
                <string>{-43,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,72},{72,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,766},{156,152}}</string>
                <key>offset</key>
                <string>{-45,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,64},{156,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1300},{144,156}}</string>
                <key>offset</key>
                <string>{-49,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,65},{144,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1144},{154,156}}</string>
                <key>offset</key>
                <string>{-48,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,65},{154,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,856},{168,154}}</string>
                <key>offset</key>
                <string>{-45,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,65},{168,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{176,148}}</string>
                <key>offset</key>
                <string>{-40,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,66},{176,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{170,148}}</string>
                <key>offset</key>
                <string>{-40,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,66},{170,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,132},{220,126}}</string>
                <key>offset</key>
                <string>{-1,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,77},{220,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,260},{220,124}}</string>
                <key>offset</key>
                <string>{-11,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,77},{220,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{220,124}}</string>
                <key>offset</key>
                <string>{-6,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,78},{220,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{222,128}}</string>
                <key>offset</key>
                <string>{3,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,76},{222,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{218,124}}</string>
                <key>offset</key>
                <string>{10,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,78},{218,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_015_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{216,122}}</string>
                <key>offset</key>
                <string>{10,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,78},{216,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_015_1.png</string>
            <key>size</key>
            <string>{512,1450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eec5c60d9675e9554180c3bd817feeb$</string>
            <key>textureFileName</key>
            <string>c_015_1.png</string>
        </dict>
    </dict>
</plist>
