<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_011_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,124}}</string>
                <key>offset</key>
                <string>{-1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,121},{214,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,378},{160,128}}</string>
                <key>offset</key>
                <string>{-4,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,134},{160,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{200,118}}</string>
                <key>offset</key>
                <string>{-11,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,116},{200,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{228,84}}</string>
                <key>offset</key>
                <string>{-13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,161},{228,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{158,150}}</string>
                <key>offset</key>
                <string>{-47,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,102},{158,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,246},{144,134}}</string>
                <key>offset</key>
                <string>{-9,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,129},{144,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{176,154}}</string>
                <key>offset</key>
                <string>{4,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,87},{176,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,118},{190,108}}</string>
                <key>offset</key>
                <string>{38,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,142},{190,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,686},{72,164}}</string>
                <key>offset</key>
                <string>{-36,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,74},{72,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,118},{100,126}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,123},{100,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,544},{120,144}}</string>
                <key>offset</key>
                <string>{3,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,86},{120,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,690},{126,114}}</string>
                <key>offset</key>
                <string>{49,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,154},{126,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,228},{152,148}}</string>
                <key>offset</key>
                <string>{-47,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,66},{152,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,540},{144,124}}</string>
                <key>offset</key>
                <string>{-4,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,114},{144,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,686},{172,108}}</string>
                <key>offset</key>
                <string>{21,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,112},{172,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,284},{200,84}}</string>
                <key>offset</key>
                <string>{58,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,199},{200,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,114}}</string>
                <key>offset</key>
                <string>{0,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,90},{214,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,382},{160,116}}</string>
                <key>offset</key>
                <string>{3,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,109},{160,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,486},{198,74}}</string>
                <key>offset</key>
                <string>{11,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,151},{198,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,486},{226,60}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,229},{226,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_011_7.png</string>
            <key>size</key>
            <string>{512,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44232b4f5e3d854843fe3e28a32d3915$</string>
            <key>textureFileName</key>
            <string>c_011_7.png</string>
        </dict>
    </dict>
</plist>
