<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_016_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{130,156}}</string>
                <key>offset</key>
                <string>{-24,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,85},{130,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{216,116}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,111},{216,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,120},{214,126}}</string>
                <key>offset</key>
                <string>{1,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,119},{214,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,544},{192,126}}</string>
                <key>offset</key>
                <string>{3,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,119},{192,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{206,124}}</string>
                <key>offset</key>
                <string>{-6,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,105},{206,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{196,142}}</string>
                <key>offset</key>
                <string>{-22,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,101},{196,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{78,162}}</string>
                <key>offset</key>
                <string>{-17,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,71},{78,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,908},{158,150}}</string>
                <key>offset</key>
                <string>{-10,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,80},{158,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{180,122}}</string>
                <key>offset</key>
                <string>{-42,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,121},{180,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,786},{164,124}}</string>
                <key>offset</key>
                <string>{-42,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,117},{164,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1078},{122,144}}</string>
                <key>offset</key>
                <string>{-23,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,93},{122,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{56,168}}</string>
                <key>offset</key>
                <string>{-31,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,76},{56,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{144,140}}</string>
                <key>offset</key>
                <string>{-23,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,73},{144,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,912},{82,158}}</string>
                <key>offset</key>
                <string>{-26,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,63},{82,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,996},{80,150}}</string>
                <key>offset</key>
                <string>{-44,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,92},{80,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,248},{84,150}}</string>
                <key>offset</key>
                <string>{-42,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,91},{84,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{86,146}}</string>
                <key>offset</key>
                <string>{-8,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,84},{86,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1060},{144,148}}</string>
                <key>offset</key>
                <string>{-17,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,80},{144,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,400},{164,102}}</string>
                <key>offset</key>
                <string>{1,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,94},{164,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{186,140}}</string>
                <key>offset</key>
                <string>{-7,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,70},{186,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,760},{132,146}}</string>
                <key>offset</key>
                <string>{-40,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,80},{132,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1206},{130,146}}</string>
                <key>offset</key>
                <string>{-39,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,80},{130,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,672},{186,112}}</string>
                <key>offset</key>
                <string>{-8,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,99},{186,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,114}}</string>
                <key>offset</key>
                <string>{-2,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,92},{228,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1206},{132,138}}</string>
                <key>offset</key>
                <string>{25,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,80},{132,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{216,108}}</string>
                <key>offset</key>
                <string>{2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,99},{216,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{214,116}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,93},{214,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,566},{192,116}}</string>
                <key>offset</key>
                <string>{-3,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,91},{192,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,248},{206,136}}</string>
                <key>offset</key>
                <string>{6,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,73},{206,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,386},{196,156}}</string>
                <key>offset</key>
                <string>{22,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,65},{196,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_016_5.png</string>
            <key>size</key>
            <string>{512,1348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd7953999397faeb538221d89d260d4d$</string>
            <key>textureFileName</key>
            <string>c_016_5.png</string>
        </dict>
    </dict>
</plist>
