<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_013_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{172,150}}</string>
                <key>offset</key>
                <string>{-21,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,91},{172,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,132}}</string>
                <key>offset</key>
                <string>{3,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,107},{222,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{192,140}}</string>
                <key>offset</key>
                <string>{-35,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,87},{192,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,180},{204,62}}</string>
                <key>offset</key>
                <string>{-20,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,159},{204,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,196},{86,180}}</string>
                <key>offset</key>
                <string>{-41,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,62},{86,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,668},{170,156}}</string>
                <key>offset</key>
                <string>{9,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,86},{170,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,358},{186,128}}</string>
                <key>offset</key>
                <string>{16,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,94},{186,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{198,78}}</string>
                <key>offset</key>
                <string>{71,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,150},{198,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{98,184}}</string>
                <key>offset</key>
                <string>{-45,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,47},{98,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,544},{122,140}}</string>
                <key>offset</key>
                <string>{-3,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,90},{122,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,378},{164,122}}</string>
                <key>offset</key>
                <string>{42,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,96},{164,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{166,106}}</string>
                <key>offset</key>
                <string>{95,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,166},{166,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,488},{178,162}}</string>
                <key>offset</key>
                <string>{-22,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,55},{178,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,84},{208,94}}</string>
                <key>offset</key>
                <string>{7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,113},{208,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{176,86}}</string>
                <key>offset</key>
                <string>{51,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,130},{176,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,244},{194,112}}</string>
                <key>offset</key>
                <string>{92,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,204},{194,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,652},{170,158}}</string>
                <key>offset</key>
                <string>{21,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,60},{170,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{222,80}}</string>
                <key>offset</key>
                <string>{-3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,123},{222,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{192,56}}</string>
                <key>offset</key>
                <string>{35,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,166},{192,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{204,94}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,226},{204,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_013_7.png</string>
            <key>size</key>
            <string>{512,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aed796426e8ff2580a18df7ad4971ae$</string>
            <key>textureFileName</key>
            <string>c_013_7.png</string>
        </dict>
    </dict>
</plist>
