<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_014_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,584},{188,142}}</string>
                <key>offset</key>
                <string>{-3,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,112},{188,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{190,148}}</string>
                <key>offset</key>
                <string>{14,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,106},{190,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,144}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,107},{192,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{188,142}}</string>
                <key>offset</key>
                <string>{-1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,112},{188,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,142},{190,148}}</string>
                <key>offset</key>
                <string>{-11,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,107},{190,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,292},{190,146}}</string>
                <key>offset</key>
                <string>{-12,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,106},{190,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,992},{146,170}}</string>
                <key>offset</key>
                <string>{-37,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,89},{146,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1280},{162,162}}</string>
                <key>offset</key>
                <string>{-32,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,98},{162,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{154,164}}</string>
                <key>offset</key>
                <string>{-35,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,96},{154,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{130,172}}</string>
                <key>offset</key>
                <string>{-41,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,89},{130,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,368},{124,176}}</string>
                <key>offset</key>
                <string>{-43,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,84},{124,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,904},{132,174}}</string>
                <key>offset</key>
                <string>{-40,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,84},{132,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,866},{56,182}}</string>
                <key>offset</key>
                <string>{-31,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,72},{56,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,186},{74,180}}</string>
                <key>offset</key>
                <string>{-42,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,77},{74,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,924},{66,178}}</string>
                <key>offset</key>
                <string>{-37,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,77},{66,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{62,180}}</string>
                <key>offset</key>
                <string>{-34,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,74},{62,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{76,182}}</string>
                <key>offset</key>
                <string>{-42,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,69},{76,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,546},{72,182}}</string>
                <key>offset</key>
                <string>{-41,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,68},{72,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{136,170}}</string>
                <key>offset</key>
                <string>{-38,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,67},{136,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,730},{128,172}}</string>
                <key>offset</key>
                <string>{-42,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,70},{128,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1140},{138,168}}</string>
                <key>offset</key>
                <string>{-39,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,71},{138,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1244},{150,166}}</string>
                <key>offset</key>
                <string>{-37,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,70},{150,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1080},{162,162}}</string>
                <key>offset</key>
                <string>{-35,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,71},{162,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{158,164}}</string>
                <key>offset</key>
                <string>{-32,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,69},{158,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,728},{188,136}}</string>
                <key>offset</key>
                <string>{2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,85},{188,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,440},{190,142}}</string>
                <key>offset</key>
                <string>{-13,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,82},{190,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{192,138}}</string>
                <key>offset</key>
                <string>{-9,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,84},{192,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{188,138}}</string>
                <key>offset</key>
                <string>{1,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,83},{188,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{190,142}}</string>
                <key>offset</key>
                <string>{11,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,81},{190,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{190,140}}</string>
                <key>offset</key>
                <string>{12,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,83},{190,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_014_1.png</string>
            <key>size</key>
            <string>{512,1518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4487bd6e9c184edeb1e888d8db530c67$</string>
            <key>textureFileName</key>
            <string>c_014_1.png</string>
        </dict>
    </dict>
</plist>
