<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_010_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,468},{126,136}}</string>
                <key>offset</key>
                <string>{-30,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,116},{126,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,704},{86,148}}</string>
                <key>offset</key>
                <string>{-40,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,105},{86,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,792},{76,148}}</string>
                <key>offset</key>
                <string>{-37,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,93},{76,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,870},{80,130}}</string>
                <key>offset</key>
                <string>{-32,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,103},{80,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{164,106}}</string>
                <key>offset</key>
                <string>{15,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,130},{164,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,128}}</string>
                <key>offset</key>
                <string>{9,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,107},{174,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,946},{62,150}}</string>
                <key>offset</key>
                <string>{-26,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,91},{62,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,676},{88,152}}</string>
                <key>offset</key>
                <string>{-37,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,85},{88,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{136,136}}</string>
                <key>offset</key>
                <string>{-46,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,88},{136,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{112,126}}</string>
                <key>offset</key>
                <string>{-45,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,94},{112,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,266},{140,126}}</string>
                <key>offset</key>
                <string>{13,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,112},{140,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,136},{128,148}}</string>
                <key>offset</key>
                <string>{12,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,89},{128,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,394},{112,140}}</string>
                <key>offset</key>
                <string>{-33,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,85},{112,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{148,132}}</string>
                <key>offset</key>
                <string>{-27,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,88},{148,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,118},{170,112}}</string>
                <key>offset</key>
                <string>{-8,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,101},{170,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,232},{168,106}}</string>
                <key>offset</key>
                <string>{-10,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,108},{168,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,664},{110,126}}</string>
                <key>offset</key>
                <string>{9,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,103},{110,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{98,152}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,84},{98,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{168,114}}</string>
                <key>offset</key>
                <string>{-3,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,101},{168,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{158,122}}</string>
                <key>offset</key>
                <string>{11,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,94},{158,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,596},{106,134}}</string>
                <key>offset</key>
                <string>{34,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,90},{106,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,536},{126,118}}</string>
                <key>offset</key>
                <string>{30,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,105},{126,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{116,106}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,109},{116,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{128,108}}</string>
                <key>offset</key>
                <string>{-2,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,96},{128,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,340},{126,140}}</string>
                <key>offset</key>
                <string>{29,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,84},{126,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,776},{86,144}}</string>
                <key>offset</key>
                <string>{39,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,86},{86,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,830},{76,140}}</string>
                <key>offset</key>
                <string>{36,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,99},{76,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,864},{80,132}}</string>
                <key>offset</key>
                <string>{32,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,107},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,512},{162,88}}</string>
                <key>offset</key>
                <string>{-18,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,127},{162,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,340},{170,82}}</string>
                <key>offset</key>
                <string>{-9,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,119},{170,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_010_4.png</string>
            <key>size</key>
            <string>{512,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e86c04e1c02ee68e69a7cf203ba121b$</string>
            <key>textureFileName</key>
            <string>c_010_4.png</string>
        </dict>
    </dict>
</plist>
