<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_014_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{186,150}}</string>
                <key>offset</key>
                <string>{-14,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,107},{186,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{184,150}}</string>
                <key>offset</key>
                <string>{-14,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,107},{184,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,556},{186,144}}</string>
                <key>offset</key>
                <string>{-15,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,114},{186,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,366},{188,144}}</string>
                <key>offset</key>
                <string>{-16,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,114},{188,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,650},{116,176}}</string>
                <key>offset</key>
                <string>{-48,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,84},{116,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,768},{110,176}}</string>
                <key>offset</key>
                <string>{-47,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,85},{110,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,744},{116,172}}</string>
                <key>offset</key>
                <string>{-51,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,89},{116,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{120,172}}</string>
                <key>offset</key>
                <string>{-52,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,89},{120,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,862},{86,180}}</string>
                <key>offset</key>
                <string>{-46,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,70},{86,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,880},{82,180}}</string>
                <key>offset</key>
                <string>{-45,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,71},{82,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{90,180}}</string>
                <key>offset</key>
                <string>{-50,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,72},{90,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,862},{94,180}}</string>
                <key>offset</key>
                <string>{-50,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,71},{94,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{168,162}}</string>
                <key>offset</key>
                <string>{-35,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,70},{168,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,486},{166,162}}</string>
                <key>offset</key>
                <string>{-34,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,71},{166,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,320},{168,164}}</string>
                <key>offset</key>
                <string>{-38,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{168,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,154},{170,164}}</string>
                <key>offset</key>
                <string>{-38,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,71},{170,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,176},{188,146}}</string>
                <key>offset</key>
                <string>{14,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,79},{188,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{184,146}}</string>
                <key>offset</key>
                <string>{13,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,80},{184,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{186,150}}</string>
                <key>offset</key>
                <string>{15,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,79},{186,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_014_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,150}}</string>
                <key>offset</key>
                <string>{16,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,78},{190,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_014_0.png</string>
            <key>size</key>
            <string>{512,1044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54906520dc9f77c122f7f87ad8000ea1$</string>
            <key>textureFileName</key>
            <string>c_014_0.png</string>
        </dict>
    </dict>
</plist>
