<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_011_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{212,128}}</string>
                <key>offset</key>
                <string>{-2,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,126},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,260},{214,126}}</string>
                <key>offset</key>
                <string>{-6,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,126},{214,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{214,128}}</string>
                <key>offset</key>
                <string>{-7,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,125},{214,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,132},{214,126}}</string>
                <key>offset</key>
                <string>{-5,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,126},{214,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,128}}</string>
                <key>offset</key>
                <string>{-1,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,126},{214,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,128}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,126},{214,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1178},{154,160}}</string>
                <key>offset</key>
                <string>{-47,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,104},{154,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1068},{148,162}}</string>
                <key>offset</key>
                <string>{-48,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,102},{148,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{148,160}}</string>
                <key>offset</key>
                <string>{-48,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,103},{148,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1376},{150,156}}</string>
                <key>offset</key>
                <string>{-47,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,106},{150,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1376},{156,156}}</string>
                <key>offset</key>
                <string>{-46,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,107},{156,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1218},{156,158}}</string>
                <key>offset</key>
                <string>{-44,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,106},{156,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,548},{72,180}}</string>
                <key>offset</key>
                <string>{-37,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,77},{72,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{76,182}}</string>
                <key>offset</key>
                <string>{-39,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,76},{76,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,186},{76,180}}</string>
                <key>offset</key>
                <string>{-39,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,78},{76,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,368},{74,178}}</string>
                <key>offset</key>
                <string>{-37,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,78},{74,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,730},{70,176}}</string>
                <key>offset</key>
                <string>{-36,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,81},{70,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,778},{68,176}}</string>
                <key>offset</key>
                <string>{-35,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,81},{68,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{162,168}}</string>
                <key>offset</key>
                <string>{-43,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,73},{162,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{166,168}}</string>
                <key>offset</key>
                <string>{-40,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,73},{166,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,848},{168,164}}</string>
                <key>offset</key>
                <string>{-40,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,76},{168,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1014},{164,162}}</string>
                <key>offset</key>
                <string>{-41,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,76},{164,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{160,164}}</string>
                <key>offset</key>
                <string>{-44,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,74},{160,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,908},{158,166}}</string>
                <key>offset</key>
                <string>{-45,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,74},{158,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,648},{212,128}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,98},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{212,128}}</string>
                <key>offset</key>
                <string>{6,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,98},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,518},{212,128}}</string>
                <key>offset</key>
                <string>{7,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,97},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{212,130}}</string>
                <key>offset</key>
                <string>{4,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,96},{212,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{212,128}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,99},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,388},{212,128}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,98},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_011_1.png</string>
            <key>size</key>
            <string>{512,1534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e76949fbf4e2ae46ee43d26772ea898$</string>
            <key>textureFileName</key>
            <string>c_011_1.png</string>
        </dict>
    </dict>
</plist>
