<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_011_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{206,156}}</string>
                <key>offset</key>
                <string>{-15,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,109},{206,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{172,156}}</string>
                <key>offset</key>
                <string>{-36,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,108},{172,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{202,126}}</string>
                <key>offset</key>
                <string>{-23,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,132},{202,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,282},{214,132}}</string>
                <key>offset</key>
                <string>{-15,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,126},{214,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{214,136}}</string>
                <key>offset</key>
                <string>{-5,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,120},{214,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{176,168}}</string>
                <key>offset</key>
                <string>{-31,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,99},{176,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,580},{94,178}}</string>
                <key>offset</key>
                <string>{-28,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,82},{94,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,718},{100,182}}</string>
                <key>offset</key>
                <string>{-23,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,80},{100,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1396},{130,168}}</string>
                <key>offset</key>
                <string>{-34,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,100},{130,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1244},{150,168}}</string>
                <key>offset</key>
                <string>{-38,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,100},{150,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1084},{158,152}}</string>
                <key>offset</key>
                <string>{-34,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,109},{158,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{50,194}}</string>
                <key>offset</key>
                <string>{-36,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,73},{50,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,760},{114,162}}</string>
                <key>offset</key>
                <string>{-30,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,77},{114,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1414},{132,166}}</string>
                <key>offset</key>
                <string>{-36,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,77},{132,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,820},{78,182}}</string>
                <key>offset</key>
                <string>{-46,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,79},{78,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,198},{64,190}}</string>
                <key>offset</key>
                <string>{-32,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,72},{64,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,416},{80,162}}</string>
                <key>offset</key>
                <string>{-17,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,87},{80,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{166,180}}</string>
                <key>offset</key>
                <string>{-44,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,69},{166,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{204,128}}</string>
                <key>offset</key>
                <string>{-7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,96},{204,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{206,130}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,98},{206,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,900},{178,162}}</string>
                <key>offset</key>
                <string>{-12,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,84},{178,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1228},{166,170}}</string>
                <key>offset</key>
                <string>{-25,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,73},{166,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,924},{158,136}}</string>
                <key>offset</key>
                <string>{-28,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,90},{158,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,142}}</string>
                <key>offset</key>
                <string>{-9,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,90},{232,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,416},{206,148}}</string>
                <key>offset</key>
                <string>{15,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,92},{206,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{170,148}}</string>
                <key>offset</key>
                <string>{37,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,78},{170,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,566},{204,150}}</string>
                <key>offset</key>
                <string>{23,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,83},{204,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{214,144}}</string>
                <key>offset</key>
                <string>{14,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,88},{214,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,148},{214,132}}</string>
                <key>offset</key>
                <string>{5,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,97},{214,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1064},{174,162}}</string>
                <key>offset</key>
                <string>{31,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,77},{174,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_011_5.png</string>
            <key>size</key>
            <string>{512,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:858ac2016f3a7fed97180049258b282f$</string>
            <key>textureFileName</key>
            <string>c_011_5.png</string>
        </dict>
    </dict>
</plist>
