<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_010_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{152,132}}</string>
                <key>offset</key>
                <string>{-23,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,126},{152,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{160,128}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,119},{160,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,600},{144,142}}</string>
                <key>offset</key>
                <string>{16,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,122},{144,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,970},{144,136}}</string>
                <key>offset</key>
                <string>{22,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,124},{144,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{166,128}}</string>
                <key>offset</key>
                <string>{4,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,123},{166,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,454},{154,126}}</string>
                <key>offset</key>
                <string>{-23,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,129},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,732},{74,150}}</string>
                <key>offset</key>
                <string>{-37,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,100},{74,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,306},{104,146}}</string>
                <key>offset</key>
                <string>{-24,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,98},{104,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,306},{142,146}}</string>
                <key>offset</key>
                <string>{-11,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,105},{142,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{160,130}}</string>
                <key>offset</key>
                <string>{-14,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,121},{160,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,610},{134,144}}</string>
                <key>offset</key>
                <string>{-19,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,107},{134,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1032},{74,150}}</string>
                <key>offset</key>
                <string>{-39,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,99},{74,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,888},{116,142}}</string>
                <key>offset</key>
                <string>{-32,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,87},{116,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,582},{86,148}}</string>
                <key>offset</key>
                <string>{-41,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,80},{86,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,240},{64,158}}</string>
                <key>offset</key>
                <string>{-38,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,82},{64,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,278},{76,154}}</string>
                <key>offset</key>
                <string>{-42,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,94},{76,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,884},{62,154}}</string>
                <key>offset</key>
                <string>{-17,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,86},{62,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,434},{94,146}}</string>
                <key>offset</key>
                <string>{-39,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,87},{94,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{176,122}}</string>
                <key>offset</key>
                <string>{-10,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,99},{176,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,756},{124,130}}</string>
                <key>offset</key>
                <string>{-23,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,83},{124,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,118},{76,158}}</string>
                <key>offset</key>
                <string>{-33,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,71},{76,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,890},{78,158}}</string>
                <key>offset</key>
                <string>{-32,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,77},{78,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,126},{112,136}}</string>
                <key>offset</key>
                <string>{-21,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,82},{112,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{172,124}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,99},{172,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{152,150}}</string>
                <key>offset</key>
                <string>{22,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,81},{152,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,126},{160,112}}</string>
                <key>offset</key>
                <string>{-1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,101},{160,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,454},{144,142}}</string>
                <key>offset</key>
                <string>{-17,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,79},{144,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,746},{142,140}}</string>
                <key>offset</key>
                <string>{-22,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,80},{142,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{166,114}}</string>
                <key>offset</key>
                <string>{-5,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,98},{166,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,150}}</string>
                <key>offset</key>
                <string>{23,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,79},{154,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_010_5.png</string>
            <key>size</key>
            <string>{512,1127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902a362c91fa33221a528de8921071fe$</string>
            <key>textureFileName</key>
            <string>c_010_5.png</string>
        </dict>
    </dict>
</plist>
