<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_016_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,450},{188,136}}</string>
                <key>offset</key>
                <string>{-25,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,109},{188,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,58},{240,136}}</string>
                <key>offset</key>
                <string>{6,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,103},{240,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,322},{198,126}}</string>
                <key>offset</key>
                <string>{-32,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,95},{198,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,54}}</string>
                <key>offset</key>
                <string>{-18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,186},{248,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,588},{98,168}}</string>
                <key>offset</key>
                <string>{-48,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,79},{98,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,690},{168,174}}</string>
                <key>offset</key>
                <string>{11,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,78},{168,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,368},{192,108}}</string>
                <key>offset</key>
                <string>{11,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,104},{192,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{216,74}}</string>
                <key>offset</key>
                <string>{57,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,176},{216,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,688},{110,170}}</string>
                <key>offset</key>
                <string>{-52,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,63},{110,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,196},{86,170}}</string>
                <key>offset</key>
                <string>{3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,78},{86,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,562},{148,116}}</string>
                <key>offset</key>
                <string>{30,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,98},{148,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,712},{140,108}}</string>
                <key>offset</key>
                <string>{76,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,185},{140,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{198,140}}</string>
                <key>offset</key>
                <string>{-26,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,72},{198,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,196},{202,124}}</string>
                <key>offset</key>
                <string>{10,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,104},{202,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{164,96}}</string>
                <key>offset</key>
                <string>{40,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,117},{164,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{186,104}}</string>
                <key>offset</key>
                <string>{73,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,222},{186,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{190,134}}</string>
                <key>offset</key>
                <string>{26,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,76},{190,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{240,80}}</string>
                <key>offset</key>
                <string>{-6,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,126},{240,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{198,62}}</string>
                <key>offset</key>
                <string>{33,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,160},{198,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_016_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,80}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,240},{248,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_016_7.png</string>
            <key>size</key>
            <string>{512,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baaaa15cacbeb4b4adb52b3f9a0ab79c$</string>
            <key>textureFileName</key>
            <string>c_016_7.png</string>
        </dict>
    </dict>
</plist>
