<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_010_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{180,114}}</string>
                <key>offset</key>
                <string>{1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,138},{180,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,142}}</string>
                <key>offset</key>
                <string>{14,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,117},{166,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{172,124}}</string>
                <key>offset</key>
                <string>{-34,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,121},{172,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{188,66}}</string>
                <key>offset</key>
                <string>{-22,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,189},{188,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,452},{126,138}}</string>
                <key>offset</key>
                <string>{-39,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,118},{126,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,128},{128,164}}</string>
                <key>offset</key>
                <string>{-14,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,95},{128,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{172,112}}</string>
                <key>offset</key>
                <string>{1,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,126},{172,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,328},{180,76}}</string>
                <key>offset</key>
                <string>{39,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,188},{180,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,510},{58,158}}</string>
                <key>offset</key>
                <string>{-40,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,91},{58,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,510},{64,172}}</string>
                <key>offset</key>
                <string>{-29,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,73},{64,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,584},{134,126}}</string>
                <key>offset</key>
                <string>{6,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,112},{134,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,284},{144,96}}</string>
                <key>offset</key>
                <string>{45,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,192},{144,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,130},{134,152}}</string>
                <key>offset</key>
                <string>{-40,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,83},{134,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,294},{112,156}}</string>
                <key>offset</key>
                <string>{-35,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,68},{112,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,444},{138,106}}</string>
                <key>offset</key>
                <string>{14,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,128},{138,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,294},{148,94}}</string>
                <key>offset</key>
                <string>{44,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,220},{148,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{180,124}}</string>
                <key>offset</key>
                <string>{-2,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,101},{180,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{166,126}}</string>
                <key>offset</key>
                <string>{-14,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,82},{166,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,146},{172,60}}</string>
                <key>offset</key>
                <string>{24,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,169},{172,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,670},{188,80}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,231},{188,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_010_7.png</string>
            <key>size</key>
            <string>{512,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20830ccc444abe40862e9913d8926838$</string>
            <key>textureFileName</key>
            <string>c_010_7.png</string>
        </dict>
    </dict>
</plist>
