<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_013_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,498},{132,156}}</string>
                <key>offset</key>
                <string>{-16,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,82},{132,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{188,144}}</string>
                <key>offset</key>
                <string>{1,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,101},{188,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,298},{186,142}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,100},{186,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,442},{186,138}}</string>
                <key>offset</key>
                <string>{-2,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,104},{186,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{178,142}}</string>
                <key>offset</key>
                <string>{-17,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,95},{178,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{158,162}}</string>
                <key>offset</key>
                <string>{-29,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,83},{158,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1124},{66,164}}</string>
                <key>offset</key>
                <string>{-17,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,64},{66,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{168,162}}</string>
                <key>offset</key>
                <string>{-34,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,77},{168,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1136},{158,146}}</string>
                <key>offset</key>
                <string>{-37,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,96},{158,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,656},{160,138}}</string>
                <key>offset</key>
                <string>{-35,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,103},{160,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{112,148}}</string>
                <key>offset</key>
                <string>{-16,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,90},{112,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{64,184}}</string>
                <key>offset</key>
                <string>{-35,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,56},{64,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1284},{150,146}}</string>
                <key>offset</key>
                <string>{-11,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,67},{150,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{92,174}}</string>
                <key>offset</key>
                <string>{-36,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,66},{92,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{70,174}}</string>
                <key>offset</key>
                <string>{-38,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,66},{70,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{74,166}}</string>
                <key>offset</key>
                <string>{-35,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,71},{74,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,152},{122,156}}</string>
                <key>offset</key>
                <string>{-21,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,75},{122,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,726},{152,174}}</string>
                <key>offset</key>
                <string>{-35,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,56},{152,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{188,120}}</string>
                <key>offset</key>
                <string>{5,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,87},{188,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,818},{150,152}}</string>
                <key>offset</key>
                <string>{-15,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,77},{150,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,880},{120,172}}</string>
                <key>offset</key>
                <string>{-33,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,57},{120,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1002},{120,166}}</string>
                <key>offset</key>
                <string>{-28,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,61},{120,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,310},{186,132}}</string>
                <key>offset</key>
                <string>{5,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,87},{186,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,140}}</string>
                <key>offset</key>
                <string>{6,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,81},{198,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1284},{132,148}}</string>
                <key>offset</key>
                <string>{17,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,68},{132,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{186,138}}</string>
                <key>offset</key>
                <string>{-1,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,79},{186,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,148},{186,148}}</string>
                <key>offset</key>
                <string>{2,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,73},{186,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{186,142}}</string>
                <key>offset</key>
                <string>{3,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,75},{186,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,582},{180,142}}</string>
                <key>offset</key>
                <string>{17,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,78},{180,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_013_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,970},{158,164}}</string>
                <key>offset</key>
                <string>{29,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,61},{158,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_013_5.png</string>
            <key>size</key>
            <string>{512,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d134ae03dea14a8d777c476929a01944$</string>
            <key>textureFileName</key>
            <string>c_013_5.png</string>
        </dict>
    </dict>
</plist>
