<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_012_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{144,136}}</string>
                <key>offset</key>
                <string>{-38,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,113},{144,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1148},{106,134}}</string>
                <key>offset</key>
                <string>{-47,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,115},{106,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,576},{86,166}}</string>
                <key>offset</key>
                <string>{-46,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,80},{86,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,146},{90,182}}</string>
                <key>offset</key>
                <string>{-36,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,63},{90,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1010},{144,136}}</string>
                <key>offset</key>
                <string>{-11,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,93},{144,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{170,142}}</string>
                <key>offset</key>
                <string>{26,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,95},{170,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,334},{92,154}}</string>
                <key>offset</key>
                <string>{-38,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,85},{92,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,984},{92,148}}</string>
                <key>offset</key>
                <string>{-45,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{92,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,764},{138,160}}</string>
                <key>offset</key>
                <string>{-60,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,61},{138,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{122,162}}</string>
                <key>offset</key>
                <string>{-39,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,57},{122,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,696},{142,160}}</string>
                <key>offset</key>
                <string>{-13,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,72},{142,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,172}}</string>
                <key>offset</key>
                <string>{7,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,79},{192,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1078},{112,144}}</string>
                <key>offset</key>
                <string>{-43,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,70},{112,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1148},{136,134}}</string>
                <key>offset</key>
                <string>{-43,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,72},{136,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{184,142}}</string>
                <key>offset</key>
                <string>{-24,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,65},{184,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,326},{174,132}}</string>
                <key>offset</key>
                <string>{-11,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,73},{174,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,174},{124,158}}</string>
                <key>offset</key>
                <string>{-13,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,73},{124,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{112,176}}</string>
                <key>offset</key>
                <string>{-12,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,73},{112,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{170,126}}</string>
                <key>offset</key>
                <string>{-2,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,84},{170,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,840},{158,142}}</string>
                <key>offset</key>
                <string>{0,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,70},{158,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,554},{140,164}}</string>
                <key>offset</key>
                <string>{27,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,63},{140,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{148,138}}</string>
                <key>offset</key>
                <string>{27,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,85},{148,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{160,118}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,95},{160,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,428},{124,152}}</string>
                <key>offset</key>
                <string>{-15,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,86},{124,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{146,166}}</string>
                <key>offset</key>
                <string>{36,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,59},{146,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{108,178}}</string>
                <key>offset</key>
                <string>{46,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,57},{108,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,238},{86,178}}</string>
                <key>offset</key>
                <string>{45,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,70},{86,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,664},{98,164}}</string>
                <key>offset</key>
                <string>{25,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,82},{98,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,904},{150,104}}</string>
                <key>offset</key>
                <string>{9,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,109},{150,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_012_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,460},{170,114}}</string>
                <key>offset</key>
                <string>{-26,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,95},{170,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_012_4.png</string>
            <key>size</key>
            <string>{512,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb362b1bb81a37d7d4942237f3b283f4$</string>
            <key>textureFileName</key>
            <string>c_012_4.png</string>
        </dict>
    </dict>
</plist>
