<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_010_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{180,116}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,137},{180,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,130},{182,114}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,138},{182,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{182,114}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,138},{182,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,374},{180,114}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,138},{180,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{124,138}}</string>
                <key>offset</key>
                <string>{-38,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,118},{124,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,432},{126,138}}</string>
                <key>offset</key>
                <string>{-35,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,117},{126,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,304},{126,138}}</string>
                <key>offset</key>
                <string>{-36,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,117},{126,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{124,136}}</string>
                <key>offset</key>
                <string>{-38,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,120},{124,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,548},{58,156}}</string>
                <key>offset</key>
                <string>{-38,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,93},{58,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,490},{56,158}}</string>
                <key>offset</key>
                <string>{-37,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,91},{56,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{56,156}}</string>
                <key>offset</key>
                <string>{-37,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,93},{56,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{58,156}}</string>
                <key>offset</key>
                <string>{-38,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,93},{58,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,560},{136,150}}</string>
                <key>offset</key>
                <string>{-37,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,87},{136,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{138,150}}</string>
                <key>offset</key>
                <string>{-36,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,87},{138,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,154},{138,148}}</string>
                <key>offset</key>
                <string>{-36,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,88},{138,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,608},{136,148}}</string>
                <key>offset</key>
                <string>{-38,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,88},{136,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,246},{180,126}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,101},{180,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,126}}</string>
                <key>offset</key>
                <string>{-1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,101},{182,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,126}}</string>
                <key>offset</key>
                <string>{-1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,101},{182,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_010_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{180,126}}</string>
                <key>offset</key>
                <string>{-1,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,100},{180,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_010_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca95d5fd8adc8751d9bdff7e6262f454$</string>
            <key>textureFileName</key>
            <string>c_010_0.png</string>
        </dict>
    </dict>
</plist>
