<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_011_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,790},{124,180}}</string>
                <key>offset</key>
                <string>{-45,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,89},{124,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,916},{116,178}}</string>
                <key>offset</key>
                <string>{-44,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,89},{116,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1198},{108,170}}</string>
                <key>offset</key>
                <string>{-55,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,98},{108,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{112,186}}</string>
                <key>offset</key>
                <string>{-50,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,77},{112,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1308},{148,158}}</string>
                <key>offset</key>
                <string>{-14,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,88},{148,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1034},{174,162}}</string>
                <key>offset</key>
                <string>{-9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,98},{174,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,290},{86,194}}</string>
                <key>offset</key>
                <string>{-42,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,68},{86,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,344},{92,172}}</string>
                <key>offset</key>
                <string>{-46,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,75},{92,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{122,172}}</string>
                <key>offset</key>
                <string>{-53,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,76},{122,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,162},{126,196}}</string>
                <key>offset</key>
                <string>{-53,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,53},{126,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{112,178}}</string>
                <key>offset</key>
                <string>{-4,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,67},{112,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,502},{120,186}}</string>
                <key>offset</key>
                <string>{-11,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,76},{120,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{190,168}}</string>
                <key>offset</key>
                <string>{-26,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,76},{190,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{206,150}}</string>
                <key>offset</key>
                <string>{-27,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,87},{206,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{168,158}}</string>
                <key>offset</key>
                <string>{-16,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,71},{168,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{150,180}}</string>
                <key>offset</key>
                <string>{-12,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,60},{150,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,666},{126,172}}</string>
                <key>offset</key>
                <string>{14,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,64},{126,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,162},{100,180}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,70},{100,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{210,158}}</string>
                <key>offset</key>
                <string>{15,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,83},{210,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,156}}</string>
                <key>offset</key>
                <string>{14,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,82},{216,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,624},{164,182}}</string>
                <key>offset</key>
                <string>{40,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,49},{164,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,840},{144,154}}</string>
                <key>offset</key>
                <string>{44,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,86},{144,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,518},{128,146}}</string>
                <key>offset</key>
                <string>{15,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,82},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1292},{160,148}}</string>
                <key>offset</key>
                <string>{5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,87},{160,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,378},{122,190}}</string>
                <key>offset</key>
                <string>{44,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,67},{122,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{116,180}}</string>
                <key>offset</key>
                <string>{44,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,66},{116,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{108,190}}</string>
                <key>offset</key>
                <string>{55,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,55},{108,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{112,168}}</string>
                <key>offset</key>
                <string>{50,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,94},{112,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,996},{146,118}}</string>
                <key>offset</key>
                <string>{13,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,110},{146,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_011_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1116},{174,148}}</string>
                <key>offset</key>
                <string>{9,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,84},{174,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_011_4.png</string>
            <key>size</key>
            <string>{512,1488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d9cc96f76d2061314b60d34632546ee$</string>
            <key>textureFileName</key>
            <string>c_011_4.png</string>
        </dict>
    </dict>
</plist>
