<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_022_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{320,192}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,117},{320,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{308,194}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,112},{308,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{304,192}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,117},{304,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,462},{306,194}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,112},{306,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{258,256}}</string>
                <key>offset</key>
                <string>{-37,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{258,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,204},{256,244}}</string>
                <key>offset</key>
                <string>{-41,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,79},{256,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,466},{258,240}}</string>
                <key>offset</key>
                <string>{-41,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,86},{258,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,450},{254,246}}</string>
                <key>offset</key>
                <string>{-40,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,77},{254,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,980},{98,274}}</string>
                <key>offset</key>
                <string>{-37,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,38},{98,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,198},{110,272}}</string>
                <key>offset</key>
                <string>{-42,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,39},{110,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,196},{126,268}}</string>
                <key>offset</key>
                <string>{-50,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,43},{126,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1080},{116,268}}</string>
                <key>offset</key>
                <string>{-45,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,42},{116,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,198},{258,250}}</string>
                <key>offset</key>
                <string>{-36,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,38},{258,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,726},{252,250}}</string>
                <key>offset</key>
                <string>{-44,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,36},{252,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,958},{246,248}}</string>
                <key>offset</key>
                <string>{-45,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{246,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,706},{248,250}}</string>
                <key>offset</key>
                <string>{-41,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,38},{248,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,200}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,76},{318,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{308,202}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,71},{308,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{304,208}}</string>
                <key>offset</key>
                <string>{4,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,68},{304,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_022_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,770},{306,202}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,71},{306,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_022_0.png</string>
            <key>size</key>
            <string>{1010,1272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a3ee814719d92988dd285ac1c96d11e:1/1$</string>
            <key>textureFileName</key>
            <string>c_022_0.png</string>
        </dict>
    </dict>
</plist>
