<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_023_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{276,182}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,107},{276,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{274,184}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,106},{274,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,728},{274,186}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,105},{274,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,186}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,104},{278,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,946},{220,208}}</string>
                <key>offset</key>
                <string>{-22,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,88},{220,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1154},{222,208}}</string>
                <key>offset</key>
                <string>{-26,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,88},{222,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,512},{214,212}}</string>
                <key>offset</key>
                <string>{-31,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,85},{214,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{216,210}}</string>
                <key>offset</key>
                <string>{-25,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,87},{216,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,418},{94,218}}</string>
                <key>offset</key>
                <string>{-21,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,75},{94,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1604},{104,232}}</string>
                <key>offset</key>
                <string>{-25,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,75},{104,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1708},{108,228}}</string>
                <key>offset</key>
                <string>{-27,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,75},{108,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{100,226}}</string>
                <key>offset</key>
                <string>{-24,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,74},{100,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,724},{222,208}}</string>
                <key>offset</key>
                <string>{-23,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,75},{222,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1376},{228,206}}</string>
                <key>offset</key>
                <string>{-24,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,75},{228,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1604},{224,206}}</string>
                <key>offset</key>
                <string>{-25,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,74},{224,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,210},{216,208}}</string>
                <key>offset</key>
                <string>{-24,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,74},{216,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{278,180}}</string>
                <key>offset</key>
                <string>{0,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,88},{278,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1098},{274,178}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,88},{274,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1276},{272,176}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,89},{272,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{276,180}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,87},{276,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_023_0.png</string>
            <key>size</key>
            <string>{494,1820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d87ae7581d5d213f9f73a0d16414147$</string>
            <key>textureFileName</key>
            <string>c_023_0.png</string>
        </dict>
    </dict>
</plist>
