<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_023_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,206}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,92},{278,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{270,212}}</string>
                <key>offset</key>
                <string>{-4,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,92},{270,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{270,196}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,108},{270,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{276,142}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,141},{276,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{220,216}}</string>
                <key>offset</key>
                <string>{-25,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,83},{220,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1216},{202,210}}</string>
                <key>offset</key>
                <string>{-13,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,91},{202,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1052},{192,212}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,99},{192,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1418},{228,164}}</string>
                <key>offset</key>
                <string>{49,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,144},{228,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1872},{138,202}}</string>
                <key>offset</key>
                <string>{-27,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,81},{138,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1872},{144,206}}</string>
                <key>offset</key>
                <string>{-11,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,96},{144,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1598},{110,238}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,100},{110,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1264},{204,188}}</string>
                <key>offset</key>
                <string>{67,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,154},{204,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1646},{220,160}}</string>
                <key>offset</key>
                <string>{-23,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,95},{220,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1452},{246,146}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,119},{246,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,808},{248,192}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,117},{248,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,816},{236,162}}</string>
                <key>offset</key>
                <string>{44,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,191},{236,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1598},{274,130}}</string>
                <key>offset</key>
                <string>{1,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,109},{274,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,552},{264,150}}</string>
                <key>offset</key>
                <string>{3,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,115},{264,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{270,194}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,118},{270,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>c_023_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,276},{276,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,206},{276,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c_023_7.png</string>
            <key>size</key>
            <string>{420,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dec99a98ef8d410978135610b547db2d$</string>
            <key>textureFileName</key>
            <string>c_023_7.png</string>
        </dict>
    </dict>
</plist>
