<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_001_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{122,100}}</string>
                <key>offset</key>
                <string>{20,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,149},{122,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,122}}</string>
                <key>offset</key>
                <string>{21,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,137},{114,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,236},{46,156}}</string>
                <key>offset</key>
                <string>{-13,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,87},{46,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,324},{62,28}}</string>
                <key>offset</key>
                <string>{8,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,143},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,206},{12,56}}</string>
                <key>offset</key>
                <string>{11,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,166},{12,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,164},{90,112}}</string>
                <key>offset</key>
                <string>{29,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,135},{90,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,236},{150,52}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,179},{150,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{130,80}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,162},{130,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,360},{40,156}}</string>
                <key>offset</key>
                <string>{-26,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,80},{40,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{138,58}}</string>
                <key>offset</key>
                <string>{-11,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,129},{138,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,110},{118,34}}</string>
                <key>offset</key>
                <string>{62,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,191},{118,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,166},{150,68}}</string>
                <key>offset</key>
                <string>{44,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,171},{150,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,110},{94,22}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,202},{94,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,254},{74,44}}</string>
                <key>offset</key>
                <string>{-17,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,177},{74,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{98,134}}</string>
                <key>offset</key>
                <string>{-23,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,81},{98,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{134,102}}</string>
                <key>offset</key>
                <string>{-23,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,103},{134,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,236},{164,34}}</string>
                <key>offset</key>
                <string>{77,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,222},{164,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,84},{124,24}}</string>
                <key>offset</key>
                <string>{34,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,209},{124,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,354},{22,26}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,197},{22,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,354},{36,36}}</string>
                <key>offset</key>
                <string>{-29,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,173},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,256},{100,102}}</string>
                <key>offset</key>
                <string>{-7,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,90},{100,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,262},{54,130}}</string>
                <key>offset</key>
                <string>{-22,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,83},{54,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,146},{114,80}}</string>
                <key>offset</key>
                <string>{48,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,219},{114,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,324},{26,28}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,219},{26,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,228},{120,24}}</string>
                <key>offset</key>
                <string>{-20,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,186},{120,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,104},{114,58}}</string>
                <key>offset</key>
                <string>{-20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,154},{114,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,254},{44,82}}</string>
                <key>offset</key>
                <string>{13,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,99},{44,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,102},{62,130}}</string>
                <key>offset</key>
                <string>{-9,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,77},{62,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,256},{12,98}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,216},{12,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,300},{90,22}}</string>
                <key>offset</key>
                <string>{-28,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,217},{90,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_001_4.png</string>
            <key>size</key>
            <string>{512,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c2124780f67534fc653d12fa1655cd0$</string>
            <key>textureFileName</key>
            <string>h_001_4.png</string>
        </dict>
    </dict>
</plist>
