<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_003_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,68},{20,120}}</string>
                <key>offset</key>
                <string>{15,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,133},{20,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,82},{70,104}}</string>
                <key>offset</key>
                <string>{8,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,129},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,178},{48,108}}</string>
                <key>offset</key>
                <string>{12,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,142},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,252},{12,64}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,175},{12,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,250},{42,22}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,202},{42,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,218},{38,62}}</string>
                <key>offset</key>
                <string>{17,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,178},{38,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{64,112}}</string>
                <key>offset</key>
                <string>{26,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,144},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,90},{48,122}}</string>
                <key>offset</key>
                <string>{25,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,126},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{48,108}}</string>
                <key>offset</key>
                <string>{22,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,149},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,202},{92,48}}</string>
                <key>offset</key>
                <string>{15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,189},{92,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,182},{102,44}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,195},{102,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,140},{112,40}}</string>
                <key>offset</key>
                <string>{16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,195},{112,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{98,86}}</string>
                <key>offset</key>
                <string>{22,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,166},{98,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,90},{18,126}}</string>
                <key>offset</key>
                <string>{28,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,133},{18,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,86}}</string>
                <key>offset</key>
                <string>{19,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,167},{100,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,130},{126,12}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,211},{126,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{106,78}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,177},{106,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,108},{124,20}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,209},{124,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{80,58}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,185},{80,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{60,116}}</string>
                <key>offset</key>
                <string>{14,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,146},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,228},{102,52}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,188},{102,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,242},{94,44}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,195},{94,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,144},{56,104}}</string>
                <key>offset</key>
                <string>{-19,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,159},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,188},{70,52}}</string>
                <key>offset</key>
                <string>{-8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,192},{70,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,266},{20,44}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,191},{20,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,144},{72,96}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,158},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,218},{48,30}}</string>
                <key>offset</key>
                <string>{-12,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,198},{48,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,84},{12,60}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,183},{12,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,64},{42,106}}</string>
                <key>offset</key>
                <string>{-16,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,151},{42,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,98},{38,56}}</string>
                <key>offset</key>
                <string>{-17,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,186},{38,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_003_2.png</string>
            <key>size</key>
            <string>{512,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a07ed1726daf62652c4d29c2393416d$</string>
            <key>textureFileName</key>
            <string>h_003_2.png</string>
        </dict>
    </dict>
</plist>
