<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_001_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,160},{76,68}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,167},{76,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{76,68}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,167},{76,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,82},{78,64}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,169},{78,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{78,64}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,169},{78,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{156,28}}</string>
                <key>offset</key>
                <string>{23,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,196},{156,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{156,26}}</string>
                <key>offset</key>
                <string>{23,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,197},{156,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,26}}</string>
                <key>offset</key>
                <string>{23,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,199},{158,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{158,24}}</string>
                <key>offset</key>
                <string>{23,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,200},{158,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{148,46}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,197},{148,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{146,46}}</string>
                <key>offset</key>
                <string>{7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,198},{146,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{146,50}}</string>
                <key>offset</key>
                <string>{7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,196},{146,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{146,50}}</string>
                <key>offset</key>
                <string>{7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,196},{146,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,156},{52,78}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,179},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{52,78}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,180},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,150},{50,82}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,178},{50,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,150},{50,82}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,178},{50,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,156},{76,74}}</string>
                <key>offset</key>
                <string>{-25,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,175},{76,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,80},{76,74}}</string>
                <key>offset</key>
                <string>{-25,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,175},{76,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,152},{76,78}}</string>
                <key>offset</key>
                <string>{-25,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,173},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{76,76}}</string>
                <key>offset</key>
                <string>{-25,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,174},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_001_0.png</string>
            <key>size</key>
            <string>{512,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d941f78d3e6217dd18968c3d332e35cb$</string>
            <key>textureFileName</key>
            <string>h_001_0.png</string>
        </dict>
    </dict>
</plist>
