<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_003_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{18,114}}</string>
                <key>offset</key>
                <string>{14,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,138},{18,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{16,104}}</string>
                <key>offset</key>
                <string>{14,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,147},{16,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,18},{10,72}}</string>
                <key>offset</key>
                <string>{14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,169},{10,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,154},{16,44}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,187},{16,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,154},{16,60}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,178},{16,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{14,94}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,155},{14,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{70,104}}</string>
                <key>offset</key>
                <string>{24,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,150},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{80,92}}</string>
                <key>offset</key>
                <string>{20,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,159},{80,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,108},{94,56}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,183},{94,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,108},{96,28}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,199},{96,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,108},{98,42}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,192},{98,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,118},{88,80}}</string>
                <key>offset</key>
                <string>{18,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,167},{88,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{104,76}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,172},{104,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{114,60}}</string>
                <key>offset</key>
                <string>{15,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,182},{114,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,20}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,204},{126,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{124,30}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,199},{124,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{126,14}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,208},{126,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{120,46}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,190},{120,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,124},{84,46}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,191},{84,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,118},{90,28}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,201},{90,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{94,38}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,195},{94,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,18},{88,64}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,180},{88,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,84},{88,50}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,188},{88,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,118},{90,12}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,208},{90,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,172},{20,32}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{20,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,198},{18,12}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,206},{18,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,92},{10,52}}</string>
                <key>offset</key>
                <string>{-14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,184},{10,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,136},{16,78}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,168},{16,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,146},{16,64}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,177},{16,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,172},{12,24}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,200},{12,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_003_1.png</string>
            <key>size</key>
            <string>{512,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d9b49b37611c3dd1ad871c9788f983d$</string>
            <key>textureFileName</key>
            <string>h_003_1.png</string>
        </dict>
    </dict>
</plist>
