<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_005_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{108,66}}</string>
                <key>offset</key>
                <string>{37,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,167},{108,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,90}}</string>
                <key>offset</key>
                <string>{35,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,150},{94,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{58,114}}</string>
                <key>offset</key>
                <string>{-16,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,102},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,236},{22,18}}</string>
                <key>offset</key>
                <string>{15,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,150},{22,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,156},{28,78}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,156},{28,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{48,88}}</string>
                <key>offset</key>
                <string>{30,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,146},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,62},{110,32}}</string>
                <key>offset</key>
                <string>{26,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,193},{110,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,156},{86,60}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,173},{86,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,70},{14,126}}</string>
                <key>offset</key>
                <string>{-33,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,87},{14,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,218},{90,36}}</string>
                <key>offset</key>
                <string>{-3,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,142},{90,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,184},{70,70}}</string>
                <key>offset</key>
                <string>{52,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,170},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,70},{112,60}}</string>
                <key>offset</key>
                <string>{55,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,176},{112,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,206},{48,14}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{48,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,162},{32,42}}</string>
                <key>offset</key>
                <string>{-19,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,179},{32,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{56,116}}</string>
                <key>offset</key>
                <string>{-29,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,81},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{108,68}}</string>
                <key>offset</key>
                <string>{-20,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,119},{108,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,62},{124,38}}</string>
                <key>offset</key>
                <string>{69,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,207},{124,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,70},{112,26}}</string>
                <key>offset</key>
                <string>{47,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,208},{112,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,206},{46,14}}</string>
                <key>offset</key>
                <string>{-26,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,200},{46,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,162},{46,44}}</string>
                <key>offset</key>
                <string>{-38,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,168},{46,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,62},{80,92}}</string>
                <key>offset</key>
                <string>{-9,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,86},{80,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,60},{66,100}}</string>
                <key>offset</key>
                <string>{-25,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,95},{66,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,232},{106,16}}</string>
                <key>offset</key>
                <string>{46,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,237},{106,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,188},{46,16}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,224},{46,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,94},{110,32}}</string>
                <key>offset</key>
                <string>{-37,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,181},{110,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,62},{92,66}}</string>
                <key>offset</key>
                <string>{-35,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,145},{92,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{58,68}}</string>
                <key>offset</key>
                <string>{17,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,99},{58,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,208},{22,108}}</string>
                <key>offset</key>
                <string>{-15,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,84},{22,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,218},{28,36}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,236},{28,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,156},{48,16}}</string>
                <key>offset</key>
                <string>{-30,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,221},{48,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_005_4.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b41598122227fb883598fc69b213c3f4$</string>
            <key>textureFileName</key>
            <string>h_005_4.png</string>
        </dict>
    </dict>
</plist>
