<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_002_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,94},{18,88}}</string>
                <key>offset</key>
                <string>{13,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,138},{18,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,88},{22,84}}</string>
                <key>offset</key>
                <string>{13,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,143},{22,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,28},{24,62}}</string>
                <key>offset</key>
                <string>{16,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,163},{24,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,156},{26,44}}</string>
                <key>offset</key>
                <string>{19,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,178},{26,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,54},{24,56}}</string>
                <key>offset</key>
                <string>{19,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,169},{24,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,82},{20,78}}</string>
                <key>offset</key>
                <string>{16,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,150},{20,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{66,84}}</string>
                <key>offset</key>
                <string>{35,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,147},{66,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{68,76}}</string>
                <key>offset</key>
                <string>{31,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,155},{68,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,80},{74,52}}</string>
                <key>offset</key>
                <string>{25,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,175},{74,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,88},{80,40}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,190},{80,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{78,44}}</string>
                <key>offset</key>
                <string>{22,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,181},{78,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,80},{72,68}}</string>
                <key>offset</key>
                <string>{29,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,162},{72,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,94},{86,66}}</string>
                <key>offset</key>
                <string>{34,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,165},{86,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{90,56}}</string>
                <key>offset</key>
                <string>{29,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,173},{90,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,96},{92,40}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,193},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,42}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,204},{94,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{92,40}}</string>
                <key>offset</key>
                <string>{13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,200},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{92,46}}</string>
                <key>offset</key>
                <string>{25,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,181},{92,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,154},{68,46}}</string>
                <key>offset</key>
                <string>{16,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,182},{68,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,156},{72,42}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,189},{72,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,80},{70,48}}</string>
                <key>offset</key>
                <string>{4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,201},{70,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,54},{64,64}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,193},{64,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,120},{66,56}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,197},{66,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{70,40}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,198},{70,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,182},{18,38}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,187},{18,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,162},{20,38}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,194},{20,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,54},{24,56}}</string>
                <key>offset</key>
                <string>{-17,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,194},{24,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,174},{26,72}}</string>
                <key>offset</key>
                <string>{-19,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,185},{26,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{24,62}}</string>
                <key>offset</key>
                <string>{-19,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,191},{24,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{20,40}}</string>
                <key>offset</key>
                <string>{-15,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,200},{20,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_002_1.png</string>
            <key>size</key>
            <string>{512,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95b09be441bea26695e81afb2de7d631$</string>
            <key>textureFileName</key>
            <string>h_002_1.png</string>
        </dict>
    </dict>
</plist>
