<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_003_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{116,62}}</string>
                <key>offset</key>
                <string>{15,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,179},{116,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,86}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,167},{96,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{74,108}}</string>
                <key>offset</key>
                <string>{-8,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,128},{74,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,256},{10,24}}</string>
                <key>offset</key>
                <string>{20,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,149},{10,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,236},{18,78}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,168},{18,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,186},{68,86}}</string>
                <key>offset</key>
                <string>{21,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,162},{68,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,168},{104,26}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,201},{104,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,54},{78,58}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,182},{78,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,66},{28,124}}</string>
                <key>offset</key>
                <string>{-33,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,112},{28,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,186},{80,36}}</string>
                <key>offset</key>
                <string>{13,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,149},{80,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{86,66}}</string>
                <key>offset</key>
                <string>{39,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,183},{86,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{118,56}}</string>
                <key>offset</key>
                <string>{33,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,186},{118,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,242},{38,16}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,205},{38,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,244},{20,44}}</string>
                <key>offset</key>
                <string>{-25,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,184},{20,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,60},{50,120}}</string>
                <key>offset</key>
                <string>{-38,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,101},{50,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,96},{110,66}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,136},{110,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,112},{124,32}}</string>
                <key>offset</key>
                <string>{46,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,215},{124,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,90},{106,20}}</string>
                <key>offset</key>
                <string>{25,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,215},{106,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,134},{66,12}}</string>
                <key>offset</key>
                <string>{-18,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,201},{66,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{64,50}}</string>
                <key>offset</key>
                <string>{-29,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,171},{64,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{82,98}}</string>
                <key>offset</key>
                <string>{-21,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,102},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,86},{80,98}}</string>
                <key>offset</key>
                <string>{-15,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,117},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,196},{98,26}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,231},{98,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,242},{36,24}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,218},{36,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,146},{114,38}}</string>
                <key>offset</key>
                <string>{-15,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,182},{114,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,164},{96,76}}</string>
                <key>offset</key>
                <string>{-15,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,150},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,148},{74,74}}</string>
                <key>offset</key>
                <string>{8,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,111},{74,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,224},{10,110}}</string>
                <key>offset</key>
                <string>{-19,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,105},{10,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,242},{18,42}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,226},{18,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_003_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,224},{66,18}}</string>
                <key>offset</key>
                <string>{-21,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,218},{66,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_003_4.png</string>
            <key>size</key>
            <string>{512,269}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8cc44d004f91ecfed846243bdc815f5$</string>
            <key>textureFileName</key>
            <string>h_003_4.png</string>
        </dict>
    </dict>
</plist>
