<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_002_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,74},{34,56}}</string>
                <key>offset</key>
                <string>{25,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,171},{34,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,38},{34,56}}</string>
                <key>offset</key>
                <string>{25,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,171},{34,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{36,54}}</string>
                <key>offset</key>
                <string>{25,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,173},{36,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{34,56}}</string>
                <key>offset</key>
                <string>{26,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,171},{34,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{82,42}}</string>
                <key>offset</key>
                <string>{23,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,185},{82,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{82,42}}</string>
                <key>offset</key>
                <string>{23,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,186},{82,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,88},{84,42}}</string>
                <key>offset</key>
                <string>{23,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,187},{84,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{84,42}}</string>
                <key>offset</key>
                <string>{23,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,187},{84,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{90,40}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,204},{90,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{90,42}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,203},{90,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{90,42}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,204},{90,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,42}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,204},{90,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{54,56}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,198},{54,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,62},{54,56}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,198},{54,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{52,58}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,197},{52,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,64},{54,58}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,197},{54,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{34,60}}</string>
                <key>offset</key>
                <string>{-25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,189},{34,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,86},{34,60}}</string>
                <key>offset</key>
                <string>{-25,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,190},{34,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,94},{34,60}}</string>
                <key>offset</key>
                <string>{-25,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,190},{34,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,94},{34,60}}</string>
                <key>offset</key>
                <string>{-25,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,190},{34,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_002_0.png</string>
            <key>size</key>
            <string>{512,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c49067b802970325a07cd8820cb9f9f9$</string>
            <key>textureFileName</key>
            <string>h_002_0.png</string>
        </dict>
    </dict>
</plist>
