<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_005_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{30,112}}</string>
                <key>offset</key>
                <string>{8,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,119},{30,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{28,102}}</string>
                <key>offset</key>
                <string>{8,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,130},{28,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,86},{22,70}}</string>
                <key>offset</key>
                <string>{10,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,160},{22,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,178},{18,46}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,180},{18,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,190},{18,58}}</string>
                <key>offset</key>
                <string>{11,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,171},{18,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{24,90}}</string>
                <key>offset</key>
                <string>{10,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,142},{24,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{54,106}}</string>
                <key>offset</key>
                <string>{35,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,130},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{62,94}}</string>
                <key>offset</key>
                <string>{33,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,142},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,112},{78,58}}</string>
                <key>offset</key>
                <string>{29,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,173},{78,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,76},{84,34}}</string>
                <key>offset</key>
                <string>{23,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,191},{84,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,28},{84,46}}</string>
                <key>offset</key>
                <string>{26,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,183},{84,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{72,82}}</string>
                <key>offset</key>
                <string>{32,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,153},{72,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,110},{102,80}}</string>
                <key>offset</key>
                <string>{41,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,157},{102,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{112,64}}</string>
                <key>offset</key>
                <string>{38,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,170},{112,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,28}}</string>
                <key>offset</key>
                <string>{30,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,196},{128,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{128,18}}</string>
                <key>offset</key>
                <string>{21,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,207},{128,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{128,16}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,204},{128,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{120,50}}</string>
                <key>offset</key>
                <string>{35,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,181},{120,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,124},{90,48}}</string>
                <key>offset</key>
                <string>{23,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,183},{90,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,106},{96,34}}</string>
                <key>offset</key>
                <string>{21,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,192},{96,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{102,28}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,205},{102,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,116},{96,54}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,196},{96,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,116},{98,42}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,200},{98,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,106},{100,20}}</string>
                <key>offset</key>
                <string>{18,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,202},{100,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,98},{30,32}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,192},{30,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,158},{28,18}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,201},{28,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,130},{22,46}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,198},{22,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,172},{16,72}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,187},{16,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{18,58}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,193},{18,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,62},{24,22}}</string>
                <key>offset</key>
                <string>{-9,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,204},{24,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_005_1.png</string>
            <key>size</key>
            <string>{512,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4212b502c0737d98392763cdc3244dc9$</string>
            <key>textureFileName</key>
            <string>h_005_1.png</string>
        </dict>
    </dict>
</plist>
