<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_001_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,134},{22,108}}</string>
                <key>offset</key>
                <string>{10,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,146},{22,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,156},{130,98}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,152},{130,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,20}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,211},{152,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,184},{54,68}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,193},{54,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,134},{100,94}}</string>
                <key>offset</key>
                <string>{9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,156},{100,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{48,130}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,137},{48,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,184},{64,58}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,193},{64,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{84,64}}</string>
                <key>offset</key>
                <string>{48,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,205},{84,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,48}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,182},{158,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{76,128}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,136},{76,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,68},{72,58}}</string>
                <key>offset</key>
                <string>{38,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,203},{72,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{156,24}}</string>
                <key>offset</key>
                <string>{52,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,242},{156,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{126,24}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,201},{126,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{140,90}}</string>
                <key>offset</key>
                <string>{-7,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,154},{140,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{152,24}}</string>
                <key>offset</key>
                <string>{32,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,234},{152,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{148,40}}</string>
                <key>offset</key>
                <string>{30,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,251},{148,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,130},{22,46}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,186},{22,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{130,44}}</string>
                <key>offset</key>
                <string>{-5,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,174},{130,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{152,50}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,232},{152,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_001_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,128},{54,72}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,236},{54,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_001_7.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f9903162e52cbfe3b94c0010bbe044a$</string>
            <key>textureFileName</key>
            <string>h_001_7.png</string>
        </dict>
    </dict>
</plist>
