<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_004_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,104},{36,54}}</string>
                <key>offset</key>
                <string>{26,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,174},{36,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,104},{36,54}}</string>
                <key>offset</key>
                <string>{26,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,175},{36,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,104},{36,54}}</string>
                <key>offset</key>
                <string>{26,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,176},{36,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{36,54}}</string>
                <key>offset</key>
                <string>{26,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,176},{36,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,96},{92,52}}</string>
                <key>offset</key>
                <string>{25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,193},{92,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{92,52}}</string>
                <key>offset</key>
                <string>{25,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,193},{92,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{92,52}}</string>
                <key>offset</key>
                <string>{25,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,194},{92,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,104},{92,52}}</string>
                <key>offset</key>
                <string>{25,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,194},{92,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{100,50}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,210},{100,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{100,50}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,211},{100,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,52}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,210},{100,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{100,50}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,211},{100,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,96},{52,66}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,200},{52,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{50,68}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,199},{50,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{50,68}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,199},{50,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{50,68}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,199},{50,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,92},{36,68}}</string>
                <key>offset</key>
                <string>{-26,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,191},{36,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,92},{36,68}}</string>
                <key>offset</key>
                <string>{-26,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,191},{36,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,92},{36,68}}</string>
                <key>offset</key>
                <string>{-26,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,192},{36,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_004_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,54},{36,68}}</string>
                <key>offset</key>
                <string>{-26,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,191},{36,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_004_0.png</string>
            <key>size</key>
            <string>{512,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3446e9ef4a6c8992fd5adac67fa1434$</string>
            <key>textureFileName</key>
            <string>h_004_0.png</string>
        </dict>
    </dict>
</plist>
