<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_002_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,88},{52,84}}</string>
                <key>offset</key>
                <string>{33,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,144},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,88},{22,84}}</string>
                <key>offset</key>
                <string>{15,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,151},{22,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,170},{24,64}}</string>
                <key>offset</key>
                <string>{-2,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,107},{24,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,126},{32,70}}</string>
                <key>offset</key>
                <string>{-3,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,103},{32,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,82},{58,78}}</string>
                <key>offset</key>
                <string>{43,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,138},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{38,84}}</string>
                <key>offset</key>
                <string>{29,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,129},{38,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{46,78}}</string>
                <key>offset</key>
                <string>{24,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,153},{46,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{72,78}}</string>
                <key>offset</key>
                <string>{24,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,159},{72,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,180},{56,70}}</string>
                <key>offset</key>
                <string>{-2,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,105},{56,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,174},{58,78}}</string>
                <key>offset</key>
                <string>{3,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,101},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,162},{48,72}}</string>
                <key>offset</key>
                <string>{42,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,152},{48,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,84},{40,76}}</string>
                <key>offset</key>
                <string>{18,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,141},{40,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{36,78}}</string>
                <key>offset</key>
                <string>{-1,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,154},{36,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,94},{90,56}}</string>
                <key>offset</key>
                <string>{16,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,175},{90,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{68,84}}</string>
                <key>offset</key>
                <string>{-2,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,100},{68,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{60,90}}</string>
                <key>offset</key>
                <string>{4,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,100},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,126},{38,72}}</string>
                <key>offset</key>
                <string>{13,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,159},{38,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,40},{42,76}}</string>
                <key>offset</key>
                <string>{-7,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,145},{42,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,88},{30,80}}</string>
                <key>offset</key>
                <string>{-24,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,148},{30,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,160},{68,40}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,187},{68,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,92}}</string>
                <key>offset</key>
                <string>{-4,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,100},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{40,92}}</string>
                <key>offset</key>
                <string>{1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,105},{40,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{38,78}}</string>
                <key>offset</key>
                <string>{-19,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,155},{38,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,190},{42,86}}</string>
                <key>offset</key>
                <string>{-22,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,135},{42,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{50,88}}</string>
                <key>offset</key>
                <string>{-33,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,136},{50,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,82},{22,38}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,190},{22,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,96},{24,92}}</string>
                <key>offset</key>
                <string>{2,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,102},{24,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{34,92}}</string>
                <key>offset</key>
                <string>{3,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,106},{34,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,92},{58,86}}</string>
                <key>offset</key>
                <string>{-42,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,142},{58,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,96},{38,92}}</string>
                <key>offset</key>
                <string>{-29,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,126},{38,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_002_5.png</string>
            <key>size</key>
            <string>{512,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:566eb6195f92982c06f614c82a084e39$</string>
            <key>textureFileName</key>
            <string>h_002_5.png</string>
        </dict>
    </dict>
</plist>
