<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_005_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,114},{14,80}}</string>
                <key>offset</key>
                <string>{13,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,157},{14,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{92,88}}</string>
                <key>offset</key>
                <string>{-4,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,146},{92,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{108,28}}</string>
                <key>offset</key>
                <string>{-20,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,205},{108,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,130},{50,18}}</string>
                <key>offset</key>
                <string>{31,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,218},{50,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,112},{90,64}}</string>
                <key>offset</key>
                <string>{24,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,172},{90,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{28,108}}</string>
                <key>offset</key>
                <string>{2,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,136},{28,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,146},{30,48}}</string>
                <key>offset</key>
                <string>{21,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,197},{30,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{112,28}}</string>
                <key>offset</key>
                <string>{70,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,233},{112,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,32}}</string>
                <key>offset</key>
                <string>{21,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,193},{126,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,112},{64,100}}</string>
                <key>offset</key>
                <string>{11,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,143},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,96},{72,42}}</string>
                <key>offset</key>
                <string>{50,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,212},{72,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{110,64}}</string>
                <key>offset</key>
                <string>{67,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,241},{110,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{88,22}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,203},{88,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{108,70}}</string>
                <key>offset</key>
                <string>{10,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,161},{108,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{126,16}}</string>
                <key>offset</key>
                <string>{50,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,240},{126,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,96},{48,92}}</string>
                <key>offset</key>
                <string>{27,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,244},{48,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,150},{14,36}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,195},{14,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{90,38}}</string>
                <key>offset</key>
                <string>{4,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,178},{90,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{108,44}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,242},{108,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{50,92}}</string>
                <key>offset</key>
                <string>{-31,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,242},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_005_7.png</string>
            <key>size</key>
            <string>{512,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bed619a87c046c2862049ad43ca74fb1$</string>
            <key>textureFileName</key>
            <string>h_005_7.png</string>
        </dict>
    </dict>
</plist>
