<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_005_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,126},{30,122}}</string>
                <key>offset</key>
                <string>{27,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,112},{30,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,106},{28,100}}</string>
                <key>offset</key>
                <string>{9,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,139},{28,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,170},{32,58}}</string>
                <key>offset</key>
                <string>{-5,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,109},{32,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,214},{48,66}}</string>
                <key>offset</key>
                <string>{-6,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,103},{48,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{40,116}}</string>
                <key>offset</key>
                <string>{39,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,107},{40,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,112},{16,108}}</string>
                <key>offset</key>
                <string>{22,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,108},{16,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,118},{38,110}}</string>
                <key>offset</key>
                <string>{21,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,128},{38,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,104},{64,94}}</string>
                <key>offset</key>
                <string>{25,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,148},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,92},{76,78}}</string>
                <key>offset</key>
                <string>{-5,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,97},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{78,88}}</string>
                <key>offset</key>
                <string>{-1,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,91},{78,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,108},{40,102}}</string>
                <key>offset</key>
                <string>{40,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,129},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{20,108}}</string>
                <key>offset</key>
                <string>{12,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,115},{20,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{26,100}}</string>
                <key>offset</key>
                <string>{1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,138},{26,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{114,62}}</string>
                <key>offset</key>
                <string>{25,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,173},{114,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{76,104}}</string>
                <key>offset</key>
                <string>{-2,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,83},{76,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,120},{64,114}}</string>
                <key>offset</key>
                <string>{5,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,79},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,242},{20,94}}</string>
                <key>offset</key>
                <string>{17,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,143},{20,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,236},{26,112}}</string>
                <key>offset</key>
                <string>{-3,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,116},{26,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,248},{14,98}}</string>
                <key>offset</key>
                <string>{-18,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,135},{14,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,208},{96,32}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,192},{96,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{38,122}}</string>
                <key>offset</key>
                <string>{1,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,74},{38,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,126}}</string>
                <key>offset</key>
                <string>{5,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,76},{22,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{22,94}}</string>
                <key>offset</key>
                <string>{-15,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,144},{22,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{24,118}}</string>
                <key>offset</key>
                <string>{-18,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,110},{24,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{30,102}}</string>
                <key>offset</key>
                <string>{-27,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,125},{30,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,214},{28,16}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,198},{28,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{32,122}}</string>
                <key>offset</key>
                <string>{6,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,76},{32,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,126},{48,120}}</string>
                <key>offset</key>
                <string>{7,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,81},{48,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,108},{40,104}}</string>
                <key>offset</key>
                <string>{-39,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,129},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_005_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{16,122}}</string>
                <key>offset</key>
                <string>{-22,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,101},{16,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_005_5.png</string>
            <key>size</key>
            <string>{512,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be72a4c9c4314d497dcaca2031e0a96$</string>
            <key>textureFileName</key>
            <string>h_005_5.png</string>
        </dict>
    </dict>
</plist>
