<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_002_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,84},{30,70}}</string>
                <key>offset</key>
                <string>{19,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,163},{30,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,94},{60,82}}</string>
                <key>offset</key>
                <string>{5,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,152},{60,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{72,42}}</string>
                <key>offset</key>
                <string>{-9,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,193},{72,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,76},{60,36}}</string>
                <key>offset</key>
                <string>{33,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,204},{60,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{80,56}}</string>
                <key>offset</key>
                <string>{18,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,175},{80,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{34,90}}</string>
                <key>offset</key>
                <string>{8,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,151},{34,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{20,50}}</string>
                <key>offset</key>
                <string>{26,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,192},{20,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{92,36}}</string>
                <key>offset</key>
                <string>{61,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,227},{92,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{92,40}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,192},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{70,82}}</string>
                <key>offset</key>
                <string>{10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,156},{70,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,84},{70,42}}</string>
                <key>offset</key>
                <string>{48,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,209},{70,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{90,54}}</string>
                <key>offset</key>
                <string>{61,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,242},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,90},{60,42}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,200},{60,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{86,66}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,162},{86,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,40}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,236},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,86},{48,66}}</string>
                <key>offset</key>
                <string>{29,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,249},{48,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,24},{30,46}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,194},{30,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,96},{58,46}}</string>
                <key>offset</key>
                <string>{-5,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,170},{58,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{72,58}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,238},{72,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_002_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,94},{62,60}}</string>
                <key>offset</key>
                <string>{-33,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,249},{62,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_002_7.png</string>
            <key>size</key>
            <string>{512,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5416c082a359b60e2c5a23e64ab84b48$</string>
            <key>textureFileName</key>
            <string>h_002_7.png</string>
        </dict>
    </dict>
</plist>
