<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_013_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{98,60}}</string>
                <key>offset</key>
                <string>{40,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,164},{98,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,80}}</string>
                <key>offset</key>
                <string>{38,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,148},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{60,96}}</string>
                <key>offset</key>
                <string>{-23,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,109},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,170},{12,34}}</string>
                <key>offset</key>
                <string>{19,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,141},{12,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,98},{18,72}}</string>
                <key>offset</key>
                <string>{7,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,152},{18,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{50,80}}</string>
                <key>offset</key>
                <string>{33,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,143},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,150},{92,36}}</string>
                <key>offset</key>
                <string>{27,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,192},{92,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,182},{72,54}}</string>
                <key>offset</key>
                <string>{11,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,170},{72,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,64},{16,108}}</string>
                <key>offset</key>
                <string>{-34,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,93},{16,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,82},{76,40}}</string>
                <key>offset</key>
                <string>{-8,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,138},{76,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,82},{68,64}}</string>
                <key>offset</key>
                <string>{56,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,167},{68,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{100,54}}</string>
                <key>offset</key>
                <string>{58,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,173},{100,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,188},{36,32}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,198},{36,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,206},{22,42}}</string>
                <key>offset</key>
                <string>{-21,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,176},{22,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,58},{50,100}}</string>
                <key>offset</key>
                <string>{-25,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,86},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{98,64}}</string>
                <key>offset</key>
                <string>{-28,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,120},{98,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,110},{108,38}}</string>
                <key>offset</key>
                <string>{74,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,206},{108,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{94,32}}</string>
                <key>offset</key>
                <string>{49,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,208},{94,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,160},{50,32}}</string>
                <key>offset</key>
                <string>{-29,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,192},{50,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,188},{54,44}}</string>
                <key>offset</key>
                <string>{-42,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,163},{54,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{76,86}}</string>
                <key>offset</key>
                <string>{-1,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,85},{76,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,80},{66,88}}</string>
                <key>offset</key>
                <string>{-31,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,99},{66,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{88,34}}</string>
                <key>offset</key>
                <string>{48,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,230},{88,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,170},{36,34}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,216},{36,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,84},{96,36}}</string>
                <key>offset</key>
                <string>{-40,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,177},{96,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,64},{86,66}}</string>
                <key>offset</key>
                <string>{-38,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,138},{86,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,148},{60,68}}</string>
                <key>offset</key>
                <string>{23,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,97},{60,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,168},{12,96}}</string>
                <key>offset</key>
                <string>{-18,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,87},{12,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,182},{20,44}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,236},{20,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,188},{52,32}}</string>
                <key>offset</key>
                <string>{-33,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,213},{52,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_013_4.png</string>
            <key>size</key>
            <string>{512,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4e41eaf5d41f47b9a75c8c048732984$</string>
            <key>textureFileName</key>
            <string>h_013_4.png</string>
        </dict>
    </dict>
</plist>
