<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_012_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{14,76}}</string>
                <key>offset</key>
                <string>{14,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,149},{14,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,86},{76,80}}</string>
                <key>offset</key>
                <string>{-8,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,141},{76,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{92,42}}</string>
                <key>offset</key>
                <string>{-26,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,194},{92,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,106},{56,18}}</string>
                <key>offset</key>
                <string>{37,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,217},{56,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{82,64}}</string>
                <key>offset</key>
                <string>{30,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,164},{82,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{30,94}}</string>
                <key>offset</key>
                <string>{3,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,134},{30,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,106},{24,54}}</string>
                <key>offset</key>
                <string>{22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,187},{24,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{98,28}}</string>
                <key>offset</key>
                <string>{76,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,233},{98,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{108,42}}</string>
                <key>offset</key>
                <string>{28,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,185},{108,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,98},{66,90}}</string>
                <key>offset</key>
                <string>{16,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,137},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,54},{64,50}}</string>
                <key>offset</key>
                <string>{55,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,202},{64,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,102},{96,56}}</string>
                <key>offset</key>
                <string>{75,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,246},{96,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,18},{74,34}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,202},{74,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{94,70}}</string>
                <key>offset</key>
                <string>{15,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,152},{94,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,32}}</string>
                <key>offset</key>
                <string>{57,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,233},{110,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,80},{56,76}}</string>
                <key>offset</key>
                <string>{31,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,254},{56,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,106},{14,44}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,196},{14,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{76,48}}</string>
                <key>offset</key>
                <string>{8,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,167},{76,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{90,50}}</string>
                <key>offset</key>
                <string>{26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,244},{90,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_012_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{56,76}}</string>
                <key>offset</key>
                <string>{-37,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,253},{56,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_012_7.png</string>
            <key>size</key>
            <string>{512,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b57e77d4e417af619ba74aba12702f60$</string>
            <key>textureFileName</key>
            <string>h_012_7.png</string>
        </dict>
    </dict>
</plist>
