<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_011_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,264},{124,88}}</string>
                <key>offset</key>
                <string>{23,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,160},{124,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{110,110}}</string>
                <key>offset</key>
                <string>{23,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,148},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{82,128}}</string>
                <key>offset</key>
                <string>{-13,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,110},{82,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,302},{36,30}}</string>
                <key>offset</key>
                <string>{15,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,142},{36,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,84},{42,98}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,152},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,114},{70,108}}</string>
                <key>offset</key>
                <string>{27,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,144},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,256},{124,50}}</string>
                <key>offset</key>
                <string>{12,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,184},{124,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{102,80}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,166},{102,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,140}}</string>
                <key>offset</key>
                <string>{-34,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,96},{32,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,304},{106,48}}</string>
                <key>offset</key>
                <string>{5,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,138},{106,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,128},{92,90}}</string>
                <key>offset</key>
                <string>{45,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,165},{92,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{128,80}}</string>
                <key>offset</key>
                <string>{40,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,169},{128,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,224},{64,30}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,198},{64,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,354},{46,60}}</string>
                <key>offset</key>
                <string>{-19,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,172},{46,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{74,130}}</string>
                <key>offset</key>
                <string>{-32,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,90},{74,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{126,84}}</string>
                <key>offset</key>
                <string>{-8,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,120},{126,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{138,56}}</string>
                <key>offset</key>
                <string>{54,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,198},{138,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,382},{124,42}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,200},{124,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,226},{68,28}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,193},{68,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,354},{66,64}}</string>
                <key>offset</key>
                <string>{-34,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,159},{66,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,114},{102,110}}</string>
                <key>offset</key>
                <string>{-16,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,89},{102,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,256},{88,112}}</string>
                <key>offset</key>
                <string>{-20,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,103},{88,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,390},{118,30}}</string>
                <key>offset</key>
                <string>{33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,232},{118,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,290},{62,30}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,219},{62,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,130},{124,50}}</string>
                <key>offset</key>
                <string>{-22,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,172},{124,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{110,88}}</string>
                <key>offset</key>
                <string>{-23,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,138},{110,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,220},{82,86}}</string>
                <key>offset</key>
                <string>{14,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,99},{82,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{36,124}}</string>
                <key>offset</key>
                <string>{-14,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,90},{36,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,256},{44,52}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,226},{44,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_011_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,226},{72,28}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,216},{72,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_011_4.png</string>
            <key>size</key>
            <string>{512,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334a08636f70b778c6c5aabcadbc359f$</string>
            <key>textureFileName</key>
            <string>h_011_4.png</string>
        </dict>
    </dict>
</plist>
