<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_013_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,62},{22,106}}</string>
                <key>offset</key>
                <string>{11,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,111},{22,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,88},{64,84}}</string>
                <key>offset</key>
                <string>{-8,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,118},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,152},{46,94}}</string>
                <key>offset</key>
                <string>{2,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,124},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,196},{14,58}}</string>
                <key>offset</key>
                <string>{13,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,163},{14,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,212},{30,34}}</string>
                <key>offset</key>
                <string>{22,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,200},{30,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,168},{26,60}}</string>
                <key>offset</key>
                <string>{22,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,163},{26,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{52,102}}</string>
                <key>offset</key>
                <string>{39,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,122},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{48,104}}</string>
                <key>offset</key>
                <string>{13,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,108},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,80},{36,98}}</string>
                <key>offset</key>
                <string>{29,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,127},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,118},{74,48}}</string>
                <key>offset</key>
                <string>{33,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,176},{74,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,162},{84,46}}</string>
                <key>offset</key>
                <string>{27,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,205},{84,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{92,44}}</string>
                <key>offset</key>
                <string>{40,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,184},{92,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,52},{86,80}}</string>
                <key>offset</key>
                <string>{45,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,148},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,56},{30,112}}</string>
                <key>offset</key>
                <string>{29,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,111},{30,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{86,80}}</string>
                <key>offset</key>
                <string>{42,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,148},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,134},{112,32}}</string>
                <key>offset</key>
                <string>{36,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,200},{112,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,70}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{98,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,214},{110,32}}</string>
                <key>offset</key>
                <string>{35,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,204},{110,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,88},{72,56}}</string>
                <key>offset</key>
                <string>{24,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,171},{72,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{58,104}}</string>
                <key>offset</key>
                <string>{30,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,124},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,156},{90,50}}</string>
                <key>offset</key>
                <string>{28,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,176},{90,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,154},{86,44}}</string>
                <key>offset</key>
                <string>{17,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,205},{86,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{54,90}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,190},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,162},{66,50}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,206},{66,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,168},{22,42}}</string>
                <key>offset</key>
                <string>{-10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,183},{22,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,86},{64,86}}</string>
                <key>offset</key>
                <string>{9,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,139},{64,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,168},{46,36}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,192},{46,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,196},{14,58}}</string>
                <key>offset</key>
                <string>{-13,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,199},{14,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,48},{30,92}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,183},{30,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,168},{26,56}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,201},{26,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_013_2.png</string>
            <key>size</key>
            <string>{512,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b70ab85d3ec6db4c22bdd5b3801fee7f$</string>
            <key>textureFileName</key>
            <string>h_013_2.png</string>
        </dict>
    </dict>
</plist>
