<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_013_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,46},{42,56}}</string>
                <key>offset</key>
                <string>{29,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,167},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{42,56}}</string>
                <key>offset</key>
                <string>{29,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,167},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,90},{44,52}}</string>
                <key>offset</key>
                <string>{29,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,171},{44,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,90},{44,52}}</string>
                <key>offset</key>
                <string>{29,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,170},{44,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{100,38}}</string>
                <key>offset</key>
                <string>{39,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,192},{100,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{100,38}}</string>
                <key>offset</key>
                <string>{39,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,192},{100,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,110},{102,36}}</string>
                <key>offset</key>
                <string>{39,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,195},{102,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{102,36}}</string>
                <key>offset</key>
                <string>{39,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,194},{102,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{106,38}}</string>
                <key>offset</key>
                <string>{26,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,203},{106,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{106,38}}</string>
                <key>offset</key>
                <string>{26,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,203},{106,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{106,38}}</string>
                <key>offset</key>
                <string>{26,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,205},{106,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,38}}</string>
                <key>offset</key>
                <string>{26,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,205},{106,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{52,56}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,200},{52,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,60},{50,56}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,200},{50,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,62},{50,58}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,200},{50,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{50,58}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,200},{50,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{42,56}}</string>
                <key>offset</key>
                <string>{-29,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,194},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,60},{42,56}}</string>
                <key>offset</key>
                <string>{-29,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,194},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{42,56}}</string>
                <key>offset</key>
                <string>{-29,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,195},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>h_013_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,104},{42,56}}</string>
                <key>offset</key>
                <string>{-29,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,195},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_013_0.png</string>
            <key>size</key>
            <string>{512,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e5a2b22041f97eb33d45a6b3e744f6f$</string>
            <key>textureFileName</key>
            <string>h_013_0.png</string>
        </dict>
    </dict>
</plist>
