<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_006_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,114},{34,100}}</string>
                <key>offset</key>
                <string>{30,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,116},{34,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,80},{14,102}}</string>
                <key>offset</key>
                <string>{13,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,126},{14,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,68},{12,44}}</string>
                <key>offset</key>
                <string>{0,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,115},{12,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,168},{24,54}}</string>
                <key>offset</key>
                <string>{-3,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,107},{24,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,114},{40,94}}</string>
                <key>offset</key>
                <string>{43,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,111},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,124},{26,82}}</string>
                <key>offset</key>
                <string>{26,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,117},{26,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,84},{28,94}}</string>
                <key>offset</key>
                <string>{18,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,129},{28,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{66,92}}</string>
                <key>offset</key>
                <string>{32,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,139},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,154},{62,56}}</string>
                <key>offset</key>
                <string>{-8,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,107},{62,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,84},{64,68}}</string>
                <key>offset</key>
                <string>{-4,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,98},{64,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,124},{30,86}}</string>
                <key>offset</key>
                <string>{37,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,130},{30,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,96},{26,82}}</string>
                <key>offset</key>
                <string>{12,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,124},{26,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,152},{14,92}}</string>
                <key>offset</key>
                <string>{-5,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,133},{14,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{94,64}}</string>
                <key>offset</key>
                <string>{33,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,166},{94,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,80}}</string>
                <key>offset</key>
                <string>{-12,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,91},{82,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{70,92}}</string>
                <key>offset</key>
                <string>{-3,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,83},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,196},{18,84}}</string>
                <key>offset</key>
                <string>{11,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,141},{18,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,124},{38,90}}</string>
                <key>offset</key>
                <string>{-8,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,121},{38,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,114},{22,96}}</string>
                <key>offset</key>
                <string>{-25,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,126},{22,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,124},{70,40}}</string>
                <key>offset</key>
                <string>{13,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,184},{70,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{52,102}}</string>
                <key>offset</key>
                <string>{-8,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,76},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{36,110}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,73},{36,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,84},{34,92}}</string>
                <key>offset</key>
                <string>{-23,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,135},{34,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,56},{38,102}}</string>
                <key>offset</key>
                <string>{-25,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,110},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,44},{34,104}}</string>
                <key>offset</key>
                <string>{-30,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,111},{34,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,68},{14,28}}</string>
                <key>offset</key>
                <string>{-13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,189},{14,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,70},{12,108}}</string>
                <key>offset</key>
                <string>{0,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,72},{12,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{24,110}}</string>
                <key>offset</key>
                <string>{2,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,74},{24,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{40,104}}</string>
                <key>offset</key>
                <string>{-43,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,116},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,96},{26,114}}</string>
                <key>offset</key>
                <string>{-26,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,93},{26,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_006_5.png</string>
            <key>size</key>
            <string>{512,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1cb6dff6f243e7528d77d71fa816b0a$</string>
            <key>textureFileName</key>
            <string>w_006_5.png</string>
        </dict>
    </dict>
</plist>
