<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_007_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,150},{26,94}}</string>
                <key>offset</key>
                <string>{16,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,134},{26,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{74,102}}</string>
                <key>offset</key>
                <string>{-7,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,127},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{94,50}}</string>
                <key>offset</key>
                <string>{-27,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,183},{94,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,122},{46,36}}</string>
                <key>offset</key>
                <string>{28,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,204},{46,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,74}}</string>
                <key>offset</key>
                <string>{31,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{96,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{24,118}}</string>
                <key>offset</key>
                <string>{4,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,117},{24,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,168},{12,68}}</string>
                <key>offset</key>
                <string>{25,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,173},{12,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,106},{108,14}}</string>
                <key>offset</key>
                <string>{75,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,235},{108,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,62},{114,42}}</string>
                <key>offset</key>
                <string>{27,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,184},{114,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{58,112}}</string>
                <key>offset</key>
                <string>{8,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,121},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{86,56}}</string>
                <key>offset</key>
                <string>{59,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,195},{86,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,108},{118,40}}</string>
                <key>offset</key>
                <string>{82,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,246},{118,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,140},{68,30}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,199},{68,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,88}}</string>
                <key>offset</key>
                <string>{10,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,137},{90,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,78},{124,28}}</string>
                <key>offset</key>
                <string>{61,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,235},{124,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,100},{66,70}}</string>
                <key>offset</key>
                <string>{39,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,254},{66,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,100},{26,32}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,195},{26,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,78},{74,60}}</string>
                <key>offset</key>
                <string>{8,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,155},{74,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,54},{94,44}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,240},{94,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,122},{46,74}}</string>
                <key>offset</key>
                <string>{-28,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,255},{46,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_007_7.png</string>
            <key>size</key>
            <string>{512,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ee42bd1291a5d1be7285a6fedeb75e$</string>
            <key>textureFileName</key>
            <string>w_007_7.png</string>
        </dict>
    </dict>
</plist>
