<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_006_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{24,82}}</string>
                <key>offset</key>
                <string>{19,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,147},{24,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{66,94}}</string>
                <key>offset</key>
                <string>{-5,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,130},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{86,42}}</string>
                <key>offset</key>
                <string>{-25,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,192},{86,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,72},{42,30}}</string>
                <key>offset</key>
                <string>{32,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,207},{42,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{90,64}}</string>
                <key>offset</key>
                <string>{35,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,166},{90,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{22,108}}</string>
                <key>offset</key>
                <string>{5,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,123},{22,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,88},{10,56}}</string>
                <key>offset</key>
                <string>{26,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,186},{10,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{102,12}}</string>
                <key>offset</key>
                <string>{79,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,235},{102,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,112},{106,32}}</string>
                <key>offset</key>
                <string>{30,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,192},{106,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{56,100}}</string>
                <key>offset</key>
                <string>{14,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,132},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{78,46}}</string>
                <key>offset</key>
                <string>{62,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,206},{78,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{108,36}}</string>
                <key>offset</key>
                <string>{79,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,252},{108,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,112},{62,28}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,200},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{84,76}}</string>
                <key>offset</key>
                <string>{15,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,149},{84,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,24}}</string>
                <key>offset</key>
                <string>{61,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,237},{116,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,90},{54,64}}</string>
                <key>offset</key>
                <string>{32,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,259},{54,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,88},{22,30}}</string>
                <key>offset</key>
                <string>{-19,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,196},{22,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,94},{66,50}}</string>
                <key>offset</key>
                <string>{6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,166},{66,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{86,40}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,245},{86,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_006_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{42,68}}</string>
                <key>offset</key>
                <string>{-32,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,256},{42,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_006_7.png</string>
            <key>size</key>
            <string>{512,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6440e52b8b479d3ebb4bf3f93af21b87$</string>
            <key>textureFileName</key>
            <string>w_006_7.png</string>
        </dict>
    </dict>
</plist>
