<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_005_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{48,52}}</string>
                <key>offset</key>
                <string>{35,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,169},{48,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,54},{48,50}}</string>
                <key>offset</key>
                <string>{35,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,171},{48,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,52},{50,48}}</string>
                <key>offset</key>
                <string>{35,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,173},{50,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{50,50}}</string>
                <key>offset</key>
                <string>{35,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,171},{50,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,28}}</string>
                <key>offset</key>
                <string>{42,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,196},{102,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{102,26}}</string>
                <key>offset</key>
                <string>{43,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,198},{102,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{102,26}}</string>
                <key>offset</key>
                <string>{42,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,200},{102,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{102,26}}</string>
                <key>offset</key>
                <string>{43,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,200},{102,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{96,44}}</string>
                <key>offset</key>
                <string>{26,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,207},{96,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{96,44}}</string>
                <key>offset</key>
                <string>{26,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,207},{96,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{96,46}}</string>
                <key>offset</key>
                <string>{25,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,207},{96,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{96,46}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,207},{96,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,100},{34,62}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,201},{34,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,100},{34,62}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,201},{34,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,106},{34,64}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,201},{34,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{34,64}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,201},{34,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,64},{48,60}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,194},{48,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{48,60}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,194},{48,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,66},{50,62}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,194},{50,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{50,62}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,194},{50,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_005_0.png</string>
            <key>size</key>
            <string>{512,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:586c0e29be91f2c08279d2a0427c396f$</string>
            <key>textureFileName</key>
            <string>w_005_0.png</string>
        </dict>
    </dict>
</plist>
