<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_0090_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,690},{94,120}}</string>
                <key>offset</key>
                <string>{39,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,101},{94,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,264},{50,190}}</string>
                <key>offset</key>
                <string>{9,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,29},{50,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{66,238}}</string>
                <key>offset</key>
                <string>{2,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,7},{66,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,416},{66,176}}</string>
                <key>offset</key>
                <string>{-2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,65},{66,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,214},{60,232}}</string>
                <key>offset</key>
                <string>{4,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,25},{60,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,222},{52,192}}</string>
                <key>offset</key>
                <string>{17,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,52},{52,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,132},{230,88}}</string>
                <key>offset</key>
                <string>{94,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,157},{230,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,342},{204,146}}</string>
                <key>offset</key>
                <string>{90,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,76},{204,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{138,234}}</string>
                <key>offset</key>
                <string>{52,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,19},{138,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,222},{102,220}}</string>
                <key>offset</key>
                <string>{-11,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,34},{102,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{128,236}}</string>
                <key>offset</key>
                <string>{27,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,22},{128,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,276},{206,150}}</string>
                <key>offset</key>
                <string>{76,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,95},{206,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,104},{232,158}}</string>
                <key>offset</key>
                <string>{90,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,173},{232,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{262,98}}</string>
                <key>offset</key>
                <string>{112,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,147},{262,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,618},{192,188}}</string>
                <key>offset</key>
                <string>{76,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,59},{192,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{100,250}}</string>
                <key>offset</key>
                <string>{-9,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,9},{100,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{188,204}}</string>
                <key>offset</key>
                <string>{44,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,44},{188,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,106}}</string>
                <key>offset</key>
                <string>{86,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,157},{266,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,326},{134,210}}</string>
                <key>offset</key>
                <string>{43,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,180},{134,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,462},{198,154}}</string>
                <key>offset</key>
                <string>{74,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,172},{198,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{184,128}}</string>
                <key>offset</key>
                <string>{59,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,112},{184,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,102},{110,240}}</string>
                <key>offset</key>
                <string>{-2,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,16},{110,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{168,146}}</string>
                <key>offset</key>
                <string>{32,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,86},{168,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{190,164}}</string>
                <key>offset</key>
                <string>{50,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,174},{190,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,456},{76,198}}</string>
                <key>offset</key>
                <string>{-37,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,173},{76,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,812},{70,164}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,179},{70,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,594},{90,94}}</string>
                <key>offset</key>
                <string>{13,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,135},{90,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,264},{76,216}}</string>
                <key>offset</key>
                <string>{10,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,33},{76,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,508},{76,114}}</string>
                <key>offset</key>
                <string>{11,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,106},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_0090_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,638},{72,160}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,180},{72,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_0090_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b31afb7601c8d16bef9def0698adfbe1$</string>
            <key>textureFileName</key>
            <string>w_0090_2.png</string>
        </dict>
    </dict>
</plist>
