<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_003_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,86},{22,68}}</string>
                <key>offset</key>
                <string>{18,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,156},{22,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{58,82}}</string>
                <key>offset</key>
                <string>{-3,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,141},{58,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,78},{74,32}}</string>
                <key>offset</key>
                <string>{-21,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,197},{74,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,80},{42,26}}</string>
                <key>offset</key>
                <string>{30,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,210},{42,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{82,50}}</string>
                <key>offset</key>
                <string>{29,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,173},{82,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{16,94}}</string>
                <key>offset</key>
                <string>{6,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,135},{16,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,90},{10,46}}</string>
                <key>offset</key>
                <string>{26,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,190},{10,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,98},{90,10}}</string>
                <key>offset</key>
                <string>{73,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,236},{90,10}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{94,24}}</string>
                <key>offset</key>
                <string>{23,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,198},{94,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{52,86}}</string>
                <key>offset</key>
                <string>{10,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,142},{52,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{70,34}}</string>
                <key>offset</key>
                <string>{57,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,212},{70,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{92,34}}</string>
                <key>offset</key>
                <string>{75,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,250},{92,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,86},{54,24}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,203},{54,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{76,64}}</string>
                <key>offset</key>
                <string>{9,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,156},{76,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,18}}</string>
                <key>offset</key>
                <string>{55,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,242},{102,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,44},{42,56}}</string>
                <key>offset</key>
                <string>{33,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,259},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,80},{22,26}}</string>
                <key>offset</key>
                <string>{-18,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,199},{22,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,40}}</string>
                <key>offset</key>
                <string>{3,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{58,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{74,38}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,245},{74,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{40,58}}</string>
                <key>offset</key>
                <string>{-30,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,258},{40,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_003_7.png</string>
            <key>size</key>
            <string>{512,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba4cdc1378bfd6211a98079201ab103b$</string>
            <key>textureFileName</key>
            <string>w_003_7.png</string>
        </dict>
    </dict>
</plist>
