<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_005_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{12,102}}</string>
                <key>offset</key>
                <string>{13,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,114},{12,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{12,96}}</string>
                <key>offset</key>
                <string>{13,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,123},{12,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,82},{14,72}}</string>
                <key>offset</key>
                <string>{16,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,149},{14,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{18,50}}</string>
                <key>offset</key>
                <string>{18,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,170},{18,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,102},{16,64}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,157},{16,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,98},{14,88}}</string>
                <key>offset</key>
                <string>{14,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,132},{14,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{64,94}}</string>
                <key>offset</key>
                <string>{41,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,127},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,100},{70,86}}</string>
                <key>offset</key>
                <string>{39,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,137},{70,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{78,58}}</string>
                <key>offset</key>
                <string>{37,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,165},{78,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,98},{84,34}}</string>
                <key>offset</key>
                <string>{32,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,187},{84,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,98},{82,48}}</string>
                <key>offset</key>
                <string>{34,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,175},{82,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,108},{74,78}}</string>
                <key>offset</key>
                <string>{39,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,146},{74,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{86,74}}</string>
                <key>offset</key>
                <string>{43,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,151},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{94,62}}</string>
                <key>offset</key>
                <string>{41,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,163},{94,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{104,28}}</string>
                <key>offset</key>
                <string>{35,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,194},{104,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,34}}</string>
                <key>offset</key>
                <string>{28,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,205},{106,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{106,26}}</string>
                <key>offset</key>
                <string>{31,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,204},{106,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{100,50}}</string>
                <key>offset</key>
                <string>{39,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,174},{100,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,120},{60,54}}</string>
                <key>offset</key>
                <string>{21,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,172},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,94},{66,38}}</string>
                <key>offset</key>
                <string>{19,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,185},{66,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{70,40}}</string>
                <key>offset</key>
                <string>{14,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,203},{70,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,98},{68,60}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,198},{68,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{68,50}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,200},{68,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,72},{66,28}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,198},{66,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,120},{12,42}}</string>
                <key>offset</key>
                <string>{-12,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,179},{12,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,38},{12,28}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,192},{12,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,22},{14,48}}</string>
                <key>offset</key>
                <string>{-16,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,199},{14,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,168},{18,68}}</string>
                <key>offset</key>
                <string>{-18,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,191},{18,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,74},{18,56}}</string>
                <key>offset</key>
                <string>{-18,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,196},{18,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,38},{12,28}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,202},{12,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_005_1.png</string>
            <key>size</key>
            <string>{512,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65b02a423dcdb2fbdc7d958ad5e49dc4$</string>
            <key>textureFileName</key>
            <string>w_005_1.png</string>
        </dict>
    </dict>
</plist>
