<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_004_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{10,94}}</string>
                <key>offset</key>
                <string>{14,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,124},{10,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{8,88}}</string>
                <key>offset</key>
                <string>{14,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,131},{8,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,98},{10,66}}</string>
                <key>offset</key>
                <string>{16,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,154},{10,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,148},{16,48}}</string>
                <key>offset</key>
                <string>{17,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,173},{16,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,90},{16,56}}</string>
                <key>offset</key>
                <string>{17,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,165},{16,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,88},{8,80}}</string>
                <key>offset</key>
                <string>{16,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,140},{8,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{60,86}}</string>
                <key>offset</key>
                <string>{40,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,136},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,98},{66,78}}</string>
                <key>offset</key>
                <string>{38,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,145},{66,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{76,54}}</string>
                <key>offset</key>
                <string>{34,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,169},{76,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,84},{80,36}}</string>
                <key>offset</key>
                <string>{28,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,189},{80,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{80,46}}</string>
                <key>offset</key>
                <string>{31,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,178},{80,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,80},{72,70}}</string>
                <key>offset</key>
                <string>{37,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,153},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{84,68}}</string>
                <key>offset</key>
                <string>{41,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,157},{84,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{90,56}}</string>
                <key>offset</key>
                <string>{39,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,168},{90,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{100,30}}</string>
                <key>offset</key>
                <string>{32,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,196},{100,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,30}}</string>
                <key>offset</key>
                <string>{23,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,206},{100,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{100,22}}</string>
                <key>offset</key>
                <string>{27,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,205},{100,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{96,46}}</string>
                <key>offset</key>
                <string>{35,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,178},{96,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,20},{58,48}}</string>
                <key>offset</key>
                <string>{19,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,178},{58,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,50},{62,38}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,188},{62,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,98},{66,34}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,205},{66,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,100},{64,56}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,198},{64,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,98},{64,44}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,202},{64,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{64,28}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{64,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,154},{10,40}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,183},{10,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,80},{8,30}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,194},{8,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,154},{10,42}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,200},{10,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,32},{16,64}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,191},{16,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{16,52}}</string>
                <key>offset</key>
                <string>{-17,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,196},{16,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_004_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,112},{8,24}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,203},{8,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_004_1.png</string>
            <key>size</key>
            <string>{512,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bb9f3c2b0803babd6d516a19bebb510$</string>
            <key>textureFileName</key>
            <string>w_004_1.png</string>
        </dict>
    </dict>
</plist>
