<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_002_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,106},{30,96}}</string>
                <key>offset</key>
                <string>{30,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,124},{30,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,106},{14,100}}</string>
                <key>offset</key>
                <string>{12,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,128},{14,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,86},{10,46}}</string>
                <key>offset</key>
                <string>{0,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,117},{10,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,178},{22,54}}</string>
                <key>offset</key>
                <string>{-2,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,111},{22,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{40,90}}</string>
                <key>offset</key>
                <string>{41,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,118},{40,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,180},{24,78}}</string>
                <key>offset</key>
                <string>{26,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,126},{24,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{26,92}}</string>
                <key>offset</key>
                <string>{18,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,132},{26,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{64,92}}</string>
                <key>offset</key>
                <string>{27,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,138},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,118},{64,54}}</string>
                <key>offset</key>
                <string>{-11,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,113},{64,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,68}}</string>
                <key>offset</key>
                <string>{-7,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,103},{66,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{28,84}}</string>
                <key>offset</key>
                <string>{37,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,133},{28,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,98},{30,78}}</string>
                <key>offset</key>
                <string>{9,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,132},{30,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,106},{14,94}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,131},{14,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,96},{90,68}}</string>
                <key>offset</key>
                <string>{24,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,158},{90,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{82,76}}</string>
                <key>offset</key>
                <string>{-15,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,99},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,92},{72,86}}</string>
                <key>offset</key>
                <string>{-7,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,95},{72,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,188},{18,84}}</string>
                <key>offset</key>
                <string>{9,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,140},{18,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{42,88}}</string>
                <key>offset</key>
                <string>{-13,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,126},{42,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,106},{22,96}}</string>
                <key>offset</key>
                <string>{-23,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,125},{22,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,72},{66,44}}</string>
                <key>offset</key>
                <string>{9,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,177},{66,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{54,96}}</string>
                <key>offset</key>
                <string>{-9,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,87},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{38,104}}</string>
                <key>offset</key>
                <string>{-3,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,85},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,106},{34,92}}</string>
                <key>offset</key>
                <string>{-21,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,134},{34,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{38,102}}</string>
                <key>offset</key>
                <string>{-24,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,112},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{32,102}}</string>
                <key>offset</key>
                <string>{-30,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,115},{32,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,98},{14,34}}</string>
                <key>offset</key>
                <string>{-12,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,183},{14,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{10,104}}</string>
                <key>offset</key>
                <string>{1,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,82},{10,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{22,106}}</string>
                <key>offset</key>
                <string>{2,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,84},{22,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{42,102}}</string>
                <key>offset</key>
                <string>{-41,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,119},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,110}}</string>
                <key>offset</key>
                <string>{-26,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,100},{24,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_002_5.png</string>
            <key>size</key>
            <string>{512,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6029083d5d9cfbf71fbcc8efa126e2dc$</string>
            <key>textureFileName</key>
            <string>w_002_5.png</string>
        </dict>
    </dict>
</plist>
