<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_007_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,98},{88,82}}</string>
                <key>offset</key>
                <string>{39,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,144},{88,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{78,98}}</string>
                <key>offset</key>
                <string>{36,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,131},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,64},{40,116}}</string>
                <key>offset</key>
                <string>{-16,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,90},{40,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,112},{50,32}}</string>
                <key>offset</key>
                <string>{5,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,140},{50,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,164},{12,88}}</string>
                <key>offset</key>
                <string>{10,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,137},{12,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,182},{70,90}}</string>
                <key>offset</key>
                <string>{40,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,133},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{112,50}}</string>
                <key>offset</key>
                <string>{36,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,176},{112,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,202},{96,70}}</string>
                <key>offset</key>
                <string>{21,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,156},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,44},{34,118}}</string>
                <key>offset</key>
                <string>{-23,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,81},{34,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,54},{106,42}}</string>
                <key>offset</key>
                <string>{-20,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,136},{106,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{88,72}}</string>
                <key>offset</key>
                <string>{65,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,159},{88,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{112,60}}</string>
                <key>offset</key>
                <string>{64,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,168},{112,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,164},{72,28}}</string>
                <key>offset</key>
                <string>{12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,200},{72,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,92},{60,48}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,172},{60,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,98}}</string>
                <key>offset</key>
                <string>{-13,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,86},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{106,70}}</string>
                <key>offset</key>
                <string>{-33,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,116},{106,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{120,40}}</string>
                <key>offset</key>
                <string>{80,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,204},{120,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,106},{92,32}}</string>
                <key>offset</key>
                <string>{50,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,207},{92,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,80},{18,30}}</string>
                <key>offset</key>
                <string>{-18,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,197},{18,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,92},{26,38}}</string>
                <key>offset</key>
                <string>{-32,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,171},{26,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,200},{82,72}}</string>
                <key>offset</key>
                <string>{3,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,97},{82,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,106},{46,94}}</string>
                <key>offset</key>
                <string>{-25,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,93},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,178},{84,30}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,236},{84,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,238},{22,30}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,220},{22,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,80},{90,30}}</string>
                <key>offset</key>
                <string>{-39,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{90,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,112},{80,50}}</string>
                <key>offset</key>
                <string>{-36,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,151},{80,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,142},{40,56}}</string>
                <key>offset</key>
                <string>{16,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,107},{40,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,106},{50,94}}</string>
                <key>offset</key>
                <string>{-5,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,88},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,262},{10,40}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,235},{10,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,142},{70,28}}</string>
                <key>offset</key>
                <string>{-40,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,214},{70,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_007_4.png</string>
            <key>size</key>
            <string>{512,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46d975bb83ec478c1eabfdca683c887b$</string>
            <key>textureFileName</key>
            <string>w_007_4.png</string>
        </dict>
    </dict>
</plist>
