<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_005_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,90},{82,72}}</string>
                <key>offset</key>
                <string>{37,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,153},{82,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{82,86}}</string>
                <key>offset</key>
                <string>{37,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,142},{82,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,100}}</string>
                <key>offset</key>
                <string>{-15,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,103},{32,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,178},{40,32}}</string>
                <key>offset</key>
                <string>{7,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,138},{40,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,64},{10,76}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,147},{10,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{60,78}}</string>
                <key>offset</key>
                <string>{39,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,143},{60,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{98,42}}</string>
                <key>offset</key>
                <string>{33,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,181},{98,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,90},{86,60}}</string>
                <key>offset</key>
                <string>{19,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,165},{86,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{28,102}}</string>
                <key>offset</key>
                <string>{-23,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,95},{28,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,102},{92,52}}</string>
                <key>offset</key>
                <string>{-15,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,127},{92,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{76,60}}</string>
                <key>offset</key>
                <string>{60,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,169},{76,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,108},{100,52}}</string>
                <key>offset</key>
                <string>{61,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,174},{100,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,150},{60,28}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,201},{60,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,96},{50,36}}</string>
                <key>offset</key>
                <string>{-9,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,179},{50,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,94},{68,88}}</string>
                <key>offset</key>
                <string>{-17,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,94},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{90,74}}</string>
                <key>offset</key>
                <string>{-27,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,111},{90,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,32}}</string>
                <key>offset</key>
                <string>{74,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,207},{104,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{80,28}}</string>
                <key>offset</key>
                <string>{48,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,208},{80,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,196},{18,32}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,198},{18,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,186},{32,30}}</string>
                <key>offset</key>
                <string>{-35,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,175},{32,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,76},{72,72}}</string>
                <key>offset</key>
                <string>{-2,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,96},{72,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,94},{36,90}}</string>
                <key>offset</key>
                <string>{-23,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,96},{36,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,178},{72,36}}</string>
                <key>offset</key>
                <string>{45,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,234},{72,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,196},{20,34}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,220},{20,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{82,24}}</string>
                <key>offset</key>
                <string>{-37,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,187},{82,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,174},{82,42}}</string>
                <key>offset</key>
                <string>{-38,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,157},{82,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,184},{32,64}}</string>
                <key>offset</key>
                <string>{15,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,99},{32,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{40,88}}</string>
                <key>offset</key>
                <string>{-6,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,92},{40,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,82},{12,46}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,236},{12,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,150},{60,26}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,218},{60,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_005_4.png</string>
            <key>size</key>
            <string>{512,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7faf4aab8f9476d25e191cf2c19f50e5$</string>
            <key>textureFileName</key>
            <string>w_005_4.png</string>
        </dict>
    </dict>
</plist>
