<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_009_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{26,106}}</string>
                <key>offset</key>
                <string>{17,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,139},{26,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{74,100}}</string>
                <key>offset</key>
                <string>{3,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,141},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,122},{92,64}}</string>
                <key>offset</key>
                <string>{-13,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,178},{92,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,92},{52,34}}</string>
                <key>offset</key>
                <string>{29,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,208},{52,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,118},{96,88}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,154},{96,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{40,118}}</string>
                <key>offset</key>
                <string>{1,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,134},{40,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,76},{14,84}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,170},{14,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{108,20}}</string>
                <key>offset</key>
                <string>{66,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,230},{108,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{114,56}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,174},{114,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{66,118}}</string>
                <key>offset</key>
                <string>{8,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,133},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{84,72}}</string>
                <key>offset</key>
                <string>{50,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,189},{84,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{122,40}}</string>
                <key>offset</key>
                <string>{65,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,246},{122,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,148},{66,42}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,189},{66,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{90,100}}</string>
                <key>offset</key>
                <string>{3,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,141},{90,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,48}}</string>
                <key>offset</key>
                <string>{45,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,221},{122,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,78},{80,68}}</string>
                <key>offset</key>
                <string>{35,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,248},{80,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,168},{28,40}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,190},{28,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,92},{74,76}}</string>
                <key>offset</key>
                <string>{-3,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{74,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,122},{92,50}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,238},{92,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_009_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,148},{54,74}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,245},{54,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_009_7.png</string>
            <key>size</key>
            <string>{512,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f04a02786ee52e8ade2b56c5b95db1a$</string>
            <key>textureFileName</key>
            <string>w_009_7.png</string>
        </dict>
    </dict>
</plist>
