<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_001_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,56},{52,38}}</string>
                <key>offset</key>
                <string>{33,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,181},{52,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{52,38}}</string>
                <key>offset</key>
                <string>{33,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,182},{52,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,56},{52,36}}</string>
                <key>offset</key>
                <string>{33,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,184},{52,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{52,36}}</string>
                <key>offset</key>
                <string>{33,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,184},{52,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{102,20}}</string>
                <key>offset</key>
                <string>{41,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,205},{102,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,20}}</string>
                <key>offset</key>
                <string>{41,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,205},{102,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{102,18}}</string>
                <key>offset</key>
                <string>{41,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,207},{102,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{102,18}}</string>
                <key>offset</key>
                <string>{42,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,207},{102,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{96,34}}</string>
                <key>offset</key>
                <string>{25,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,208},{96,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{94,36}}</string>
                <key>offset</key>
                <string>{25,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,207},{94,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{94,38}}</string>
                <key>offset</key>
                <string>{25,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,207},{94,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{94,38}}</string>
                <key>offset</key>
                <string>{25,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,207},{94,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,62},{36,56}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,199},{36,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,62},{36,56}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,199},{36,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{34,58}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,199},{34,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{34,58}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,199},{34,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,56},{52,52}}</string>
                <key>offset</key>
                <string>{-33,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,194},{52,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{52,52}}</string>
                <key>offset</key>
                <string>{-33,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,194},{52,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,58},{52,54}}</string>
                <key>offset</key>
                <string>{-33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,194},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_001_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{52,54}}</string>
                <key>offset</key>
                <string>{-33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,194},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_001_0.png</string>
            <key>size</key>
            <string>{512,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f55d3316ab8af99102b3840f897e348$</string>
            <key>textureFileName</key>
            <string>w_001_0.png</string>
        </dict>
    </dict>
</plist>
