<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_003_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,52},{48,38}}</string>
                <key>offset</key>
                <string>{34,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,179},{48,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{48,38}}</string>
                <key>offset</key>
                <string>{34,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,179},{48,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,52},{48,36}}</string>
                <key>offset</key>
                <string>{35,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,181},{48,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{48,36}}</string>
                <key>offset</key>
                <string>{35,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,181},{48,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,52},{96,20}}</string>
                <key>offset</key>
                <string>{43,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,204},{96,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,74},{96,20}}</string>
                <key>offset</key>
                <string>{43,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,204},{96,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,74},{96,18}}</string>
                <key>offset</key>
                <string>{43,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,207},{96,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,52},{96,20}}</string>
                <key>offset</key>
                <string>{43,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,205},{96,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{90,30}}</string>
                <key>offset</key>
                <string>{26,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,212},{90,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{90,30}}</string>
                <key>offset</key>
                <string>{26,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,212},{90,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,32}}</string>
                <key>offset</key>
                <string>{25,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,212},{90,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{88,32}}</string>
                <key>offset</key>
                <string>{26,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,212},{88,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,36},{32,48}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,205},{32,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,36},{32,48}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,205},{32,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{32,50}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,205},{32,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{32,50}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,205},{32,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{46,46}}</string>
                <key>offset</key>
                <string>{-34,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,198},{46,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{46,46}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,199},{46,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{48,48}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,198},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{48,48}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,198},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_003_0.png</string>
            <key>size</key>
            <string>{512,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ba48bad0ba85ae0f150dbcc60eaba0f$</string>
            <key>textureFileName</key>
            <string>w_003_0.png</string>
        </dict>
    </dict>
</plist>
