<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_005_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,60},{26,80}}</string>
                <key>offset</key>
                <string>{20,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,146},{26,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{62,88}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,136},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,106},{80,42}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,189},{80,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{56,30}}</string>
                <key>offset</key>
                <string>{34,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,206},{56,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{86,64}}</string>
                <key>offset</key>
                <string>{32,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,163},{86,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{22,102}}</string>
                <key>offset</key>
                <string>{5,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,128},{22,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,90},{12,58}}</string>
                <key>offset</key>
                <string>{25,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,181},{12,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{98,14}}</string>
                <key>offset</key>
                <string>{75,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,233},{98,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{100,32}}</string>
                <key>offset</key>
                <string>{24,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,189},{100,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{66,96}}</string>
                <key>offset</key>
                <string>{15,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,133},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,100},{74,46}}</string>
                <key>offset</key>
                <string>{58,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,203},{74,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{102,40}}</string>
                <key>offset</key>
                <string>{77,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,249},{102,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,110},{56,34}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,201},{56,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{82,76}}</string>
                <key>offset</key>
                <string>{11,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,146},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,28}}</string>
                <key>offset</key>
                <string>{57,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,238},{106,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,90},{56,60}}</string>
                <key>offset</key>
                <string>{36,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,258},{56,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{26,38}}</string>
                <key>offset</key>
                <string>{-20,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,196},{26,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,86},{62,52}}</string>
                <key>offset</key>
                <string>{5,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,161},{62,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{80,52}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,242},{80,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_005_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,92},{56,62}}</string>
                <key>offset</key>
                <string>{-34,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,258},{56,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_005_7.png</string>
            <key>size</key>
            <string>{512,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a1e6393fab9d57893613c48b5a7cbdd$</string>
            <key>textureFileName</key>
            <string>w_005_7.png</string>
        </dict>
    </dict>
</plist>
