<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_008_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,198},{10,132}}</string>
                <key>offset</key>
                <string>{15,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,112},{10,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,226},{60,110}}</string>
                <key>offset</key>
                <string>{1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,114},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,112},{36,122}}</string>
                <key>offset</key>
                <string>{9,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,121},{36,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,210},{12,84}}</string>
                <key>offset</key>
                <string>{16,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,153},{12,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,150},{46,34}}</string>
                <key>offset</key>
                <string>{22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,197},{46,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,296},{42,82}}</string>
                <key>offset</key>
                <string>{22,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,155},{42,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,102},{68,122}}</string>
                <key>offset</key>
                <string>{35,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,125},{68,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{48,128}}</string>
                <key>offset</key>
                <string>{18,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,109},{48,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,172},{52,122}}</string>
                <key>offset</key>
                <string>{28,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,127},{52,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,134},{100,68}}</string>
                <key>offset</key>
                <string>{26,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,167},{100,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,226},{112,48}}</string>
                <key>offset</key>
                <string>{17,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,200},{112,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,52},{118,58}}</string>
                <key>offset</key>
                <string>{29,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,174},{118,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{98,100}}</string>
                <key>offset</key>
                <string>{35,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,146},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,100},{32,134}}</string>
                <key>offset</key>
                <string>{30,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,115},{32,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,98}}</string>
                <key>offset</key>
                <string>{32,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,148},{104,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,62},{134,36}}</string>
                <key>offset</key>
                <string>{21,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,194},{134,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{120,80}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,186},{120,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,304},{128,34}}</string>
                <key>offset</key>
                <string>{20,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,203},{128,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,210},{72,76}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,164},{72,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{58,130}}</string>
                <key>offset</key>
                <string>{22,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,124},{58,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,204},{98,68}}</string>
                <key>offset</key>
                <string>{16,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,169},{98,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,210},{92,50}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,198},{92,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,226},{58,104}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,172},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,150},{66,54}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,199},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{10,64}}</string>
                <key>offset</key>
                <string>{-14,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,169},{10,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{62,114}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,134},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,288},{36,50}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,178},{36,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,218},{12,60}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,191},{12,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,150},{46,102}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,166},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_008_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,218},{42,56}}</string>
                <key>offset</key>
                <string>{-22,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,194},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_008_2.png</string>
            <key>size</key>
            <string>{512,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b8547c864ff2fa6f4632a979741b1dc$</string>
            <key>textureFileName</key>
            <string>w_008_2.png</string>
        </dict>
    </dict>
</plist>
