<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_003_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{32,88}}</string>
                <key>offset</key>
                <string>{30,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,127},{32,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{12,88}}</string>
                <key>offset</key>
                <string>{13,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,136},{12,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{10,44}}</string>
                <key>offset</key>
                <string>{0,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,118},{10,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,54},{20,52}}</string>
                <key>offset</key>
                <string>{-1,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,112},{20,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{40,82}}</string>
                <key>offset</key>
                <string>{41,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,122},{40,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,86},{24,74}}</string>
                <key>offset</key>
                <string>{26,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,126},{24,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{24,80}}</string>
                <key>offset</key>
                <string>{19,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,140},{24,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,92},{60,78}}</string>
                <key>offset</key>
                <string>{27,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,148},{60,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{50,52}}</string>
                <key>offset</key>
                <string>{-7,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,113},{50,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,102},{54,64}}</string>
                <key>offset</key>
                <string>{-4,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,105},{54,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,88},{26,72}}</string>
                <key>offset</key>
                <string>{38,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,141},{26,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,86},{20,72}}</string>
                <key>offset</key>
                <string>{13,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,134},{20,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,84},{10,76}}</string>
                <key>offset</key>
                <string>{-4,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,144},{10,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{84,52}}</string>
                <key>offset</key>
                <string>{27,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,171},{84,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{66,72}}</string>
                <key>offset</key>
                <string>{-10,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,100},{66,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{56,82}}</string>
                <key>offset</key>
                <string>{-2,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,95},{56,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,86},{12,70}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,150},{12,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,76},{30,78}}</string>
                <key>offset</key>
                <string>{-9,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,132},{30,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{22,82}}</string>
                <key>offset</key>
                <string>{-23,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,135},{22,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,92},{62,30}}</string>
                <key>offset</key>
                <string>{10,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,190},{62,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{44,92}}</string>
                <key>offset</key>
                <string>{-6,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,87},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,98}}</string>
                <key>offset</key>
                <string>{0,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,86},{28,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,76},{32,78}}</string>
                <key>offset</key>
                <string>{-20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,144},{32,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{34,88}}</string>
                <key>offset</key>
                <string>{-23,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,121},{34,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{32,90}}</string>
                <key>offset</key>
                <string>{-30,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,122},{32,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,48},{10,20}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,196},{10,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{10,98}}</string>
                <key>offset</key>
                <string>{0,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,83},{10,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{20,98}}</string>
                <key>offset</key>
                <string>{2,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,87},{20,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{40,88}}</string>
                <key>offset</key>
                <string>{-41,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,129},{40,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_003_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{24,98}}</string>
                <key>offset</key>
                <string>{-26,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,107},{24,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_003_5.png</string>
            <key>size</key>
            <string>{512,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd5d287a92a1ffa07aa15759d021746$</string>
            <key>textureFileName</key>
            <string>w_003_5.png</string>
        </dict>
    </dict>
</plist>
