<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_000_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,66},{64,48}}</string>
                <key>offset</key>
                <string>{32,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,173},{64,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,58}}</string>
                <key>offset</key>
                <string>{31,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,165},{62,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,36},{22,82}}</string>
                <key>offset</key>
                <string>{-11,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,117},{22,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,92},{32,18}}</string>
                <key>offset</key>
                <string>{10,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,150},{32,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,102},{8,50}}</string>
                <key>offset</key>
                <string>{10,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,169},{8,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,60},{48,54}}</string>
                <key>offset</key>
                <string>{35,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,163},{48,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,60},{78,24}}</string>
                <key>offset</key>
                <string>{27,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,196},{78,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{68,38}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,183},{68,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,94},{20,80}}</string>
                <key>offset</key>
                <string>{-26,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,112},{20,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,60},{68,32}}</string>
                <key>offset</key>
                <string>{-7,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,143},{68,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,60},{60,40}}</string>
                <key>offset</key>
                <string>{57,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,186},{60,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{80,32}}</string>
                <key>offset</key>
                <string>{55,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,191},{80,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,86},{50,16}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{50,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,66},{38,20}}</string>
                <key>offset</key>
                <string>{-13,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,192},{38,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{46,70}}</string>
                <key>offset</key>
                <string>{-25,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,108},{46,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{66,54}}</string>
                <key>offset</key>
                <string>{-19,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,127},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,42},{82,16}}</string>
                <key>offset</key>
                <string>{69,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,221},{82,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,58},{64,16}}</string>
                <key>offset</key>
                <string>{43,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,217},{64,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,92},{14,16}}</string>
                <key>offset</key>
                <string>{-18,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{14,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,30},{20,16}}</string>
                <key>offset</key>
                <string>{-30,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,187},{20,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{48,56}}</string>
                <key>offset</key>
                <string>{-10,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,109},{48,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{26,70}}</string>
                <key>offset</key>
                <string>{-19,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,111},{26,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,36},{58,20}}</string>
                <key>offset</key>
                <string>{41,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,237},{58,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,86},{14,18}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,222},{14,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,76},{64,14}}</string>
                <key>offset</key>
                <string>{-32,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,195},{64,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{62,28}}</string>
                <key>offset</key>
                <string>{-32,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,169},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,30},{22,44}}</string>
                <key>offset</key>
                <string>{11,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,116},{22,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{32,68}}</string>
                <key>offset</key>
                <string>{-9,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,108},{32,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,58},{6,28}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,238},{6,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_000_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,66},{48,16}}</string>
                <key>offset</key>
                <string>{-34,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,219},{48,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_000_4.png</string>
            <key>size</key>
            <string>{512,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eef2bdd94ac73d1cd77b638a81959b3$</string>
            <key>textureFileName</key>
            <string>w_000_4.png</string>
        </dict>
    </dict>
</plist>
