<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_007_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{58,62}}</string>
                <key>offset</key>
                <string>{37,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,161},{58,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,62},{58,60}}</string>
                <key>offset</key>
                <string>{37,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,163},{58,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{60,58}}</string>
                <key>offset</key>
                <string>{37,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,165},{60,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,110},{60,58}}</string>
                <key>offset</key>
                <string>{37,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,165},{60,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{118,36}}</string>
                <key>offset</key>
                <string>{50,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,193},{118,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,36}}</string>
                <key>offset</key>
                <string>{50,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,194},{118,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{118,32}}</string>
                <key>offset</key>
                <string>{50,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,198},{118,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{118,34}}</string>
                <key>offset</key>
                <string>{50,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,196},{118,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{112,36}}</string>
                <key>offset</key>
                <string>{32,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,208},{112,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{112,36}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,209},{112,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{110,38}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,208},{110,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{110,38}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,208},{110,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{44,54}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,201},{44,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,66},{42,56}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,200},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,122},{42,58}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,200},{42,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,122},{42,56}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{58,52}}</string>
                <key>offset</key>
                <string>{-36,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,195},{58,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,116},{58,52}}</string>
                <key>offset</key>
                <string>{-36,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,195},{58,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,114},{60,54}}</string>
                <key>offset</key>
                <string>{-37,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,194},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_007_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,114},{60,54}}</string>
                <key>offset</key>
                <string>{-37,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,194},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_007_0.png</string>
            <key>size</key>
            <string>{512,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56911bf1085525b416480b7b6ff24c06$</string>
            <key>textureFileName</key>
            <string>w_007_0.png</string>
        </dict>
    </dict>
</plist>
