<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_002_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{12,106}}</string>
                <key>offset</key>
                <string>{13,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,114},{12,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{8,100}}</string>
                <key>offset</key>
                <string>{14,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,121},{8,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,90},{10,76}}</string>
                <key>offset</key>
                <string>{16,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,145},{10,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,78},{16,52}}</string>
                <key>offset</key>
                <string>{17,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,167},{16,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,96},{14,66}}</string>
                <key>offset</key>
                <string>{17,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,155},{14,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,102},{8,92}}</string>
                <key>offset</key>
                <string>{15,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,130},{8,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{56,98}}</string>
                <key>offset</key>
                <string>{37,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,126},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,112},{64,90}}</string>
                <key>offset</key>
                <string>{36,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,135},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{80,62}}</string>
                <key>offset</key>
                <string>{34,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,160},{80,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{86,40}}</string>
                <key>offset</key>
                <string>{31,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,182},{86,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{84,50}}</string>
                <key>offset</key>
                <string>{32,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,171},{84,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,102},{72,82}}</string>
                <key>offset</key>
                <string>{35,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,143},{72,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{80,78}}</string>
                <key>offset</key>
                <string>{39,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,148},{80,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,112},{90,64}}</string>
                <key>offset</key>
                <string>{37,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,160},{90,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{108,34}}</string>
                <key>offset</key>
                <string>{32,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,189},{108,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{110,24}}</string>
                <key>offset</key>
                <string>{26,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,207},{110,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,24}}</string>
                <key>offset</key>
                <string>{28,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,200},{110,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{98,52}}</string>
                <key>offset</key>
                <string>{35,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,170},{98,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,96},{60,54}}</string>
                <key>offset</key>
                <string>{18,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,170},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,34},{66,42}}</string>
                <key>offset</key>
                <string>{16,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,181},{66,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,102},{72,26}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,207},{72,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,102},{70,48}}</string>
                <key>offset</key>
                <string>{6,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,199},{70,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{70,36}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,204},{70,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{68,30}}</string>
                <key>offset</key>
                <string>{15,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,194},{68,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,88},{12,44}}</string>
                <key>offset</key>
                <string>{-13,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,176},{12,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,152},{10,32}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,189},{10,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,164},{10,34}}</string>
                <key>offset</key>
                <string>{-15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,202},{10,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,84},{16,56}}</string>
                <key>offset</key>
                <string>{-17,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,193},{16,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,78},{14,44}}</string>
                <key>offset</key>
                <string>{-16,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,197},{14,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_002_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,102},{8,24}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,199},{8,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_002_1.png</string>
            <key>size</key>
            <string>{512,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ab153c6d7c626f4d9f2c7cb8b40986e$</string>
            <key>textureFileName</key>
            <string>w_002_1.png</string>
        </dict>
    </dict>
</plist>
