<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_015_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{24,158}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,112},{24,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,158},{22,146}}</string>
                <key>offset</key>
                <string>{14,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,121},{22,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,306},{24,102}}</string>
                <key>offset</key>
                <string>{16,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,148},{24,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,90},{30,66}}</string>
                <key>offset</key>
                <string>{15,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,169},{30,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,278},{28,88}}</string>
                <key>offset</key>
                <string>{16,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,157},{28,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{22,134}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,129},{22,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,158},{100,144}}</string>
                <key>offset</key>
                <string>{28,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,125},{100,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{112,128}}</string>
                <key>offset</key>
                <string>{24,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,136},{112,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,332},{128,80}}</string>
                <key>offset</key>
                <string>{16,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,164},{128,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,90},{132,44}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,184},{132,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,26},{132,62}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,174},{132,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,116},{122,112}}</string>
                <key>offset</key>
                <string>{21,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,145},{122,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,304},{138,108}}</string>
                <key>offset</key>
                <string>{25,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,149},{138,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{154,86}}</string>
                <key>offset</key>
                <string>{19,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,162},{154,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,40}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,190},{168,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{166,44}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,198},{166,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{166,42}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,195},{166,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,170},{160,66}}</string>
                <key>offset</key>
                <string>{15,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,173},{160,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,230},{98,70}}</string>
                <key>offset</key>
                <string>{6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,171},{98,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,230},{106,46}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,184},{106,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,300},{110,52}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,194},{110,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,136},{104,90}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,173},{104,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{106,70}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,184},{106,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,278},{106,44}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,191},{106,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,242},{22,52}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,180},{22,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,386},{22,42}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,188},{22,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,230},{22,68}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,182},{22,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,136},{28,104}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,161},{28,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{30,84}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,173},{30,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,368},{22,42}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,194},{22,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_015_1.png</string>
            <key>size</key>
            <string>{512,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5989fbde5755d80f0ce7a6436f3cfb3f$</string>
            <key>textureFileName</key>
            <string>w_015_1.png</string>
        </dict>
    </dict>
</plist>
