<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_010_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,52},{60,54}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,183},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,108},{60,52}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,185},{60,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,52},{62,50}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,185},{62,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,124},{62,50}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,185},{62,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,50},{124,24}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,202},{124,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,50},{124,26}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,201},{124,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,50},{124,24}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{124,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{124,26}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,202},{124,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,44}}</string>
                <key>offset</key>
                <string>{-17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,196},{118,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,46}}</string>
                <key>offset</key>
                <string>{-18,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,194},{118,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{116,48}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,193},{116,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{116,48}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,193},{116,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,126},{42,70}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,174},{42,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,118},{42,70}}</string>
                <key>offset</key>
                <string>{-21,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,174},{42,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,50},{40,72}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,173},{40,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,52},{42,72}}</string>
                <key>offset</key>
                <string>{-21,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,173},{42,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,114},{60,66}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,170},{60,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,52},{60,66}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,170},{60,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,52},{62,68}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,169},{62,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_010_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,48},{62,68}}</string>
                <key>offset</key>
                <string>{-12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,168},{62,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_010_0.png</string>
            <key>size</key>
            <string>{512,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9236c2c8d27d58a2b7cb66bca70611f3$</string>
            <key>textureFileName</key>
            <string>w_010_0.png</string>
        </dict>
    </dict>
</plist>
