<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_015_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,150},{42,118}}</string>
                <key>offset</key>
                <string>{14,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,144},{42,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{96,138}}</string>
                <key>offset</key>
                <string>{12,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,135},{96,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,92},{124,56}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,188},{124,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,270},{80,44}}</string>
                <key>offset</key>
                <string>{26,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,206},{80,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{142,88}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,163},{142,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,112},{34,156}}</string>
                <key>offset</key>
                <string>{6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,128},{34,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,64},{22,78}}</string>
                <key>offset</key>
                <string>{26,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,181},{22,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,300},{158,26}}</string>
                <key>offset</key>
                <string>{51,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,228},{158,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,212},{162,42}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,187},{162,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,144}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,133},{102,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{118,60}}</string>
                <key>offset</key>
                <string>{39,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,201},{118,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{156,62}}</string>
                <key>offset</key>
                <string>{52,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,231},{156,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{88,44}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,195},{88,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{136,108}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,147},{136,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,256},{168,42}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,231},{168,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,146},{74,98}}</string>
                <key>offset</key>
                <string>{27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,223},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,270},{40,48}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,188},{40,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,246},{96,70}}</string>
                <key>offset</key>
                <string>{-12,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,161},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,194},{124,74}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,224},{124,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,64},{80,96}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,225},{80,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_015_7.png</string>
            <key>size</key>
            <string>{512,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1a1049e359914076c60d897568d7707$</string>
            <key>textureFileName</key>
            <string>w_015_7.png</string>
        </dict>
    </dict>
</plist>
