<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_015_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,90},{76,68}}</string>
                <key>offset</key>
                <string>{21,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,169},{76,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,212},{78,66}}</string>
                <key>offset</key>
                <string>{20,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,171},{78,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,234},{78,62}}</string>
                <key>offset</key>
                <string>{20,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,173},{78,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,212},{78,64}}</string>
                <key>offset</key>
                <string>{21,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,171},{78,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,134},{160,40}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,193},{160,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,46},{160,42}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,192},{160,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{160,42}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,193},{160,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{160,42}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,193},{160,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{150,60}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,194},{150,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,60}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,194},{150,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,64}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,192},{150,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{148,64}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,192},{148,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,168},{54,94}}</string>
                <key>offset</key>
                <string>{-15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,173},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,168},{54,94}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,64},{52,98}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,172},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,134},{52,98}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,172},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,180},{76,88}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,170},{76,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,90},{76,88}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,170},{76,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,118},{78,92}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_015_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,118},{78,92}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_015_0.png</string>
            <key>size</key>
            <string>{512,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:699e9376165a4779bbe7d96bc1329109$</string>
            <key>textureFileName</key>
            <string>w_015_0.png</string>
        </dict>
    </dict>
</plist>
