<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_018_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{80,60}}</string>
                <key>offset</key>
                <string>{23,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,179},{80,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,180},{80,58}}</string>
                <key>offset</key>
                <string>{23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,181},{80,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,182},{82,56}}</string>
                <key>offset</key>
                <string>{23,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,181},{82,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,240},{82,56}}</string>
                <key>offset</key>
                <string>{23,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,181},{82,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,44},{150,40}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,198},{150,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,146},{150,40}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,198},{150,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,146},{150,38}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,201},{150,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{150,40}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,199},{150,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{142,66}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,187},{142,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,66}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,187},{142,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{140,70}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,184},{140,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,70}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,184},{142,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,128},{58,90}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,167},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,86},{58,92}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,166},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{56,94}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,165},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,86},{58,94}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,165},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,86},{82,88}}</string>
                <key>offset</key>
                <string>{-23,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,162},{82,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,220},{82,88}}</string>
                <key>offset</key>
                <string>{-23,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,162},{82,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,220},{82,90}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,162},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,128},{82,90}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,162},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_018_0.png</string>
            <key>size</key>
            <string>{512,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:845a09b9795d7c143b21f4fe13c661c5$</string>
            <key>textureFileName</key>
            <string>w_018_0.png</string>
        </dict>
    </dict>
</plist>
