<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_012_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,172},{24,130}}</string>
                <key>offset</key>
                <string>{14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,140},{24,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,94},{26,118}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,149},{26,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,262},{26,82}}</string>
                <key>offset</key>
                <string>{17,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,169},{26,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,186},{30,54}}</string>
                <key>offset</key>
                <string>{18,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,182},{30,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,224},{30,70}}</string>
                <key>offset</key>
                <string>{17,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,175},{30,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,76},{26,106}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,156},{26,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,116}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,153},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{90,102}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,162},{90,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,178},{108,64}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,180},{108,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,88},{112,34}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,193},{112,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,122},{112,48}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,188},{112,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{100,88}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,169},{100,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{112,84}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,173},{112,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{124,68}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,180},{124,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,234},{140,26}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,198},{140,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,198},{140,34}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,199},{140,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,160},{140,24}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,204},{140,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,124},{132,52}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,187},{132,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,92},{82,56}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,186},{82,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,186},{90,36}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,193},{90,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{94,42}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,194},{94,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{90,72}}</string>
                <key>offset</key>
                <string>{-18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,172},{90,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{92,54}}</string>
                <key>offset</key>
                <string>{-16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,185},{92,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,262},{92,26}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,200},{92,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,242},{24,42}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,190},{24,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,224},{26,24}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,197},{26,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,262},{26,54}}</string>
                <key>offset</key>
                <string>{-18,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,182},{26,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,160},{30,82}}</string>
                <key>offset</key>
                <string>{-17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,161},{30,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,256},{28,66}}</string>
                <key>offset</key>
                <string>{-17,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,173},{28,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,250},{24,26}}</string>
                <key>offset</key>
                <string>{-16,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,201},{24,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_012_1.png</string>
            <key>size</key>
            <string>{512,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1baa1b4b23f60bd1833e57d59d91f844$</string>
            <key>textureFileName</key>
            <string>w_012_1.png</string>
        </dict>
    </dict>
</plist>
