<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_014_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,122},{60,140}}</string>
                <key>offset</key>
                <string>{25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,127},{60,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,260},{20,136}}</string>
                <key>offset</key>
                <string>{13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,138},{20,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,260},{22,84}}</string>
                <key>offset</key>
                <string>{2,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,109},{22,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,374},{36,94}}</string>
                <key>offset</key>
                <string>{6,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,103},{36,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,136},{74,130}}</string>
                <key>offset</key>
                <string>{33,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,122},{74,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,244},{42,122}}</string>
                <key>offset</key>
                <string>{24,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,124},{42,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,132},{56,126}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,140},{56,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{102,118}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,151},{102,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,278},{78,94}}</string>
                <key>offset</key>
                <string>{7,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,107},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,132},{82,110}}</string>
                <key>offset</key>
                <string>{12,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,99},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,298},{58,112}}</string>
                <key>offset</key>
                <string>{31,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,142},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,260},{36,116}}</string>
                <key>offset</key>
                <string>{12,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,133},{36,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,104},{30,120}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,144},{30,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{138,80}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,170},{138,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{100,120}}</string>
                <key>offset</key>
                <string>{9,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,97},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,134}}</string>
                <key>offset</key>
                <string>{12,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,93},{88,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{32,108}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,152},{32,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,268},{48,124}}</string>
                <key>offset</key>
                <string>{-4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,131},{48,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,412},{38,126}}</string>
                <key>offset</key>
                <string>{-19,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,138},{38,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,160},{98,46}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,184},{98,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{66,148}}</string>
                <key>offset</key>
                <string>{6,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,86},{66,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,138},{44,158}}</string>
                <key>offset</key>
                <string>{6,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,84},{44,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,264},{52,120}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,146},{52,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,136},{52,140}}</string>
                <key>offset</key>
                <string>{-14,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,121},{52,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,70},{60,140}}</string>
                <key>offset</key>
                <string>{-24,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,123},{60,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,386},{20,36}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,187},{20,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,260},{22,158}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,82},{22,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,244},{36,158}}</string>
                <key>offset</key>
                <string>{-6,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,86},{36,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{74,138}}</string>
                <key>offset</key>
                <string>{-34,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,130},{74,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{42,156}}</string>
                <key>offset</key>
                <string>{-24,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,106},{42,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_014_5.png</string>
            <key>size</key>
            <string>{512,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5385dbd68bb6d41bdc9428fa01af556$</string>
            <key>textureFileName</key>
            <string>w_014_5.png</string>
        </dict>
    </dict>
</plist>
