<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_018_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{46,98}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,165},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,132}}</string>
                <key>offset</key>
                <string>{13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,140},{94,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,254},{118,50}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,195},{118,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,190},{82,48}}</string>
                <key>offset</key>
                <string>{19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,202},{82,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{134,76}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,176},{134,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,150},{38,144}}</string>
                <key>offset</key>
                <string>{8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,140},{38,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,240},{32,68}}</string>
                <key>offset</key>
                <string>{25,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,193},{32,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{146,34}}</string>
                <key>offset</key>
                <string>{46,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,222},{146,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,126},{152,42}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,191},{152,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{98,128}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,150},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,198},{116,54}}</string>
                <key>offset</key>
                <string>{39,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,209},{116,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{140,66}}</string>
                <key>offset</key>
                <string>{44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,229},{140,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,190},{92,54}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,188},{92,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{128,92}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,164},{128,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,80},{156,44}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,233},{156,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,132},{64,98}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,224},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,246},{48,62}}</string>
                <key>offset</key>
                <string>{-17,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,177},{48,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,252},{94,60}}</string>
                <key>offset</key>
                <string>{-12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,172},{94,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,70},{118,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,216},{118,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_018_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,170},{80,94}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,225},{80,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_018_7.png</string>
            <key>size</key>
            <string>{512,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f72c7c2ca4671674bf5288a435ed028$</string>
            <key>textureFileName</key>
            <string>w_018_7.png</string>
        </dict>
    </dict>
</plist>
