<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_016_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{52,132}}</string>
                <key>offset</key>
                <string>{24,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,137},{52,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,286},{34,130}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,145},{34,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,386},{30,70}}</string>
                <key>offset</key>
                <string>{-4,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,118},{30,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,206},{42,82}}</string>
                <key>offset</key>
                <string>{-1,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,112},{42,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{64,126}}</string>
                <key>offset</key>
                <string>{32,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,128},{64,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,372},{40,112}}</string>
                <key>offset</key>
                <string>{25,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,134},{40,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,136},{42,124}}</string>
                <key>offset</key>
                <string>{16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,144},{42,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{92,116}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,155},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,120},{86,84}}</string>
                <key>offset</key>
                <string>{5,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,113},{86,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{88,98}}</string>
                <key>offset</key>
                <string>{10,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,109},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,254},{46,114}}</string>
                <key>offset</key>
                <string>{33,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,142},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,254},{38,110}}</string>
                <key>offset</key>
                <string>{12,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,140},{38,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,126},{34,120}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,146},{34,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,270},{124,82}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,170},{124,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,144},{102,108}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,108},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{88,122}}</string>
                <key>offset</key>
                <string>{13,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,105},{88,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,294},{34,110}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,152},{34,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,262},{56,122}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,135},{56,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,126},{38,122}}</string>
                <key>offset</key>
                <string>{-22,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,143},{38,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,92},{98,50}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,181},{98,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{72,132}}</string>
                <key>offset</key>
                <string>{3,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,102},{72,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{54,140}}</string>
                <key>offset</key>
                <string>{1,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,103},{54,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,254},{52,116}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,151},{52,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,144},{56,134}}</string>
                <key>offset</key>
                <string>{-17,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,128},{56,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,280},{50,134}}</string>
                <key>offset</key>
                <string>{-24,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,130},{50,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,330},{34,40}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,181},{34,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,144},{30,140}}</string>
                <key>offset</key>
                <string>{4,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,100},{30,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{40,142}}</string>
                <key>offset</key>
                <string>{1,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,102},{40,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,136},{64,132}}</string>
                <key>offset</key>
                <string>{-32,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,137},{64,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,142}}</string>
                <key>offset</key>
                <string>{-24,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,121},{40,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_016_5.png</string>
            <key>size</key>
            <string>{512,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dce4c7bf89ba0c2fb5b01bda2d7264e$</string>
            <key>textureFileName</key>
            <string>w_016_5.png</string>
        </dict>
    </dict>
</plist>
