<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_017_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,200},{36,98}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,164},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{86,126}}</string>
                <key>offset</key>
                <string>{17,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,146},{86,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,60},{112,44}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,201},{112,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,176},{72,38}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,212},{72,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{126,70}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,181},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{28,142}}</string>
                <key>offset</key>
                <string>{11,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,143},{28,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,232},{12,60}}</string>
                <key>offset</key>
                <string>{27,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,199},{12,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,182},{142,16}}</string>
                <key>offset</key>
                <string>{43,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,235},{142,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,106},{146,36}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,196},{146,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,126}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,151},{90,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,144},{108,48}}</string>
                <key>offset</key>
                <string>{34,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,215},{108,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{140,56}}</string>
                <key>offset</key>
                <string>{44,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,230},{140,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,92},{82,48}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,193},{82,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{118,92}}</string>
                <key>offset</key>
                <string>{-16,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,163},{118,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,144},{154,36}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,239},{154,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,88}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,224},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,200},{36,52}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,185},{36,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,130},{86,54}}</string>
                <key>offset</key>
                <string>{-16,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,177},{86,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,74},{112,68}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,224},{112,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,144},{72,86}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,225},{72,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_017_7.png</string>
            <key>size</key>
            <string>{512,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:855b9640e6daae22c80d7807a9542331$</string>
            <key>textureFileName</key>
            <string>w_017_7.png</string>
        </dict>
    </dict>
</plist>
