<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_014_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,132},{74,62}}</string>
                <key>offset</key>
                <string>{20,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,175},{74,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,132},{74,62}}</string>
                <key>offset</key>
                <string>{19,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,175},{74,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,196},{76,58}}</string>
                <key>offset</key>
                <string>{19,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,177},{76,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,222},{76,58}}</string>
                <key>offset</key>
                <string>{19,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,177},{76,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,136},{154,34}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,195},{154,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,100},{154,34}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,195},{154,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,64},{154,34}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,197},{154,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{154,34}}</string>
                <key>offset</key>
                <string>{11,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,197},{154,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{144,60}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,190},{144,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,60}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,190},{144,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{144,62}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,190},{144,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,62}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,190},{144,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,132},{54,88}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,172},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,38},{54,90}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,171},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,38},{54,92}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,170},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,38},{52,92}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,170},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,172},{74,88}}</string>
                <key>offset</key>
                <string>{-19,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,164},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,172},{74,88}}</string>
                <key>offset</key>
                <string>{-19,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,164},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,192},{76,90}}</string>
                <key>offset</key>
                <string>{-19,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,163},{76,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_014_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{76,90}}</string>
                <key>offset</key>
                <string>{-19,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,163},{76,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_014_0.png</string>
            <key>size</key>
            <string>{512,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:660a03e3c45b9023543b165286dfab6a$</string>
            <key>textureFileName</key>
            <string>w_014_0.png</string>
        </dict>
    </dict>
</plist>
