<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_016_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{112,90}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,162},{112,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,44},{108,110}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,154},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{50,138}}</string>
                <key>offset</key>
                <string>{-12,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,119},{50,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,166},{64,38}}</string>
                <key>offset</key>
                <string>{14,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,136},{64,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,234},{30,94}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,158},{30,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,316},{88,102}}</string>
                <key>offset</key>
                <string>{22,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,152},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{134,54}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,180},{134,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{118,72}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,172},{118,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{46,140}}</string>
                <key>offset</key>
                <string>{-25,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,111},{46,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,278},{126,60}}</string>
                <key>offset</key>
                <string>{12,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,134},{126,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,154},{110,78}}</string>
                <key>offset</key>
                <string>{38,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,173},{110,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,142},{134,68}}</string>
                <key>offset</key>
                <string>{27,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,175},{134,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,266},{92,38}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,195},{92,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,116},{76,48}}</string>
                <key>offset</key>
                <string>{-20,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,176},{76,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{92,122}}</string>
                <key>offset</key>
                <string>{-34,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,106},{92,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,138},{122,98}}</string>
                <key>offset</key>
                <string>{-1,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,120},{122,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,42}}</string>
                <key>offset</key>
                <string>{39,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,203},{142,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,126},{114,40}}</string>
                <key>offset</key>
                <string>{22,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,202},{114,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,342},{30,38}}</string>
                <key>offset</key>
                <string>{-20,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,194},{30,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,116},{42,44}}</string>
                <key>offset</key>
                <string>{-32,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,167},{42,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,306},{92,100}}</string>
                <key>offset</key>
                <string>{-19,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,102},{92,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,262},{56,120}}</string>
                <key>offset</key>
                <string>{-18,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,110},{56,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,160},{104,40}}</string>
                <key>offset</key>
                <string>{24,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,229},{104,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,306},{34,38}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,217},{34,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{112,40}}</string>
                <key>offset</key>
                <string>{-11,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,177},{112,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,206},{108,62}}</string>
                <key>offset</key>
                <string>{-13,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,153},{108,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,34},{52,80}}</string>
                <key>offset</key>
                <string>{12,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,108},{52,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,262},{64,118}}</string>
                <key>offset</key>
                <string>{-14,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,105},{64,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{30,56}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,222},{30,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,266},{88,38}}</string>
                <key>offset</key>
                <string>{-21,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,209},{88,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_016_4.png</string>
            <key>size</key>
            <string>{512,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c09e8e2b4ef9a5f9985a5ea650ac01f1$</string>
            <key>textureFileName</key>
            <string>w_016_4.png</string>
        </dict>
    </dict>
</plist>
