<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_013_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,58},{112,88}}</string>
                <key>offset</key>
                <string>{11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,165},{112,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,258},{110,104}}</string>
                <key>offset</key>
                <string>{12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,160},{110,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{44,140}}</string>
                <key>offset</key>
                <string>{-7,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,117},{44,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{58,38}}</string>
                <key>offset</key>
                <string>{19,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,138},{58,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,124},{16,90}}</string>
                <key>offset</key>
                <string>{12,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,162},{16,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,210},{86,96}}</string>
                <key>offset</key>
                <string>{20,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,157},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{138,48}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,185},{138,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{120,70}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,175},{120,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{40,142}}</string>
                <key>offset</key>
                <string>{-29,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,109},{40,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{118,64}}</string>
                <key>offset</key>
                <string>{16,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,132},{118,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,258},{106,74}}</string>
                <key>offset</key>
                <string>{36,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,177},{106,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,144},{138,62}}</string>
                <key>offset</key>
                <string>{28,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,181},{138,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,308},{86,32}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,198},{86,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,178},{68,40}}</string>
                <key>offset</key>
                <string>{-24,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,183},{68,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,142},{86,122}}</string>
                <key>offset</key>
                <string>{-37,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,106},{86,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,142},{114,100}}</string>
                <key>offset</key>
                <string>{3,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,120},{114,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,36}}</string>
                <key>offset</key>
                <string>{40,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,208},{144,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,140},{114,30}}</string>
                <key>offset</key>
                <string>{21,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,207},{114,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,120},{30,36}}</string>
                <key>offset</key>
                <string>{-17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,195},{30,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,88},{42,32}}</string>
                <key>offset</key>
                <string>{-29,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,178},{42,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,266},{86,98}}</string>
                <key>offset</key>
                <string>{-22,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,105},{86,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{50,122}}</string>
                <key>offset</key>
                <string>{-13,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,109},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,152},{102,42}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,226},{102,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,88},{30,38}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,215},{30,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,148},{112,28}}</string>
                <key>offset</key>
                <string>{-10,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,188},{112,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{108,54}}</string>
                <key>offset</key>
                <string>{-12,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,161},{108,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,42},{44,82}}</string>
                <key>offset</key>
                <string>{7,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,108},{44,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{58,120}}</string>
                <key>offset</key>
                <string>{-19,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,104},{58,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,122},{16,58}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,220},{16,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_013_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,178},{88,30}}</string>
                <key>offset</key>
                <string>{-20,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,216},{88,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_013_4.png</string>
            <key>size</key>
            <string>{512,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:811447a33bea0658e9924f55c5c769cf$</string>
            <key>textureFileName</key>
            <string>w_013_4.png</string>
        </dict>
    </dict>
</plist>
