<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_011_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,56},{12,128}}</string>
                <key>offset</key>
                <string>{14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,142},{12,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,104},{12,118}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,149},{12,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,156},{16,82}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,170},{16,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{22,52}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,185},{22,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,188},{22,68}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,178},{22,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,172},{14,108}}</string>
                <key>offset</key>
                <string>{15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,155},{14,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{80,116}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,153},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,72},{90,104}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,160},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{106,64}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,181},{106,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,90},{110,32}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,196},{110,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{110,48}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,190},{110,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,72},{98,90}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,168},{98,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,86}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,172},{112,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{124,68}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,181},{124,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,130},{138,24}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,200},{138,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,68},{138,34}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,197},{138,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,104},{138,24}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,203},{138,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{132,52}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,189},{132,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,70},{80,54}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,189},{80,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,156},{88,34}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,197},{88,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,188},{92,40}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,193},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,156},{88,72}}</string>
                <key>offset</key>
                <string>{-20,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,171},{88,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,202},{88,54}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,183},{88,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,230},{90,24}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,201},{90,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,156},{12,40}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,193},{12,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,70},{12,24}}</string>
                <key>offset</key>
                <string>{-14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,198},{12,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,240},{16,54}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,180},{16,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,178},{22,84}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,159},{22,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,230},{24,66}}</string>
                <key>offset</key>
                <string>{-13,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,171},{24,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_011_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,230},{14,24}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,201},{14,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_011_1.png</string>
            <key>size</key>
            <string>{512,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fb021c1b0c04945e353a2351e7a5191$</string>
            <key>textureFileName</key>
            <string>w_011_1.png</string>
        </dict>
    </dict>
</plist>
