<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_019_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{90,64}}</string>
                <key>offset</key>
                <string>{42,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,158},{90,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,80}}</string>
                <key>offset</key>
                <string>{41,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,145},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,46},{30,114}}</string>
                <key>offset</key>
                <string>{-14,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,88},{30,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,160},{44,30}}</string>
                <key>offset</key>
                <string>{5,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,145},{44,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,150},{8,68}}</string>
                <key>offset</key>
                <string>{10,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,152},{8,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,68},{68,74}}</string>
                <key>offset</key>
                <string>{42,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,145},{68,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,58},{110,34}}</string>
                <key>offset</key>
                <string>{40,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,191},{110,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,68},{96,50}}</string>
                <key>offset</key>
                <string>{25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,172},{96,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,30},{26,112}}</string>
                <key>offset</key>
                <string>{-23,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,83},{26,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,120},{94,46}}</string>
                <key>offset</key>
                <string>{-18,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,132},{94,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,94},{84,54}}</string>
                <key>offset</key>
                <string>{66,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,173},{84,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{110,42}}</string>
                <key>offset</key>
                <string>{68,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,182},{110,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,144},{68,30}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,197},{68,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,160},{52,30}}</string>
                <key>offset</key>
                <string>{-7,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,189},{52,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{64,98}}</string>
                <key>offset</key>
                <string>{-18,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,83},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{90,76}}</string>
                <key>offset</key>
                <string>{-29,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,107},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{116,26}}</string>
                <key>offset</key>
                <string>{82,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,217},{116,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,84},{90,28}}</string>
                <key>offset</key>
                <string>{53,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,211},{90,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,190},{18,28}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,195},{18,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,176},{28,24}}</string>
                <key>offset</key>
                <string>{-33,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,184},{28,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,78},{64,78}}</string>
                <key>offset</key>
                <string>{-3,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,89},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{36,98}}</string>
                <key>offset</key>
                <string>{-23,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,86},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,144},{82,30}}</string>
                <key>offset</key>
                <string>{50,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,232},{82,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,160},{20,28}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,217},{20,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,94},{90,26}}</string>
                <key>offset</key>
                <string>{-42,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,189},{90,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,78},{86,38}}</string>
                <key>offset</key>
                <string>{-42,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,160},{86,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,144},{28,62}}</string>
                <key>offset</key>
                <string>{14,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,100},{28,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,168},{44,96}}</string>
                <key>offset</key>
                <string>{-4,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,82},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,166},{8,42}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,234},{8,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,176},{66,28}}</string>
                <key>offset</key>
                <string>{-42,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,213},{66,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_019_4.png</string>
            <key>size</key>
            <string>{512,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0785583a135d4391c4c43085a62f7c7$</string>
            <key>textureFileName</key>
            <string>w_019_4.png</string>
        </dict>
    </dict>
</plist>
