<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_019_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{10,106}}</string>
                <key>offset</key>
                <string>{14,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,108},{10,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{8,98}}</string>
                <key>offset</key>
                <string>{14,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,118},{8,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,168},{12,66}}</string>
                <key>offset</key>
                <string>{16,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,152},{12,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,70},{18,42}}</string>
                <key>offset</key>
                <string>{18,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,178},{18,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,120},{16,56}}</string>
                <key>offset</key>
                <string>{18,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,163},{16,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,96},{8,88}}</string>
                <key>offset</key>
                <string>{15,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,130},{8,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,114},{66,96}}</string>
                <key>offset</key>
                <string>{43,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,123},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,106},{74,84}}</string>
                <key>offset</key>
                <string>{43,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,137},{74,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{88,50}}</string>
                <key>offset</key>
                <string>{42,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,171},{88,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{92,28}}</string>
                <key>offset</key>
                <string>{38,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,198},{92,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{92,40}}</string>
                <key>offset</key>
                <string>{41,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,184},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,96},{82,72}}</string>
                <key>offset</key>
                <string>{43,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,149},{82,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{92,68}}</string>
                <key>offset</key>
                <string>{48,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,155},{92,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{102,54}}</string>
                <key>offset</key>
                <string>{48,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,168},{102,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{116,28}}</string>
                <key>offset</key>
                <string>{43,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,199},{116,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,30}}</string>
                <key>offset</key>
                <string>{35,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,201},{116,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{116,28}}</string>
                <key>offset</key>
                <string>{39,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,201},{116,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{110,42}}</string>
                <key>offset</key>
                <string>{46,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,182},{110,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,88},{66,44}}</string>
                <key>offset</key>
                <string>{25,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,181},{66,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,38},{72,30}}</string>
                <key>offset</key>
                <string>{24,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,197},{72,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{78,34}}</string>
                <key>offset</key>
                <string>{19,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,201},{78,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{72,56}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,200},{72,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,106},{74,44}}</string>
                <key>offset</key>
                <string>{14,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,201},{74,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,106},{74,28}}</string>
                <key>offset</key>
                <string>{21,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,200},{74,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,132},{10,34}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,190},{10,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,96},{8,28}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,197},{8,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,88},{10,42}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,199},{10,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{16,66}}</string>
                <key>offset</key>
                <string>{-18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,194},{16,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,70},{16,52}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,197},{16,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,156},{10,28}}</string>
                <key>offset</key>
                <string>{-15,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,198},{10,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_019_1.png</string>
            <key>size</key>
            <string>{512,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd2a19d3da1ced95aeb4286068e31b53$</string>
            <key>textureFileName</key>
            <string>w_019_1.png</string>
        </dict>
    </dict>
</plist>
