<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_016_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,234},{40,104}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,159},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{92,124}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,148},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,118},{114,58}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,187},{114,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,60},{66,48}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,201},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,128},{120,80}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,171},{120,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,140}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,145},{38,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,250},{30,72}}</string>
                <key>offset</key>
                <string>{23,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,188},{30,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{130,34}}</string>
                <key>offset</key>
                <string>{38,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,221},{130,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,142},{138,42}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,186},{138,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,150},{84,128}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,150},{84,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{106,56}}</string>
                <key>offset</key>
                <string>{33,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,207},{106,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{138,58}}</string>
                <key>offset</key>
                <string>{42,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,231},{138,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,224},{86,38}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,197},{86,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{114,98}}</string>
                <key>offset</key>
                <string>{-19,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,158},{114,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,40}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,230},{146,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,130},{68,88}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,225},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,234},{40,44}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,188},{40,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,60},{92,68}}</string>
                <key>offset</key>
                <string>{-14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,164},{92,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,118},{114,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,226},{114,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_016_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,130},{66,92}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,225},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_016_7.png</string>
            <key>size</key>
            <string>{512,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ac1f46d4705a3d34f996d6a04dd50ad$</string>
            <key>textureFileName</key>
            <string>w_016_7.png</string>
        </dict>
    </dict>
</plist>
