<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_019_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{26,76}}</string>
                <key>offset</key>
                <string>{21,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,148},{26,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{66,94}}</string>
                <key>offset</key>
                <string>{-7,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,128},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{86,36}}</string>
                <key>offset</key>
                <string>{-27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,196},{86,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,94},{50,30}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,206},{50,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{96,54}}</string>
                <key>offset</key>
                <string>{38,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,170},{96,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{22,108}}</string>
                <key>offset</key>
                <string>{7,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,120},{22,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,34},{8,48}}</string>
                <key>offset</key>
                <string>{27,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,189},{8,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{108,12}}</string>
                <key>offset</key>
                <string>{83,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,235},{108,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{112,28}}</string>
                <key>offset</key>
                <string>{32,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,199},{112,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{64,98}}</string>
                <key>offset</key>
                <string>{16,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,129},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{82,38}}</string>
                <key>offset</key>
                <string>{63,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,212},{82,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{106,42}}</string>
                <key>offset</key>
                <string>{82,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,249},{106,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{62,30}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,196},{62,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{90,70}}</string>
                <key>offset</key>
                <string>{17,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,150},{90,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,28}}</string>
                <key>offset</key>
                <string>{65,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,236},{116,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,34},{46,68}}</string>
                <key>offset</key>
                <string>{33,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,258},{46,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,112},{26,32}}</string>
                <key>offset</key>
                <string>{-20,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,194},{26,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,102},{66,42}}</string>
                <key>offset</key>
                <string>{7,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,169},{66,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,100},{86,46}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,243},{86,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_019_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,94},{48,66}}</string>
                <key>offset</key>
                <string>{-33,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,259},{48,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_019_7.png</string>
            <key>size</key>
            <string>{512,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c6a56338d75a29ffb341dddd6e5f95a$</string>
            <key>textureFileName</key>
            <string>w_019_7.png</string>
        </dict>
    </dict>
</plist>
