<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_017_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,110},{70,54}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,184},{70,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,146},{72,52}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,186},{72,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,182},{72,50}}</string>
                <key>offset</key>
                <string>{18,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,187},{72,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,148},{72,50}}</string>
                <key>offset</key>
                <string>{18,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,187},{72,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,74},{146,34}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,202},{146,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{146,34}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,202},{146,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,38},{146,34}}</string>
                <key>offset</key>
                <string>{7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,204},{146,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{146,34}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,203},{146,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,58}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,193},{138,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{136,58}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,194},{136,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{136,60}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,193},{136,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{136,60}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,192},{136,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,62},{48,84}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,174},{48,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,126},{48,86}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,173},{48,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,110},{46,88}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,172},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,76},{48,88}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,172},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,158},{70,80}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,170},{70,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,176},{72,80}}</string>
                <key>offset</key>
                <string>{-18,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,170},{72,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,62},{72,82}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,169},{72,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{72,82}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,169},{72,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_017_0.png</string>
            <key>size</key>
            <string>{512,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b01c54d0ca78c9b228b308b3216ccb3$</string>
            <key>textureFileName</key>
            <string>w_017_0.png</string>
        </dict>
    </dict>
</plist>
