<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_012_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,126},{48,122}}</string>
                <key>offset</key>
                <string>{22,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,145},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,124},{24,120}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,154},{24,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,272},{26,68}}</string>
                <key>offset</key>
                <string>{-1,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,121},{26,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,278},{36,80}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,116},{36,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,124},{60,116}}</string>
                <key>offset</key>
                <string>{29,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,137},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{36,108}}</string>
                <key>offset</key>
                <string>{21,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,138},{36,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,114},{38,110}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,156},{38,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{90,104}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,166},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,206},{70,80}}</string>
                <key>offset</key>
                <string>{11,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,118},{70,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,246},{72,94}}</string>
                <key>offset</key>
                <string>{17,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,114},{72,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,122},{42,100}}</string>
                <key>offset</key>
                <string>{31,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,155},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,94},{26,102}}</string>
                <key>offset</key>
                <string>{13,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,147},{26,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,112},{24,106}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,159},{24,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{122,72}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,179},{122,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,250},{90,104}}</string>
                <key>offset</key>
                <string>{15,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,112},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{78,120}}</string>
                <key>offset</key>
                <string>{18,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,108},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,242},{24,96}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,164},{24,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{42,110}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,146},{42,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{38,112}}</string>
                <key>offset</key>
                <string>{-20,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,152},{38,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,166},{88,38}}</string>
                <key>offset</key>
                <string>{-13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,191},{88,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,140},{64,130}}</string>
                <key>offset</key>
                <string>{8,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,104},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,142},{42,136}}</string>
                <key>offset</key>
                <string>{7,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,106},{42,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,226},{52,106}}</string>
                <key>offset</key>
                <string>{-12,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,160},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{54,122}}</string>
                <key>offset</key>
                <string>{-15,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,139},{54,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{48,124}}</string>
                <key>offset</key>
                <string>{-21,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,140},{48,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,316},{24,26}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,192},{24,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{26,138}}</string>
                <key>offset</key>
                <string>{1,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,102},{26,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,138}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,106},{36,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,126},{60,122}}</string>
                <key>offset</key>
                <string>{-28,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,146},{60,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_012_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{38,136}}</string>
                <key>offset</key>
                <string>{-21,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,127},{38,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_012_5.png</string>
            <key>size</key>
            <string>{512,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef987c5d3f8608e172f8c457b14c8bff$</string>
            <key>textureFileName</key>
            <string>w_012_5.png</string>
        </dict>
    </dict>
</plist>
