<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_017_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,210},{14,140}}</string>
                <key>offset</key>
                <string>{14,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,130},{14,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,226},{12,128}}</string>
                <key>offset</key>
                <string>{15,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,139},{12,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,188},{18,86}}</string>
                <key>offset</key>
                <string>{15,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,165},{18,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,284},{26,52}}</string>
                <key>offset</key>
                <string>{13,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,184},{26,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,252},{24,70}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,175},{24,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,240},{16,116}}</string>
                <key>offset</key>
                <string>{15,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,147},{16,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,126}}</string>
                <key>offset</key>
                <string>{23,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,143},{90,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{98,110}}</string>
                <key>offset</key>
                <string>{18,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,154},{98,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,106},{116,64}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,180},{116,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,172},{122,36}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,195},{122,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,98},{122,50}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,188},{122,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{106,94}}</string>
                <key>offset</key>
                <string>{15,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,164},{106,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{122,90}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,167},{122,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,114},{136,70}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,178},{136,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,114},{154,34}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,199},{154,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{152,48}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,196},{152,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,98},{154,36}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,203},{154,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,52},{144,52}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,188},{144,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{86,54}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,188},{86,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,258},{96,38}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,195},{96,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{102,54}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,193},{102,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,106},{94,80}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,174},{94,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,234},{96,64}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,185},{96,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,278},{98,36}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,201},{98,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,298},{12,42}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,192},{12,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,284},{12,36}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,197},{12,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,234},{18,64}}</string>
                <key>offset</key>
                <string>{-14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,182},{18,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,258},{24,92}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,162},{24,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,208},{24,76}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,173},{24,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_017_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,298},{16,40}}</string>
                <key>offset</key>
                <string>{-15,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,198},{16,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_017_1.png</string>
            <key>size</key>
            <string>{512,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf570d86ff5da64d2a8d0dbb2c55d68e$</string>
            <key>textureFileName</key>
            <string>w_017_1.png</string>
        </dict>
    </dict>
</plist>
