<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_028_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,146},{116,84}}</string>
                <key>offset</key>
                <string>{43,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,155},{116,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,146},{116,82}}</string>
                <key>offset</key>
                <string>{43,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,157},{116,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,146},{118,80}}</string>
                <key>offset</key>
                <string>{43,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,159},{118,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,146},{116,82}}</string>
                <key>offset</key>
                <string>{43,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,156},{116,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,44}}</string>
                <key>offset</key>
                <string>{40,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,197},{148,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,44}}</string>
                <key>offset</key>
                <string>{40,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,197},{148,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,44}}</string>
                <key>offset</key>
                <string>{40,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,198},{148,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{148,44}}</string>
                <key>offset</key>
                <string>{40,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,197},{148,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,66},{96,76}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,193},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,66},{96,78}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,192},{96,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{96,80}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,191},{96,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,66},{96,78}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,192},{96,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,146},{24,88}}</string>
                <key>offset</key>
                <string>{-23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,184},{24,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,146},{26,90}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,183},{26,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,146},{26,90}}</string>
                <key>offset</key>
                <string>{-23,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,184},{26,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,146},{26,90}}</string>
                <key>offset</key>
                <string>{-23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,183},{26,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{116,62}}</string>
                <key>offset</key>
                <string>{-43,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,185},{116,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,66},{116,64}}</string>
                <key>offset</key>
                <string>{-43,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,185},{116,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,66},{118,64}}</string>
                <key>offset</key>
                <string>{-43,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,185},{118,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{116,64}}</string>
                <key>offset</key>
                <string>{-43,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,185},{116,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_028_0.png</string>
            <key>size</key>
            <string>{720,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abffdcbb02de41fc5f063113b4ebfb1f:1/1$</string>
            <key>textureFileName</key>
            <string>w_028_0.png</string>
        </dict>
    </dict>
</plist>
