<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_025_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,120},{56,48}}</string>
                <key>offset</key>
                <string>{36,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,179},{56,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,120},{56,48}}</string>
                <key>offset</key>
                <string>{36,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,179},{56,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,120},{58,48}}</string>
                <key>offset</key>
                <string>{35,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,180},{58,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{58,48}}</string>
                <key>offset</key>
                <string>{35,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,180},{58,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{116,44}}</string>
                <key>offset</key>
                <string>{44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,193},{116,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{116,44}}</string>
                <key>offset</key>
                <string>{44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,193},{116,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{116,44}}</string>
                <key>offset</key>
                <string>{44,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,194},{116,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,44}}</string>
                <key>offset</key>
                <string>{45,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,194},{116,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{108,44}}</string>
                <key>offset</key>
                <string>{27,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,201},{108,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{108,44}}</string>
                <key>offset</key>
                <string>{27,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,202},{108,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{108,46}}</string>
                <key>offset</key>
                <string>{27,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,202},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{108,46}}</string>
                <key>offset</key>
                <string>{27,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,202},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,108},{38,62}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,198},{38,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,42},{38,64}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,197},{38,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,42},{38,66}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,197},{38,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{38,66}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,197},{38,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,42},{56,60}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,191},{56,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,112},{56,60}}</string>
                <key>offset</key>
                <string>{-35,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,192},{56,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,112},{58,62}}</string>
                <key>offset</key>
                <string>{-36,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,192},{58,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,112},{58,62}}</string>
                <key>offset</key>
                <string>{-36,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,191},{58,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_025_0.png</string>
            <key>size</key>
            <string>{512,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5013f95823165cee7033a5c13010a5c1$</string>
            <key>textureFileName</key>
            <string>w_025_0.png</string>
        </dict>
    </dict>
</plist>
