<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_026_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,100},{54,48}}</string>
                <key>offset</key>
                <string>{34,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,174},{54,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,62},{54,48}}</string>
                <key>offset</key>
                <string>{34,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,174},{54,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,104},{54,46}}</string>
                <key>offset</key>
                <string>{35,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,177},{54,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,104},{54,46}}</string>
                <key>offset</key>
                <string>{35,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,177},{54,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,70},{108,32}}</string>
                <key>offset</key>
                <string>{43,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,199},{108,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,36},{108,32}}</string>
                <key>offset</key>
                <string>{43,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,199},{108,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{108,32}}</string>
                <key>offset</key>
                <string>{43,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,200},{108,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{108,32}}</string>
                <key>offset</key>
                <string>{43,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,200},{108,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{102,44}}</string>
                <key>offset</key>
                <string>{26,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,205},{102,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{102,44}}</string>
                <key>offset</key>
                <string>{26,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,206},{102,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,46}}</string>
                <key>offset</key>
                <string>{25,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,206},{102,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{100,44}}</string>
                <key>offset</key>
                <string>{26,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,207},{100,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,104},{38,62}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{38,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,64},{38,62}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{38,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,62},{36,64}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,201},{36,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,64},{38,64}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{38,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{54,58}}</string>
                <key>offset</key>
                <string>{-34,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,196},{54,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{54,58}}</string>
                <key>offset</key>
                <string>{-34,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,196},{54,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{54,60}}</string>
                <key>offset</key>
                <string>{-34,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,196},{54,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{54,60}}</string>
                <key>offset</key>
                <string>{-34,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,195},{54,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_026_0.png</string>
            <key>size</key>
            <string>{512,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83ca422f1235e61809bb4a7bb99dcd0d$</string>
            <key>textureFileName</key>
            <string>w_026_0.png</string>
        </dict>
    </dict>
</plist>
