<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_029_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{74,152}}</string>
                <key>offset</key>
                <string>{39,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,86},{74,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,374},{24,152}}</string>
                <key>offset</key>
                <string>{14,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,99},{24,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,440},{14,96}}</string>
                <key>offset</key>
                <string>{-1,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,80},{14,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,440},{34,108}}</string>
                <key>offset</key>
                <string>{-5,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,71},{34,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,102},{86,142}}</string>
                <key>offset</key>
                <string>{51,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,84},{86,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,280},{54,128}}</string>
                <key>offset</key>
                <string>{33,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,89},{54,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,302},{62,140}}</string>
                <key>offset</key>
                <string>{28,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,104},{62,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,136}}</string>
                <key>offset</key>
                <string>{38,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,117},{112,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,444},{90,104}}</string>
                <key>offset</key>
                <string>{-9,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,76},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,156},{94,122}}</string>
                <key>offset</key>
                <string>{-5,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,64},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,246},{66,126}}</string>
                <key>offset</key>
                <string>{47,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,109},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,280},{48,124}}</string>
                <key>offset</key>
                <string>{16,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,99},{48,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,410},{22,136}}</string>
                <key>offset</key>
                <string>{-3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,110},{22,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{148,98}}</string>
                <key>offset</key>
                <string>{38,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,147},{148,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{118,126}}</string>
                <key>offset</key>
                <string>{-11,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,63},{118,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{104,144}}</string>
                <key>offset</key>
                <string>{-4,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,52},{104,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,374},{24,124}}</string>
                <key>offset</key>
                <string>{10,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,120},{24,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,302},{60,138}}</string>
                <key>offset</key>
                <string>{-9,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,94},{60,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,140},{44,144}}</string>
                <key>offset</key>
                <string>{-28,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,100},{44,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,442},{106,60}}</string>
                <key>offset</key>
                <string>{17,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,172},{106,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{76,158}}</string>
                <key>offset</key>
                <string>{-7,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,42},{76,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,80},{54,168}}</string>
                <key>offset</key>
                <string>{0,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,39},{54,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,302},{58,136}}</string>
                <key>offset</key>
                <string>{-25,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,113},{58,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,286},{58,156}}</string>
                <key>offset</key>
                <string>{-26,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,80},{58,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,136},{72,156}}</string>
                <key>offset</key>
                <string>{-39,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,83},{72,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,500},{24,42}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,183},{24,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,374},{14,168}}</string>
                <key>offset</key>
                <string>{2,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,36},{14,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,210},{34,172}}</string>
                <key>offset</key>
                <string>{4,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,38},{34,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{86,156}}</string>
                <key>offset</key>
                <string>{-51,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,88},{86,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,246},{54,172}}</string>
                <key>offset</key>
                <string>{-33,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,61},{54,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_029_5.png</string>
            <key>size</key>
            <string>{512,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:148f7d767346ec7de5ba89751e9139aa$</string>
            <key>textureFileName</key>
            <string>w_029_5.png</string>
        </dict>
    </dict>
</plist>
