<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_021_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,88},{56,42}}</string>
                <key>offset</key>
                <string>{37,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,179},{56,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,90},{56,42}}</string>
                <key>offset</key>
                <string>{37,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,179},{56,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,86},{56,40}}</string>
                <key>offset</key>
                <string>{37,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,182},{56,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,92},{56,40}}</string>
                <key>offset</key>
                <string>{37,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,181},{56,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,68},{112,24}}</string>
                <key>offset</key>
                <string>{48,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,203},{112,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{114,26}}</string>
                <key>offset</key>
                <string>{48,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,202},{114,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,42},{112,24}}</string>
                <key>offset</key>
                <string>{48,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,204},{112,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{112,24}}</string>
                <key>offset</key>
                <string>{48,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,204},{112,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,38}}</string>
                <key>offset</key>
                <string>{31,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,206},{106,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,38}}</string>
                <key>offset</key>
                <string>{31,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,207},{104,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{104,40}}</string>
                <key>offset</key>
                <string>{30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,207},{104,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{104,40}}</string>
                <key>offset</key>
                <string>{31,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,207},{104,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,64},{40,60}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{40,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{40,60}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,202},{40,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,94},{38,62}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,202},{38,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,94},{38,62}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,202},{38,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,28},{56,56}}</string>
                <key>offset</key>
                <string>{-37,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,196},{56,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,28},{56,58}}</string>
                <key>offset</key>
                <string>{-37,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,195},{56,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,30},{58,60}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,195},{58,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,30},{56,58}}</string>
                <key>offset</key>
                <string>{-36,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,196},{56,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_021_0.png</string>
            <key>size</key>
            <string>{512,135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9f5c951925f4143efb254ca5b67773$</string>
            <key>textureFileName</key>
            <string>w_021_0.png</string>
        </dict>
    </dict>
</plist>
