<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_024_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,110},{28,78}}</string>
                <key>offset</key>
                <string>{21,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,147},{28,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{64,94}}</string>
                <key>offset</key>
                <string>{-6,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,129},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,68},{84,40}}</string>
                <key>offset</key>
                <string>{-26,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,192},{84,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,116},{54,30}}</string>
                <key>offset</key>
                <string>{35,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,206},{54,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{96,60}}</string>
                <key>offset</key>
                <string>{36,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,165},{96,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,46},{26,106}}</string>
                <key>offset</key>
                <string>{6,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,123},{26,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,144},{12,54}}</string>
                <key>offset</key>
                <string>{25,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,184},{12,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,74},{108,16}}</string>
                <key>offset</key>
                <string>{81,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,231},{108,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,78},{110,34}}</string>
                <key>offset</key>
                <string>{30,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,193},{110,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,98}}</string>
                <key>offset</key>
                <string>{17,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,130},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{80,44}}</string>
                <key>offset</key>
                <string>{63,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,206},{80,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{106,42}}</string>
                <key>offset</key>
                <string>{81,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,250},{106,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,84},{62,36}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,196},{62,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{90,74}}</string>
                <key>offset</key>
                <string>{16,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,147},{90,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,114},{114,30}}</string>
                <key>offset</key>
                <string>{63,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,236},{114,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,92},{50,66}}</string>
                <key>offset</key>
                <string>{35,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,258},{50,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,116},{28,38}}</string>
                <key>offset</key>
                <string>{-20,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,194},{28,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,92},{64,48}}</string>
                <key>offset</key>
                <string>{7,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,164},{64,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,64},{84,50}}</string>
                <key>offset</key>
                <string>{26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,244},{84,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{54,66}}</string>
                <key>offset</key>
                <string>{-35,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,258},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_024_7.png</string>
            <key>size</key>
            <string>{512,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adcf1dcb920b12725e19bae596e9b19d$</string>
            <key>textureFileName</key>
            <string>w_024_7.png</string>
        </dict>
    </dict>
</plist>
