<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_025_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,100},{92,68}}</string>
                <key>offset</key>
                <string>{40,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,159},{92,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{90,86}}</string>
                <key>offset</key>
                <string>{38,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,145},{90,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{32,118}}</string>
                <key>offset</key>
                <string>{-13,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,90},{32,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,220},{46,46}}</string>
                <key>offset</key>
                <string>{6,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,136},{46,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,106},{10,74}}</string>
                <key>offset</key>
                <string>{11,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,152},{10,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,196},{70,78}}</string>
                <key>offset</key>
                <string>{40,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,146},{70,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,120},{114,44}}</string>
                <key>offset</key>
                <string>{36,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,187},{114,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{100,54}}</string>
                <key>offset</key>
                <string>{22,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,173},{100,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,124},{28,118}}</string>
                <key>offset</key>
                <string>{-24,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,83},{28,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,118},{98,50}}</string>
                <key>offset</key>
                <string>{-15,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,133},{98,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,44},{88,58}}</string>
                <key>offset</key>
                <string>{63,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,174},{88,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{116,48}}</string>
                <key>offset</key>
                <string>{64,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,181},{116,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,190},{70,46}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,190},{70,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,174},{54,44}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,182},{54,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{68,102}}</string>
                <key>offset</key>
                <string>{-21,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,84},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{96,80}}</string>
                <key>offset</key>
                <string>{-26,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,109},{96,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,42}}</string>
                <key>offset</key>
                <string>{79,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,208},{120,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,100},{94,46}}</string>
                <key>offset</key>
                <string>{50,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,201},{94,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,244},{18,46}}</string>
                <key>offset</key>
                <string>{-19,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,186},{18,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,236},{32,38}}</string>
                <key>offset</key>
                <string>{-32,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,176},{32,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,104},{68,82}}</string>
                <key>offset</key>
                <string>{-5,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,90},{68,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{38,102}}</string>
                <key>offset</key>
                <string>{-22,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,88},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,104},{84,44}}</string>
                <key>offset</key>
                <string>{48,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,225},{84,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{20,46}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,209},{20,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{92,40}}</string>
                <key>offset</key>
                <string>{-39,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,182},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{90,40}}</string>
                <key>offset</key>
                <string>{-38,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,161},{90,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,94},{30,66}}</string>
                <key>offset</key>
                <string>{13,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,100},{30,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,220},{46,100}}</string>
                <key>offset</key>
                <string>{-5,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,84},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,220},{10,48}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,229},{10,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,194},{70,46}}</string>
                <key>offset</key>
                <string>{-41,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,204},{70,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_025_4.png</string>
            <key>size</key>
            <string>{512,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f20a0a35fb94b3b038902691b042c070$</string>
            <key>textureFileName</key>
            <string>w_025_4.png</string>
        </dict>
    </dict>
</plist>
