<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_029_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,50},{14,170}}</string>
                <key>offset</key>
                <string>{13,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,73},{14,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,276},{78,144}}</string>
                <key>offset</key>
                <string>{-11,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,76},{78,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,152},{46,156}}</string>
                <key>offset</key>
                <string>{2,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,87},{46,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,200},{18,102}}</string>
                <key>offset</key>
                <string>{16,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,139},{18,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{60,50}}</string>
                <key>offset</key>
                <string>{29,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,196},{60,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,360},{54,100}}</string>
                <key>offset</key>
                <string>{28,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,142},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,144},{92,156}}</string>
                <key>offset</key>
                <string>{47,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,91},{92,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{56,166}}</string>
                <key>offset</key>
                <string>{15,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,66},{56,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,74},{68,154}}</string>
                <key>offset</key>
                <string>{37,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,95},{68,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,448},{130,80}}</string>
                <key>offset</key>
                <string>{44,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,159},{130,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,200},{146,74}}</string>
                <key>offset</key>
                <string>{35,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,198},{146,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{154,70}}</string>
                <key>offset</key>
                <string>{51,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{154,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{130,120}}</string>
                <key>offset</key>
                <string>{52,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,127},{130,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,176}}</string>
                <key>offset</key>
                <string>{36,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,70},{50,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,310},{134,120}}</string>
                <key>offset</key>
                <string>{50,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,129},{134,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{174,46}}</string>
                <key>offset</key>
                <string>{46,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,194},{174,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{150,112}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,186},{150,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{168,52}}</string>
                <key>offset</key>
                <string>{43,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,201},{168,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,356},{92,90}}</string>
                <key>offset</key>
                <string>{28,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,154},{92,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,66},{84,166}}</string>
                <key>offset</key>
                <string>{35,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,87},{84,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,448},{126,82}}</string>
                <key>offset</key>
                <string>{35,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,160},{126,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,310},{118,74}}</string>
                <key>offset</key>
                <string>{21,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,198},{118,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,238},{70,136}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,174},{70,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,448},{84,82}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,197},{84,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,66},{14,76}}</string>
                <key>offset</key>
                <string>{-13,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,163},{14,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{78,142}}</string>
                <key>offset</key>
                <string>{12,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,107},{78,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,360},{46,58}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,175},{46,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,200},{16,88}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,190},{16,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,430},{60,134}}</string>
                <key>offset</key>
                <string>{-29,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,169},{60,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_029_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,432},{54,82}}</string>
                <key>offset</key>
                <string>{-28,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,193},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_029_2.png</string>
            <key>size</key>
            <string>{512,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9b2d778f86616b0d0d4393ff212c585$</string>
            <key>textureFileName</key>
            <string>w_029_2.png</string>
        </dict>
    </dict>
</plist>
