<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_025_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{46,106}}</string>
                <key>offset</key>
                <string>{27,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,114},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{22,104}}</string>
                <key>offset</key>
                <string>{14,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,125},{22,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{12,58}}</string>
                <key>offset</key>
                <string>{0,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,110},{12,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,234},{24,68}}</string>
                <key>offset</key>
                <string>{-2,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,101},{24,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,106},{52,98}}</string>
                <key>offset</key>
                <string>{42,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,111},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,96},{32,92}}</string>
                <key>offset</key>
                <string>{25,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,113},{32,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{44,94}}</string>
                <key>offset</key>
                <string>{15,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,130},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{76,92}}</string>
                <key>offset</key>
                <string>{31,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,140},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,188},{60,68}}</string>
                <key>offset</key>
                <string>{-7,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,103},{60,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,194},{62,82}}</string>
                <key>offset</key>
                <string>{-3,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,93},{62,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,50},{42,86}}</string>
                <key>offset</key>
                <string>{34,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,132},{42,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,206},{46,88}}</string>
                <key>offset</key>
                <string>{14,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,122},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{18,92}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,134},{18,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{106,60}}</string>
                <key>offset</key>
                <string>{31,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,169},{106,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,96},{78,90}}</string>
                <key>offset</key>
                <string>{-10,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,87},{78,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{66,102}}</string>
                <key>offset</key>
                <string>{-1,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,80},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,94},{20,82}}</string>
                <key>offset</key>
                <string>{12,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,144},{20,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,98},{38,94}}</string>
                <key>offset</key>
                <string>{-5,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,120},{38,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,106},{26,96}}</string>
                <key>offset</key>
                <string>{-24,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,127},{26,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{74,46}}</string>
                <key>offset</key>
                <string>{12,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,185},{74,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,120},{52,112}}</string>
                <key>offset</key>
                <string>{-7,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,72},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,124},{34,118}}</string>
                <key>offset</key>
                <string>{1,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,72},{34,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,96},{40,92}}</string>
                <key>offset</key>
                <string>{-22,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,136},{40,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,218},{40,104}}</string>
                <key>offset</key>
                <string>{-25,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,110},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,110},{46,106}}</string>
                <key>offset</key>
                <string>{-28,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,111},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{22,42}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,185},{22,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{12,120}}</string>
                <key>offset</key>
                <string>{-1,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,67},{12,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,120}}</string>
                <key>offset</key>
                <string>{2,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,71},{24,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,110},{52,104}}</string>
                <key>offset</key>
                <string>{-42,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,118},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{34,116}}</string>
                <key>offset</key>
                <string>{-25,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,94},{34,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_025_5.png</string>
            <key>size</key>
            <string>{512,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b62224575b10c2837cc66b6351da0a34$</string>
            <key>textureFileName</key>
            <string>w_025_5.png</string>
        </dict>
    </dict>
</plist>
