<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_021_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{90,66}}</string>
                <key>offset</key>
                <string>{43,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,157},{90,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,82}}</string>
                <key>offset</key>
                <string>{42,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,143},{86,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,48},{30,114}}</string>
                <key>offset</key>
                <string>{-14,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,88},{30,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,140},{46,28}}</string>
                <key>offset</key>
                <string>{5,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,145},{46,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,142},{14,70}}</string>
                <key>offset</key>
                <string>{11,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,151},{14,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,142},{68,74}}</string>
                <key>offset</key>
                <string>{43,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,145},{68,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{112,34}}</string>
                <key>offset</key>
                <string>{40,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,190},{112,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,38},{96,50}}</string>
                <key>offset</key>
                <string>{25,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,173},{96,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,108},{28,114}}</string>
                <key>offset</key>
                <string>{-23,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,82},{28,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,116},{94,46}}</string>
                <key>offset</key>
                <string>{-18,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,131},{94,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,164},{86,54}}</string>
                <key>offset</key>
                <string>{66,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,174},{86,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{112,44}}</string>
                <key>offset</key>
                <string>{68,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,181},{112,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,142},{70,26}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,200},{70,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,138},{52,30}}</string>
                <key>offset</key>
                <string>{-7,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,187},{52,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{64,100}}</string>
                <key>offset</key>
                <string>{-17,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,81},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{92,76}}</string>
                <key>offset</key>
                <string>{-30,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,107},{92,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,80},{118,26}}</string>
                <key>offset</key>
                <string>{83,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,216},{118,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,90},{90,26}}</string>
                <key>offset</key>
                <string>{54,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,211},{90,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,192},{20,26}}</string>
                <key>offset</key>
                <string>{-19,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,197},{20,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,192},{26,24}}</string>
                <key>offset</key>
                <string>{-33,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,183},{26,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,138},{66,78}}</string>
                <key>offset</key>
                <string>{-3,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,88},{66,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{38,98}}</string>
                <key>offset</key>
                <string>{-23,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,86},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,138},{80,30}}</string>
                <key>offset</key>
                <string>{51,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,233},{80,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,110},{22,28}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,218},{22,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,118},{90,22}}</string>
                <key>offset</key>
                <string>{-43,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,191},{90,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,70},{86,38}}</string>
                <key>offset</key>
                <string>{-42,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,160},{86,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,138},{30,62}}</string>
                <key>offset</key>
                <string>{14,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,100},{30,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,68},{46,96}}</string>
                <key>offset</key>
                <string>{-5,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,82},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,70},{14,40}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,236},{14,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,110},{68,26}}</string>
                <key>offset</key>
                <string>{-43,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,214},{68,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_021_4.png</string>
            <key>size</key>
            <string>{512,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a427e43a3bac371fb52bda4589a67eca$</string>
            <key>textureFileName</key>
            <string>w_021_4.png</string>
        </dict>
    </dict>
</plist>
