<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_023_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,116},{12,106}}</string>
                <key>offset</key>
                <string>{14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,109},{12,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,94}}</string>
                <key>offset</key>
                <string>{-6,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,108},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{32,96}}</string>
                <key>offset</key>
                <string>{5,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,120},{32,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,210},{10,56}}</string>
                <key>offset</key>
                <string>{16,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,164},{10,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{40,32}}</string>
                <key>offset</key>
                <string>{27,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,200},{40,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,186},{36,56}}</string>
                <key>offset</key>
                <string>{26,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,165},{36,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,112},{58,96}}</string>
                <key>offset</key>
                <string>{41,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,125},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{32,110}}</string>
                <key>offset</key>
                <string>{17,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,101},{32,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,112},{44,94}}</string>
                <key>offset</key>
                <string>{33,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,128},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,90},{84,46}}</string>
                <key>offset</key>
                <string>{39,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,181},{84,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{92,34}}</string>
                <key>offset</key>
                <string>{31,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,207},{92,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,116},{100,40}}</string>
                <key>offset</key>
                <string>{44,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,190},{100,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,90},{84,72}}</string>
                <key>offset</key>
                <string>{44,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,153},{84,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,112}}</string>
                <key>offset</key>
                <string>{31,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,109},{30,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{90,72}}</string>
                <key>offset</key>
                <string>{42,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,154},{90,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,32}}</string>
                <key>offset</key>
                <string>{38,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,202},{114,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,98},{92,66}}</string>
                <key>offset</key>
                <string>{16,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,200},{92,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{108,32}}</string>
                <key>offset</key>
                <string>{36,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,206},{108,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,38},{62,50}}</string>
                <key>offset</key>
                <string>{22,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,177},{62,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{46,102}}</string>
                <key>offset</key>
                <string>{25,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,124},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,176},{84,46}}</string>
                <key>offset</key>
                <string>{27,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,182},{84,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{76,34}}</string>
                <key>offset</key>
                <string>{15,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,207},{76,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,94},{40,90}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,189},{40,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,38},{52,42}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,206},{52,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,100},{10,42}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,186},{10,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{54,86}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,137},{54,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,176},{32,34}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,195},{32,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,210},{12,48}}</string>
                <key>offset</key>
                <string>{-16,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,199},{12,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,94},{40,90}}</string>
                <key>offset</key>
                <string>{-27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,183},{40,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,186},{36,44}}</string>
                <key>offset</key>
                <string>{-26,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,201},{36,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_023_2.png</string>
            <key>size</key>
            <string>{512,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3fdc00aaa2daca872b76b2085380b74$</string>
            <key>textureFileName</key>
            <string>w_023_2.png</string>
        </dict>
    </dict>
</plist>
