<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_024_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{14,106}}</string>
                <key>offset</key>
                <string>{12,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,109},{14,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{12,98}}</string>
                <key>offset</key>
                <string>{12,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,119},{12,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,188},{14,70}}</string>
                <key>offset</key>
                <string>{16,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,149},{14,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,178},{20,48}}</string>
                <key>offset</key>
                <string>{18,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,173},{20,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{18,60}}</string>
                <key>offset</key>
                <string>{18,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,160},{18,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{14,90}}</string>
                <key>offset</key>
                <string>{14,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,129},{14,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,106},{66,96}}</string>
                <key>offset</key>
                <string>{44,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,124},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{74,86}}</string>
                <key>offset</key>
                <string>{43,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,136},{74,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,90},{86,56}}</string>
                <key>offset</key>
                <string>{41,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,166},{86,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{90,36}}</string>
                <key>offset</key>
                <string>{37,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,191},{90,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,112},{90,46}}</string>
                <key>offset</key>
                <string>{39,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,178},{90,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{82,76}}</string>
                <key>offset</key>
                <string>{43,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,146},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,102},{94,72}}</string>
                <key>offset</key>
                <string>{48,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,152},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{102,58}}</string>
                <key>offset</key>
                <string>{47,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,165},{102,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{114,30}}</string>
                <key>offset</key>
                <string>{41,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,198},{114,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,36}}</string>
                <key>offset</key>
                <string>{33,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,202},{114,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{114,30}}</string>
                <key>offset</key>
                <string>{36,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,199},{114,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{108,46}}</string>
                <key>offset</key>
                <string>{45,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,178},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,42},{66,48}}</string>
                <key>offset</key>
                <string>{24,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,177},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,148},{72,38}}</string>
                <key>offset</key>
                <string>{23,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,190},{72,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,118},{76,40}}</string>
                <key>offset</key>
                <string>{17,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,201},{76,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,34},{72,62}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,198},{72,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,98},{72,48}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,202},{72,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{74,30}}</string>
                <key>offset</key>
                <string>{20,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,199},{74,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,126},{14,40}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,184},{14,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,110},{12,30}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,196},{12,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,110},{14,48}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,198},{14,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,178},{18,70}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,193},{18,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,22},{18,58}}</string>
                <key>offset</key>
                <string>{-18,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,196},{18,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_024_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,142},{14,30}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,197},{14,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_024_1.png</string>
            <key>size</key>
            <string>{512,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:662664ecb1b97d9d70a9027ad15b717a$</string>
            <key>textureFileName</key>
            <string>w_024_1.png</string>
        </dict>
    </dict>
</plist>
