<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_027_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,164},{94,70}}</string>
                <key>offset</key>
                <string>{38,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,158},{94,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{90,86}}</string>
                <key>offset</key>
                <string>{37,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,146},{90,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,50},{32,118}}</string>
                <key>offset</key>
                <string>{-13,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,92},{32,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,190},{46,30}}</string>
                <key>offset</key>
                <string>{6,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,141},{46,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,34},{12,72}}</string>
                <key>offset</key>
                <string>{11,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,154},{12,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,132},{70,78}}</string>
                <key>offset</key>
                <string>{40,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,147},{70,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{116,36}}</string>
                <key>offset</key>
                <string>{34,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,187},{116,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{102,54}}</string>
                <key>offset</key>
                <string>{20,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,172},{102,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,40},{28,120}}</string>
                <key>offset</key>
                <string>{-24,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,84},{28,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,112},{100,50}}</string>
                <key>offset</key>
                <string>{-13,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,130},{100,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,132},{88,56}}</string>
                <key>offset</key>
                <string>{62,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,175},{88,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{118,46}}</string>
                <key>offset</key>
                <string>{62,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,181},{118,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,212},{72,24}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{72,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,98},{54,32}}</string>
                <key>offset</key>
                <string>{-9,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,183},{54,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{68,104}}</string>
                <key>offset</key>
                <string>{-21,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,84},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,82}}</string>
                <key>offset</key>
                <string>{-24,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,108},{96,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,70},{122,26}}</string>
                <key>offset</key>
                <string>{77,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,214},{122,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,132},{96,22}}</string>
                <key>offset</key>
                <string>{49,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,213},{96,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,190},{20,28}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,199},{20,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,128},{30,26}}</string>
                <key>offset</key>
                <string>{-33,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,179},{30,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,132},{68,82}}</string>
                <key>offset</key>
                <string>{-6,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,91},{68,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,72},{38,104}}</string>
                <key>offset</key>
                <string>{-22,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,88},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,98},{84,32}}</string>
                <key>offset</key>
                <string>{47,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,234},{84,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,160},{22,30}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,220},{22,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,216},{94,20}}</string>
                <key>offset</key>
                <string>{-38,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,191},{94,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,34},{92,40}}</string>
                <key>offset</key>
                <string>{-37,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,160},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{30,66}}</string>
                <key>offset</key>
                <string>{13,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,101},{30,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,84},{46,102}}</string>
                <key>offset</key>
                <string>{-6,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,84},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,200},{12,44}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,235},{12,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,128},{70,24}}</string>
                <key>offset</key>
                <string>{-39,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,216},{70,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_027_4.png</string>
            <key>size</key>
            <string>{512,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:406dcf4a8cf1428bf187aff01895d773$</string>
            <key>textureFileName</key>
            <string>w_027_4.png</string>
        </dict>
    </dict>
</plist>
