<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_023_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,40},{52,42}}</string>
                <key>offset</key>
                <string>{35,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,182},{52,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,94},{52,42}}</string>
                <key>offset</key>
                <string>{35,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,182},{52,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,94},{54,42}}</string>
                <key>offset</key>
                <string>{35,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,184},{54,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,94},{52,42}}</string>
                <key>offset</key>
                <string>{35,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,184},{52,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,36},{106,32}}</string>
                <key>offset</key>
                <string>{43,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,202},{106,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,32}}</string>
                <key>offset</key>
                <string>{42,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,202},{108,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{106,32}}</string>
                <key>offset</key>
                <string>{43,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,202},{106,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,32}}</string>
                <key>offset</key>
                <string>{43,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,202},{106,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,36},{100,34}}</string>
                <key>offset</key>
                <string>{26,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,208},{100,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,36},{100,36}}</string>
                <key>offset</key>
                <string>{25,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,207},{100,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,36},{100,38}}</string>
                <key>offset</key>
                <string>{25,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,207},{100,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{100,38}}</string>
                <key>offset</key>
                <string>{26,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,207},{100,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,40},{36,58}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,199},{36,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{36,58}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,200},{36,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{36,60}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,200},{36,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{34,60}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,200},{34,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,40},{52,56}}</string>
                <key>offset</key>
                <string>{-34,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,193},{52,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,36},{52,56}}</string>
                <key>offset</key>
                <string>{-34,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,193},{52,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,70},{54,58}}</string>
                <key>offset</key>
                <string>{-35,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,193},{54,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,70},{54,58}}</string>
                <key>offset</key>
                <string>{-35,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,193},{54,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_023_0.png</string>
            <key>size</key>
            <string>{512,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7e0c4a0531b86fa28e22c086f60eaa6$</string>
            <key>textureFileName</key>
            <string>w_023_0.png</string>
        </dict>
    </dict>
</plist>
