<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_021_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,90},{28,78}}</string>
                <key>offset</key>
                <string>{20,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,146},{28,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{66,96}}</string>
                <key>offset</key>
                <string>{-7,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,126},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{86,34}}</string>
                <key>offset</key>
                <string>{-28,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,197},{86,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{50,32}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,205},{50,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{98,56}}</string>
                <key>offset</key>
                <string>{38,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,169},{98,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{20,108}}</string>
                <key>offset</key>
                <string>{7,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,120},{20,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,38},{14,50}}</string>
                <key>offset</key>
                <string>{26,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,188},{14,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{110,14}}</string>
                <key>offset</key>
                <string>{83,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,234},{110,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{112,28}}</string>
                <key>offset</key>
                <string>{33,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,197},{112,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{66,96}}</string>
                <key>offset</key>
                <string>{16,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,130},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,110},{82,38}}</string>
                <key>offset</key>
                <string>{64,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,211},{82,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{106,42}}</string>
                <key>offset</key>
                <string>{83,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,250},{106,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,120},{64,28}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,199},{64,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{92,70}}</string>
                <key>offset</key>
                <string>{17,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,150},{92,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,26}}</string>
                <key>offset</key>
                <string>{65,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,237},{118,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,100},{46,68}}</string>
                <key>offset</key>
                <string>{33,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,258},{46,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,54},{28,32}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,195},{28,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,38},{66,44}}</string>
                <key>offset</key>
                <string>{8,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,168},{66,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,100},{86,46}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,244},{86,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_021_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,96},{50,68}}</string>
                <key>offset</key>
                <string>{-33,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,258},{50,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_021_7.png</string>
            <key>size</key>
            <string>{512,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d33bab447e0fb8cbae93dcd5702b839a$</string>
            <key>textureFileName</key>
            <string>w_021_7.png</string>
        </dict>
    </dict>
</plist>
