<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_022_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{24,72}}</string>
                <key>offset</key>
                <string>{20,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,154},{24,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{64,92}}</string>
                <key>offset</key>
                <string>{-3,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,135},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,96},{82,32}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,200},{82,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,106},{48,28}}</string>
                <key>offset</key>
                <string>{30,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,208},{48,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{94,54}}</string>
                <key>offset</key>
                <string>{31,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,173},{94,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{20,104}}</string>
                <key>offset</key>
                <string>{6,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,129},{20,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,108},{8,46}}</string>
                <key>offset</key>
                <string>{26,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,193},{8,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{104,12}}</string>
                <key>offset</key>
                <string>{75,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,235},{104,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{108,24}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,200},{108,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{62,92}}</string>
                <key>offset</key>
                <string>{12,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,139},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,98},{80,34}}</string>
                <key>offset</key>
                <string>{58,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,215},{80,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{102,38}}</string>
                <key>offset</key>
                <string>{75,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,250},{102,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,48},{60,26}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,199},{60,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{88,66}}</string>
                <key>offset</key>
                <string>{11,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,156},{88,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,26}}</string>
                <key>offset</key>
                <string>{56,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,237},{114,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{44,64}}</string>
                <key>offset</key>
                <string>{30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,256},{44,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,76},{24,28}}</string>
                <key>offset</key>
                <string>{-19,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,196},{24,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,92},{62,42}}</string>
                <key>offset</key>
                <string>{3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,171},{62,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{82,44}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,242},{82,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_022_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,86},{48,62}}</string>
                <key>offset</key>
                <string>{-30,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,257},{48,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_022_7.png</string>
            <key>size</key>
            <string>{512,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67bb1afd48f2a4a58003fe16a3fc2779$</string>
            <key>textureFileName</key>
            <string>w_022_7.png</string>
        </dict>
    </dict>
</plist>
