<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_028_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,750},{22,144}}</string>
                <key>offset</key>
                <string>{15,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,98},{22,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,750},{22,122}}</string>
                <key>offset</key>
                <string>{18,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,121},{22,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,436},{24,86}}</string>
                <key>offset</key>
                <string>{20,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,154},{24,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,292},{32,64}}</string>
                <key>offset</key>
                <string>{21,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,174},{32,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{24,84}}</string>
                <key>offset</key>
                <string>{20,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,156},{24,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,750},{22,122}}</string>
                <key>offset</key>
                <string>{18,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,120},{22,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,750},{90,132}}</string>
                <key>offset</key>
                <string>{36,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,113},{90,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{108,104}}</string>
                <key>offset</key>
                <string>{34,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,140},{108,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,166},{120,60}}</string>
                <key>offset</key>
                <string>{31,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,178},{120,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,42}}</string>
                <key>offset</key>
                <string>{28,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,199},{124,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{120,58}}</string>
                <key>offset</key>
                <string>{31,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,180},{120,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{108,102}}</string>
                <key>offset</key>
                <string>{34,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,141},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,532},{130,104}}</string>
                <key>offset</key>
                <string>{38,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,141},{130,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{144,62}}</string>
                <key>offset</key>
                <string>{32,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,177},{144,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,54},{148,54}}</string>
                <key>offset</key>
                <string>{23,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,197},{148,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,360},{146,74}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,191},{146,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{148,54}}</string>
                <key>offset</key>
                <string>{23,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,197},{148,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,228},{144,62}}</string>
                <key>offset</key>
                <string>{32,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,176},{144,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{94,74}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,169},{94,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{98,50}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,198},{98,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,436},{90,94}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,180},{90,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,638},{82,110}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,436},{90,94}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,181},{90,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{98,50}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,197},{98,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{22,60}}</string>
                <key>offset</key>
                <string>{-15,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,178},{22,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,292},{22,66}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,189},{22,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,638},{24,106}}</string>
                <key>offset</key>
                <string>{-19,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,170},{24,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{32,120}}</string>
                <key>offset</key>
                <string>{-21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,165},{32,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,638},{24,106}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,171},{24,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,292},{22,66}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,188},{22,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_028_1.png</string>
            <key>size</key>
            <string>{252,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e6a1f16d3b0b733afd292c3b3095f7c:1/1$</string>
            <key>textureFileName</key>
            <string>w_028_1.png</string>
        </dict>
    </dict>
</plist>
