<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_025_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{12,114}}</string>
                <key>offset</key>
                <string>{14,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,106},{12,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,106},{58,100}}</string>
                <key>offset</key>
                <string>{-7,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,104},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,110},{34,106}}</string>
                <key>offset</key>
                <string>{4,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,115},{34,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,204},{12,64}}</string>
                <key>offset</key>
                <string>{15,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,160},{12,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,106},{44,44}}</string>
                <key>offset</key>
                <string>{27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,192},{44,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,208},{38,62}}</string>
                <key>offset</key>
                <string>{27,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,163},{38,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{62,106}}</string>
                <key>offset</key>
                <string>{41,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,119},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{36,118}}</string>
                <key>offset</key>
                <string>{17,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,96},{36,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,110},{46,104}}</string>
                <key>offset</key>
                <string>{34,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,123},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,212},{90,50}}</string>
                <key>offset</key>
                <string>{40,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,179},{90,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{100,46}}</string>
                <key>offset</key>
                <string>{31,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,198},{100,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,116},{108,46}}</string>
                <key>offset</key>
                <string>{45,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,187},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{90,80}}</string>
                <key>offset</key>
                <string>{45,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,149},{90,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,122}}</string>
                <key>offset</key>
                <string>{29,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,103},{44,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,104},{96,80}}</string>
                <key>offset</key>
                <string>{44,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,150},{96,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,44}}</string>
                <key>offset</key>
                <string>{39,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,194},{122,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{102,72}}</string>
                <key>offset</key>
                <string>{16,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,197},{102,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,122},{116,46}}</string>
                <key>offset</key>
                <string>{37,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,197},{116,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,202},{66,56}}</string>
                <key>offset</key>
                <string>{22,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,174},{66,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{50,112}}</string>
                <key>offset</key>
                <string>{25,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,118},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,120},{90,50}}</string>
                <key>offset</key>
                <string>{28,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,180},{90,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{82,46}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,198},{82,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,226},{44,96}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,187},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,208},{58,50}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,200},{58,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,94},{10,48}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,182},{10,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{56,96}}</string>
                <key>offset</key>
                <string>{7,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,132},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,86},{32,46}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,187},{32,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,216},{12,52}}</string>
                <key>offset</key>
                <string>{-16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,197},{12,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,100},{42,96}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,181},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_025_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,152},{38,50}}</string>
                <key>offset</key>
                <string>{-26,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,198},{38,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_025_2.png</string>
            <key>size</key>
            <string>{512,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5444c0145dbcdd172ddacdd4dfa3f891$</string>
            <key>textureFileName</key>
            <string>w_025_2.png</string>
        </dict>
    </dict>
</plist>
