<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_026_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{44,98}}</string>
                <key>offset</key>
                <string>{31,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,122},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,222},{16,98}}</string>
                <key>offset</key>
                <string>{14,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,130},{16,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,166},{12,58}}</string>
                <key>offset</key>
                <string>{1,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,107},{12,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{24,66}}</string>
                <key>offset</key>
                <string>{-1,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,100},{24,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{50,92}}</string>
                <key>offset</key>
                <string>{45,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,116},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,206},{32,86}}</string>
                <key>offset</key>
                <string>{28,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,118},{32,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,200},{38,90}}</string>
                <key>offset</key>
                <string>{19,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,134},{38,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,92},{74,86}}</string>
                <key>offset</key>
                <string>{31,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,144},{74,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,180},{58,64}}</string>
                <key>offset</key>
                <string>{-8,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,104},{58,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,176},{60,78}}</string>
                <key>offset</key>
                <string>{-4,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,94},{60,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,94},{40,80}}</string>
                <key>offset</key>
                <string>{38,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,137},{40,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{34,82}}</string>
                <key>offset</key>
                <string>{14,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,128},{34,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{14,86}}</string>
                <key>offset</key>
                <string>{-4,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,138},{14,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{100,60}}</string>
                <key>offset</key>
                <string>{29,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,166},{100,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,18},{74,84}}</string>
                <key>offset</key>
                <string>{-11,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,92},{74,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,102},{64,96}}</string>
                <key>offset</key>
                <string>{-4,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,85},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,94},{18,78}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,146},{18,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{38,88}}</string>
                <key>offset</key>
                <string>{-9,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,126},{38,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,96},{28,90}}</string>
                <key>offset</key>
                <string>{-24,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,131},{28,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,94},{70,40}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,186},{70,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,114},{50,106}}</string>
                <key>offset</key>
                <string>{-7,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,78},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,112}}</string>
                <key>offset</key>
                <string>{-1,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,77},{34,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{40,86}}</string>
                <key>offset</key>
                <string>{-22,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,139},{40,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,104},{40,100}}</string>
                <key>offset</key>
                <string>{-24,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,113},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{44,100}}</string>
                <key>offset</key>
                <string>{-31,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,116},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,180},{16,32}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,190},{16,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,116},{12,112}}</string>
                <key>offset</key>
                <string>{-1,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,74},{12,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{24,112}}</string>
                <key>offset</key>
                <string>{2,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,78},{24,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{50,100}}</string>
                <key>offset</key>
                <string>{-44,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,121},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,110}}</string>
                <key>offset</key>
                <string>{-27,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,100},{32,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_026_5.png</string>
            <key>size</key>
            <string>{512,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:669c25eb935ddfa43b1c50641d590a95$</string>
            <key>textureFileName</key>
            <string>w_026_5.png</string>
        </dict>
    </dict>
</plist>
