<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_020_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{36,92}}</string>
                <key>offset</key>
                <string>{32,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,122},{36,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{10,92}}</string>
                <key>offset</key>
                <string>{14,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,131},{10,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,178},{8,52}}</string>
                <key>offset</key>
                <string>{1,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,110},{8,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,100},{20,62}}</string>
                <key>offset</key>
                <string>{-2,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,101},{20,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,98},{46,88}}</string>
                <key>offset</key>
                <string>{45,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,116},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,98},{28,84}}</string>
                <key>offset</key>
                <string>{28,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,116},{28,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,98},{28,84}}</string>
                <key>offset</key>
                <string>{19,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,135},{28,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,96},{70,80}}</string>
                <key>offset</key>
                <string>{33,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,145},{70,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,46},{52,62}}</string>
                <key>offset</key>
                <string>{-8,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,103},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{54,74}}</string>
                <key>offset</key>
                <string>{-4,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,94},{54,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,110},{32,76}}</string>
                <key>offset</key>
                <string>{39,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,137},{32,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,108},{22,78}}</string>
                <key>offset</key>
                <string>{14,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,127},{22,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,96},{10,82}}</string>
                <key>offset</key>
                <string>{-4,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,138},{10,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{96,52}}</string>
                <key>offset</key>
                <string>{32,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,171},{96,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,104},{68,82}}</string>
                <key>offset</key>
                <string>{-12,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,90},{68,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{58,92}}</string>
                <key>offset</key>
                <string>{-4,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,84},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{12,72}}</string>
                <key>offset</key>
                <string>{12,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,148},{12,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,100},{30,84}}</string>
                <key>offset</key>
                <string>{-8,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,125},{30,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,96},{26,84}}</string>
                <key>offset</key>
                <string>{-25,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,132},{26,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,16},{66,28}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,192},{66,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{46,100}}</string>
                <key>offset</key>
                <string>{-8,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,78},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{28,106}}</string>
                <key>offset</key>
                <string>{0,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,77},{28,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,100},{36,80}}</string>
                <key>offset</key>
                <string>{-23,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,141},{36,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{36,94}}</string>
                <key>offset</key>
                <string>{-25,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,114},{36,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{36,94}}</string>
                <key>offset</key>
                <string>{-32,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,117},{36,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,100},{10,18}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{10,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,108}}</string>
                <key>offset</key>
                <string>{0,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,72},{8,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{22,106}}</string>
                <key>offset</key>
                <string>{2,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,78},{22,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{46,94}}</string>
                <key>offset</key>
                <string>{-44,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,122},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_020_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{28,104}}</string>
                <key>offset</key>
                <string>{-28,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,99},{28,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_020_5.png</string>
            <key>size</key>
            <string>{512,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd08bd43dc855dddef1701b0de5337e$</string>
            <key>textureFileName</key>
            <string>w_020_5.png</string>
        </dict>
    </dict>
</plist>
