<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_028_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,78},{32,120}}</string>
                <key>offset</key>
                <string>{20,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,128},{32,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,78},{72,134}}</string>
                <key>offset</key>
                <string>{-3,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,119},{72,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{110,72}}</string>
                <key>offset</key>
                <string>{-18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,177},{110,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{88,44}}</string>
                <key>offset</key>
                <string>{33,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,198},{88,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,78},{122,94}}</string>
                <key>offset</key>
                <string>{28,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,152},{122,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,78},{30,144}}</string>
                <key>offset</key>
                <string>{6,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,115},{30,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,78},{22,92}}</string>
                <key>offset</key>
                <string>{30,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,168},{22,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,32}}</string>
                <key>offset</key>
                <string>{72,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,225},{138,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{142,54}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,184},{142,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,78},{106,130}}</string>
                <key>offset</key>
                <string>{10,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,123},{106,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{104,76}}</string>
                <key>offset</key>
                <string>{56,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,193},{104,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{142,70}}</string>
                <key>offset</key>
                <string>{77,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,237},{142,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{80,58}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,191},{80,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,78},{126,100}}</string>
                <key>offset</key>
                <string>{8,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,142},{126,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{150,44}}</string>
                <key>offset</key>
                <string>{51,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,235},{150,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,78},{82,94}}</string>
                <key>offset</key>
                <string>{34,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,244},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{32,66}}</string>
                <key>offset</key>
                <string>{-20,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,183},{32,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{72,74}}</string>
                <key>offset</key>
                <string>{2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,159},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,78},{110,84}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,229},{110,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,78},{88,94}}</string>
                <key>offset</key>
                <string>{-33,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,246},{88,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_028_7.png</string>
            <key>size</key>
            <string>{974,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bd7bd4282a277144e22ad5f673eb737:1/1$</string>
            <key>textureFileName</key>
            <string>w_028_7.png</string>
        </dict>
    </dict>
</plist>
