<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_028_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,142},{136,90}}</string>
                <key>offset</key>
                <string>{36,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,151},{136,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,234},{122,112}}</string>
                <key>offset</key>
                <string>{32,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,136},{122,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{98,120}}</string>
                <key>offset</key>
                <string>{-30,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,108},{98,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{22,46}}</string>
                <key>offset</key>
                <string>{25,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,139},{22,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,234},{22,118}}</string>
                <key>offset</key>
                <string>{13,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,126},{22,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,234},{82,118}}</string>
                <key>offset</key>
                <string>{36,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,124},{82,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{116,52}}</string>
                <key>offset</key>
                <string>{21,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,185},{116,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,142},{86,88}}</string>
                <key>offset</key>
                <string>{4,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,155},{86,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,354},{32,144}}</string>
                <key>offset</key>
                <string>{-41,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,82},{32,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{94,54}}</string>
                <key>offset</key>
                <string>{-3,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,138},{94,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,234},{104,98}}</string>
                <key>offset</key>
                <string>{61,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,151},{104,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{140,82}}</string>
                <key>offset</key>
                <string>{56,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,162},{140,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{30,48}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,194},{30,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,58},{24,76}}</string>
                <key>offset</key>
                <string>{-29,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,158},{24,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,354},{70,140}}</string>
                <key>offset</key>
                <string>{-29,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,71},{70,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{140,84}}</string>
                <key>offset</key>
                <string>{-28,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,121},{140,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,58},{146,56}}</string>
                <key>offset</key>
                <string>{73,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,201},{146,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{116,48}}</string>
                <key>offset</key>
                <string>{44,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,203},{116,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,44}}</string>
                <key>offset</key>
                <string>{-30,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,186},{78,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,58},{86,82}}</string>
                <key>offset</key>
                <string>{-42,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,142},{86,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,354},{118,122}}</string>
                <key>offset</key>
                <string>{1,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,72},{118,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,354},{104,120}}</string>
                <key>offset</key>
                <string>{-37,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,93},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{104,54}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,231},{104,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{28,54}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,214},{28,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,58},{136,72}}</string>
                <key>offset</key>
                <string>{-36,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,155},{136,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,234},{120,106}}</string>
                <key>offset</key>
                <string>{-32,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{120,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{98,98}}</string>
                <key>offset</key>
                <string>{30,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,86},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,354},{22,134}}</string>
                <key>offset</key>
                <string>{-25,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,76},{22,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,58},{22,74}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,226},{22,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_028_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{80,48}}</string>
                <key>offset</key>
                <string>{-36,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,209},{80,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_028_4.png</string>
            <key>size</key>
            <string>{582,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72219314540e9da43bb2c4db532f337f:1/1$</string>
            <key>textureFileName</key>
            <string>w_028_4.png</string>
        </dict>
    </dict>
</plist>
