<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_027_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{28,82}}</string>
                <key>offset</key>
                <string>{19,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,149},{28,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{70,100}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,130},{70,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,32},{88,38}}</string>
                <key>offset</key>
                <string>{-22,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,194},{88,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,100},{54,30}}</string>
                <key>offset</key>
                <string>{32,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,207},{54,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{102,60}}</string>
                <key>offset</key>
                <string>{32,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,169},{102,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{18,114}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,123},{18,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,72},{12,54}}</string>
                <key>offset</key>
                <string>{27,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,187},{12,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{114,12}}</string>
                <key>offset</key>
                <string>{76,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,235},{114,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{118,28}}</string>
                <key>offset</key>
                <string>{26,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,195},{118,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{68,104}}</string>
                <key>offset</key>
                <string>{12,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,132},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,118},{86,40}}</string>
                <key>offset</key>
                <string>{59,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,209},{86,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{112,44}}</string>
                <key>offset</key>
                <string>{76,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,246},{112,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{64,30}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{64,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{96,74}}</string>
                <key>offset</key>
                <string>{11,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,152},{96,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,22}}</string>
                <key>offset</key>
                <string>{58,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,240},{124,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,106},{50,70}}</string>
                <key>offset</key>
                <string>{32,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,254},{50,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,72},{28,34}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,196},{28,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,86},{68,48}}</string>
                <key>offset</key>
                <string>{4,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,167},{68,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,108},{90,50}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,241},{90,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_027_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,104},{54,70}}</string>
                <key>offset</key>
                <string>{-31,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,253},{54,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_027_7.png</string>
            <key>size</key>
            <string>{512,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc460d9eb1203c7218e9ff2ecdf9540c$</string>
            <key>textureFileName</key>
            <string>w_027_7.png</string>
        </dict>
    </dict>
</plist>
