<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_023_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,56},{26,72}}</string>
                <key>offset</key>
                <string>{19,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,153},{26,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,92}}</string>
                <key>offset</key>
                <string>{-4,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,133},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,98},{82,36}}</string>
                <key>offset</key>
                <string>{-23,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,199},{82,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,86},{48,28}}</string>
                <key>offset</key>
                <string>{31,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,208},{48,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{94,52}}</string>
                <key>offset</key>
                <string>{32,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,173},{94,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,70},{26,102}}</string>
                <key>offset</key>
                <string>{9,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,129},{26,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,122},{10,48}}</string>
                <key>offset</key>
                <string>{27,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,191},{10,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,70},{104,14}}</string>
                <key>offset</key>
                <string>{77,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,235},{104,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,36},{108,32}}</string>
                <key>offset</key>
                <string>{26,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,199},{108,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,92}}</string>
                <key>offset</key>
                <string>{12,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,137},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{78,40}}</string>
                <key>offset</key>
                <string>{60,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,214},{78,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,98},{100,40}}</string>
                <key>offset</key>
                <string>{77,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,249},{100,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,90},{60,30}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{60,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{88,66}}</string>
                <key>offset</key>
                <string>{12,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,155},{88,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{112,32}}</string>
                <key>offset</key>
                <string>{59,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,237},{112,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,86},{46,64}}</string>
                <key>offset</key>
                <string>{29,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,257},{46,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,90},{26,28}}</string>
                <key>offset</key>
                <string>{-19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,197},{26,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{62,42}}</string>
                <key>offset</key>
                <string>{4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,172},{62,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,44},{82,44}}</string>
                <key>offset</key>
                <string>{23,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,242},{82,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_023_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,90},{48,62}}</string>
                <key>offset</key>
                <string>{-30,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,258},{48,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_023_7.png</string>
            <key>size</key>
            <string>{512,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2df8519b9b295f37797a4fe1a2f2bda$</string>
            <key>textureFileName</key>
            <string>w_023_7.png</string>
        </dict>
    </dict>
</plist>
