<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_026_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{88,66}}</string>
                <key>offset</key>
                <string>{38,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,158},{88,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,92},{84,80}}</string>
                <key>offset</key>
                <string>{39,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,147},{84,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,118},{32,110}}</string>
                <key>offset</key>
                <string>{-14,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,96},{32,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,136},{44,38}}</string>
                <key>offset</key>
                <string>{7,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,138},{44,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{12,70}}</string>
                <key>offset</key>
                <string>{10,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,152},{12,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,68},{66,74}}</string>
                <key>offset</key>
                <string>{39,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,147},{66,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,112},{108,42}}</string>
                <key>offset</key>
                <string>{34,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,184},{108,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,100},{94,54}}</string>
                <key>offset</key>
                <string>{20,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,169},{94,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{28,112}}</string>
                <key>offset</key>
                <string>{-24,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,88},{28,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{92,50}}</string>
                <key>offset</key>
                <string>{-13,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,128},{92,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{82,56}}</string>
                <key>offset</key>
                <string>{62,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,172},{82,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{108,46}}</string>
                <key>offset</key>
                <string>{63,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,179},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,136},{66,34}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,196},{66,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,178},{52,38}}</string>
                <key>offset</key>
                <string>{-10,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,182},{52,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{64,96}}</string>
                <key>offset</key>
                <string>{-19,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,88},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,96},{90,76}}</string>
                <key>offset</key>
                <string>{-26,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,109},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,34}}</string>
                <key>offset</key>
                <string>{76,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,211},{114,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,198},{88,32}}</string>
                <key>offset</key>
                <string>{49,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,209},{88,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,176},{20,36}}</string>
                <key>offset</key>
                <string>{-19,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,192},{20,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,198},{30,32}}</string>
                <key>offset</key>
                <string>{-34,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,177},{30,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{64,76}}</string>
                <key>offset</key>
                <string>{-3,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,93},{64,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,100},{36,96}}</string>
                <key>offset</key>
                <string>{-22,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,91},{36,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{80,38}}</string>
                <key>offset</key>
                <string>{46,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,231},{80,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,204},{22,38}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,214},{22,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,92},{88,30}}</string>
                <key>offset</key>
                <string>{-38,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,187},{88,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,188},{86,40}}</string>
                <key>offset</key>
                <string>{-39,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,159},{86,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,136},{32,64}}</string>
                <key>offset</key>
                <string>{13,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,99},{32,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{44,94}}</string>
                <key>offset</key>
                <string>{-6,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,87},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,84},{12,46}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,235},{12,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_026_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,196},{66,34}}</string>
                <key>offset</key>
                <string>{-40,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,210},{66,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_026_4.png</string>
            <key>size</key>
            <string>{512,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ebe3cd002b502d315a0fab6bf77726c$</string>
            <key>textureFileName</key>
            <string>w_026_4.png</string>
        </dict>
    </dict>
</plist>
