<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_031_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{100,54}}</string>
                <key>offset</key>
                <string>{22,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,178},{100,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,92},{88,74}}</string>
                <key>offset</key>
                <string>{26,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,167},{88,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,102},{68,92}}</string>
                <key>offset</key>
                <string>{-12,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,128},{68,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,110},{24,36}}</string>
                <key>offset</key>
                <string>{19,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,132},{24,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,136},{24,68}}</string>
                <key>offset</key>
                <string>{6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,169},{24,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,182},{64,74}}</string>
                <key>offset</key>
                <string>{26,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,162},{64,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{90,32}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,197},{90,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,168},{72,52}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,181},{72,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{32,104}}</string>
                <key>offset</key>
                <string>{-36,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,115},{32,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,92},{68,46}}</string>
                <key>offset</key>
                <string>{8,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,132},{68,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,188},{78,58}}</string>
                <key>offset</key>
                <string>{44,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,182},{78,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,104},{100,50}}</string>
                <key>offset</key>
                <string>{40,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,184},{100,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,74},{36,34}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{36,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,206},{22,42}}</string>
                <key>offset</key>
                <string>{-21,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,181},{22,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,104},{44,100}}</string>
                <key>offset</key>
                <string>{-33,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,105},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{92,66}}</string>
                <key>offset</key>
                <string>{-7,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,125},{92,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,32}}</string>
                <key>offset</key>
                <string>{53,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,212},{106,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{90,34}}</string>
                <key>offset</key>
                <string>{34,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,210},{90,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,28},{62,32}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,199},{62,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,182},{66,50}}</string>
                <key>offset</key>
                <string>{-37,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,167},{66,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,96},{72,90}}</string>
                <key>offset</key>
                <string>{-17,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,97},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{74,88}}</string>
                <key>offset</key>
                <string>{-20,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,112},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,206},{84,38}}</string>
                <key>offset</key>
                <string>{33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,236},{84,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{36,36}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,223},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{100,38}}</string>
                <key>offset</key>
                <string>{-23,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,179},{100,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{88,70}}</string>
                <key>offset</key>
                <string>{-25,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,148},{88,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,92},{68,74}}</string>
                <key>offset</key>
                <string>{13,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,101},{68,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{24,98}}</string>
                <key>offset</key>
                <string>{-19,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,102},{24,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{24,52}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,232},{24,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,40},{64,32}}</string>
                <key>offset</key>
                <string>{-26,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,221},{64,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_031_4.png</string>
            <key>size</key>
            <string>{512,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e284454a8a3631cfffd32055b8010e21$</string>
            <key>textureFileName</key>
            <string>w_031_4.png</string>
        </dict>
    </dict>
</plist>
