<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_030_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{34,88}}</string>
                <key>offset</key>
                <string>{28,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,119},{34,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,100},{60,112}}</string>
                <key>offset</key>
                <string>{30,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,115},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{26,88}}</string>
                <key>offset</key>
                <string>{-5,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,86},{26,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,58}}</string>
                <key>offset</key>
                <string>{1,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,114},{32,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{24,84}}</string>
                <key>offset</key>
                <string>{7,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,87},{24,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,100},{56,102}}</string>
                <key>offset</key>
                <string>{40,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,116},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{44,82}}</string>
                <key>offset</key>
                <string>{3,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,131},{44,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,100},{66,100}}</string>
                <key>offset</key>
                <string>{21,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,130},{66,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{60,92}}</string>
                <key>offset</key>
                <string>{-6,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,80},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{84,72}}</string>
                <key>offset</key>
                <string>{-12,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,104},{84,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{60,92}}</string>
                <key>offset</key>
                <string>{3,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,85},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{40,90}}</string>
                <key>offset</key>
                <string>{27,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,135},{40,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{54,92}}</string>
                <key>offset</key>
                <string>{-22,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,124},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{36,86}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,140},{36,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,100},{68,104}}</string>
                <key>offset</key>
                <string>{-4,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,76},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{92,92}}</string>
                <key>offset</key>
                <string>{-17,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,90},{92,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,100},{70,104}}</string>
                <key>offset</key>
                <string>{-2,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,83},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{30,90}}</string>
                <key>offset</key>
                <string>{-4,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,139},{30,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,100},{48,104}}</string>
                <key>offset</key>
                <string>{-33,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,108},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{28,84}}</string>
                <key>offset</key>
                <string>{-21,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,137},{28,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,100},{44,114}}</string>
                <key>offset</key>
                <string>{1,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,74},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,100},{56,112}}</string>
                <key>offset</key>
                <string>{-13,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,76},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,100},{44,114}}</string>
                <key>offset</key>
                <string>{-5,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,80},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{52,98}}</string>
                <key>offset</key>
                <string>{-33,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,128},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,100},{38,116}}</string>
                <key>offset</key>
                <string>{-29,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,90},{38,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{64,96}}</string>
                <key>offset</key>
                <string>{-33,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,118},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,100},{28,116}}</string>
                <key>offset</key>
                <string>{6,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,75},{28,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,100},{36,116}}</string>
                <key>offset</key>
                <string>{2,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,72},{36,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,100},{28,116}}</string>
                <key>offset</key>
                <string>{-4,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,78},{28,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,100},{56,106}}</string>
                <key>offset</key>
                <string>{-41,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,112},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_030_5.png</string>
            <key>size</key>
            <string>{782,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1a9cd413a9c91a345c40bc5027f23a:1/1$</string>
            <key>textureFileName</key>
            <string>w_030_5.png</string>
        </dict>
    </dict>
</plist>
