<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_030_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,628},{28,112}}</string>
                <key>offset</key>
                <string>{12,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,104},{28,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,628},{28,96}}</string>
                <key>offset</key>
                <string>{19,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,124},{28,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,370},{32,70}}</string>
                <key>offset</key>
                <string>{25,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,155},{32,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,242},{36,58}}</string>
                <key>offset</key>
                <string>{27,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,170},{36,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,370},{32,76}}</string>
                <key>offset</key>
                <string>{26,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,150},{32,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,628},{32,96}}</string>
                <key>offset</key>
                <string>{17,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,123},{32,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,628},{74,104}}</string>
                <key>offset</key>
                <string>{42,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,117},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,450},{90,86}}</string>
                <key>offset</key>
                <string>{43,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,137},{90,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{98,52}}</string>
                <key>offset</key>
                <string>{39,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,175},{98,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{106,42}}</string>
                <key>offset</key>
                <string>{39,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,188},{106,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,184},{104,56}}</string>
                <key>offset</key>
                <string>{41,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,172},{104,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{96,86}}</string>
                <key>offset</key>
                <string>{45,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,137},{96,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,538},{100,88}}</string>
                <key>offset</key>
                <string>{47,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,138},{100,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,242},{116,58}}</string>
                <key>offset</key>
                <string>{45,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,170},{116,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,36}}</string>
                <key>offset</key>
                <string>{35,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,201},{116,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,130},{114,52}}</string>
                <key>offset</key>
                <string>{28,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,202},{114,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,44},{116,40}}</string>
                <key>offset</key>
                <string>{35,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,197},{116,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{116,56}}</string>
                <key>offset</key>
                <string>{45,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,169},{116,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,302},{74,66}}</string>
                <key>offset</key>
                <string>{23,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,163},{74,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{82,40}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,192},{82,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{76,68}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,195},{76,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{68,80}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,196},{68,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{72,66}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,197},{72,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{78,40}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,191},{78,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{30,58}}</string>
                <key>offset</key>
                <string>{-13,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,167},{30,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,86},{28,42}}</string>
                <key>offset</key>
                <string>{-20,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,195},{28,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,370},{30,74}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,191},{30,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{40,92}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{40,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,370},{32,78}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,188},{32,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,86},{22,42}}</string>
                <key>offset</key>
                <string>{-17,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,194},{22,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_030_1.png</string>
            <key>size</key>
            <string>{226,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78fac7d9c5f735023ef688dc81a7f67f:1/1$</string>
            <key>textureFileName</key>
            <string>w_030_1.png</string>
        </dict>
    </dict>
</plist>
