<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_031_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,76},{24,100}}</string>
                <key>offset</key>
                <string>{9,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,137},{24,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{66,90}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,131},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,82},{46,92}}</string>
                <key>offset</key>
                <string>{4,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,145},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,200},{24,58}}</string>
                <key>offset</key>
                <string>{14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,174},{24,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{44,36}}</string>
                <key>offset</key>
                <string>{20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,206},{44,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,70},{40,56}}</string>
                <key>offset</key>
                <string>{21,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,177},{40,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{66,94}}</string>
                <key>offset</key>
                <string>{34,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,147},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,70},{40,104}}</string>
                <key>offset</key>
                <string>{21,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,128},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,66},{50,90}}</string>
                <key>offset</key>
                <string>{28,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,152},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,176},{82,46}}</string>
                <key>offset</key>
                <string>{20,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,185},{82,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,70},{88,52}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,203},{88,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,124},{96,38}}</string>
                <key>offset</key>
                <string>{22,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,191},{96,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,72}}</string>
                <key>offset</key>
                <string>{32,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,168},{90,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,70},{32,108}}</string>
                <key>offset</key>
                <string>{38,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,135},{32,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{92,72}}</string>
                <key>offset</key>
                <string>{28,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,169},{92,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,70},{108,34}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,204},{108,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,78}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,187},{90,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,164},{104,34}}</string>
                <key>offset</key>
                <string>{13,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,212},{104,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,178},{74,52}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,184},{74,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{62,98}}</string>
                <key>offset</key>
                <string>{26,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,149},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,180},{90,46}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,187},{90,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,178},{80,52}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,202},{80,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,76},{48,94}}</string>
                <key>offset</key>
                <string>{-14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,173},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,200},{60,58}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,201},{60,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,176},{24,40}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,190},{24,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{66,82}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,160},{66,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,202},{46,32}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,196},{46,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,228},{22,64}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,192},{22,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,158},{44,94}}</string>
                <key>offset</key>
                <string>{-20,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,166},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_031_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,112},{40,62}}</string>
                <key>offset</key>
                <string>{-20,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,194},{40,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_031_2.png</string>
            <key>size</key>
            <string>{512,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18ba8d9632faa01dd411561724ec948$</string>
            <key>textureFileName</key>
            <string>w_031_2.png</string>
        </dict>
    </dict>
</plist>
