<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_030_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,66},{30,98}}</string>
                <key>offset</key>
                <string>{23,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,127},{30,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,66},{62,106}}</string>
                <key>offset</key>
                <string>{-10,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,123},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,66},{90,66}}</string>
                <key>offset</key>
                <string>{-26,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,169},{90,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{60,52}}</string>
                <key>offset</key>
                <string>{33,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,188},{60,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,66},{100,80}}</string>
                <key>offset</key>
                <string>{39,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,147},{100,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,66},{32,114}}</string>
                <key>offset</key>
                <string>{6,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,119},{32,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,66},{28,78}}</string>
                <key>offset</key>
                <string>{27,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,162},{28,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,36}}</string>
                <key>offset</key>
                <string>{86,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,218},{110,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{112,50}}</string>
                <key>offset</key>
                <string>{32,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,176},{112,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,66},{84,106}}</string>
                <key>offset</key>
                <string>{18,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,124},{84,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{88,64}}</string>
                <key>offset</key>
                <string>{63,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,191},{88,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{114,52}}</string>
                <key>offset</key>
                <string>{87,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,246},{114,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{64,40}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,192},{64,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,66},{94,84}}</string>
                <key>offset</key>
                <string>{18,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,139},{94,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{118,46}}</string>
                <key>offset</key>
                <string>{64,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,225},{118,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,66},{66,74}}</string>
                <key>offset</key>
                <string>{44,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,261},{66,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{34,42}}</string>
                <key>offset</key>
                <string>{-26,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,190},{34,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{60,62}}</string>
                <key>offset</key>
                <string>{5,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,157},{60,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{90,58}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,241},{90,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,66},{60,76}}</string>
                <key>offset</key>
                <string>{-34,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,262},{60,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_030_7.png</string>
            <key>size</key>
            <string>{782,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4981528834741c6d1456269629968412:1/1$</string>
            <key>textureFileName</key>
            <string>w_030_7.png</string>
        </dict>
    </dict>
</plist>
