<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_030_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,476},{60,98}}</string>
                <key>offset</key>
                <string>{-5,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,101},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,580},{30,108}}</string>
                <key>offset</key>
                <string>{9,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,106},{30,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,222},{36,68}}</string>
                <key>offset</key>
                <string>{27,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,153},{36,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,40}}</string>
                <key>offset</key>
                <string>{31,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,184},{52,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,158},{36,62}}</string>
                <key>offset</key>
                <string>{27,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,159},{36,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{30,110}}</string>
                <key>offset</key>
                <string>{9,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,104},{30,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,690},{48,114}}</string>
                <key>offset</key>
                <string>{17,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,96},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,580},{66,104}}</string>
                <key>offset</key>
                <string>{44,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,118},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{102,50}}</string>
                <key>offset</key>
                <string>{46,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,177},{102,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{104,56}}</string>
                <key>offset</key>
                <string>{42,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,193},{104,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,52},{102,50}}</string>
                <key>offset</key>
                <string>{46,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,177},{102,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,580},{64,104}}</string>
                <key>offset</key>
                <string>{45,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,118},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,690},{32,118}}</string>
                <key>offset</key>
                <string>{30,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,105},{32,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,388},{104,86}}</string>
                <key>offset</key>
                <string>{53,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,142},{104,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{118,48}}</string>
                <key>offset</key>
                <string>{41,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,201},{118,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,300},{106,84}}</string>
                <key>offset</key>
                <string>{29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{118,48}}</string>
                <key>offset</key>
                <string>{41,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,201},{118,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{104,86}}</string>
                <key>offset</key>
                <string>{53,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,142},{104,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,690},{54,118}}</string>
                <key>offset</key>
                <string>{27,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,113},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{90,62}}</string>
                <key>offset</key>
                <string>{30,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,170},{90,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,222},{74,76}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,200},{74,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,476},{52,102}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,193},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{70,76}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,200},{70,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,158},{92,58}}</string>
                <key>offset</key>
                <string>{29,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,174},{92,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{62,102}}</string>
                <key>offset</key>
                <string>{6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,129},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,104},{36,52}}</string>
                <key>offset</key>
                <string>{-10,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,177},{36,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,300},{38,86}}</string>
                <key>offset</key>
                <string>{-26,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,190},{38,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,476},{48,98}}</string>
                <key>offset</key>
                <string>{-34,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,187},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{34,86}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,190},{34,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>w_030_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{36,52}}</string>
                <key>offset</key>
                <string>{-10,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,177},{36,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>w_030_2.png</string>
            <key>size</key>
            <string>{240,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0352c13932e051091fcef3152dabde5b:1/1$</string>
            <key>textureFileName</key>
            <string>w_030_2.png</string>
        </dict>
    </dict>
</plist>
