<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_010_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,648},{106,208}}</string>
                <key>offset</key>
                <string>{5,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,45},{106,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,856},{100,206}}</string>
                <key>offset</key>
                <string>{6,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,50},{100,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,822},{98,200}}</string>
                <key>offset</key>
                <string>{2,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,54},{98,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,440},{112,246}}</string>
                <key>offset</key>
                <string>{-9,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,4},{112,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,924},{96,210}}</string>
                <key>offset</key>
                <string>{3,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,45},{96,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,922},{100,206}}</string>
                <key>offset</key>
                <string>{5,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,51},{100,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,426},{182,218}}</string>
                <key>offset</key>
                <string>{49,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,47},{182,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,754},{170,210}}</string>
                <key>offset</key>
                <string>{51,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,50},{170,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{152,208}}</string>
                <key>offset</key>
                <string>{48,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,54},{152,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,360},{126,256}}</string>
                <key>offset</key>
                <string>{38,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,7},{126,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,824},{156,212}}</string>
                <key>offset</key>
                <string>{48,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,48},{156,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,608},{166,214}}</string>
                <key>offset</key>
                <string>{51,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,46},{166,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{252,228}}</string>
                <key>offset</key>
                <string>{66,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,62},{252,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,228}}</string>
                <key>offset</key>
                <string>{70,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,62},{252,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{234,228}}</string>
                <key>offset</key>
                <string>{72,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,65},{234,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{184,266}}</string>
                <key>offset</key>
                <string>{62,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,30},{184,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{240,226}}</string>
                <key>offset</key>
                <string>{73,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,65},{240,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{252,210}}</string>
                <key>offset</key>
                <string>{74,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,61},{252,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,552},{202,246}}</string>
                <key>offset</key>
                <string>{38,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,87},{202,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,226},{214,242}}</string>
                <key>offset</key>
                <string>{46,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,85},{214,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{216,242}}</string>
                <key>offset</key>
                <string>{51,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,84},{216,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,184},{176,264}}</string>
                <key>offset</key>
                <string>{42,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,67},{176,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,210},{216,236}}</string>
                <key>offset</key>
                <string>{51,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,91},{216,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,608},{216,214}}</string>
                <key>offset</key>
                <string>{47,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,84},{216,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,486},{114,246}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,103},{114,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,600},{110,224}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,103},{110,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,926},{94,224}}</string>
                <key>offset</key>
                <string>{-17,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,102},{94,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,208},{122,232}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,93},{122,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,822},{100,214}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,114},{100,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,440},{108,208}}</string>
                <key>offset</key>
                <string>{-20,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,108},{108,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_010_2.png</string>
            <key>size</key>
            <string>{1162,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c73a832b21e50ad331d701330c60c346$</string>
            <key>textureFileName</key>
            <string>wq_010_2.png</string>
        </dict>
    </dict>
</plist>
