<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_002_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{90,94}}</string>
                <key>offset</key>
                <string>{36,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,124},{90,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,220},{96,102}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,201},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,90},{66,94}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,164},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,560},{82,58}}</string>
                <key>offset</key>
                <string>{38,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,124},{82,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,486},{74,72}}</string>
                <key>offset</key>
                <string>{-19,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,150},{74,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,618},{56,82}}</string>
                <key>offset</key>
                <string>{13,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,144},{56,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,322},{86,88}}</string>
                <key>offset</key>
                <string>{26,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,150},{86,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{136,70}}</string>
                <key>offset</key>
                <string>{-67,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,192},{136,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{154,84}}</string>
                <key>offset</key>
                <string>{-11,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,152},{154,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,736},{56,32}}</string>
                <key>offset</key>
                <string>{47,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,160},{56,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,738},{64,64}}</string>
                <key>offset</key>
                <string>{24,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,163},{64,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,652},{84,60}}</string>
                <key>offset</key>
                <string>{34,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,173},{84,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,514},{42,68}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,167},{42,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{118,56}}</string>
                <key>offset</key>
                <string>{-73,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,152},{118,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,326},{114,44}}</string>
                <key>offset</key>
                <string>{-41,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,161},{114,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{104,48}}</string>
                <key>offset</key>
                <string>{25,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,164},{104,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{138,42}}</string>
                <key>offset</key>
                <string>{71,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,196},{138,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,84},{120,50}}</string>
                <key>offset</key>
                <string>{48,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,200},{120,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,410},{72,76}}</string>
                <key>offset</key>
                <string>{-31,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,158},{72,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,674},{72,64}}</string>
                <key>offset</key>
                <string>{-34,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,128},{72,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,768},{62,72}}</string>
                <key>offset</key>
                <string>{-32,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,129},{62,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,204},{104,80}}</string>
                <key>offset</key>
                <string>{-15,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,149},{104,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,156},{94,64}}</string>
                <key>offset</key>
                <string>{61,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,222},{94,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,582},{106,90}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,205},{106,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{100,106}}</string>
                <key>offset</key>
                <string>{-35,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,123},{100,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,412},{102,70}}</string>
                <key>offset</key>
                <string>{23,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,113},{102,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,556},{96,76}}</string>
                <key>offset</key>
                <string>{5,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,119},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{104,106}}</string>
                <key>offset</key>
                <string>{-28,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,123},{104,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,308},{64,104}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,223},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,440},{50,106}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,204},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_002_4.png</string>
            <key>size</key>
            <string>{248,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1d534b4372b2cc93a3c86a40e30eb15$</string>
            <key>textureFileName</key>
            <string>wq_002_4.png</string>
        </dict>
    </dict>
</plist>
