<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_001_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,138},{94,116}}</string>
                <key>offset</key>
                <string>{39,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,112},{94,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,0},{132,62}}</string>
                <key>offset</key>
                <string>{-49,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,184},{132,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{92,90}}</string>
                <key>offset</key>
                <string>{-14,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,150},{92,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,152},{56,104}}</string>
                <key>offset</key>
                <string>{21,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,87},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,140},{84,86}}</string>
                <key>offset</key>
                <string>{-25,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,144},{84,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,0},{64,138}}</string>
                <key>offset</key>
                <string>{-1,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,98},{64,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,134},{76,94}}</string>
                <key>offset</key>
                <string>{21,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,142},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{152,80}}</string>
                <key>offset</key>
                <string>{-81,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,149},{152,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{146,54}}</string>
                <key>offset</key>
                <string>{-42,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,160},{146,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,146},{70,106}}</string>
                <key>offset</key>
                <string>{28,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,102},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,0},{90,78}}</string>
                <key>offset</key>
                <string>{37,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,150},{90,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{104,126}}</string>
                <key>offset</key>
                <string>{37,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,118},{104,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,78},{62,90}}</string>
                <key>offset</key>
                <string>{-6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,156},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,146},{106,124}}</string>
                <key>offset</key>
                <string>{-66,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,90},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{146,86}}</string>
                <key>offset</key>
                <string>{-51,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,125},{146,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,134},{82,122}}</string>
                <key>offset</key>
                <string>{13,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,110},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{146,54}}</string>
                <key>offset</key>
                <string>{64,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,192},{146,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,84}}</string>
                <key>offset</key>
                <string>{53,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,165},{152,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,152},{86,104}}</string>
                <key>offset</key>
                <string>{-39,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,137},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,0},{60,138}}</string>
                <key>offset</key>
                <string>{-20,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,63},{60,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,132},{86,124}}</string>
                <key>offset</key>
                <string>{-34,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,87},{86,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{74,138}}</string>
                <key>offset</key>
                <string>{-10,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,108},{74,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{142,98}}</string>
                <key>offset</key>
                <string>{59,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,206},{142,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,0},{134,64}}</string>
                <key>offset</key>
                <string>{37,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,199},{134,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,138},{98,132}}</string>
                <key>offset</key>
                <string>{-53,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,103},{98,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,142},{132,114}}</string>
                <key>offset</key>
                <string>{37,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,82},{132,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{88,134}}</string>
                <key>offset</key>
                <string>{-6,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,72},{88,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{56,152}}</string>
                <key>offset</key>
                <string>{-30,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,92},{56,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{80,140}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,208},{80,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_001_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,140},{68,84}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,204},{68,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_001_4.png</string>
            <key>size</key>
            <string>{1216,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be5427e23900c4294a7071f661560466$</string>
            <key>textureFileName</key>
            <string>wq_001_4.png</string>
        </dict>
    </dict>
</plist>
