<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_012_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1584},{198,102}}</string>
                <key>offset</key>
                <string>{83,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,134},{198,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1852},{200,108}}</string>
                <key>offset</key>
                <string>{82,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,129},{200,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{202,126}}</string>
                <key>offset</key>
                <string>{84,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,114},{202,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1374},{202,118}}</string>
                <key>offset</key>
                <string>{84,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,121},{202,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1776},{198,102}}</string>
                <key>offset</key>
                <string>{63,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,144},{198,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1576},{200,108}}</string>
                <key>offset</key>
                <string>{62,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,139},{200,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{202,126}}</string>
                <key>offset</key>
                <string>{64,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,124},{202,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1172},{202,118}}</string>
                <key>offset</key>
                <string>{64,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,131},{202,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{246,130}}</string>
                <key>offset</key>
                <string>{65,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,174},{246,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,134}}</string>
                <key>offset</key>
                <string>{67,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,169},{248,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,516},{252,118}}</string>
                <key>offset</key>
                <string>{68,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,170},{252,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{252,124}}</string>
                <key>offset</key>
                <string>{67,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,171},{252,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,264},{172,182}}</string>
                <key>offset</key>
                <string>{31,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,177},{172,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1048},{174,178}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,177},{174,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,694},{180,164}}</string>
                <key>offset</key>
                <string>{34,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,180},{180,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1412},{178,172}}</string>
                <key>offset</key>
                <string>{33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,179},{178,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,516},{188,178}}</string>
                <key>offset</key>
                <string>{-66,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,164},{188,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,858},{190,176}}</string>
                <key>offset</key>
                <string>{-67,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,166},{190,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1686},{190,166}}</string>
                <key>offset</key>
                <string>{-68,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,166},{190,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1222},{190,174}}</string>
                <key>offset</key>
                <string>{-67,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,165},{190,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_012_0.png</string>
            <key>size</key>
            <string>{306,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faf844cc02776fcb70188c2313fe92b7$</string>
            <key>textureFileName</key>
            <string>wq_012_0.png</string>
        </dict>
    </dict>
</plist>
