<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_003_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1868},{146,160}}</string>
                <key>offset</key>
                <string>{62,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,69},{146,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1208},{224,230}}</string>
                <key>offset</key>
                <string>{13,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,103},{224,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1350},{166,222}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,123},{166,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{186,246}}</string>
                <key>offset</key>
                <string>{26,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,103},{186,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{232,256}}</string>
                <key>offset</key>
                <string>{4,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,30},{232,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1006},{240,200}}</string>
                <key>offset</key>
                <string>{14,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,42},{240,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1868},{146,146}}</string>
                <key>offset</key>
                <string>{42,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,104},{146,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,578},{266,148}}</string>
                <key>offset</key>
                <string>{-47,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,137},{266,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1040},{238,168}}</string>
                <key>offset</key>
                <string>{-67,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,141},{238,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,726},{250,174}}</string>
                <key>offset</key>
                <string>{-42,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,128},{250,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1516},{220,218}}</string>
                <key>offset</key>
                <string>{41,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,75},{220,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1316},{168,172}}</string>
                <key>offset</key>
                <string>{58,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,73},{168,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,726},{202,124}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,123},{202,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1432},{222,132}}</string>
                <key>offset</key>
                <string>{-77,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,112},{222,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{232,144}}</string>
                <key>offset</key>
                <string>{-90,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,123},{232,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{274,118}}</string>
                <key>offset</key>
                <string>{-75,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,136},{274,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{316,130}}</string>
                <key>offset</key>
                <string>{15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,139},{316,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,900},{246,140}}</string>
                <key>offset</key>
                <string>{52,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,137},{246,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1564},{196,144}}</string>
                <key>offset</key>
                <string>{-53,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,100},{196,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1154},{162,154}}</string>
                <key>offset</key>
                <string>{-69,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,59},{162,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1708},{174,160}}</string>
                <key>offset</key>
                <string>{-67,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,61},{174,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1666},{190,166}}</string>
                <key>offset</key>
                <string>{-53,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,78},{190,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,130},{312,232}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{312,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,362},{300,216}}</string>
                <key>offset</key>
                <string>{21,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,122},{300,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1832},{142,166}}</string>
                <key>offset</key>
                <string>{-77,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,67},{142,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,928},{226,138}}</string>
                <key>offset</key>
                <string>{-24,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,49},{226,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1868},{164,160}}</string>
                <key>offset</key>
                <string>{0,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,38},{164,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1488},{184,178}}</string>
                <key>offset</key>
                <string>{-38,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,54},{184,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,316}}</string>
                <key>offset</key>
                <string>{-22,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,59},{232,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{238,310}}</string>
                <key>offset</key>
                <string>{-29,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,72},{238,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_003_4.png</string>
            <key>size</key>
            <string>{632,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2829907fb9edc1aa164b8f82240d5f04$</string>
            <key>textureFileName</key>
            <string>wq_003_4.png</string>
        </dict>
    </dict>
</plist>
