<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_004_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{62,124}}</string>
                <key>offset</key>
                <string>{-7,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,94},{62,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,926},{104,80}}</string>
                <key>offset</key>
                <string>{-37,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,122},{104,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1006},{54,96}}</string>
                <key>offset</key>
                <string>{-21,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,102},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1146},{38,66}}</string>
                <key>offset</key>
                <string>{-7,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,127},{38,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1478},{34,72}}</string>
                <key>offset</key>
                <string>{-2,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,118},{34,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{34,86}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,116},{34,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1570},{50,134}}</string>
                <key>offset</key>
                <string>{14,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,93},{50,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{96,112}}</string>
                <key>offset</key>
                <string>{-18,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,98},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{72,114}}</string>
                <key>offset</key>
                <string>{-12,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,88},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{92,76}}</string>
                <key>offset</key>
                <string>{-31,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,117},{92,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1136},{86,82}}</string>
                <key>offset</key>
                <string>{-17,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,111},{86,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{108,80}}</string>
                <key>offset</key>
                <string>{54,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,131},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1444},{76,126}}</string>
                <key>offset</key>
                <string>{24,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,108},{76,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1700},{64,130}}</string>
                <key>offset</key>
                <string>{9,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,90},{64,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1570},{72,130}}</string>
                <key>offset</key>
                <string>{-1,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,81},{72,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{114,98}}</string>
                <key>offset</key>
                <string>{-41,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,94},{114,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{110,102}}</string>
                <key>offset</key>
                <string>{-26,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,96},{110,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1704},{144,60}}</string>
                <key>offset</key>
                <string>{72,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,172},{144,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,844},{82,104}}</string>
                <key>offset</key>
                <string>{16,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,130},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{74,122}}</string>
                <key>offset</key>
                <string>{25,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,104},{74,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1848},{56,138}}</string>
                <key>offset</key>
                <string>{7,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,81},{56,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,124}}</string>
                <key>offset</key>
                <string>{-31,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,70},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1252},{84,130}}</string>
                <key>offset</key>
                <string>{-24,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,75},{84,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{108,80}}</string>
                <key>offset</key>
                <string>{44,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,191},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1382},{62,84}}</string>
                <key>offset</key>
                <string>{-7,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,145},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,748},{104,96}}</string>
                <key>offset</key>
                <string>{23,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,129},{104,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1848},{58,128}}</string>
                <key>offset</key>
                <string>{7,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,92},{58,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1212},{36,130}}</string>
                <key>offset</key>
                <string>{-6,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,63},{36,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1342},{34,136}}</string>
                <key>offset</key>
                <string>{-11,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,68},{34,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1060},{32,86}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,196},{32,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_004_5.png</string>
            <key>size</key>
            <string>{124,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a582984086f8f0e07b41299b2f02878e$</string>
            <key>textureFileName</key>
            <string>wq_004_5.png</string>
        </dict>
    </dict>
</plist>
