<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_007_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,446},{118,182}}</string>
                <key>offset</key>
                <string>{21,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,34},{118,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,606},{170,106}}</string>
                <key>offset</key>
                <string>{-25,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,98},{170,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,556},{216,246}}</string>
                <key>offset</key>
                <string>{-32,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,94},{216,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,280},{176,276}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,92},{176,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,198},{132,188}}</string>
                <key>offset</key>
                <string>{74,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,46},{132,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{280,118}}</string>
                <key>offset</key>
                <string>{11,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,94},{280,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{236,202}}</string>
                <key>offset</key>
                <string>{-51,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,103},{236,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,260},{238,242}}</string>
                <key>offset</key>
                <string>{-54,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,95},{238,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,236},{210,180}}</string>
                <key>offset</key>
                <string>{94,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,78},{210,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{300,184}}</string>
                <key>offset</key>
                <string>{71,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,61},{300,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,0},{208,164}}</string>
                <key>offset</key>
                <string>{-31,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,128},{208,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{260,204}}</string>
                <key>offset</key>
                <string>{-58,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,119},{260,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,0},{188,198}}</string>
                <key>offset</key>
                <string>{46,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,135},{188,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{186,296}}</string>
                <key>offset</key>
                <string>{67,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,48},{186,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,606},{166,124}}</string>
                <key>offset</key>
                <string>{-23,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,112},{166,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,420},{186,190}}</string>
                <key>offset</key>
                <string>{-28,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,92},{186,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,502},{144,226}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,143},{144,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,320}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,67},{142,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,330},{208,90}}</string>
                <key>offset</key>
                <string>{22,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,127},{208,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_007_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,628},{178,128}}</string>
                <key>offset</key>
                <string>{-9,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,108},{178,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_007_7.png</string>
            <key>size</key>
            <string>{1018,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98f89b7c0537daf5ea071d1b6daba210$</string>
            <key>textureFileName</key>
            <string>wq_007_7.png</string>
        </dict>
    </dict>
</plist>
