<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_010_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,818},{86,158}}</string>
                <key>offset</key>
                <string>{8,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,115},{86,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,904},{88,142}}</string>
                <key>offset</key>
                <string>{10,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,121},{88,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,256},{96,162}}</string>
                <key>offset</key>
                <string>{8,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,93},{96,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,670},{98,182}}</string>
                <key>offset</key>
                <string>{5,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,74},{98,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,820},{98,162}}</string>
                <key>offset</key>
                <string>{6,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,95},{98,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,726},{92,146}}</string>
                <key>offset</key>
                <string>{8,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,120},{92,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,418},{174,150}}</string>
                <key>offset</key>
                <string>{32,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,129},{174,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,592},{184,134}}</string>
                <key>offset</key>
                <string>{41,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,137},{184,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,642},{182,146}}</string>
                <key>offset</key>
                <string>{53,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,110},{182,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,820},{170,168}}</string>
                <key>offset</key>
                <string>{52,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,87},{170,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,672},{178,148}}</string>
                <key>offset</key>
                <string>{49,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,108},{178,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{180,138}}</string>
                <key>offset</key>
                <string>{36,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,133},{180,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,114},{228,142}}</string>
                <key>offset</key>
                <string>{37,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,172},{228,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,114},{240,124}}</string>
                <key>offset</key>
                <string>{54,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,177},{240,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,110}}</string>
                <key>offset</key>
                <string>{77,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,161},{256,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{250,138}}</string>
                <key>offset</key>
                <string>{81,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,134},{250,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{254,114}}</string>
                <key>offset</key>
                <string>{71,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,158},{254,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{246,114}}</string>
                <key>offset</key>
                <string>{48,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,171},{246,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,396},{172,198}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,167},{172,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{178,186}}</string>
                <key>offset</key>
                <string>{25,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,173},{178,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,340},{204,136}}</string>
                <key>offset</key>
                <string>{49,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,176},{204,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{210,142}}</string>
                <key>offset</key>
                <string>{56,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,167},{210,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,256},{204,140}}</string>
                <key>offset</key>
                <string>{46,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,172},{204,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,476},{192,166}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,171},{192,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,238},{102,216}}</string>
                <key>offset</key>
                <string>{-24,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,164},{102,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{102,202}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,172},{102,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,788},{104,146}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,179},{104,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,906},{104,146}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,180},{104,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,906},{104,146}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,181},{104,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_010_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,568},{104,186}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,178},{104,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_010_1.png</string>
            <key>size</key>
            <string>{766,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc718b4154442e1a7a068301a34d264$</string>
            <key>textureFileName</key>
            <string>wq_010_1.png</string>
        </dict>
    </dict>
</plist>
