<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_002_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{80,106}}</string>
                <key>offset</key>
                <string>{15,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,99},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,0},{62,66}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,170},{62,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,0},{78,96}}</string>
                <key>offset</key>
                <string>{43,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,228},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,0},{74,86}}</string>
                <key>offset</key>
                <string>{40,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,238},{74,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,130}}</string>
                <key>offset</key>
                <string>{35,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,87},{92,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,70},{102,42}}</string>
                <key>offset</key>
                <string>{-42,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,177},{102,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,0},{78,92}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,242},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,0},{90,86}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,252},{90,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,0},{66,114}}</string>
                <key>offset</key>
                <string>{14,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,113},{66,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{128,70}}</string>
                <key>offset</key>
                <string>{-53,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,141},{128,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,62},{130,62}}</string>
                <key>offset</key>
                <string>{-61,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,240},{130,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,62},{124,62}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,246},{124,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,0},{82,96}}</string>
                <key>offset</key>
                <string>{1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,127},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{100,102}}</string>
                <key>offset</key>
                <string>{-48,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,100},{100,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{146,62}}</string>
                <key>offset</key>
                <string>{-64,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,207},{146,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{146,70}}</string>
                <key>offset</key>
                <string>{-66,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,203},{146,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,0},{84,84}}</string>
                <key>offset</key>
                <string>{-23,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,134},{84,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,0},{68,110}}</string>
                <key>offset</key>
                <string>{-13,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,84},{68,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{102,90}}</string>
                <key>offset</key>
                <string>{-35,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,162},{102,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,0},{82,90}}</string>
                <key>offset</key>
                <string>{-51,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,165},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_002_7.png</string>
            <key>size</key>
            <string>{1568,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa698db091daee615a0769d2da2c5fbe$</string>
            <key>textureFileName</key>
            <string>wq_002_7.png</string>
        </dict>
    </dict>
</plist>
