<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_003_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,166},{98,120}}</string>
                <key>offset</key>
                <string>{21,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,134},{98,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,190},{108,118}}</string>
                <key>offset</key>
                <string>{18,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,131},{108,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,168},{102,136}}</string>
                <key>offset</key>
                <string>{4,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,110},{102,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,156},{110,148}}</string>
                <key>offset</key>
                <string>{2,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,97},{110,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,0},{100,160}}</string>
                <key>offset</key>
                <string>{9,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,88},{100,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,168},{100,140}}</string>
                <key>offset</key>
                <string>{17,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,110},{100,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,166},{160,122}}</string>
                <key>offset</key>
                <string>{36,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,155},{160,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,182},{160,124}}</string>
                <key>offset</key>
                <string>{40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,154},{160,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,166},{156,116}}</string>
                <key>offset</key>
                <string>{44,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,132},{156,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,168},{152,130}}</string>
                <key>offset</key>
                <string>{45,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,116},{152,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,164},{160,144}}</string>
                <key>offset</key>
                <string>{42,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,109},{160,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,174},{168,130}}</string>
                <key>offset</key>
                <string>{41,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,132},{168,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{188,136}}</string>
                <key>offset</key>
                <string>{37,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,181},{188,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{182,134}}</string>
                <key>offset</key>
                <string>{40,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,184},{182,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,188},{186,120}}</string>
                <key>offset</key>
                <string>{47,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,179},{186,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{188,108}}</string>
                <key>offset</key>
                <string>{52,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,165},{188,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,122}}</string>
                <key>offset</key>
                <string>{52,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,167},{200,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{190,122}}</string>
                <key>offset</key>
                <string>{41,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,183},{190,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{150,174}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,170},{150,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{150,168}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,175},{150,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,0},{162,164}}</string>
                <key>offset</key>
                <string>{29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,180},{162,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,168},{168,138}}</string>
                <key>offset</key>
                <string>{35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,183},{168,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{168,154}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,178},{168,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,0},{156,166}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,174},{156,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{100,170}}</string>
                <key>offset</key>
                <string>{-35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,175},{100,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,0},{108,166}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,182},{108,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,0},{102,168}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,186},{102,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,0},{110,156}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,188},{110,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,0},{104,168}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,183},{104,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_003_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,0},{98,166}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,179},{98,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_003_1.png</string>
            <key>size</key>
            <string>{2016,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:948fe2d539248743e689ba745418504c$</string>
            <key>textureFileName</key>
            <string>wq_003_1.png</string>
        </dict>
    </dict>
</plist>
