<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_012_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,142},{130,240}}</string>
                <key>offset</key>
                <string>{-4,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,0},{130,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,0},{182,114}}</string>
                <key>offset</key>
                <string>{-49,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,115},{182,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{230,142}}</string>
                <key>offset</key>
                <string>{-54,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,222},{230,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,108},{184,154}}</string>
                <key>offset</key>
                <string>{-22,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,243},{184,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,172},{144,256}}</string>
                <key>offset</key>
                <string>{46,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,0},{144,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,124},{208,186}}</string>
                <key>offset</key>
                <string>{-50,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,53},{208,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{236,92}}</string>
                <key>offset</key>
                <string>{-95,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,208},{236,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,0},{254,108}}</string>
                <key>offset</key>
                <string>{-91,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,235},{254,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,214}}</string>
                <key>offset</key>
                <string>{67,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,51},{198,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{172,244}}</string>
                <key>offset</key>
                <string>{-37,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,6},{172,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,84},{166,134}}</string>
                <key>offset</key>
                <string>{-91,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,135},{166,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{224,142}}</string>
                <key>offset</key>
                <string>{-120,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,162},{224,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,0},{190,144}}</string>
                <key>offset</key>
                <string>{43,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,111},{190,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{124,248}}</string>
                <key>offset</key>
                <string>{6,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,5},{124,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,182},{128,148}}</string>
                <key>offset</key>
                <string>{-16,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,102},{128,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,190},{112,186}}</string>
                <key>offset</key>
                <string>{-73,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,92},{112,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,218},{124,76}}</string>
                <key>offset</key>
                <string>{2,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,153},{124,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,142},{174,208}}</string>
                <key>offset</key>
                <string>{36,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,38},{174,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,0},{236,84}}</string>
                <key>offset</key>
                <string>{46,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,150},{236,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_012_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,108},{182,154}}</string>
                <key>offset</key>
                <string>{11,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,94},{182,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_012_7.png</string>
            <key>size</key>
            <string>{1956,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:572f0376b39fb26bbac9ed700087e327$</string>
            <key>textureFileName</key>
            <string>wq_012_7.png</string>
        </dict>
    </dict>
</plist>
