<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_002_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,184},{68,68}}</string>
                <key>offset</key>
                <string>{23,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,169},{68,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,294},{76,82}}</string>
                <key>offset</key>
                <string>{30,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,153},{76,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,288},{70,86}}</string>
                <key>offset</key>
                <string>{21,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,146},{70,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,374},{48,104}}</string>
                <key>offset</key>
                <string>{10,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,124},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,422},{52,90}}</string>
                <key>offset</key>
                <string>{17,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,140},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,88},{60,80}}</string>
                <key>offset</key>
                <string>{18,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,153},{60,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,340},{122,56}}</string>
                <key>offset</key>
                <string>{21,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,184},{122,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,340},{122,56}}</string>
                <key>offset</key>
                <string>{35,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,181},{122,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,206},{126,64}}</string>
                <key>offset</key>
                <string>{42,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,170},{126,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,190},{104,80}}</string>
                <key>offset</key>
                <string>{41,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,150},{104,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,90},{116,78}}</string>
                <key>offset</key>
                <string>{43,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,158},{116,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{124,56}}</string>
                <key>offset</key>
                <string>{40,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,178},{124,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,90}}</string>
                <key>offset</key>
                <string>{21,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,182},{140,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,332},{130,58}}</string>
                <key>offset</key>
                <string>{24,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,201},{130,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,206},{134,52}}</string>
                <key>offset</key>
                <string>{33,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,194},{134,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{158,56}}</string>
                <key>offset</key>
                <string>{48,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,182},{158,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,462},{132,46}}</string>
                <key>offset</key>
                <string>{36,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,195},{132,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{136,56}}</string>
                <key>offset</key>
                <string>{34,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,200},{136,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,184},{78,104}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,193},{78,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,88},{98,96}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,193},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{106,88}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,192},{106,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,198},{120,68}}</string>
                <key>offset</key>
                <string>{28,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,197},{120,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{106,88}}</string>
                <key>offset</key>
                <string>{15,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,188},{106,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,88},{96,102}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,186},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{86,114}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,177},{86,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,90},{78,108}}</string>
                <key>offset</key>
                <string>{-16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,177},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,422},{62,90}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,192},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,386},{44,90}}</string>
                <key>offset</key>
                <string>{-16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,184},{44,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,288},{48,98}}</string>
                <key>offset</key>
                <string>{-18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,184},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_002_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,370},{62,106}}</string>
                <key>offset</key>
                <string>{-24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,182},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_002_1.png</string>
            <key>size</key>
            <string>{466,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e56f6afe710e7f3151108209f8632b60$</string>
            <key>textureFileName</key>
            <string>wq_002_1.png</string>
        </dict>
    </dict>
</plist>
