<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_005_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,130},{130,82}}</string>
                <key>offset</key>
                <string>{54,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,153},{130,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{130,88}}</string>
                <key>offset</key>
                <string>{54,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,145},{130,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{136,92}}</string>
                <key>offset</key>
                <string>{52,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,141},{136,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{134,86}}</string>
                <key>offset</key>
                <string>{52,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,148},{134,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{130,82}}</string>
                <key>offset</key>
                <string>{34,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,163},{130,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{130,88}}</string>
                <key>offset</key>
                <string>{34,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,155},{130,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{136,92}}</string>
                <key>offset</key>
                <string>{32,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,151},{136,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{134,86}}</string>
                <key>offset</key>
                <string>{32,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,158},{134,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{168,66}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,190},{168,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{160,60}}</string>
                <key>offset</key>
                <string>{38,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,188},{160,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{160,66}}</string>
                <key>offset</key>
                <string>{38,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,188},{160,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,60}}</string>
                <key>offset</key>
                <string>{38,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,189},{160,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,260},{116,110}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,186},{116,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,488},{120,104}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,186},{120,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,592},{128,98}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,187},{128,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,370},{118,102}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,188},{118,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,850},{140,104}}</string>
                <key>offset</key>
                <string>{-51,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,175},{140,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,720},{130,96}}</string>
                <key>offset</key>
                <string>{-48,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,177},{130,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{130,92}}</string>
                <key>offset</key>
                <string>{-48,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,177},{130,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_005_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{132,100}}</string>
                <key>offset</key>
                <string>{-50,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,176},{132,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_005_0.png</string>
            <key>size</key>
            <string>{250,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691541141727e0c476b787a8a60fee82$</string>
            <key>textureFileName</key>
            <string>wq_005_0.png</string>
        </dict>
    </dict>
</plist>
