<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wq_004_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,368},{46,64}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,171},{46,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,430},{40,72}}</string>
                <key>offset</key>
                <string>{11,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,160},{40,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,382},{32,80}}</string>
                <key>offset</key>
                <string>{9,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,146},{32,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,312},{36,106}}</string>
                <key>offset</key>
                <string>{6,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,120},{36,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{34,102}}</string>
                <key>offset</key>
                <string>{7,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,125},{34,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,184},{32,90}}</string>
                <key>offset</key>
                <string>{8,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,137},{32,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,184},{114,56}}</string>
                <key>offset</key>
                <string>{29,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,187},{114,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,190},{110,62}}</string>
                <key>offset</key>
                <string>{32,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,177},{110,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,240},{106,72}}</string>
                <key>offset</key>
                <string>{35,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,162},{106,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{104,94}}</string>
                <key>offset</key>
                <string>{38,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,137},{104,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,252},{106,90}}</string>
                <key>offset</key>
                <string>{37,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,141},{106,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,110},{110,80}}</string>
                <key>offset</key>
                <string>{35,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,153},{110,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{128,66}}</string>
                <key>offset</key>
                <string>{24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,193},{128,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,124},{134,60}}</string>
                <key>offset</key>
                <string>{29,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,192},{134,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,68},{136,56}}</string>
                <key>offset</key>
                <string>{37,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,187},{136,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{138,72}}</string>
                <key>offset</key>
                <string>{44,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,167},{138,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{140,68}}</string>
                <key>offset</key>
                <string>{42,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,172},{140,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,58}}</string>
                <key>offset</key>
                <string>{37,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,183},{144,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,414},{82,90}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,191},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,348},{90,82}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,192},{90,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,34},{98,76}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,192},{98,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{104,66}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,188},{104,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{106,70}}</string>
                <key>offset</key>
                <string>{19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,189},{106,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{106,78}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,190},{106,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,274},{46,94}}</string>
                <key>offset</key>
                <string>{-27,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,187},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,342},{40,86}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,190},{40,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,414},{34,78}}</string>
                <key>offset</key>
                <string>{-21,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,192},{34,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,430},{34,70}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,189},{34,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,430},{32,74}}</string>
                <key>offset</key>
                <string>{-19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,189},{32,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wq_004_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{34,82}}</string>
                <key>offset</key>
                <string>{-20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,189},{34,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wq_004_1.png</string>
            <key>size</key>
            <string>{386,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dfe20a227f6f44fd0dcffe07d7dc054$</string>
            <key>textureFileName</key>
            <string>wq_004_1.png</string>
        </dict>
    </dict>
</plist>
