<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yyc_01_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{196,284}}</string>
                <key>offset</key>
                <string>{-52,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,87},{196,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,310}}</string>
                <key>offset</key>
                <string>{-46,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,97},{174,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,860},{208,234}}</string>
                <key>offset</key>
                <string>{-40,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,96},{208,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,136},{288,228}}</string>
                <key>offset</key>
                <string>{-15,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,87},{288,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{226,234}}</string>
                <key>offset</key>
                <string>{18,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,88},{226,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,822},{232,256}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,91},{232,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{132,290}}</string>
                <key>offset</key>
                <string>{-30,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,73},{132,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,644},{176,278}}</string>
                <key>offset</key>
                <string>{-42,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,66},{176,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,366},{158,216}}</string>
                <key>offset</key>
                <string>{-67,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,96},{158,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,274},{284,238}}</string>
                <key>offset</key>
                <string>{-33,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{284,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{302,270}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,77},{302,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,366},{280,276}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,82},{280,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{202,264}}</string>
                <key>offset</key>
                <string>{-36,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,56},{202,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{228,250}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,70},{228,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1280},{230,192}}</string>
                <key>offset</key>
                <string>{-25,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,80},{230,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1330},{186,230}}</string>
                <key>offset</key>
                <string>{-43,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,72},{186,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,514},{260,280}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,86},{260,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{260,292}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,90},{260,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1056},{250,222}}</string>
                <key>offset</key>
                <string>{9,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,76},{250,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{226,216}}</string>
                <key>offset</key>
                <string>{35,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,93},{226,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{278,194}}</string>
                <key>offset</key>
                <string>{21,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,83},{278,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1518},{224,186}}</string>
                <key>offset</key>
                <string>{-48,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{224,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,942},{170,254}}</string>
                <key>offset</key>
                <string>{-24,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,90},{170,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,584},{136,274}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,106},{136,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1474},{202,224}}</string>
                <key>offset</key>
                <string>{55,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,79},{202,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1544},{180,212}}</string>
                <key>offset</key>
                <string>{48,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,83},{180,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1114},{214,240}}</string>
                <key>offset</key>
                <string>{43,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,77},{214,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,776},{272,164}}</string>
                <key>offset</key>
                <string>{18,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,101},{272,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1326},{224,216}}</string>
                <key>offset</key>
                <string>{-23,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,103},{224,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1096},{228,244}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,105},{228,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yyc_01_4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb7d29f9c8c23bdc97436bb9e2ce1bee$</string>
            <key>textureFileName</key>
            <string>yyc_01_4.png</string>
        </dict>
    </dict>
</plist>
