<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yyc_01_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{278,254}}</string>
                <key>offset</key>
                <string>{-33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,94},{278,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,822},{276,238}}</string>
                <key>offset</key>
                <string>{-22,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,104},{276,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{280,248}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,97},{280,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,696},{278,242}}</string>
                <key>offset</key>
                <string>{-21,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,93},{278,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{270,246}}</string>
                <key>offset</key>
                <string>{-24,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,93},{270,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{248,240}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,92},{248,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{202,288}}</string>
                <key>offset</key>
                <string>{-57,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,76},{202,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{190,254}}</string>
                <key>offset</key>
                <string>{-42,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,90},{190,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{194,278}}</string>
                <key>offset</key>
                <string>{-49,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,87},{194,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,224},{176,282}}</string>
                <key>offset</key>
                <string>{-54,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,83},{176,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,402},{162,280}}</string>
                <key>offset</key>
                <string>{-57,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,85},{162,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1062},{196,268}}</string>
                <key>offset</key>
                <string>{-62,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,83},{196,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{148,268}}</string>
                <key>offset</key>
                <string>{-56,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,67},{148,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,544},{138,258}}</string>
                <key>offset</key>
                <string>{-55,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,71},{138,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,290}}</string>
                <key>offset</key>
                <string>{-44,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,63},{114,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,566},{128,280}}</string>
                <key>offset</key>
                <string>{-49,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,63},{128,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,436},{138,280}}</string>
                <key>offset</key>
                <string>{-56,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,63},{138,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,272},{140,270}}</string>
                <key>offset</key>
                <string>{-57,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,69},{140,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1706},{234,224}}</string>
                <key>offset</key>
                <string>{-19,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,69},{234,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{234,226}}</string>
                <key>offset</key>
                <string>{-9,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,67},{234,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,576},{244,278}}</string>
                <key>offset</key>
                <string>{-36,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,65},{244,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1260},{252,248}}</string>
                <key>offset</key>
                <string>{-31,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,65},{252,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1362},{248,242}}</string>
                <key>offset</key>
                <string>{-31,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,68},{248,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1302},{206,228}}</string>
                <key>offset</key>
                <string>{-49,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,64},{206,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1154},{260,206}}</string>
                <key>offset</key>
                <string>{32,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,73},{260,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,940},{272,212}}</string>
                <key>offset</key>
                <string>{23,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,78},{272,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{288,220}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,66},{288,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,220},{282,214}}</string>
                <key>offset</key>
                <string>{18,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,73},{282,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{286,216}}</string>
                <key>offset</key>
                <string>{14,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,73},{286,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>yyc_01_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1062},{238,194}}</string>
                <key>offset</key>
                <string>{5,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,69},{238,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yyc_01_5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e8728da4e3982e459976ef50b646c92$</string>
            <key>textureFileName</key>
            <string>yyc_01_5.png</string>
        </dict>
    </dict>
</plist>
