<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,79},{39,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,4}}</string>
                <key>sourceSize</key>
                <string>{39,4}</string>
            </dict>
            <key>bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,695},{320,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,34}}</string>
                <key>sourceSize</key>
                <string>{320,34}</string>
            </dict>
            <key>bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{178,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,34}}</string>
                <key>sourceSize</key>
                <string>{178,34}</string>
            </dict>
            <key>bg_02_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1067},{178,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,34}}</string>
                <key>sourceSize</key>
                <string>{178,34}</string>
            </dict>
            <key>bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,731},{301,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,62}}</string>
                <key>sourceSize</key>
                <string>{301,62}</string>
            </dict>
            <key>bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,73},{39,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,4}}</string>
                <key>sourceSize</key>
                <string>{39,4}</string>
            </dict>
            <key>bg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1073},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>bg_09_zuocebiaotilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1063},{190,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,32}}</string>
                <key>sourceSize</key>
                <string>{190,32}</string>
            </dict>
            <key>bg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1060},{136,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,149}}</string>
                <key>sourceSize</key>
                <string>{136,149}</string>
            </dict>
            <key>bg_baitangxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,771},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>bg_beixuanzhebeijing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,95},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>bg_forging_protect.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1097},{183,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,33}}</string>
                <key>sourceSize</key>
                <string>{183,33}</string>
            </dict>
            <key>bg_gongneng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1168},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>bg_gongneng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,40}}</string>
                <key>sourceSize</key>
                <string>{800,40}</string>
            </dict>
            <key>bg_gongneng_03dise.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1037},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bg_gongneng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1329},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>bg_gongneng_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1150},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>bg_latiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,86},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>bg_liaotiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,819},{83,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{83,59}</string>
            </dict>
            <key>bg_tips_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1211},{108,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,86}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
            <key>bg_tips_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{563,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,376}}</string>
                <key>sourceSize</key>
                <string>{563,376}</string>
            </dict>
            <key>bg_tips_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,334},{438,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,305}}</string>
                <key>sourceSize</key>
                <string>{438,305}</string>
            </dict>
            <key>bg_tishi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{545,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,29}}</string>
                <key>sourceSize</key>
                <string>{545,29}</string>
            </dict>
            <key>bg_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1233},{56,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,93}}</string>
                <key>sourceSize</key>
                <string>{56,93}</string>
            </dict>
            <key>bg_xinxitishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{557,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,35}}</string>
                <key>sourceSize</key>
                <string>{557,35}</string>
            </dict>
            <key>bg_zhujiemianliaotianxianshidibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,73},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>btn_img_feitianxie_.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,594},{73,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,54}}</string>
                <key>sourceSize</key>
                <string>{73,54}</string>
            </dict>
            <key>btn_img_feitianxie_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,519},{73,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,54}}</string>
                <key>sourceSize</key>
                <string>{73,54}</string>
            </dict>
            <key>btn_img_kaishiyouxi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,816},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>btn_img_kaishiyouxi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{213,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,46}}</string>
                <key>sourceSize</key>
                <string>{213,46}</string>
            </dict>
            <key>btn_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,728},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>btn_jiantou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,986},{80,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>btn_jiantou3_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,904},{80,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>btn_jiantou_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,669},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>btn_jiemianheidi_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,641},{400,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,52}}</string>
                <key>sourceSize</key>
                <string>{400,52}</string>
            </dict>
            <key>btn_n1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,987},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>btn_n1_01_huise.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,937},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>btn_n1_01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,887},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>btn_n1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1068},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>btn_n1_02_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1091},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>btn_n1_03_.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,921},{61,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,35}}</string>
                <key>sourceSize</key>
                <string>{61,35}</string>
            </dict>
            <key>btn_n1_03_huise.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,858},{61,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,35}}</string>
                <key>sourceSize</key>
                <string>{61,35}</string>
            </dict>
            <key>btn_n1_03_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,795},{61,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,35}}</string>
                <key>sourceSize</key>
                <string>{61,35}</string>
            </dict>
            <key>btn_n1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1102},{98,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,45}}</string>
                <key>sourceSize</key>
                <string>{98,45}</string>
            </dict>
            <key>btn_n1_05_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1102},{98,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,45}}</string>
                <key>sourceSize</key>
                <string>{98,45}</string>
            </dict>
            <key>btn_n1_06_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>btn_n1_06_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1185},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>btn_n3_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1149},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>btn_n3_jia_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1149},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>btn_n3_jiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1338},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>btn_n3_jiasu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1291},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>btn_n3_tuichu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,706},{63,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,36}}</string>
                <key>sourceSize</key>
                <string>{63,36}</string>
            </dict>
            <key>btn_n3_tuichu02_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,641},{63,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,36}}</string>
                <key>sourceSize</key>
                <string>{63,36}</string>
            </dict>
            <key>btn_n3_tuichu_.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1291},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>btn_n3_tuichu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1256},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>btn_n6_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1256},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_n6_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1240},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ceapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,695},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>dialog_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1021},{211,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,40}}</string>
                <key>sourceSize</key>
                <string>{211,40}</string>
            </dict>
            <key>item_bg_dakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1021},{222,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,91}}</string>
                <key>sourceSize</key>
                <string>{222,91}</string>
            </dict>
            <key>item_bg_dakuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,170},{224,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,82}}</string>
                <key>sourceSize</key>
                <string>{224,82}</string>
            </dict>
            <key>item_bg_dakuang02_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,86},{224,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,82}}</string>
                <key>sourceSize</key>
                <string>{224,82}</string>
            </dict>
            <key>item_bg_dakuang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1009},{222,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,91}}</string>
                <key>sourceSize</key>
                <string>{222,91}</string>
            </dict>
            <key>item_bg_kuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1180},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>item_bg_kuang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1114},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>item_bg_kuang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1221},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>item_bg_kuang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1149},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>item_bg_kuang05_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1265},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>item_bg_kuang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1265},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>item_bg_kuang06_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1261},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>item_bg_kyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1030},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>item_bg_rili.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,787},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>label_common_up_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,567},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>label_dian_huangse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,599},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>label_dian_huise.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,585},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>label_getiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,103},{149,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,5}}</string>
                <key>sourceSize</key>
                <string>{149,5}</string>
            </dict>
            <key>label_getiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,613},{201,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,3}}</string>
                <key>sourceSize</key>
                <string>{201,3}</string>
            </dict>
            <key>label_getiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,451},{300,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,3}}</string>
                <key>sourceSize</key>
                <string>{300,3}</string>
            </dict>
            <key>label_getiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{532,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,3}}</string>
                <key>sourceSize</key>
                <string>{532,3}</string>
            </dict>
            <key>label_gouxuan_.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1186},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>label_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1211},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>label_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1293},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>label_liangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,536},{29,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,14}}</string>
                <key>sourceSize</key>
                <string>{29,14}</string>
            </dict>
            <key>label_lijuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1219},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>label_logo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,795},{282,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,212}}</string>
                <key>sourceSize</key>
                <string>{282,212}</string>
            </dict>
            <key>label_logo_rexuetolong.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,50},{282,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,212}}</string>
                <key>sourceSize</key>
                <string>{282,212}</string>
            </dict>
            <key>label_logo_xueren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>label_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,44},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>label_tishijiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1242},{26,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,49}}</string>
                <key>sourceSize</key>
                <string>{26,49}</string>
            </dict>
            <key>label_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1132},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>label_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,254},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>lingfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,254},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>rim_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1114},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,38}}</string>
                <key>sourceSize</key>
                <string>{145,38}</string>
            </dict>
            <key>rim_chenghaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{153,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,33}}</string>
                <key>sourceSize</key>
                <string>{153,33}</string>
            </dict>
            <key>rim_hongsexuanzhekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1009},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>rim_jiazaikuang_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{738,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,27}}</string>
                <key>sourceSize</key>
                <string>{738,27}</string>
            </dict>
            <key>rim_jinsebiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1021},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>rim_tips_waikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,984},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>rim_xiaobiankuang_.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,287},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>rim_xiaoditukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1132},{138,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,99}}</string>
                <key>sourceSize</key>
                <string>{138,99}</string>
            </dict>
            <key>rim_xuanzewaikuang_zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1137},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc99d2b70c4976dca552f4f3d1565304$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
