<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_fs_nan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,290}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,134},{170,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{166,290}}</string>
                <key>offset</key>
                <string>{-28,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,134},{166,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{166,288}}</string>
                <key>offset</key>
                <string>{-29,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,136},{166,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{166,288}}</string>
                <key>offset</key>
                <string>{-29,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,136},{166,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,290},{170,288}}</string>
                <key>offset</key>
                <string>{-28,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,136},{170,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,290},{172,288}}</string>
                <key>offset</key>
                <string>{-26,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,136},{172,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{172,290}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,134},{172,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,578},{170,290}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,134},{170,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_fs_nan.png</string>
            <key>size</key>
            <string>{508,868}</string>
            <key>textureFileName</key>
            <string>anim_fs_nan.png</string>
        </dict>
    </dict>
</plist>
