<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_fs_nv_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,494},{158,242}}</string>
                <key>offset</key>
                <string>{-34,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,193},{158,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nv_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,248},{162,244}}</string>
                <key>offset</key>
                <string>{-36,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,193},{162,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nv_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{164,244}}</string>
                <key>offset</key>
                <string>{-37,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,191},{164,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nv_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,244}}</string>
                <key>offset</key>
                <string>{-39,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,191},{168,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nv_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{168,244}}</string>
                <key>offset</key>
                <string>{-39,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,191},{168,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nv_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,244}}</string>
                <key>offset</key>
                <string>{-39,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,191},{168,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nv_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,248},{164,244}}</string>
                <key>offset</key>
                <string>{-38,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,191},{164,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_fs_nv_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{160,242}}</string>
                <key>offset</key>
                <string>{-36,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,193},{160,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_fs_nv.png</string>
            <key>size</key>
            <string>{512,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcf227fa8e89e927b6a5f76fbf41e285$</string>
            <key>textureFileName</key>
            <string>anim_fs_nv.png</string>
        </dict>
    </dict>
</plist>
