<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_ds_nan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,266},{96,270}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,157},{96,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_ds_nan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,266},{96,268}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,159},{96,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_ds_nan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{96,266}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,161},{96,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_ds_nan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{96,264}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{96,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_ds_nan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,264}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{96,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_ds_nan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{96,266}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,161},{96,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_ds_nan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{96,266}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,161},{96,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_ds_nan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{96,268}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,159},{96,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_ds_nan.png</string>
            <key>size</key>
            <string>{480,536}</string>
            <key>textureFileName</key>
            <string>anim_ds_nan.png</string>
        </dict>
    </dict>
</plist>
