<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_zs_nan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,304}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,120},{156,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_zs_nan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{158,302}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,122},{158,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_zs_nan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{158,300}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,124},{158,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_zs_nan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,606},{160,300}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,124},{160,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_zs_nan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,606},{160,298}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,126},{160,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_zs_nan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,304},{160,300}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,124},{160,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_zs_nan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,304},{158,302}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,122},{158,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>anim_zs_nan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{158,302}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,122},{158,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_zs_nan.png</string>
            <key>size</key>
            <string>{476,906}</string>
            <key>textureFileName</key>
            <string>anim_zs_nan.png</string>
        </dict>
    </dict>
</plist>
