<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duomingzhe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{151,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,60}</string>
            </dict>
            <key>duomingzhe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,126},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>duomingzhe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,64},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>duomingzhe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,430},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>duomingzhe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{153,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,60}}</string>
                <key>sourceSize</key>
                <string>{153,60}</string>
            </dict>
            <key>duomingzhe_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{151,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,60}</string>
            </dict>
            <key>duomingzhe_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,368},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>duomingzhe_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{151,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,60}</string>
            </dict>
            <key>duomingzhe_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{151,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,60}</string>
            </dict>
            <key>duomingzhe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,216},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>duomingzhe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,64},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>duomingzhe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,216},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>duomingzhe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,60}}</string>
                <key>sourceSize</key>
                <string>{153,60}</string>
            </dict>
            <key>duomingzhe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{151,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,60}</string>
            </dict>
            <key>duomingzhe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duomingzhe.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed806d08e630256163f9601e17808ba3$</string>
            <key>textureFileName</key>
            <string>duomingzhe.png</string>
        </dict>
    </dict>
</plist>
