<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,222},{98,74}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,131},{98,74}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,254},{30,104}}</string>
                <key>offset</key>
                <string>{25,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,130},{30,104}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,158},{70,130}}</string>
                <key>offset</key>
                <string>{35,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,83},{70,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{76,88}}</string>
                <key>offset</key>
                <string>{41,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,88},{76,88}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,146},{74,102}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,104},{74,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,146},{52,104}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,135},{52,104}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{124,108}}</string>
                <key>offset</key>
                <string>{42,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,98},{124,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,298},{94,130}}</string>
                <key>offset</key>
                <string>{68,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,82},{94,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{80,118}}</string>
                <key>offset</key>
                <string>{-17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,95},{80,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,66},{78,106}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,130},{78,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{154,124}}</string>
                <key>offset</key>
                <string>{47,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,111},{154,124}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,158},{98,138}}</string>
                <key>offset</key>
                <string>{84,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,115},{98,138}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,128},{72,124}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,92},{72,124}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{62,108}}</string>
                <key>offset</key>
                <string>{-43,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,105},{62,108}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{104,164}}</string>
                <key>offset</key>
                <string>{53,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,107},{104,164}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,298},{68,114}}</string>
                <key>offset</key>
                <string>{67,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,171},{68,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,432},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,348},{82,122}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,94},{82,122}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,298},{76,80}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,85},{76,80}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,178}}</string>
                <key>offset</key>
                <string>{-30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,120},{80,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_001_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,298},{54,116}}</string>
                <key>offset</key>
                <string>{-19,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,197},{54,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_001.png</string>
            <key>size</key>
            <string>{512,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5cfbfb30e269461c353d12aca8c7148:1/1$</string>
            <key>textureFileName</key>
            <string>e_001.png</string>
        </dict>
    </dict>
</plist>
