<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_007_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,106},{96,128}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{96,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_007_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{104,142}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,140},{104,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_007_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,142}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,140},{104,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_007_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{104,142}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,140},{104,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_007_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{102,140}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,141},{102,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_007.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:642f21595ec92e0f8c913163d255ce34:1/1$</string>
            <key>textureFileName</key>
            <string>e_007.png</string>
        </dict>
    </dict>
</plist>
