<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_000_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,146},{40,40}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{40,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{42,44}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{42,44}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{46,48}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{46,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{44,48}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{44,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,196},{42,42}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{42,42}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,48},{44,42}}</string>
                <key>offset</key>
                <string>{-14,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{44,42}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,58},{46,48}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{46,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,94},{50,52}}</string>
                <key>offset</key>
                <string>{-15,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{50,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,52},{52,52}}</string>
                <key>offset</key>
                <string>{-14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{52,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,54}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{68,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{66,48}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{66,48}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{68,50}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{68,50}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,52}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{70,52}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,108},{36,34}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,31},{36,34}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{36,36}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{36,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,106},{38,40}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,30},{38,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,146},{40,40}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{40,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{42,40}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{42,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,146},{42,40}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,30},{42,40}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,106},{32,36}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,32},{32,36}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>e_000_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,94},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_000.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b35e9c3a0942451914a905b27354298e:1/1$</string>
            <key>textureFileName</key>
            <string>e_000.png</string>
        </dict>
    </dict>
</plist>
