<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,233},{78,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{94,44}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,232},{94,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{86,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,233},{86,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{88,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,232},{88,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_002_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{92,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,231},{92,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_002_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{102,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,230},{102,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_002_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,48},{110,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,228},{110,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_002_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,48},{116,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,227},{116,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_002.png</string>
            <key>size</key>
            <string>{438,106}</string>
            <key>textureFileName</key>
            <string>e_002.png</string>
        </dict>
    </dict>
</plist>
