<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_004_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,74}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{24,74}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_004.png</string>
            <key>size</key>
            <string>{28,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:514305312cc70ba639542cd294074b4c:1/1$</string>
            <key>textureFileName</key>
            <string>e_004.png</string>
        </dict>
    </dict>
</plist>
