<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_006_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{74,90}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,186},{74,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{74,88}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,187},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{72,86}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,188},{72,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{66,88}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,186},{66,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{62,90}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,185},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{64,92}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,183},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{66,90}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,182},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{68,88}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,185},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,92}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,181},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,92}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,180},{68,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_006_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{68,90}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,183},{68,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_006.png</string>
            <key>size</key>
            <string>{776,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:565130ef27e634446143a69fa6544b1f:1/1$</string>
            <key>textureFileName</key>
            <string>e_006.png</string>
        </dict>
    </dict>
</plist>
