<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_019_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,262},{210,138}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,115},{210,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{198,136}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,113},{198,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,130},{184,132}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,113},{184,132}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,130},{170,132}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,110},{170,132}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{154,132}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,105},{154,132}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{138,130}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,103},{138,130}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{122,122}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,105},{122,122}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{102,106}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,116},{102,106}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{84,90}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,128},{84,90}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>e_019_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,76}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,136},{66,76}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_019.png</string>
            <key>size</key>
            <string>{512,400}</string>
            <key>textureFileName</key>
            <string>e_019.png</string>
        </dict>
    </dict>
</plist>
