<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_012_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,458},{250,162}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{250,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,788},{206,160}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,29},{206,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,260},{208,196}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,1},{208,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{248,148}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,41},{248,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,802},{218,166}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,22},{218,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,622},{238,164}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{238,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{240,182}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{240,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{244,186}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{244,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{256,206}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,1},{256,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{278,212}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{278,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_012_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,212}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{278,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_012.png</string>
            <key>size</key>
            <string>{503,1052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:417a2f9f0a3394a81fb88e5cbc23051e:1/1$</string>
            <key>textureFileName</key>
            <string>e_012.png</string>
        </dict>
    </dict>
</plist>
