<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_010_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{92,66}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,209},{92,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{92,66}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,209},{92,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{96,106}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,169},{96,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{96,106}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,169},{96,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{96,114}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,161},{96,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{96,114}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,161},{96,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,126}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,149},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,126}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,149},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,128}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,147},{96,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_010_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,128}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,147},{96,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_010.png</string>
            <key>size</key>
            <string>{256,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20a3c5283af4c2194a08dbed170729c2:1/1$</string>
            <key>textureFileName</key>
            <string>e_010.png</string>
        </dict>
    </dict>
</plist>
