<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_018_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{106,98}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,176},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_018_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,288},{140,112}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,171},{140,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_018_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{164,140}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,149},{164,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_018_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,144},{162,142}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,148},{162,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_018_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{166,152}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,139},{166,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_018_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,154}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,136},{170,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_018_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{168,150}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,135},{168,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_018_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,158},{148,116}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,168},{148,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_018_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,308},{140,108}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,177},{140,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_018.png</string>
            <key>size</key>
            <string>{512,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2440cfdf0ef9b884ba3517a756c2a8b:1/1$</string>
            <key>textureFileName</key>
            <string>e_018.png</string>
        </dict>
    </dict>
</plist>
