<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_017_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{96,126}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,144},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_017_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{100,136}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,142},{100,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_017_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{104,146}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,140},{104,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_017_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{106,156}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,139},{106,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_017_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{110,162}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,138},{110,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_017_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{108,158}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,138},{108,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_017_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{108,164}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,137},{108,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_017_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,162}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,137},{112,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_017_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{110,158}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,138},{110,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_017.png</string>
            <key>size</key>
            <string>{116,1388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5487323d45fe4ef193a2abac7b1e546:1/1$</string>
            <key>textureFileName</key>
            <string>e_017.png</string>
        </dict>
    </dict>
</plist>
