<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_025_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,92}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,87},{114,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_025_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{130,108}}</string>
                <key>offset</key>
                <string>{24,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,80},{130,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_025_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{132,120}}</string>
                <key>offset</key>
                <string>{31,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,65},{132,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_025_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{156,140}}</string>
                <key>offset</key>
                <string>{43,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,48},{156,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_025_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,120},{124,136}}</string>
                <key>offset</key>
                <string>{29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,70},{124,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_025_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,120},{148,130}}</string>
                <key>offset</key>
                <string>{36,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,74},{148,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_025_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{130,116}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,78},{130,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_025_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,260},{138,146}}</string>
                <key>offset</key>
                <string>{23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,58},{138,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>e_025_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,260},{172,158}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{172,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_025.png</string>
            <key>size</key>
            <string>{440,418}</string>
            <key>textureFileName</key>
            <string>e_025.png</string>
        </dict>
    </dict>
</plist>
