<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_027_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,458},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,410},{128,122}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,152},{128,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,144},{144,140}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,159},{144,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{118,230}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,152},{118,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,180},{118,172}}</string>
                <key>offset</key>
                <string>{8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,153},{118,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,354},{98,164}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,152},{98,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,458},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{146,160}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,145},{146,160}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{180,166}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,153},{180,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{226,208}}</string>
                <key>offset</key>
                <string>{-45,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,158},{226,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{174,176}}</string>
                <key>offset</key>
                <string>{-21,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,155},{174,176}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,520},{148,126}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,165},{148,126}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,458},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,534},{122,128}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,149},{122,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,342},{140,144}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,152},{140,144}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{230,118}}</string>
                <key>offset</key>
                <string>{-45,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,155},{230,118}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{172,118}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,152},{172,118}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,176},{164,98}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,161},{164,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,458},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,520},{148,160}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,140},{148,160}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,184},{178,172}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,123},{178,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,234},{214,222}}</string>
                <key>offset</key>
                <string>{-44,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,72},{214,222}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,458},{168,182}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,117},{168,182}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,538},{136,132}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,157},{136,132}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,458},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,286},{128,122}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,167},{128,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{144,140}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,139},{144,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,230}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,57},{118,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,364},{118,172}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,114},{118,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_027_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,354},{98,164}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,117},{98,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_027.png</string>
            <key>size</key>
            <string>{1024,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6521de96105162919ad343c956e732:1/1$</string>
            <key>textureFileName</key>
            <string>e_027.png</string>
        </dict>
    </dict>
</plist>
