<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_024_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>e_024_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1642},{98,190}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,106},{98,190}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1394},{106,252}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,74},{106,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,826},{172,386}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,14},{172,386}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{168,384}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,16},{168,384}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{162,400}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,0},{162,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>e_024_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1688},{304,164}}</string>
                <key>offset</key>
                <string>{-48,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,91},{304,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,642},{386,194}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,81},{386,194}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{396,212}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{396,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,234}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,85},{400,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1126},{382,222}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,83},{382,222}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>e_024_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1030},{236,362}}</string>
                <key>offset</key>
                <string>{-82,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{236,362}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1688},{310,284}}</string>
                <key>offset</key>
                <string>{28,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{310,284}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{398,212}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,108},{398,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,688},{396,136}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,183},{396,136}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1000},{386,124}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,193},{386,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>e_024_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,402},{238,220}}</string>
                <key>offset</key>
                <string>{-81,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{364,310}}</string>
                <key>offset</key>
                <string>{-18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,310}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{392,308}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{392,308}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,374},{396,312}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{396,312}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1350},{366,290}}</string>
                <key>offset</key>
                <string>{17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,91},{366,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>e_024_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1502},{240,184}}</string>
                <key>offset</key>
                <string>{42,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,0},{240,184}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{108,378}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{108,378}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{190,400}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,0},{190,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,194},{178,400}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,0},{178,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>e_024_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{164,396}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,4},{164,396}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_024.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ad4d9b92c1687a747e294c3da4cc472$</string>
            <key>textureFileName</key>
            <string>e_024.png</string>
        </dict>
    </dict>
</plist>
