<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_020_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,590},{206,162}}</string>
                <key>offset</key>
                <string>{8,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,83},{206,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,798},{206,172}}</string>
                <key>offset</key>
                <string>{8,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,81},{206,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{206,176}}</string>
                <key>offset</key>
                <string>{8,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,77},{206,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,394},{204,178}}</string>
                <key>offset</key>
                <string>{8,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,75},{204,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{204,184}}</string>
                <key>offset</key>
                <string>{7,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,69},{204,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{206,194}}</string>
                <key>offset</key>
                <string>{8,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,59},{206,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{206,194}}</string>
                <key>offset</key>
                <string>{8,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,59},{206,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,194}}</string>
                <key>offset</key>
                <string>{8,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,59},{206,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{202,194}}</string>
                <key>offset</key>
                <string>{6,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,59},{202,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,198},{200,194}}</string>
                <key>offset</key>
                <string>{6,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,59},{200,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,574},{200,156}}</string>
                <key>offset</key>
                <string>{6,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,97},{200,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_020_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,776},{202,120}}</string>
                <key>offset</key>
                <string>{6,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,125},{202,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_020.png</string>
            <key>size</key>
            <string>{510,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69c2eadf6abb5a3e5caad95bbfa3c5fe:1/1$</string>
            <key>textureFileName</key>
            <string>e_020.png</string>
        </dict>
    </dict>
</plist>
