<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_022_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{142,206}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,60},{142,206}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,220},{88,168}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,53},{88,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,260},{72,102}}</string>
                <key>offset</key>
                <string>{9,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,57},{72,102}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{222,134}}</string>
                <key>offset</key>
                <string>{53,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,107},{222,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,326},{170,76}}</string>
                <key>offset</key>
                <string>{87,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,110},{170,76}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{104,56}}</string>
                <key>offset</key>
                <string>{120,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,106},{104,56}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,124},{184,94}}</string>
                <key>offset</key>
                <string>{64,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,156},{184,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,360},{128,70}}</string>
                <key>offset</key>
                <string>{105,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,172},{128,70}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,312},{92,46}}</string>
                <key>offset</key>
                <string>{129,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,189},{92,46}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,326},{124,182}}</string>
                <key>offset</key>
                <string>{37,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,118},{124,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,364},{88,134}}</string>
                <key>offset</key>
                <string>{72,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,181},{88,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,210},{48,74}}</string>
                <key>offset</key>
                <string>{103,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,234},{48,74}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{1,1}}</string>
                <key>offset</key>
                <string>{-174.5,174.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,262}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,31},{132,262}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{120,190}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,121},{120,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>e_022_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,210},{58,100}}</string>
                <key>offset</key>
                <string>{0,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,232},{58,100}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_022.png</string>
            <key>size</key>
            <string>{510,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82291dea2a90bdec84bc795160bdbeca:1/1$</string>
            <key>textureFileName</key>
            <string>e_022.png</string>
        </dict>
    </dict>
</plist>
