<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_112_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{100,82}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,238},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_112_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{108,136}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,172},{108,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_112_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{108,138}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,147},{108,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_112_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,138}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,121},{112,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_112_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{110,106}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,114},{110,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_112_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{104,92}}</string>
                <key>offset</key>
                <string>{0,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,110},{104,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_112_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{70,70}}</string>
                <key>offset</key>
                <string>{2,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,109},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_112.png</string>
            <key>size</key>
            <string>{116,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:556ab5625b3c52b4aa80696f7f448669:1/1$</string>
            <key>textureFileName</key>
            <string>e_112.png</string>
        </dict>
    </dict>
</plist>
