<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_113_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{158,124}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,189},{158,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_113_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{158,124}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,189},{158,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_113_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{158,124}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,189},{158,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_113_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{158,124}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,189},{158,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_113_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{158,124}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,189},{158,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_113_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,124}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,190},{160,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_113_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,124}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,189},{160,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_113.png</string>
            <key>size</key>
            <string>{1139,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89c2ff860be1e7aab09ae32f65a51de2:1/1$</string>
            <key>textureFileName</key>
            <string>e_113.png</string>
        </dict>
    </dict>
</plist>
