<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_115_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{254,266}}</string>
                <key>offset</key>
                <string>{1,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,16},{254,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_115_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,956},{246,240}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,79},{246,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_115_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,638},{316,234}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{316,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_115_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,320},{316,234}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{316,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_115_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{316,234}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{316,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_115_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{316,234}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,116},{316,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_115_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{316,234}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{316,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_115_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{316,234}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{316,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_115_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,234}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,116},{316,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_115.png</string>
            <key>size</key>
            <string>{512,1448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f78872209bede5fc030d56a0e1d179a:1/1$</string>
            <key>textureFileName</key>
            <string>e_115.png</string>
        </dict>
    </dict>
</plist>
