<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_114_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{90,74}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,54},{90,74}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>e_114_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,854},{72,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,63},{72,62}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>e_114_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{86,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,44},{86,88}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>e_114_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{136,136}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{136,136}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>e_114_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{148,142}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{148,142}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>e_114_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{154,142}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{154,142}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>e_114_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{148,142}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{148,142}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>e_114_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{160,142}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>e_114_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{148,136}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{148,136}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_114.png</string>
            <key>size</key>
            <string>{164,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed68c64a08fb23774a5c28e191e16745:1/1$</string>
            <key>textureFileName</key>
            <string>e_114.png</string>
        </dict>
    </dict>
</plist>
