<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_129_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,84},{110,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,222},{110,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_129_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{116,70}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,226},{116,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_129_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{120,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,217},{120,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_129_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{136,126}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,173},{136,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_129_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,176}}</string>
                <key>offset</key>
                <string>{-9,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,106},{112,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_129_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{40,62}}</string>
                <key>offset</key>
                <string>{-2,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,81},{40,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_129.png</string>
            <key>size</key>
            <string>{512,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e548caa05d54d72e19461772cb7cd896:1/1$</string>
            <key>textureFileName</key>
            <string>e_129.png</string>
        </dict>
    </dict>
</plist>
