<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_125_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{142,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,212},{142,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_125_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,152}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,145},{122,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_125_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{88,146}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,141},{88,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_125_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,92},{68,140}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,139},{68,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_125_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,82},{78,140}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,136},{78,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_125_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{78,140}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,136},{78,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_125_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_125.png</string>
            <key>size</key>
            <string>{512,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e1c05d69e72d6c8107aa75bcf0b4442:1/1$</string>
            <key>textureFileName</key>
            <string>e_125.png</string>
        </dict>
    </dict>
</plist>
