<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_120_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,490},{92,108}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,175},{92,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,468},{102,142}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,141},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{104,142}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,142},{104,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,334},{206,176}}</string>
                <key>offset</key>
                <string>{8,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,106},{206,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,178},{206,162}}</string>
                <key>offset</key>
                <string>{8,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,90},{206,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,490},{92,82}}</string>
                <key>offset</key>
                <string>{-2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,117},{92,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,160},{206,146}}</string>
                <key>offset</key>
                <string>{8,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,107},{206,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,368},{204,146}}</string>
                <key>offset</key>
                <string>{8,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,107},{204,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,342},{204,146}}</string>
                <key>offset</key>
                <string>{7,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,107},{204,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{226,156}}</string>
                <key>offset</key>
                <string>{8,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,107},{226,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{266,174}}</string>
                <key>offset</key>
                <string>{8,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,107},{266,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{266,174}}</string>
                <key>offset</key>
                <string>{8,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,107},{266,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,206},{260,174}}</string>
                <key>offset</key>
                <string>{6,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,107},{260,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{260,174}}</string>
                <key>offset</key>
                <string>{1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,107},{260,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,202}}</string>
                <key>offset</key>
                <string>{-16,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,81},{260,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_120_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,178},{260,154}}</string>
                <key>offset</key>
                <string>{-9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,117},{260,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_120.png</string>
            <key>size</key>
            <string>{1024,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a564b385af0c1a9cdc81564b1219274a:1/1$</string>
            <key>textureFileName</key>
            <string>e_120.png</string>
        </dict>
    </dict>
</plist>
