<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_141_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1026},{40,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,96},{40,38}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_141_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{96,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{96,92}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_141_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{124,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{124,122}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_141_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{148,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{148,144}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_141_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{170,164}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{170,164}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_141_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{174,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{174,174}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_141_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,180}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{178,180}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_141_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{176,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{176,180}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_141_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{178,170}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,38},{178,170}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_141.png</string>
            <key>size</key>
            <string>{182,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a3dd754205883a0ce0d516c6416f088:1/1$</string>
            <key>textureFileName</key>
            <string>e_141.png</string>
        </dict>
    </dict>
</plist>
