<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_140_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,116},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,91},{50,48}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,138},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{40,40}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{104,112}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,60},{104,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{134,132}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,50},{134,132}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{152,154}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{152,154}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{172,166}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,34},{172,166}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{176,176}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{176,176}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,182}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{180,182}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{178,182}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{178,182}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>e_140_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,170}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,40},{180,170}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_140.png</string>
            <key>size</key>
            <string>{1282,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d55e0b755e63bc8dca9ee82318db41c:1/1$</string>
            <key>textureFileName</key>
            <string>e_140.png</string>
        </dict>
    </dict>
</plist>
