<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_153_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,56},{82,26}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,98},{82,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>e_153_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{120,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,89},{120,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>e_153_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{160,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,80},{160,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>e_153_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{160,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,76},{160,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>e_153_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{160,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,72},{160,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>e_153_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,44}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,74},{136,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>e_153_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,56},{112,38}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,75},{112,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>e_153_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,96},{88,28}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{88,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_153.png</string>
            <key>size</key>
            <string>{256,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbe96347af0aa7b936fb1539baad61bb:1/1$</string>
            <key>textureFileName</key>
            <string>e_153.png</string>
        </dict>
    </dict>
</plist>
