<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_160_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,274},{116,102}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,200},{116,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_160_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,164}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,129},{122,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_160_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{120,160}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,103},{120,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_160_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{120,152}}</string>
                <key>offset</key>
                <string>{0,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,83},{120,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_160_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,156},{118,116}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,84},{118,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_160.png</string>
            <key>size</key>
            <string>{256,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c431a09550e2cc329f8a72e2bc01f7:1/1$</string>
            <key>textureFileName</key>
            <string>e_160.png</string>
        </dict>
    </dict>
</plist>
