<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_162_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,186},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{38,40}}</string>
                <key>offset</key>
                <string>{15,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,190},{38,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,82},{38,42}}</string>
                <key>offset</key>
                <string>{15,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,191},{38,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,198},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,82},{38,38}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,196},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{38,40}}</string>
                <key>offset</key>
                <string>{15,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,192},{38,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,191},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{38,38}}</string>
                <key>offset</key>
                <string>{13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,197},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,122},{46,42}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,195},{46,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,201},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{38,38}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,200},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{40,38}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,196},{40,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,198},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,42},{52,38}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,200},{52,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{56,38}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,198},{56,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,198},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,42},{46,38}}</string>
                <key>offset</key>
                <string>{-13,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,198},{46,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,42},{56,38}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,198},{56,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,200},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{42,38}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,199},{42,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,122},{48,42}}</string>
                <key>offset</key>
                <string>{-17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,191},{48,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{-21,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,192},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{38,38}}</string>
                <key>offset</key>
                <string>{-17,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,195},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,122},{52,40}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,195},{52,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,197},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,38}}</string>
                <key>offset</key>
                <string>{-16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,194},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,122},{38,46}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,187},{38,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,82},{38,38}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,186},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{38,40}}</string>
                <key>offset</key>
                <string>{-16,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,186},{38,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>e_162_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,82},{38,46}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,186},{38,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_162_1.png</string>
            <key>size</key>
            <string>{256,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eab4765905125feb19f1fd92209f6ee1:1/1$</string>
            <key>textureFileName</key>
            <string>e_162_1.png</string>
        </dict>
    </dict>
</plist>
