<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_166_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1193},{375,377}}</string>
                <key>offset</key>
                <string>{-62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{375,377}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_166_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{373,225}}</string>
                <key>offset</key>
                <string>{-63,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,216},{373,225}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_166_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,792},{379,203}}</string>
                <key>offset</key>
                <string>{-60,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,238},{379,203}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_166_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,407},{383,209}}</string>
                <key>offset</key>
                <string>{-57,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,232},{383,209}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_166_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{389,219}}</string>
                <key>offset</key>
                <string>{-53,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,225},{389,219}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_166_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,231}}</string>
                <key>offset</key>
                <string>{-47,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,222},{403,231}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_166_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{393,219}}</string>
                <key>offset</key>
                <string>{-53,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,230},{393,219}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_166_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{345,181}}</string>
                <key>offset</key>
                <string>{-63,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,256},{345,181}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_166.png</string>
            <key>size</key>
            <string>{512,1755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6f5ebfb8633a03e9e220b5092e88e81$</string>
            <key>textureFileName</key>
            <string>e_166.png</string>
        </dict>
    </dict>
</plist>
