<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_173_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1004},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1505},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1004},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,503},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,503},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1505},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1004},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,503},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,2},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1505},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
            <key>e_173_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{499,499}}</string>
                <key>offset</key>
                <string>{66,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,499}}</string>
                <key>sourceSize</key>
                <string>{499,499}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_173.png</string>
            <key>size</key>
            <string>{2006,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0554e61a053b5cf0b4a673aa3f81a4a$</string>
            <key>textureFileName</key>
            <string>e_173.png</string>
        </dict>
    </dict>
</plist>
