<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ei_002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{52,60}}</string>
                <key>offset</key>
                <string>{29,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,83},{52,60}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,442},{102,74}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,77},{102,74}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{118,106}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,52},{118,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{128,126}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{128,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{130,126}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{130,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{130,126}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{130,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,126}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{132,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,122},{112,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,37},{112,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{98,86}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{98,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,336},{104,106}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,25},{104,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,236},{98,110}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,22},{98,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ei_002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,514},{98,76}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,45},{98,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ei_002.png</string>
            <key>size</key>
            <string>{246,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d212d345da767dc7f218793f50cf98b:1/1$</string>
            <key>textureFileName</key>
            <string>ei_002.png</string>
        </dict>
    </dict>
</plist>
