<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gh_150_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{138,148}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,24},{138,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>gh_150_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{128,148}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,24},{128,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>gh_150_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{128,148}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,24},{128,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>gh_150_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,148}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,24},{142,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>gh_150_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{134,148}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,24},{134,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>gh_150_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,148}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,24},{142,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gh_150.png</string>
            <key>size</key>
            <string>{826,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f55659bdc754a96f73cc5346547ff42d:1/1$</string>
            <key>textureFileName</key>
            <string>gh_150.png</string>
        </dict>
    </dict>
</plist>
