<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,213}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,213}}</string>
                <key>sourceSize</key>
                <string>{150,231}</string>
            </dict>
            <key>sd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,213}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,213}}</string>
                <key>sourceSize</key>
                <string>{150,231}</string>
            </dict>
            <key>sd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{130,167}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,167}}</string>
                <key>sourceSize</key>
                <string>{150,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sd.png</string>
            <key>size</key>
            <string>{438,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ae92c47650b871853f0b82bfba7a2ec:1/1$</string>
            <key>textureFileName</key>
            <string>sd.png</string>
        </dict>
    </dict>
</plist>
