<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangujue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>wangujue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>wangujue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,442},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>wangujue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>wangujue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,64},{152,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,60}}</string>
                <key>sourceSize</key>
                <string>{152,60}</string>
            </dict>
            <key>wangujue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,188},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>wangujue_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,126},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>wangujue_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{157,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,60}}</string>
                <key>sourceSize</key>
                <string>{157,60}</string>
            </dict>
            <key>wangujue_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>wangujue_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>wangujue_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>wangujue_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{151,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,60}</string>
            </dict>
            <key>wangujue_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,64},{151,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,60}</string>
            </dict>
            <key>wangujue_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,126},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>wangujue_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,217},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangujue.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2175dded0134c930add251f69a0ebc2d$</string>
            <key>textureFileName</key>
            <string>wangujue.png</string>
        </dict>
    </dict>
</plist>
