<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yijian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,126},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>yijian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{143,60}</string>
            </dict>
            <key>yijian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>yijian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>yijian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{145,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>yijian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,64},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>yijian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,432},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>yijian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,290},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>yijian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,148},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>yijian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,290},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>yijian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>yijian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{143,60}</string>
            </dict>
            <key>yijian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,60}}</string>
                <key>sourceSize</key>
                <string>{149,60}</string>
            </dict>
            <key>yijian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{143,60}</string>
            </dict>
            <key>yijian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,148},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yijian.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:805ceb68c427edd3db74c597f9f406f6$</string>
            <key>textureFileName</key>
            <string>yijian.png</string>
        </dict>
    </dict>
</plist>
