<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangkongzhe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{149,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,60}}</string>
                <key>sourceSize</key>
                <string>{149,60}</string>
            </dict>
            <key>zhangkongzhe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,64},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>zhangkongzhe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,359},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{143,60}</string>
            </dict>
            <key>zhangkongzhe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,361},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>zhangkongzhe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,213},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>zhangkongzhe_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{153,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,60}}</string>
                <key>sourceSize</key>
                <string>{153,60}</string>
            </dict>
            <key>zhangkongzhe_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>zhangkongzhe_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>zhangkongzhe_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{149,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,60}}</string>
                <key>sourceSize</key>
                <string>{149,60}</string>
            </dict>
            <key>zhangkongzhe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,64},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>zhangkongzhe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,212},{145,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>zhangkongzhe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>zhangkongzhe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,214},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>zhangkongzhe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>zhangkongzhe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangkongzhe.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8167dda1b05d6f5fd8ef457ea8c7b27$</string>
            <key>textureFileName</key>
            <string>zhangkongzhe.png</string>
        </dict>
    </dict>
</plist>
