<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhojiezhe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>zhojiezhe_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,150},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{143,60}</string>
            </dict>
            <key>zhojiezhe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,64},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>zhojiezhe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>zhojiezhe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,60}}</string>
                <key>sourceSize</key>
                <string>{147,60}</string>
            </dict>
            <key>zhojiezhe_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,294},{142,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>zhojiezhe_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>zhojiezhe_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,150},{142,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>zhojiezhe_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>zhojiezhe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,295},{142,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>zhojiezhe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,64},{140,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>zhojiezhe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{145,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>zhojiezhe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>zhojiezhe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,438},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>zhojiezhe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhojiezhe.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f55dab5819003f27074d875699197df$</string>
            <key>textureFileName</key>
            <string>zhojiezhe.png</string>
        </dict>
    </dict>
</plist>
