<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlertView</key>
	<dict>
		<key>content</key>
		<dict>
			<key>contentTitle</key>
			<dict>
				<key>font</key>
				<dict>
					<key>font</key>
					<integer>30</integer>
					<key>fontColor</key>
					<string>#ff7512</string>
					<key>fontShadow</key>
					<integer>0</integer>
					<key>fontShadowColor</key>
					<string></string>
					<key>labelWidth</key>
					<integer>300</integer>
					<key>labelLeft</key>
					<integer>0</integer>
					<key>labelTop</key>
					<integer>10</integer>
					<key>labelHeight</key>
					<integer>40</integer>
					<key>textAlign</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>contentText</key>
			<dict>
				<key>font</key>
				<dict>
					<key>font</key>
					<integer>20</integer>
					<key>fontColor</key>
					<string>#ffffff</string>
					<key>fontShadow</key>
					<integer>0</integer>
					<key>fontShadowColor</key>
					<string></string>
					<key>labelWidth</key>
					<integer>280</integer>
					<key>labelLeft</key>
					<integer>10</integer>
					<key>labelTop</key>
					<integer>40</integer>
					<key>labelHeight</key>
					<integer>100</integer>
					<key>textAlign</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroudColor</key>
				<string>#000000</string>
				<key>backgroudColorAlpha</key>
				<integer>1</integer>
				<key>backgroundLeftImage</key>
				<string></string>
				<key>backgroundMidImage</key>
				<string></string>
				<key>backgroundRightImage</key>
				<string></string>
				<key>viewHeight</key>
				<integer>150</integer>
				<key>viewWidth</key>
				<integer>300</integer>
				<key>viewTop</key>
				<integer>40</integer>
				<key>viewLeft</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>title</key>
		<dict>
			<key>font</key>
			<dict>
				<key>font</key>
				<integer>24</integer>
				<key>fontColor</key>
				<string>#ffffff</string>
				<key>fontShadow</key>
				<integer>0</integer>
				<key>fontShadowColor</key>
				<string></string>
				<key>labelWidth</key>
				<integer>220</integer>
				<key>labelLeft</key>
				<integer>40</integer>
				<key>labelTop</key>
				<integer>4</integer>
				<key>labelHeight</key>
				<integer>30</integer>
				<key>textAlign</key>
				<integer>0</integer>
			</dict>
			<key>icon</key>
			<dict>
				<key>iconPath</key>
				<string>Announcement_white.png</string>
				<key>backgroudColor</key>
				<string></string>
				<key>backgroudColorAlpha</key>
				<integer>0</integer>
				<key>viewHeight</key>
				<integer>28</integer>
				<key>viewWidth</key>
				<integer>28</integer>
				<key>viewTop</key>
				<integer>5</integer>
				<key>viewLeft</key>
				<integer>10</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroudColor</key>
				<string>#000000</string>
				<key>backgroudColorAlpha</key>
				<integer>1</integer>
				<key>backgroundLeftImage</key>
				<string></string>
				<key>backgroundMidImage</key>
				<string></string>
				<key>backgroundRightImage</key>
				<string></string>
				<key>viewHeight</key>
				<integer>50</integer>
				<key>viewWidth</key>
				<integer>300</integer>
				<key>viewTop</key>
				<integer>0</integer>
				<key>viewLeft</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>bottom</key>
		<dict>
			<key>font</key>
			<dict>
				<key>font</key>
				<integer>14</integer>
				<key>fontColor</key>
				<string>#d6390f</string>
				<key>fontShadow</key>
				<integer>0</integer>
				<key>fontShadowColor</key>
				<string></string>
				<key>labelWidth</key>
				<integer>0</integer>
				<key>labelLeft</key>
				<integer>0</integer>
				<key>labelTop</key>
				<integer>0</integer>
				<key>labelHeight</key>
				<integer>0</integer>
				<key>textAlign</key>
				<integer>0</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroudColor</key>
				<string>#000000</string>
				<key>backgroudColorAlpha</key>
				<integer>1</integer>
				<key>backgroundLeftImage</key>
				<string></string>
				<key>backgroundMidImage</key>
				<string></string>
				<key>backgroundRightImage</key>
				<string></string>
				<key>viewHeight</key>
				<integer>70</integer>
				<key>viewWidth</key>
				<integer>300</integer>
				<key>viewLeft</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>cancelButton</key>
		<dict>
			<key>titleColor</key>
			<string>#ffffff</string>
			<key>backgroudColor</key>
			<string>#ff7512</string>
			<key>backgroudColorAlpha</key>
			<integer>1</integer>
			<key>btnImage</key>
			<string></string>
			<key>selectedBtnImage</key>
			<string></string>
			<key>buttonLeft</key>
			<integer>80</integer>
			<key>buttonWidth</key>
			<integer>150</integer>
			<key>buttonHeight</key>
			<integer>30</integer>
			<key>buttonTitle</key>
			<string></string>
		</dict>
	</dict>
	<key>BannerView</key>
	<dict>
		<key>icon</key>
		<dict>
			<key>iconPath</key>
			<string>Announcement_icon.png</string>
			<key>backgroudColor</key>
			<string>#ffffff</string>
			<key>backgroudColorAlpha</key>
			<integer>1</integer>
			<key>viewHeight</key>
			<integer>20</integer>
			<key>viewWidth</key>
			<integer>20</integer>
			<key>viewTop</key>
			<integer>3</integer>
			<key>viewLeft</key>
			<integer>0</integer>
		</dict>
		<key>font</key>
		<dict>
			<key>font</key>
			<integer>18</integer>
			<key>fontShadow</key>
			<integer>0</integer>
			<key>fontColor</key>
			<string>#000000</string>
			<key>fontShadowColor</key>
			<string></string>
			<key>labelWidth</key>
			<integer>0</integer>
			<key>labelLeft</key>
			<integer>0</integer>
			<key>labelTop</key>
			<integer>0</integer>
			<key>labelHeight</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>0</integer>
		</dict>
		<key>view</key>
		<dict>
			<key>backgroudColor</key>
			<string>#ffffff</string>
			<key>backgroudColorAlpha</key>
			<integer>1</integer>
			<key>backgroundLeftImage</key>
			<string></string>
			<key>backgroundMidImage</key>
			<string></string>
			<key>backgroundRightImage</key>
			<string></string>
			<key>viewHeight</key>
			<integer>25</integer>
			<key>viewWidth</key>
			<integer>310</integer>
			<key>viewTop</key>
			<integer>0</integer>
			<key>viewLeft</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
