<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_000_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,136}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,144},{120,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{112,140}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,142},{112,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{120,136}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,143},{120,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{120,136}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,143},{120,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{140,142}}</string>
                <key>offset</key>
                <string>{-24,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,138},{140,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,140},{140,144}}</string>
                <key>offset</key>
                <string>{-24,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,137},{140,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,140},{142,142}}</string>
                <key>offset</key>
                <string>{-25,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,138},{142,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{140,142}}</string>
                <key>offset</key>
                <string>{-24,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,138},{140,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,284},{134,146}}</string>
                <key>offset</key>
                <string>{-23,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,131},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,284},{136,146}}</string>
                <key>offset</key>
                <string>{-24,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,131},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{136,146}}</string>
                <key>offset</key>
                <string>{-24,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,131},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,430},{134,146}}</string>
                <key>offset</key>
                <string>{-23,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,131},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,430},{140,148}}</string>
                <key>offset</key>
                <string>{-25,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,117},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{142,148}}</string>
                <key>offset</key>
                <string>{-26,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,117},{142,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,578},{142,148}}</string>
                <key>offset</key>
                <string>{-26,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,117},{142,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,578},{140,148}}</string>
                <key>offset</key>
                <string>{-25,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,117},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{120,140}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,116},{120,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,726},{112,140}}</string>
                <key>offset</key>
                <string>{-3,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,115},{112,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,726},{120,140}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,116},{120,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a_000_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,726},{120,140}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,116},{120,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a_000_0.png</string>
            <key>size</key>
            <string>{472,866}</string>
            <key>textureFileName</key>
            <string>a_000_0.png</string>
        </dict>
    </dict>
</plist>
