<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_001_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,240},{92,120}}</string>
                <key>offset</key>
                <string>{8,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,142},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{128,110}}</string>
                <key>offset</key>
                <string>{36,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,152},{128,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,358},{98,106}}</string>
                <key>offset</key>
                <string>{25,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,156},{98,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,240},{94,128}}</string>
                <key>offset</key>
                <string>{12,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,125},{94,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,484},{80,112}}</string>
                <key>offset</key>
                <string>{-6,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,141},{80,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,576},{78,110}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,143},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,666},{106,112}}</string>
                <key>offset</key>
                <string>{27,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,150},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,656},{104,100}}</string>
                <key>offset</key>
                <string>{29,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{104,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,426},{68,100}}</string>
                <key>offset</key>
                <string>{8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,162},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{98,112}}</string>
                <key>offset</key>
                <string>{33,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,150},{98,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,116},{112,116}}</string>
                <key>offset</key>
                <string>{39,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,146},{112,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,550},{114,114}}</string>
                <key>offset</key>
                <string>{34,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,148},{114,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,234},{98,122}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,161},{98,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,466},{96,108}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,164},{96,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,336},{124,104}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,165},{124,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,362},{120,104}}</string>
                <key>offset</key>
                <string>{12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,165},{120,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{138,102}}</string>
                <key>offset</key>
                <string>{62,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,167},{138,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,442},{106,122}}</string>
                <key>offset</key>
                <string>{43,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,164},{106,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{84,126}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,167},{84,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,662},{106,106}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,167},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,134}}</string>
                <key>offset</key>
                <string>{-29,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,139},{134,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{130,100}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,173},{130,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,114},{106,124}}</string>
                <key>offset</key>
                <string>{37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,187},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,138},{84,134}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,178},{84,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,566},{94,112}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,169},{94,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{128,110}}</string>
                <key>offset</key>
                <string>{-37,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,159},{128,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{98,162}}</string>
                <key>offset</key>
                <string>{-26,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,107},{98,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{96,134}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,144},{96,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,106},{80,132}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,195},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_001_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,302},{78,122}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,189},{78,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_001_4.png</string>
            <key>size</key>
            <string>{512,787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0370aa3142af8faaf8a2382a14998462$</string>
            <key>textureFileName</key>
            <string>b_001_4.png</string>
        </dict>
    </dict>
</plist>
