<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_000_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,330},{78,108}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,157},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,520},{74,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,156},{74,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,328},{70,110}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,155},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,214},{72,112}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,154},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,328},{70,110}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,155},{70,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,302},{72,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,158},{72,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,110},{102,102}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,160},{102,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,104}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,159},{106,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,106}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,160},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,106}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,160},{104,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{100,106}}</string>
                <key>offset</key>
                <string>{10,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,158},{100,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,110},{98,102}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,159},{98,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{100,102}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,157},{100,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{100,102}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,157},{100,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{98,102}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,157},{98,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,102},{96,104}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,156},{96,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,156},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,200},{100,100}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,158},{100,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,522},{76,106}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,155},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,376},{68,106}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,155},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{66,106}}</string>
                <key>offset</key>
                <string>{-11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,154},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,446},{74,104}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,154},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,440},{80,110}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,154},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{82,108}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,155},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,440},{78,106}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,153},{78,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,216},{72,112}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,153},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,414},{72,110}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,154},{72,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,526},{70,106}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,153},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,214},{70,112}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,152},{70,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,302},{72,110}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,153},{72,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_000_1.png</string>
            <key>size</key>
            <string>{512,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3778c8e54e10c97e782a3c1983a75fd$</string>
            <key>textureFileName</key>
            <string>b_000_1.png</string>
        </dict>
    </dict>
</plist>
