<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_000_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,246},{74,84}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,171},{74,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,48}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,241},{124,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{134,56}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,235},{134,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{142,50}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,240},{142,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{74,78}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,180},{74,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,106},{82,66}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,236},{82,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,172},{96,66}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,238},{96,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{98,66}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,238},{98,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,246},{80,84}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,181},{80,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,172},{94,72}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,225},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,172},{100,72}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,227},{100,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,172},{102,74}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,225},{102,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,246},{96,100}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,170},{96,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{128,50}}</string>
                <key>offset</key>
                <string>{-23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,222},{128,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{128,52}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,222},{128,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,50},{128,54}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,222},{128,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,246},{74,116}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,148},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,50},{124,56}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,216},{124,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,106},{134,56}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,216},{134,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b_000_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,106},{140,60}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,216},{140,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>b_000_7.png</string>
            <key>size</key>
            <string>{490,362}</string>
            <key>textureFileName</key>
            <string>b_000_7.png</string>
        </dict>
    </dict>
</plist>
