<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_007_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{52,98}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{44,100}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,164},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,116}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,148},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{60,114}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{60,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,106},{60,100}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,165},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,312},{52,98}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,163},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,100},{42,96}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,167},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,328},{34,100}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,165},{34,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{52,114}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,151},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{58,112}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,152},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{62,102}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,164},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,104},{42,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,161},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,50},{56,92}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,169},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{46,94}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,168},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,236},{50,106}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,156},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,106},{50,102}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,102},{68,96}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,168},{68,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,210},{60,100}}</string>
                <key>offset</key>
                <string>{9,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,161},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,226},{58,88}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,172},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,286},{54,88}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,172},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{54,100}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,200},{54,96}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,164},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,154},{70,88}}</string>
                <key>offset</key>
                <string>{11,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,173},{70,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{60,96}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,163},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,200},{52,96}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,171},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,108},{44,92}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,175},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,118},{60,104}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,162},{60,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,208},{58,100}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,166},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,298},{60,94}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,174},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,224},{50,102}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,163},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_007_5.png</string>
            <key>size</key>
            <string>{512,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72487ac4c3be88b74e8bccdb20a3090b$</string>
            <key>textureFileName</key>
            <string>d_007_5.png</string>
        </dict>
    </dict>
</plist>
