<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_009_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,104}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,106}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,102},{42,98}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,161},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,108},{40,102}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,161},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,108},{40,104}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,160},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,104},{40,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{48,104}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,161},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,104}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,161},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,102},{30,98}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,161},{30,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{46,100}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,160},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,104},{42,100}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{38,100}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,161},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{60,96}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,163},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,204},{46,96}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,163},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,252},{28,96}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,163},{28,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,212},{54,96}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,163},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,104},{50,98}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,162},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{32,98}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,163},{32,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,206},{50,98}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,164},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{40,96}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,165},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{38,92}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,166},{38,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{50,100}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,165},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,104},{46,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,164},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,134},{36,96}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,165},{36,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,102},{40,98}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,167},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{40,98}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,166},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,216},{42,92}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,167},{42,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{40,100}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{42,98}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,167},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,172},{42,94}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,167},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_009_1.png</string>
            <key>size</key>
            <string>{512,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f19f0a4367580bd92d505bc8f076f00a$</string>
            <key>textureFileName</key>
            <string>d_009_1.png</string>
        </dict>
    </dict>
</plist>
