<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_005_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{54,96}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,165},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,100},{52,96}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,174},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{82,66}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,199},{82,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,72},{74,56}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,210},{74,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{46,98}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,165},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,98},{54,94}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,174},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{78,68}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,197},{78,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,130},{72,52}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,215},{72,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{50,100}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,165},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{38,90}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,171},{38,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{94,66}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,200},{94,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,42}}</string>
                <key>offset</key>
                <string>{28,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,230},{108,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,104},{62,98}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,164},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,94},{42,84}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,171},{42,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,102},{96,64}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,197},{96,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,194},{92,40}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,236},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{54,100}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,165},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{52,80}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,171},{52,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,86},{80,68}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,190},{80,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_005_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,180},{74,54}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,236},{74,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_005_7.png</string>
            <key>size</key>
            <string>{512,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d1dfe7db0e539d36f13c36306bf50a$</string>
            <key>textureFileName</key>
            <string>d_005_7.png</string>
        </dict>
    </dict>
</plist>
