<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_007_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{44,100}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{56,96}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,174},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{58,70}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,195},{58,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{68,62}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,208},{68,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{34,100}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,163},{34,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,102},{50,94}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,174},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,100},{68,72}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,194},{68,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{78,50}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,216},{78,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{40,100}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,165},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,104},{50,90}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,172},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{66,60}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{66,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,34}}</string>
                <key>offset</key>
                <string>{27,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,232},{110,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{50,98}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,104},{48,84}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,172},{48,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,66},{68,58}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{68,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,100},{94,40}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,236},{94,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{44,100}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{56,84}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,70},{60,56}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,204},{60,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,126},{68,54}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,237},{68,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_007_7.png</string>
            <key>size</key>
            <string>{512,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:652b0a9ef2214b9a581ad6df5aaa19a7$</string>
            <key>textureFileName</key>
            <string>d_007_7.png</string>
        </dict>
    </dict>
</plist>
