<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_007_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{42,104}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,160},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{44,106}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,161},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,104},{44,100}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,110},{42,104}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,158},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{44,102}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,161},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,108},{44,102}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,159},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{54,104}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,161},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,106}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,160},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{50,98}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,208},{50,100}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,159},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{50,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,160},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,216},{52,102}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,160},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,100},{64,96}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,163},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{60,98}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,162},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,100},{54,96}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,163},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,198},{56,96}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,163},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,102},{50,98}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,162},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,106},{54,100}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,162},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{66,96}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,164},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,202},{64,96}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,164},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,198},{58,94}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,164},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,212},{56,100}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,164},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,206},{58,98}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,165},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{58,96}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,165},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,310},{42,98}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,166},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,300},{44,96}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,167},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,306},{46,92}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,167},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,102},{44,98}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,166},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,202},{44,98}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,166},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_007_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{44,94}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,166},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_007_1.png</string>
            <key>size</key>
            <string>{512,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abddc282d9ec1ff4c30948b2feac91e7$</string>
            <key>textureFileName</key>
            <string>d_007_1.png</string>
        </dict>
    </dict>
</plist>
