<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_009_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{40,100}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,160},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{52,96}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,173},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,100},{44,68}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,197},{44,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,104},{66,58}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,209},{66,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{30,100}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,162},{30,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{44,94}}</string>
                <key>offset</key>
                <string>{-9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,173},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{56,70}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,195},{56,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,96},{74,50}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,214},{74,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{38,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,164},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{36,90}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,171},{36,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,106},{66,60}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,199},{66,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,32}}</string>
                <key>offset</key>
                <string>{27,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,229},{110,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{46,98}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,164},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{46,86}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,169},{46,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,98},{66,50}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,208},{66,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{94,38}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,236},{94,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{40,102}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,163},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,98},{52,84}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,167},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,50},{44,42}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,215},{44,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_009_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{68,54}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,235},{68,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_009_7.png</string>
            <key>size</key>
            <string>{512,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b3613e91e310806f4dd62cfebf1c6fb$</string>
            <key>textureFileName</key>
            <string>d_009_7.png</string>
        </dict>
    </dict>
</plist>
