<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_003_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,224},{48,100}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,164},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,202},{42,96}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,168},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,196},{44,94}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,170},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{52,106}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,158},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,194},{60,92}}</string>
                <key>offset</key>
                <string>{-8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,172},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{66,98}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,166},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,72},{44,98}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,166},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,192},{48,94}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,170},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{62,94}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,169},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{52,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,164},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,118},{74,88}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,176},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{74,94}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,171},{74,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,194},{56,92}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,168},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,124},{62,92}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,168},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{74,96}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,164},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,120},{70,92}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,168},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,300},{82,72}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,188},{82,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,288},{72,80}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,180},{72,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,66},{56,94}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,171},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,98},{60,96}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,168},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,112}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,151},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{68,98}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,166},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,304},{68,64}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,200},{68,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,288},{70,74}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,190},{70,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,70},{48,98}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,171},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,202},{44,100}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,167},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{44,118}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,148},{44,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,116},{50,106}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,264},{60,68}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,200},{60,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,188},{66,74}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,194},{66,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_003_4.png</string>
            <key>size</key>
            <string>{512,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd7525fb97a802a31d46b6db7491f58$</string>
            <key>textureFileName</key>
            <string>d_003_4.png</string>
        </dict>
    </dict>
</plist>
