<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_001_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,98}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,169},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{42,100}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,169},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{42,114}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,152},{42,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,46},{44,114}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,152},{44,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,192},{56,100}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,168},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,48},{44,96}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,166},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{50,94}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,169},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,46},{44,96}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,168},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,92},{44,110}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,153},{44,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,142},{54,108}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,155},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,256},{62,98}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,168},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{44,94}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,165},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,250},{60,90}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,170},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,200},{58,92}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,169},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,198},{56,104}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,157},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,250},{58,100}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,161},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,260},{66,92}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,171},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,144},{54,96}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,163},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,138},{52,94}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,170},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{54,88}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,172},{54,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,138},{52,98}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,162},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,92},{48,94}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,166},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{60,86}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,173},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,94},{48,96}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,162},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{42,94}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,172},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,46},{44,92}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,173},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{42,102}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,163},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{44,98}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,167},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,192},{56,92}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,175},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_001_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,92},{44,100}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,163},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_001_5.png</string>
            <key>size</key>
            <string>{512,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c26c046218cd0b0dc7781272a110a7f6$</string>
            <key>textureFileName</key>
            <string>d_001_5.png</string>
        </dict>
    </dict>
</plist>
