<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_008_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{46,98}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,162},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,102},{60,96}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,173},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{80,74}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,195},{80,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{74,62}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,209},{74,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,104},{36,100}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{54,94}}</string>
                <key>offset</key>
                <string>{-12,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,174},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{90,76}}</string>
                <key>offset</key>
                <string>{-11,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,194},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,84},{74,56}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,215},{74,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,100}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,164},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,186},{40,90}}</string>
                <key>offset</key>
                <string>{-16,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,173},{40,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,100},{94,72}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,199},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,40}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,233},{108,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{50,96}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,166},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{48,88}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,170},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,94},{90,54}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,208},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,98},{94,42}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,235},{94,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{48,100}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,92},{60,82}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,169},{60,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,78},{80,60}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,200},{80,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,160},{76,58}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,234},{76,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_008_7.png</string>
            <key>size</key>
            <string>{512,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7068d3b029a109fb2a304f81e809c95$</string>
            <key>textureFileName</key>
            <string>d_008_7.png</string>
        </dict>
    </dict>
</plist>
