<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_006_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{42,102}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,158},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{52,98}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,171},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,102},{46,80}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,185},{46,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,102},{64,58}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,208},{64,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{36,102}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{36,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{48,98}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,169},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{52,82}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,182},{52,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,106},{72,48}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{72,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{38,102}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,162},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{44,90}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,171},{44,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,106},{66,70}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,189},{66,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,30}}</string>
                <key>offset</key>
                <string>{31,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,232},{110,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{42,98}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,164},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,94},{42,84}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{42,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{68,56}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,203},{68,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{92,44}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,237},{92,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{42,102}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,164},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,102},{52,80}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,171},{52,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,86},{48,50}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,210},{48,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_006_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,106},{64,60}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,237},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_006_7.png</string>
            <key>size</key>
            <string>{512,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bc7343fcf42242401d470b596c36da2$</string>
            <key>textureFileName</key>
            <string>d_006_7.png</string>
        </dict>
    </dict>
</plist>
