<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_003_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,132},{50,96}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,164},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,94}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,175},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{90,66}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,199},{90,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{66,52}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,211},{66,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,130},{44,96}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,166},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{64,94}}</string>
                <key>offset</key>
                <string>{-14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,173},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{90,68}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,196},{90,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,130},{72,48}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,215},{72,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,132},{44,98}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,130},{44,90}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,171},{44,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,72},{90,58}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,202},{90,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{106,46}}</string>
                <key>offset</key>
                <string>{29,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,222},{106,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,186},{50,96}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,165},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,70},{58,84}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,170},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,124},{90,60}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,198},{90,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,184},{90,50}}</string>
                <key>offset</key>
                <string>{25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,226},{90,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,72},{50,100}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,164},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,50},{70,78}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,171},{70,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{90,68}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,191},{90,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_003_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,70},{68,58}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,232},{68,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_003_7.png</string>
            <key>size</key>
            <string>{512,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f692610571d4c287279b665e4f5b1dd$</string>
            <key>textureFileName</key>
            <string>d_003_7.png</string>
        </dict>
    </dict>
</plist>
