<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_008_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{62,106}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,162},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{60,106}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,162},{60,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{60,98}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,162},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,218},{64,104}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,163},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{68,102}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,161},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{66,98}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,161},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,106}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,162},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,110},{68,102}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,163},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{62,102}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,163},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,106},{58,102}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,163},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,104},{64,100}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,164},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,102},{60,98}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,163},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,324},{70,94}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,168},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,140},{74,90}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,169},{74,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,206},{62,98}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,167},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,210},{64,100}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,167},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{78,100}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,169},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{68,96}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,168},{68,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,312},{62,84}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,172},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{62,88}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,173},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,278},{56,88}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,173},{56,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,184},{64,90}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,174},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{70,94}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,173},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,72},{66,92}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,174},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,336},{60,86}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,174},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,216},{60,90}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,175},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,250},{60,88}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,176},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,312},{64,82}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,174},{64,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,312},{68,86}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,176},{68,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_008_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,92},{64,90}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,176},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_008_2.png</string>
            <key>size</key>
            <string>{512,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ed6715288794a4f8294f33892db847e$</string>
            <key>textureFileName</key>
            <string>d_008_2.png</string>
        </dict>
    </dict>
</plist>
