<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_019_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,42},{38,96}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,164},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,96}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,173},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,82},{40,68}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,197},{40,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,98},{66,56}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,209},{66,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,30},{28,98}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,165},{28,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,46},{44,94}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,173},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,110},{52,68}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,197},{52,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,60},{74,48}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,214},{74,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{38,100}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,164},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,82},{38,90}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,171},{38,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{66,58}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,202},{66,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{110,26}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,233},{110,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{42,98}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,164},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,122},{42,86}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,169},{42,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,110},{68,46}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,212},{68,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{94,40}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,236},{94,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{38,102}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,163},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,92},{50,80}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,170},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,42},{38,38}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,219},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{66,54}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,236},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_019_7.png</string>
            <key>size</key>
            <string>{512,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36fc33549706cda28c73f71fe42b7e34$</string>
            <key>textureFileName</key>
            <string>d_019_7.png</string>
        </dict>
    </dict>
</plist>
