<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_017_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,102},{50,98}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,163},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{50,98}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,164},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,226},{40,110}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,151},{40,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{42,110}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,151},{42,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,102},{62,98}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,164},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,312},{44,98}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,161},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,104},{42,100}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{42,102}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,160},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,110}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,152},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,114},{48,108}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,154},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{58,104}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,106},{42,102}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,158},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{52,100}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,160},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,208},{52,100}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{44,104}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,157},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,108},{46,104}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,157},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,214},{54,102}}</string>
                <key>offset</key>
                <string>{8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{50,104}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,155},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,270},{64,96}}</string>
                <key>offset</key>
                <string>{10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,161},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,202},{66,96}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,161},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{50,102}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,156},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,212},{46,102}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,156},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{64,98}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,108},{52,104}}</string>
                <key>offset</key>
                <string>{6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,153},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,108},{52,102}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,162},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,106},{52,100}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,164},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,224},{40,106}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,158},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{44,106}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,158},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,210},{60,100}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,165},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{44,110}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,153},{44,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_017_5.png</string>
            <key>size</key>
            <string>{512,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6f34d51c769473fd4ab975f4555547$</string>
            <key>textureFileName</key>
            <string>d_017_5.png</string>
        </dict>
    </dict>
</plist>
