<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_011_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,44},{42,104}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,44},{42,104}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{44,96}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,162},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,88},{42,100}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,132},{44,102}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,161},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,226},{50,98}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,161},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,178},{44,100}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,163},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{40,100}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,163},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{40,96}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,161},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,132},{44,96}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,163},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,44},{42,98}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,162},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{40,96}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,162},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,228},{58,94}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,163},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{46,94}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,163},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,96}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,162},{34,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,228},{52,94}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,163},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,178},{48,96}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,163},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{38,98}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,162},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,178},{46,96}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,164},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,178},{48,96}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,164},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{40,94}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,163},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,88},{42,100}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,163},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,88},{42,100}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,163},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,224},{48,98}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,163},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,86},{42,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,164},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,42},{42,100}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,163},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,132},{44,96}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,163},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{42,102}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,163},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,132},{44,100}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,163},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_011_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{50,96}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,163},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_011_1.png</string>
            <key>size</key>
            <string>{512,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a366f0c9036a20eb0d7553236be018f$</string>
            <key>textureFileName</key>
            <string>d_011_1.png</string>
        </dict>
    </dict>
</plist>
