<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_018_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,108},{42,104}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,160},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{48,100}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,314},{44,98}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,166},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{54,110}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,155},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,106},{64,100}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,165},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,356},{52,104}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,161},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,246},{60,108}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,157},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,214},{64,104}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,161},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,210},{62,102}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,162},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{58,106}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,159},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{72,96}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,108},{70,104}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,162},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{74,104}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,158},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,106},{70,102}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,160},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,218},{80,104}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,157},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{74,102}}</string>
                <key>offset</key>
                <string>{7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,160},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,222},{78,82}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,179},{78,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,320},{76,90}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,172},{76,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{64,102}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,164},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{68,106}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,160},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{60,116}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,214},{70,102}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,164},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,100},{66,72}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,193},{66,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,318},{62,84}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,182},{62,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,116},{42,108}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,163},{42,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{48,112}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,158},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,124}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,145},{44,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{52,110}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,160},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,306},{64,68}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,202},{64,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,168},{52,84}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,186},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_018_4.png</string>
            <key>size</key>
            <string>{512,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f2e3a20881bed06351969e0e2849890$</string>
            <key>textureFileName</key>
            <string>d_018_4.png</string>
        </dict>
    </dict>
</plist>
