<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_016_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{36,100}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,162},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{44,96}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,172},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{38,64}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,199},{38,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,94},{66,60}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,210},{66,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{26,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,164},{26,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{42,96}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,171},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,104},{48,66}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,196},{48,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,100},{74,54}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,215},{74,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{38,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,164},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{34,90}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,170},{34,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,88},{64,56}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,203},{64,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,30}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{110,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{42,98}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{40,86}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,168},{40,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,104},{64,50}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,211},{64,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{94,38}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,240},{94,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{38,102}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,163},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{46,84}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,168},{46,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,42},{38,40}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,220},{38,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_016_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,100},{66,54}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,238},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_016_7.png</string>
            <key>size</key>
            <string>{512,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f58efa9307df1fbf1c85adbc4ad9f3$</string>
            <key>textureFileName</key>
            <string>d_016_7.png</string>
        </dict>
    </dict>
</plist>
