<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_018_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,58},{56,98}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,162},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{68,102}}</string>
                <key>offset</key>
                <string>{-10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,168},{68,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,102},{80,76}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,195},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,180},{74,66}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,202},{74,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{46,104}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,159},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,102}}</string>
                <key>offset</key>
                <string>{-15,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,165},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,184},{68,72}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,195},{68,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,180},{80,54}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,211},{80,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{54,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,156},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{60,100}}</string>
                <key>offset</key>
                <string>{-18,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,161},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,116},{90,62}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,200},{90,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,68},{116,38}}</string>
                <key>offset</key>
                <string>{32,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,230},{116,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{64,106}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,156},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,108},{70,94}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,161},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,108},{94,58}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,210},{94,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,60},{102,40}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,236},{102,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{56,110}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,155},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,64},{68,88}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,163},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,134},{82,48}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,219},{82,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_018_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,204},{74,52}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,238},{74,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_018_7.png</string>
            <key>size</key>
            <string>{512,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae725a478e93064ecb5c94395fc82e0$</string>
            <key>textureFileName</key>
            <string>d_018_7.png</string>
        </dict>
    </dict>
</plist>
