<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_017_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{40,100}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{54,100}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,168},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,108},{46,68}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,198},{46,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,106},{64,56}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,207},{64,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{32,104}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,158},{32,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{48,102}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,165},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{74,68}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,197},{74,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,112},{78,48}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,214},{78,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{40,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,156},{40,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{50,98}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,163},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,102},{88,58}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,201},{88,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,28}}</string>
                <key>offset</key>
                <string>{33,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,233},{114,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{42,106}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,155},{42,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{42,92}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,162},{42,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,110},{80,46}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,211},{80,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{100,38}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,238},{100,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{40,108}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,156},{40,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,104},{54,86}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,164},{54,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,96},{48,42}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,216},{48,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_017_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,104},{64,54}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,237},{64,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_017_7.png</string>
            <key>size</key>
            <string>{512,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab05864187798f25f62980d5bb0c23a7$</string>
            <key>textureFileName</key>
            <string>d_017_7.png</string>
        </dict>
    </dict>
</plist>
