<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_013_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,108},{46,96}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,162},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,102},{52,94}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,172},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{68,74}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,188},{68,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,132},{66,58}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,206},{66,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,104},{40,100}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,108},{48,96}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,169},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{76,80}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,183},{76,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,98},{84,54}}</string>
                <key>offset</key>
                <string>{17,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,207},{84,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{42,104}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,158},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{44,94}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,164},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{76,70}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,187},{76,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,42}}</string>
                <key>offset</key>
                <string>{29,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,226},{110,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{46,100}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{42,88}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,164},{42,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,72},{72,58}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,198},{72,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{98,40}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,233},{98,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{44,104}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,159},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,84},{52,80}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,168},{52,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,132},{68,50}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,206},{68,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_013_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,74},{66,54}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,233},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_013_7.png</string>
            <key>size</key>
            <string>{512,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6285f29857f4af1d92c409a806cf35$</string>
            <key>textureFileName</key>
            <string>d_013_7.png</string>
        </dict>
    </dict>
</plist>
