<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_010_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{28,102}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,162},{28,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{30,98}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,167},{30,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{30,96}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,168},{30,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,112},{42,106}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,158},{42,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{58,92}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,172},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,106},{48,100}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,164},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{42,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,164},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,100},{50,96}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,167},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{62,96}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,167},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,208},{42,100}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,164},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,220},{56,88}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,176},{56,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,198},{50,96}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,168},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{56,92}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,168},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,98},{60,92}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,168},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,204},{76,96}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,163},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,198},{66,92}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,167},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{72,70}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,189},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,192},{62,80}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,180},{62,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,60},{46,92}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,172},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,100},{54,96}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,168},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{54,112}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,151},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,104},{62,98}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,166},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,108},{64,60}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,203},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,230},{56,74}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,190},{56,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{28,94}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,174},{28,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{30,100}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,167},{30,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,120}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,146},{30,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{42,108}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,160},{42,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,170},{58,58}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,210},{58,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_010_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,108},{48,74}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,194},{48,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_010_4.png</string>
            <key>size</key>
            <string>{512,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7dd5dddd4339907bb17af99a99f0ce1$</string>
            <key>textureFileName</key>
            <string>d_010_4.png</string>
        </dict>
    </dict>
</plist>
