<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_019_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,276},{26,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,164},{26,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,174},{28,98}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,167},{28,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,160},{28,96}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,169},{28,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,68},{44,108}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,157},{44,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,66},{54,94}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,171},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,98},{48,100}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{38,100}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,165},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,178},{48,96}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,169},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{60,96}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,169},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,200},{40,102}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,164},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,212},{54,90}}</string>
                <key>offset</key>
                <string>{12,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,176},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,66},{46,96}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,170},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,64},{54,94}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,168},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{62,94}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,168},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,98}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{64,94}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,167},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,164},{72,72}}</string>
                <key>offset</key>
                <string>{14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,189},{72,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{60,82}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,180},{60,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,200},{48,96}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,170},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,98},{54,100}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,166},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{50,114}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,151},{50,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{64,100}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,166},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,238},{62,64}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,201},{62,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,238},{56,76}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,189},{56,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,64},{28,98}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,172},{28,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,68},{28,104}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,165},{28,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,68},{28,120}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,148},{28,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,102},{44,108}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,162},{44,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,164},{56,62}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,208},{56,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_019_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,164},{46,78}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{46,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_019_4.png</string>
            <key>size</key>
            <string>{512,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5491d8d40b85c014b4f54c5176ecc7a$</string>
            <key>textureFileName</key>
            <string>d_019_4.png</string>
        </dict>
    </dict>
</plist>
