<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_020_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,102},{46,98}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,164},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,48},{42,98}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,165},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{40,114}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,149},{40,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,114}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,149},{42,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,108},{56,102}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{44,98}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,163},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,92},{34,98}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,165},{34,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,210},{28,100}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,164},{28,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,118},{34,112}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,152},{34,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{40,110}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,154},{40,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,106},{46,102}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,164},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{32,102}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,159},{32,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,202},{50,96}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,166},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,184},{46,96}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,166},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{44,108}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,155},{44,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{44,104}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,159},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,106},{56,98}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,167},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{46,102}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,159},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,128},{54,92}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,168},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,224},{52,90}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,170},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,212},{52,102}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,159},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{52,98}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,162},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{62,90}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,171},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,206},{50,98}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,161},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{44,98}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,169},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,232},{42,96}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,171},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,110},{40,106}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,160},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{42,102}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,164},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,218},{56,96}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,172},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{44,106}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_020_5.png</string>
            <key>size</key>
            <string>{512,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12b1aea9fcf3b5d5f3d46ebb62b491d4$</string>
            <key>textureFileName</key>
            <string>d_020_5.png</string>
        </dict>
    </dict>
</plist>
