<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_020_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{40,100}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,161},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{50,96}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,173},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,102},{44,70}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,196},{44,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,108},{70,62}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,208},{70,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{30,102}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,161},{30,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{42,98}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,170},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{54,72}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,194},{54,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,100},{74,52}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,214},{74,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{40,104}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,161},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{36,92}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,170},{36,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,106},{68,60}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{68,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,32}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,231},{110,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{46,100}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,163},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{44,88}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,168},{44,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,100},{68,50}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,208},{68,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{96,38}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,237},{96,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{40,104}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,162},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,48},{50,86}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,166},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,100},{44,42}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,216},{44,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,104},{68,54}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,237},{68,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_020_7.png</string>
            <key>size</key>
            <string>{512,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7afeb575ed2e8b6149b1a9ee4923cb00$</string>
            <key>textureFileName</key>
            <string>d_020_7.png</string>
        </dict>
    </dict>
</plist>
