<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_020_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,108},{38,104}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,161},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,108}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,159},{40,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,114},{40,98}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,161},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{38,102}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,160},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,104}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,159},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{40,102}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,158},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,112},{46,106}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,159},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{38,108}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,158},{38,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,80},{32,100}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,158},{32,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,106},{48,102}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,158},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{46,102}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,158},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{38,104}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,158},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{58,98}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,161},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{46,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,160},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,252},{28,100}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,160},{28,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,214},{54,98}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,161},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,106},{50,100}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,160},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,106},{32,102}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,160},{32,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,210},{52,98}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,162},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,208},{42,98}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,162},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,156},{38,98}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,161},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{48,102}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,162},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{44,102}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,42},{36,100}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,162},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,106},{38,102}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{38,100}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,163},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,238},{40,96}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,163},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{38,100}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,164},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,104},{40,100}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,164},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_020_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,196},{40,96}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,164},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_020_1.png</string>
            <key>size</key>
            <string>{512,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc43ee57c8687e5151bb26e861d4d392$</string>
            <key>textureFileName</key>
            <string>d_020_1.png</string>
        </dict>
    </dict>
</plist>
