<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_033_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{56,112}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,162},{56,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{56,98}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,172},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{64,78}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,193},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,116},{74,52}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,208},{74,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,112}}</string>
                <key>offset</key>
                <string>{-12,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,163},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{50,98}}</string>
                <key>offset</key>
                <string>{-14,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,172},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{86,82}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,192},{86,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,116},{78,46}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,212},{78,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{58,102}}</string>
                <key>offset</key>
                <string>{-11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,164},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{50,96}}</string>
                <key>offset</key>
                <string>{-23,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,170},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,216},{114,68}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,194},{114,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{116,30}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,229},{116,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,116},{74,98}}</string>
                <key>offset</key>
                <string>{-17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,163},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{60,88}}</string>
                <key>offset</key>
                <string>{-17,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,169},{60,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,216},{110,52}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,203},{110,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,216},{108,50}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,223},{108,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{56,104}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,161},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{56,82}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,169},{56,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,116},{64,54}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,201},{64,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_033_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,116},{74,66}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,221},{74,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_033_7.png</string>
            <key>size</key>
            <string>{512,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc7b414c9ce59a1e992b22648f5b789c$</string>
            <key>textureFileName</key>
            <string>d_033_7.png</string>
        </dict>
    </dict>
</plist>
