<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_032_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{46,102}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,162},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,104},{48,100}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,318},{34,96}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,169},{34,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{46,106}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,159},{46,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{56,94}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,171},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{48,100}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,106},{48,100}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,165},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,306},{48,98}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,167},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{62,98}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,167},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,106},{46,102}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,164},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{58,90}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,176},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,200},{56,96}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,170},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{58,96}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,167},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,102},{64,96}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,167},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,210},{78,100}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,162},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,100},{62,94}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,168},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,186},{72,74}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,188},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{64,84}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,179},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,206},{56,98}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,169},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{54,102}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,165},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{56,116}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,151},{56,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,110},{62,102}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,165},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,196},{64,66}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,201},{64,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,68},{66,80}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,187},{66,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,214},{46,102}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,169},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,244},{48,106}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,122}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,148},{34,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{46,110}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{46,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,260},{56,64}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,207},{56,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,136},{48,80}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,191},{48,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_032_4.png</string>
            <key>size</key>
            <string>{512,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:718bf6226c69aa05a1820e1344a65ce3$</string>
            <key>textureFileName</key>
            <string>d_032_4.png</string>
        </dict>
    </dict>
</plist>
