<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_034_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,190},{38,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{38,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,190},{38,108}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,164},{38,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,190},{38,96}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,165},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,190},{38,104}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,190},{38,102}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,165},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,94},{38,94}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,165},{38,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,190},{48,102}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,166},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,190},{60,102}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,166},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{44,94}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,165},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,190},{42,98}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,94},{58,94}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,167},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,190},{48,94}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,166},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,190},{52,94}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{70,88}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,169},{70,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{50,90}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,169},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,94},{48,92}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{48,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{74,88}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,170},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,94},{56,94}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,170},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{46,86}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,172},{46,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{58,88}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,173},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,94},{44,90}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,172},{44,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{44,84}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,171},{44,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,94},{60,90}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,172},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,94},{44,94}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,173},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{38,88}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,174},{38,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,94},{36,92}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,173},{36,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{38,90}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,174},{38,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,80}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,174},{38,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{38,88}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,175},{38,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_034_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,94},{38,94}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,173},{38,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_034_2.png</string>
            <key>size</key>
            <string>{512,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33248807790bf68428b53f3bb29e3414$</string>
            <key>textureFileName</key>
            <string>d_034_2.png</string>
        </dict>
    </dict>
</plist>
