<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_032_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{46,98}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,104},{58,96}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,171},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,80},{64,72}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,192},{64,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,62},{72,64}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,204},{72,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,104},{34,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,161},{34,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{50,96}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,170},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{72,76}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,188},{72,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{74,58}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,208},{74,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{40,100}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,163},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,98},{42,92}}</string>
                <key>offset</key>
                <string>{-19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,168},{42,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{84,64}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,194},{84,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,42}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,228},{110,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,108},{46,100}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,161},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{48,90}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,164},{48,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,88},{82,50}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,206},{82,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{94,38}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,235},{94,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{46,104}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,94},{58,88}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,162},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,128},{64,44}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,211},{64,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>d_032_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,154},{72,54}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,235},{72,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d_032_7.png</string>
            <key>size</key>
            <string>{512,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:910b815e06791acb1026f61736a8c9e2$</string>
            <key>textureFileName</key>
            <string>d_032_7.png</string>
        </dict>
    </dict>
</plist>
