<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_004_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,62},{48,96}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,94}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,176},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{74,68}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,197},{74,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,102},{68,54}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,210},{68,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{36,98}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,166},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{56,94}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,175},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,98},{76,68}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,198},{76,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,158},{76,48}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,216},{76,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{46,98}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,166},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,160},{50,90}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,172},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{82,62}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,203},{82,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,50},{108,40}}</string>
                <key>offset</key>
                <string>{28,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,228},{108,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,78},{50,98}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,164},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,50},{50,84}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,171},{50,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,52},{78,52}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,211},{78,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{90,48}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,228},{90,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,78},{50,100}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,165},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{58,80}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,171},{58,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,132},{74,40}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,219},{74,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_004_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,136},{68,60}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,230},{68,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_004_7.png</string>
            <key>size</key>
            <string>{512,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41a2561085380a5705d00bf5dd37f7a4$</string>
            <key>textureFileName</key>
            <string>f_004_7.png</string>
        </dict>
    </dict>
</plist>
