<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_007_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{42,96}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,165},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{48,94}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,176},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,102},{54,68}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,198},{54,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,100},{62,54}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,209},{62,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{30,98}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,165},{30,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{42,94}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,174},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,92},{64,68}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,197},{64,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{74,46}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,215},{74,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{36,98}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,166},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{38,88}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,173},{38,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,98},{70,58}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,201},{70,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,28}}</string>
                <key>offset</key>
                <string>{29,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,232},{106,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{42,96}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,165},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{40,84}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,170},{40,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,82},{66,46}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,212},{66,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{90,40}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,236},{90,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{42,100}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,164},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{48,78}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,172},{48,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,94},{54,38}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,219},{54,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,100},{60,54}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,236},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_007_7.png</string>
            <key>size</key>
            <string>{512,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f31159614bdeeb80b55c8cd68242d6bd$</string>
            <key>textureFileName</key>
            <string>f_007_7.png</string>
        </dict>
    </dict>
</plist>
