<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_009_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{42,96}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{52,94}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,176},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,104},{62,68}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,198},{62,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,102},{62,52}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,211},{62,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{30,98}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,165},{30,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{42,94}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,175},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{60,68}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,197},{60,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,56},{74,46}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,215},{74,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{40,98}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{42,88}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,173},{42,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,94},{76,58}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,201},{76,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,34}}</string>
                <key>offset</key>
                <string>{29,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,230},{106,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{46,96}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,104},{52,82}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,172},{52,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,98},{72,48}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,209},{72,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{90,40}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,236},{90,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{42,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,164},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{52,78}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,172},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,100},{62,48}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,209},{62,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_009_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,100},{60,54}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,236},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_009_7.png</string>
            <key>size</key>
            <string>{512,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6a959cfc0130af90e24924056b99114$</string>
            <key>textureFileName</key>
            <string>f_009_7.png</string>
        </dict>
    </dict>
</plist>
