<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_007_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{42,94}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,168},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,100},{40,96}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,167},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{38,110}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,152},{38,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,110}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,152},{44,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,218},{56,96}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,167},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,98},{42,94}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,166},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,98},{40,94}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,168},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,100},{34,96}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,168},{34,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,114},{34,110}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,154},{34,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{40,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,156},{40,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,106},{48,100}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,166},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{34,96}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,164},{34,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,198},{46,90}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,170},{46,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,96},{40,92}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,169},{40,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,112},{38,104}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,157},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,104},{38,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,161},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{52,94}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,169},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,100},{46,96}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,198},{46,88}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,170},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,198},{46,86}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,172},{46,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{46,96}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{46,92}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,166},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{58,88}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,171},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,102},{46,96}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,161},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{42,96}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,169},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,194},{40,92}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,173},{40,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{40,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,164},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{42,98}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,166},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,206},{56,92}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,174},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_007_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{42,102}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,162},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_007_5.png</string>
            <key>size</key>
            <string>{512,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81f1fe3a47b04106fe90811ce05ab202$</string>
            <key>textureFileName</key>
            <string>f_007_5.png</string>
        </dict>
    </dict>
</plist>
