<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_005_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{60,94}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,168},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,136},{64,94}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,168},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,110}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,152},{58,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{56,110}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,152},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{70,96}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,167},{70,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,202},{50,94}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,166},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,320},{44,94}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,168},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,328},{34,96}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,168},{34,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,100},{34,110}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,154},{34,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,136},{40,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,156},{40,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,312},{52,98}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,168},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,92},{42,96}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,164},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,306},{54,90}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,170},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,74},{50,92}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,169},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{54,104}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,157},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,126},{56,100}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,161},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,252},{58,94}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,170},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,252},{46,96}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,254},{64,88}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,170},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,254},{72,86}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,172},{72,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{70,96}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,162},{70,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{70,92}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,166},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{74,88}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,171},{74,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,252},{52,94}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,163},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,98},{58,94}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,170},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,126},{64,92}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,173},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,192},{58,100}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,164},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,194},{56,98}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,166},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{70,92}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,174},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_005_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,126},{52,102}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_005_5.png</string>
            <key>size</key>
            <string>{512,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:312ba7cfda5ec1b2a35c33249f3ba57a$</string>
            <key>textureFileName</key>
            <string>f_005_5.png</string>
        </dict>
    </dict>
</plist>
