<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_006_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,104}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,164},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{44,100}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{46,96}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,164},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{44,102}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,165},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,204},{44,96}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{44,94}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{58,102}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,165},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,106},{62,96}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,165},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,196},{56,94}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,166},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,212},{54,98}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,166},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,132},{58,88}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,167},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,100},{62,94}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,165},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{60,92}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,169},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,194},{70,92}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,169},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{60,90}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,169},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,188},{58,90}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,169},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,60},{70,88}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,169},{70,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,98},{64,92}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,169},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,192},{60,86}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,171},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{56,90}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,170},{56,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,96},{60,90}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,171},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,192},{58,86}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,171},{58,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,280},{62,88}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,171},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{60,94}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,170},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,288},{52,84}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,172},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,192},{44,92}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,171},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,292},{46,92}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,171},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,94},{44,82}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{44,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,280},{44,88}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,172},{44,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,98},{44,94}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,171},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_006_2.png</string>
            <key>size</key>
            <string>{512,345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26ac7a2d61a990031b08e750025dc028$</string>
            <key>textureFileName</key>
            <string>f_006_2.png</string>
        </dict>
    </dict>
</plist>
