<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_006_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,100},{60,94}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,168},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,102},{58,96}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,167},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,110}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,153},{52,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{50,110}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,153},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,208},{60,98}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,166},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,196},{50,94}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,166},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,98},{42,94}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,168},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{40,96}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,168},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{38,110}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,154},{38,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,226},{40,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,156},{40,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{50,100}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,166},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,308},{38,96}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,164},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,292},{52,90}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,170},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,298},{48,92}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,169},{48,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,114},{48,104}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,157},{48,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{54,100}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{56,94}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,169},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,100},{54,96}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,163},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,248},{64,88}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,170},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,96},{60,86}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,172},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{56,96}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,194},{58,92}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,166},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,158},{64,88}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,172},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,200},{54,96}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,198},{60,94}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,170},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{58,92}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,172},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,220},{54,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,164},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{50,98}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{60,92}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,174},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_006_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{50,102}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,161},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_006_5.png</string>
            <key>size</key>
            <string>{512,349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de525aba0661857dcb4f9ee9b8f6f7f3$</string>
            <key>textureFileName</key>
            <string>f_006_5.png</string>
        </dict>
    </dict>
</plist>
