<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_003_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,110},{42,100}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,164},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,198},{48,96}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,169},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,198},{42,96}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{52,104}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,160},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{54,92}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,173},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,212},{52,98}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,166},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{52,98}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,166},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,196},{52,94}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{60,94}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,170},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,102},{40,98}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,166},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,192},{64,88}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,177},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,100},{68,94}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,171},{68,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{60,92}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,58},{72,90}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,170},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,100},{72,96}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,164},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,98},{64,92}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,168},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,282},{72,70}}</string>
                <key>offset</key>
                <string>{14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,190},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,208},{70,80}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,181},{70,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,296},{58,94}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,171},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{72,96}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,168},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{66,110}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,153},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{60,96}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,168},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,292},{68,62}}</string>
                <key>offset</key>
                <string>{14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,202},{68,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,132},{66,74}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,190},{66,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,312},{42,96}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,173},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,234},{48,102}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,166},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,118}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,149},{42,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{52,106}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,162},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,208},{54,62}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,206},{54,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_003_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,132},{52,74}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,194},{52,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_003_4.png</string>
            <key>size</key>
            <string>{512,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922cea784325789e387006533d566669$</string>
            <key>textureFileName</key>
            <string>f_003_4.png</string>
        </dict>
    </dict>
</plist>
