<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_010_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{52,96}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{54,96}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,175},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{78,70}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,198},{78,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,72},{66,52}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,211},{66,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,44},{38,98}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,166},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,100},{56,94}}</string>
                <key>offset</key>
                <string>{-17,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,175},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,124},{76,68}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,197},{76,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,74},{78,48}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,216},{78,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,100},{44,98}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,166},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,84},{48,90}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,172},{48,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{88,60}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,199},{88,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{106,40}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,229},{106,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{56,96}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,165},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,114},{48,82}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,172},{48,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,64},{86,48}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,209},{86,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,134},{90,44}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,232},{90,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,100}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,164},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,126},{54,78}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,172},{54,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,164},{80,40}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,219},{80,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_010_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{68,56}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{68,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_010_7.png</string>
            <key>size</key>
            <string>{512,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7449c61e3ba0815431a1d852e9a724a7$</string>
            <key>textureFileName</key>
            <string>f_010_7.png</string>
        </dict>
    </dict>
</plist>
