<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_011_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,98},{42,94}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,167},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,98},{40,94}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,168},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{36,110}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,152},{36,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,110}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,152},{38,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{54,96}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,167},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{40,94}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,166},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{34,92}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,169},{34,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,100},{26,96}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,167},{26,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,114},{34,110}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,153},{34,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,108}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,155},{38,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{48,98}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,167},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{28,96}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,164},{28,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,138},{48,90}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,170},{48,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{40,92}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,169},{40,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,112},{38,104}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,157},{38,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{36,100}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,161},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,198},{52,94}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,169},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,100},{46,96}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,163},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,188},{46,88}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,170},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,188},{46,86}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,172},{46,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{46,96}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{46,92}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,166},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,218},{58,88}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,171},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,100},{48,96}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,161},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{42,94}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,170},{42,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,96},{40,92}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,173},{40,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,106},{36,100}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,164},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,104},{38,98}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,166},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,204},{56,92}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,174},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_011_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{42,102}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_011_5.png</string>
            <key>size</key>
            <string>{512,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eb1dc0aeacf71867fef4be2608bd21a$</string>
            <key>textureFileName</key>
            <string>f_011_5.png</string>
        </dict>
    </dict>
</plist>
