<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_016_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{38,96}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,165},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{48,94}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,176},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,96},{52,66}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,199},{52,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,98},{60,54}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,210},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{28,98}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,165},{28,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{40,94}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,174},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,104},{58,68}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,197},{58,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,44},{76,46}}</string>
                <key>offset</key>
                <string>{14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,215},{76,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{36,98}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,166},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{38,88}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,173},{38,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,102},{66,60}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{66,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,30}}</string>
                <key>offset</key>
                <string>{29,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,230},{106,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{40,96}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,165},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{40,82}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,172},{40,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{66,52}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,209},{66,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{92,40}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,236},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{38,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,164},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,92},{48,78}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,172},{48,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,92},{52,50}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,210},{52,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_016_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,100},{60,54}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,236},{60,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_016_7.png</string>
            <key>size</key>
            <string>{512,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8ad5a4ae938db7ef68cc652b86cc81f$</string>
            <key>textureFileName</key>
            <string>f_016_7.png</string>
        </dict>
    </dict>
</plist>
