<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_019_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{40,96}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,165},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{48,96}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,175},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,44},{46,72}}</string>
                <key>offset</key>
                <string>{-10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,194},{46,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,100},{62,54}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,209},{62,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{32,98}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,165},{32,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{44,94}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,175},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,100},{52,68}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,197},{52,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,82},{76,48}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,213},{76,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{36,98}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,166},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{42,88}}</string>
                <key>offset</key>
                <string>{-18,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,173},{42,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,96},{64,60}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,199},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,30}}</string>
                <key>offset</key>
                <string>{29,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,230},{106,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{42,96}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,165},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{42,82}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,172},{42,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,92},{66,48}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,209},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{92,40}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,236},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{38,100}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,164},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{48,78}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,172},{48,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{48,40}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,219},{48,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_019_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,102},{60,56}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,234},{60,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_019_7.png</string>
            <key>size</key>
            <string>{512,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7dc7f880a1f769c468107dc24b87236$</string>
            <key>textureFileName</key>
            <string>f_019_7.png</string>
        </dict>
    </dict>
</plist>
