<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_017_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{52,96}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,94}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,176},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,104},{78,68}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,197},{78,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,104},{66,54}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,210},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,48},{38,98}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,165},{38,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{54,94}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,174},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,104},{72,70}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,195},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,92},{76,48}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,214},{76,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{44,98}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,166},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{50,88}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,173},{50,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,150},{78,60}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,201},{78,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,56},{108,38}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,228},{108,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{52,96}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,165},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,56},{46,84}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,170},{46,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,88},{80,60}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,199},{80,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,58},{92,44}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,232},{92,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{52,100}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,164},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,150},{58,78}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,172},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,96},{78,52}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,205},{78,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_017_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,142},{66,58}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,232},{66,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_017_7.png</string>
            <key>size</key>
            <string>{512,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3725bb106182e8d4261269ff84474622$</string>
            <key>textureFileName</key>
            <string>f_017_7.png</string>
        </dict>
    </dict>
</plist>
