<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_014_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{38,96}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{52,96}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,172},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,104},{60,74}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,189},{60,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{60,58}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,202},{60,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{32,102}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,159},{32,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{50,94}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,172},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,106},{60,76}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,187},{60,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,100},{82,50}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,208},{82,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{44,102}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,159},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{52,90}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,169},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,100},{82,64}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,193},{82,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,30}}</string>
                <key>offset</key>
                <string>{29,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,227},{106,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{48,96}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,163},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,94},{48,86}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,166},{48,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,62},{90,52}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,205},{90,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{94,42}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,232},{94,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{40,100}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,98},{50,80}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,167},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,98},{66,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,206},{66,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_014_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{66,56}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,232},{66,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_014_7.png</string>
            <key>size</key>
            <string>{512,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610f10a59b6df9fd8707e11176b4b028$</string>
            <key>textureFileName</key>
            <string>f_014_7.png</string>
        </dict>
    </dict>
</plist>
