<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_022_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{62,100}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,162},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{64,96}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,172},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,130},{72,72}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,195},{72,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,130},{76,58}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,207},{76,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,68},{50,98}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,164},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{70,94}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,172},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,170},{84,70}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,194},{84,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,116},{84,52}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,213},{84,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,112},{56,100}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,162},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,90}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,170},{80,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{94,68}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,197},{94,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,66},{108,44}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,225},{108,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,72},{56,98}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,162},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,170},{64,84}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,168},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,120},{82,66}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,195},{82,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,66},{92,48}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,226},{92,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{62,102}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,161},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,188},{64,80}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,168},{64,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,190},{70,58}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,199},{70,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_022_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{76,62}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,226},{76,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_022_7.png</string>
            <key>size</key>
            <string>{512,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48bf7cb1d06a0ecc78b68c530a91e3f4$</string>
            <key>textureFileName</key>
            <string>f_022_7.png</string>
        </dict>
    </dict>
</plist>
