<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_020_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,46},{46,96}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{52,94}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,176},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{58,76}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,198},{58,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,128},{64,54}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,210},{64,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{32,98}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,165},{32,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,46},{44,96}}</string>
                <key>offset</key>
                <string>{-10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,174},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{64,74}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,197},{64,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,134},{76,50}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,217},{76,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,144},{42,98}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,166},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{46,96}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,172},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,72}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,201},{76,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{106,42}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,231},{106,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,80},{50,96}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,165},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,142},{46,90}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,171},{46,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{70,58}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,212},{70,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,100},{92,40}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,236},{92,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,78},{46,100}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,164},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,80},{52,80}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,172},{52,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,68},{58,44}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,219},{58,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>f_020_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{64,56}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,234},{64,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f_020_7.png</string>
            <key>size</key>
            <string>{512,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b7b8e1b12dc81562d1986c436f46b3b$</string>
            <key>textureFileName</key>
            <string>f_020_7.png</string>
        </dict>
    </dict>
</plist>
