<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0020_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{154,126}}</string>
                <key>offset</key>
                <string>{31,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,146},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,260},{154,126}}</string>
                <key>offset</key>
                <string>{31,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,146},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,132},{154,126}}</string>
                <key>offset</key>
                <string>{31,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,146},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,132},{154,126}}</string>
                <key>offset</key>
                <string>{31,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,146},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,550},{130,132}}</string>
                <key>offset</key>
                <string>{31,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,141},{130,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{132,132}}</string>
                <key>offset</key>
                <string>{30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{132,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,416},{132,132}}</string>
                <key>offset</key>
                <string>{30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{132,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,466},{130,132}}</string>
                <key>offset</key>
                <string>{31,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,141},{130,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,388},{76,136}}</string>
                <key>offset</key>
                <string>{5,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,134},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{74,136}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,134},{74,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,338},{76,136}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,134},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,260},{76,136}}</string>
                <key>offset</key>
                <string>{5,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,134},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,598},{128,128}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,136},{128,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{128,126}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,138},{128,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,682},{128,126}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,138},{128,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{128,126}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,138},{128,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{154,128}}</string>
                <key>offset</key>
                <string>{-30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,143},{154,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,128}}</string>
                <key>offset</key>
                <string>{-30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,143},{154,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,128}}</string>
                <key>offset</key>
                <string>{-30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,143},{154,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0020_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,128}}</string>
                <key>offset</key>
                <string>{-30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,143},{154,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0020_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e1a9640fc84a908af1a5e213731bbcf:1/1$</string>
            <key>textureFileName</key>
            <string>g_0020_0.png</string>
        </dict>
    </dict>
</plist>
