<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0067_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{346,172}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,159},{346,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,138}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,155},{404,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{346,162}}</string>
                <key>offset</key>
                <string>{2,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,103},{346,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1850},{190,182}}</string>
                <key>offset</key>
                <string>{3,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,75},{190,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{270,180}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,158},{270,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,628},{300,152}}</string>
                <key>offset</key>
                <string>{-26,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,143},{300,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{306,174}}</string>
                <key>offset</key>
                <string>{-61,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,78},{306,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,930},{210,196}}</string>
                <key>offset</key>
                <string>{-42,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,56},{210,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{238,182}}</string>
                <key>offset</key>
                <string>{-63,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,155},{238,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,408},{218,154}}</string>
                <key>offset</key>
                <string>{-51,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,144},{218,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1142},{234,190}}</string>
                <key>offset</key>
                <string>{-58,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,55},{234,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1378},{248,214}}</string>
                <key>offset</key>
                <string>{-68,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,32},{248,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{292,162}}</string>
                <key>offset</key>
                <string>{-36,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,154},{292,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{318,122}}</string>
                <key>offset</key>
                <string>{-29,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,153},{318,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{302,188}}</string>
                <key>offset</key>
                <string>{-64,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,51},{302,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1628},{220,224}}</string>
                <key>offset</key>
                <string>{-49,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,15},{220,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{346,150}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,152},{346,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{404,102}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,152},{404,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{344,168}}</string>
                <key>offset</key>
                <string>{-3,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,70},{344,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{190,224}}</string>
                <key>offset</key>
                <string>{-4,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,15},{190,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0067_0.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d6aad6f9cebf56417189022b8262d9f:1/1$</string>
            <key>textureFileName</key>
            <string>g_0067_0.png</string>
        </dict>
    </dict>
</plist>
