<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0045_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,788},{138,190}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,134},{138,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,742},{140,176}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,139},{140,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,600},{138,162}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,139},{138,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,882},{138,172}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,115},{138,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,246}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,59},{140,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,600},{140,206}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,106},{140,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,488},{214,150}}</string>
                <key>offset</key>
                <string>{-26,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,141},{214,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,640},{210,146}}</string>
                <key>offset</key>
                <string>{-24,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,146},{210,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,580},{210,148}}</string>
                <key>offset</key>
                <string>{-24,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,143},{210,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{206,154}}</string>
                <key>offset</key>
                <string>{-22,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,126},{206,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,144},{242,204}}</string>
                <key>offset</key>
                <string>{7,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,83},{242,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{212,174}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,123},{212,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,286},{240,138}}</string>
                <key>offset</key>
                <string>{-49,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,141},{240,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,350},{240,136}}</string>
                <key>offset</key>
                <string>{-50,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,143},{240,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,146},{240,138}}</string>
                <key>offset</key>
                <string>{-46,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,141},{240,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{240,148}}</string>
                <key>offset</key>
                <string>{-37,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,131},{240,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,140}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,139},{322,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{276,140}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,139},{276,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,426},{214,152}}</string>
                <key>offset</key>
                <string>{-29,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,137},{214,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,286},{216,148}}</string>
                <key>offset</key>
                <string>{-30,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,141},{216,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,436},{212,162}}</string>
                <key>offset</key>
                <string>{-28,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,127},{212,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,730},{202,158}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,131},{202,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{246,142}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,147},{246,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{218,142}}</string>
                <key>offset</key>
                <string>{-14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,147},{218,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,144},{140,164}}</string>
                <key>offset</key>
                <string>{-3,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,114},{140,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,740},{140,160}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,118},{140,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{140,176}}</string>
                <key>offset</key>
                <string>{-3,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,102},{140,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{140,168}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,110},{140,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,884},{140,134}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,145},{140,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0045_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,890},{140,128}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,151},{140,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0045_4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:030fc843159c2a0f37d1fe3a214baee2:1/1$</string>
            <key>textureFileName</key>
            <string>g_0045_4.png</string>
        </dict>
    </dict>
</plist>
