<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0058_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{102,138}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,133},{102,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,678},{100,136}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,135},{100,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{98,134}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,137},{98,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,580},{100,136}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,135},{100,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,276},{100,144}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,131},{100,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,378},{98,144}}</string>
                <key>offset</key>
                <string>{-10,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,131},{98,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,580},{96,142}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,133},{96,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{100,142}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,133},{100,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,140},{134,146}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,130},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{136,146}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,130},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,146}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,130},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{136,146}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,130},{136,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,260},{116,144}}</string>
                <key>offset</key>
                <string>{19,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,132},{116,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{116,146}}</string>
                <key>offset</key>
                <string>{19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,130},{116,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{118,146}}</string>
                <key>offset</key>
                <string>{19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,130},{118,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,140},{118,144}}</string>
                <key>offset</key>
                <string>{19,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,132},{118,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{102,142}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,134},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,478},{100,142}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,133},{100,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,480},{98,142}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,133},{98,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,378},{100,142}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,133},{100,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0058_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f77d1e67e5d7b31b9decad5f0800917a:1/1$</string>
            <key>textureFileName</key>
            <string>g_0058_0.png</string>
        </dict>
    </dict>
</plist>
