<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0043_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,138}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,162},{84,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{86,142}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,161},{86,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,136}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,163},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,136}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,163},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{112,118}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,166},{112,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,446},{104,128}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,164},{104,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,348},{96,126}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,165},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{106,122}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,166},{106,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{116,122}}</string>
                <key>offset</key>
                <string>{-21,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,159},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,898},{120,122}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,159},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{120,122}}</string>
                <key>offset</key>
                <string>{-21,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,159},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,776},{120,122}}</string>
                <key>offset</key>
                <string>{-22,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,159},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{94,116}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,159},{94,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,552},{108,114}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,161},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,662},{112,114}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,161},{112,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{104,114}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,161},{104,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,174},{84,108}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,166},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,260},{86,108}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,166},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,88},{84,106}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,168},{84,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0043_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{84,108}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,166},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0043_0.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:058a6fb50361ccbb1ebc303e5246a107:1/1$</string>
            <key>textureFileName</key>
            <string>g_0043_0.png</string>
        </dict>
    </dict>
</plist>
