<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0065_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,688},{126,138}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,141},{126,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,560},{126,138}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,141},{126,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{126,136}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,141},{126,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,728},{126,136}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,141},{126,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{140,138}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,136},{140,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,420},{138,138}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,137},{138,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,144},{140,136}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,137},{140,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,282},{142,136}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,137},{142,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,362},{106,176}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,104},{106,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,252},{108,176}}</string>
                <key>offset</key>
                <string>{-14,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,105},{108,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{110,176}}</string>
                <key>offset</key>
                <string>{-13,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,105},{110,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{110,174}}</string>
                <key>offset</key>
                <string>{-12,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,106},{110,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,128},{122,182}}</string>
                <key>offset</key>
                <string>{10,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,95},{122,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,184}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,93},{124,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{124,182}}</string>
                <key>offset</key>
                <string>{10,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,95},{124,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{122,182}}</string>
                <key>offset</key>
                <string>{10,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,94},{122,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{128,174}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,104},{128,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,470},{126,174}}</string>
                <key>offset</key>
                <string>{1,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,105},{126,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{126,172}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,105},{126,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0065_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,598},{128,172}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,105},{128,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0065_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dceb85383d626699433a8517c90029b:1/1$</string>
            <key>textureFileName</key>
            <string>g_0065_0.png</string>
        </dict>
    </dict>
</plist>
