<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0046_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,134},{158,164}}</string>
                <key>offset</key>
                <string>{3,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,118},{158,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{156,162}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,123},{156,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,400},{150,160}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,126},{150,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,368},{152,160}}</string>
                <key>offset</key>
                <string>{3,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,122},{152,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{110,166}}</string>
                <key>offset</key>
                <string>{-13,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,109},{110,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,258},{108,162}}</string>
                <key>offset</key>
                <string>{-14,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,113},{108,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{102,160}}</string>
                <key>offset</key>
                <string>{-11,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,115},{102,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,294},{104,162}}</string>
                <key>offset</key>
                <string>{-10,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,113},{104,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{130,166}}</string>
                <key>offset</key>
                <string>{-26,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,107},{130,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,132},{124,166}}</string>
                <key>offset</key>
                <string>{-24,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,107},{124,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{128,166}}</string>
                <key>offset</key>
                <string>{-26,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,107},{128,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,166}}</string>
                <key>offset</key>
                <string>{-27,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,107},{130,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,682},{132,156}}</string>
                <key>offset</key>
                <string>{-14,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,112},{132,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,552},{128,158}}</string>
                <key>offset</key>
                <string>{-15,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,110},{128,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{122,160}}</string>
                <key>offset</key>
                <string>{-12,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,108},{122,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{124,158}}</string>
                <key>offset</key>
                <string>{-10,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,110},{124,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,522},{158,144}}</string>
                <key>offset</key>
                <string>{-4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,123},{158,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,668},{156,148}}</string>
                <key>offset</key>
                <string>{-4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,119},{156,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{150,152}}</string>
                <key>offset</key>
                <string>{-2,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,115},{150,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,816},{152,148}}</string>
                <key>offset</key>
                <string>{-4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,119},{152,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0046_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2fab1d1a5b8354227634e5cb09bc060:1/1$</string>
            <key>textureFileName</key>
            <string>g_0046_0.png</string>
        </dict>
    </dict>
</plist>
