<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0048_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,636},{110,134}}</string>
                <key>offset</key>
                <string>{11,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,135},{110,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{108,130}}</string>
                <key>offset</key>
                <string>{11,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,137},{108,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,748},{104,132}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,136},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{102,136}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,134},{102,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{104,130}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,137},{104,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,660},{110,132}}</string>
                <key>offset</key>
                <string>{11,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,135},{110,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,306},{102,140}}</string>
                <key>offset</key>
                <string>{14,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,130},{102,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,360},{88,140}}</string>
                <key>offset</key>
                <string>{14,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,130},{88,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,360},{76,132}}</string>
                <key>offset</key>
                <string>{14,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,133},{76,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,630},{90,134}}</string>
                <key>offset</key>
                <string>{14,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,133},{90,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,494},{86,134}}</string>
                <key>offset</key>
                <string>{13,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,133},{86,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{90,140}}</string>
                <key>offset</key>
                <string>{13,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,130},{90,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{86,142}}</string>
                <key>offset</key>
                <string>{7,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,126},{86,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,272},{86,142}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,127},{86,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,180},{72,140}}</string>
                <key>offset</key>
                <string>{6,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,127},{72,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{88,140}}</string>
                <key>offset</key>
                <string>{7,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,128},{88,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,218},{86,142}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,127},{86,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,106},{72,144}}</string>
                <key>offset</key>
                <string>{6,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,125},{72,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,450},{94,138}}</string>
                <key>offset</key>
                <string>{8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,129},{94,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{96,134}}</string>
                <key>offset</key>
                <string>{8,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,130},{96,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,116},{100,142}}</string>
                <key>offset</key>
                <string>{8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,127},{100,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,150}}</string>
                <key>offset</key>
                <string>{9,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,122},{106,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{102,144}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,126},{102,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,180},{90,142}}</string>
                <key>offset</key>
                <string>{9,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,126},{90,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{112,144}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,132},{112,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,410},{112,138}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,135},{112,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,524},{110,136}}</string>
                <key>offset</key>
                <string>{12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,136},{110,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{110,144}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,132},{110,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{110,138}}</string>
                <key>offset</key>
                <string>{12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,135},{110,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,546},{112,134}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,137},{112,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0048_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b937976d203f6c022e2f3424991b07a:1/1$</string>
            <key>textureFileName</key>
            <string>g_0048_1.png</string>
        </dict>
    </dict>
</plist>
