<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0053_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,774},{146,152}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,146},{146,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,354},{168,172}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,131},{168,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,318},{192,178}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,134},{192,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,878},{126,136}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,159},{126,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{128,140}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,155},{128,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,738},{154,138}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,157},{154,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{168,156}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,148},{168,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{154,192}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,112},{154,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{150,208}}</string>
                <key>offset</key>
                <string>{-13,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,97},{150,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,168},{200,148}}</string>
                <key>offset</key>
                <string>{30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,156},{200,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,154},{200,150}}</string>
                <key>offset</key>
                <string>{35,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,154},{200,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,256},{198,152}}</string>
                <key>offset</key>
                <string>{25,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,152},{198,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,498},{190,146}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,153},{190,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,410},{166,192}}</string>
                <key>offset</key>
                <string>{-30,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,108},{166,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{164,222}}</string>
                <key>offset</key>
                <string>{-28,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,78},{164,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,128}}</string>
                <key>offset</key>
                <string>{31,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,172},{234,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{232,118}}</string>
                <key>offset</key>
                <string>{38,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,182},{232,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,122},{212,132}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,168},{212,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,592},{166,158}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,144},{166,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,578},{158,172}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,122},{158,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{164,210}}</string>
                <key>offset</key>
                <string>{-18,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,84},{164,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{198,130}}</string>
                <key>offset</key>
                <string>{29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,185},{198,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,154},{198,118}}</string>
                <key>offset</key>
                <string>{33,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,199},{198,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,472},{192,118}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,184},{192,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,668},{146,150}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,146},{146,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,524},{168,142}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,139},{168,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,306},{194,164}}</string>
                <key>offset</key>
                <string>{-5,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,110},{194,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,878},{126,148}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,191},{126,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{128,146}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,196},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0053_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,646},{156,126}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,190},{156,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0053_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d4c56919caed8860b79b336898cc999:1/1$</string>
            <key>textureFileName</key>
            <string>g_0053_4.png</string>
        </dict>
    </dict>
</plist>
