<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0048_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,720},{74,128}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,135},{74,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,440},{82,140}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,148},{82,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{92,130}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,164},{92,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{80,152}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,135},{80,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,296},{142,144}}</string>
                <key>offset</key>
                <string>{-18,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,138},{142,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,524},{132,138}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,145},{132,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,334},{66,138}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,130},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{60,140}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,144},{60,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,474},{62,126}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,170},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,414},{130,140}}</string>
                <key>offset</key>
                <string>{19,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,152},{130,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{100,178}}</string>
                <key>offset</key>
                <string>{-34,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,106},{100,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,224},{70,152}}</string>
                <key>offset</key>
                <string>{-16,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,132},{70,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,274},{58,146}}</string>
                <key>offset</key>
                <string>{7,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,125},{58,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{82,138}}</string>
                <key>offset</key>
                <string>{-18,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,138},{82,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{104,112}}</string>
                <key>offset</key>
                <string>{-30,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,166},{104,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,104},{168,118}}</string>
                <key>offset</key>
                <string>{11,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,158},{168,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,192}}</string>
                <key>offset</key>
                <string>{-18,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,84},{80,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{90,146}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,130},{90,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,334},{78,144}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,128},{78,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,722},{96,126}}</string>
                <key>offset</key>
                <string>{-15,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,134},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{128,114}}</string>
                <key>offset</key>
                <string>{-31,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,146},{128,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,546},{134,98}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,162},{134,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{110,172}}</string>
                <key>offset</key>
                <string>{-8,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,88},{110,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{134,126}}</string>
                <key>offset</key>
                <string>{10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,134},{134,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,646},{74,134}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,133},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{82,138}}</string>
                <key>offset</key>
                <string>{-9,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,129},{82,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{92,144}}</string>
                <key>offset</key>
                <string>{-17,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,123},{92,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,602},{80,116}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,151},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,130},{142,154}}</string>
                <key>offset</key>
                <string>{18,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,113},{142,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,658},{132,130}}</string>
                <key>offset</key>
                <string>{19,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,137},{132,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0048_4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6d47fa0d86e349faf07b599799870a5:1/1$</string>
            <key>textureFileName</key>
            <string>g_0048_4.png</string>
        </dict>
    </dict>
</plist>
