<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0067_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,122}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,160},{412,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,94},{404,146}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,151},{404,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,620},{304,238}}</string>
                <key>offset</key>
                <string>{-46,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,56},{304,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{236,184}}</string>
                <key>offset</key>
                <string>{8,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,86},{236,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{366,122}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,157},{366,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{344,134}}</string>
                <key>offset</key>
                <string>{18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,151},{344,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{342,118}}</string>
                <key>offset</key>
                <string>{-52,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,158},{342,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,464},{272,154}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,149},{272,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{238,252}}</string>
                <key>offset</key>
                <string>{-83,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,34},{238,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{284,174}}</string>
                <key>offset</key>
                <string>{-66,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,82},{284,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,242},{382,122}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,160},{382,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,760},{314,162}}</string>
                <key>offset</key>
                <string>{-52,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,124},{314,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1222},{244,102}}</string>
                <key>offset</key>
                <string>{-68,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,156},{244,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1268},{214,146}}</string>
                <key>offset</key>
                <string>{-40,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,150},{214,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1164},{232,256}}</string>
                <key>offset</key>
                <string>{-76,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,14},{232,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1042},{260,178}}</string>
                <key>offset</key>
                <string>{-66,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,65},{260,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1398},{232,142}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,164},{232,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,240},{222,182}}</string>
                <key>offset</key>
                <string>{-52,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,92},{222,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,664},{334,94}}</string>
                <key>offset</key>
                <string>{-54,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,151},{334,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{378,132}}</string>
                <key>offset</key>
                <string>{-40,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,147},{378,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,924},{290,238}}</string>
                <key>offset</key>
                <string>{-66,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,15},{290,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1416},{236,176}}</string>
                <key>offset</key>
                <string>{-70,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,58},{236,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1042},{224,154}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,156},{224,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,860},{298,180}}</string>
                <key>offset</key>
                <string>{-67,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{298,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{412,90}}</string>
                <key>offset</key>
                <string>{-4,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,147},{412,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{404,122}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,143},{404,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{304,224}}</string>
                <key>offset</key>
                <string>{45,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,22},{304,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1326},{236,180}}</string>
                <key>offset</key>
                <string>{-10,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,54},{236,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,366},{366,136}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,165},{366,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0067_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,504},{344,158}}</string>
                <key>offset</key>
                <string>{-20,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,85},{344,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0067_4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0351986c6136b72b9a2348bceb9149f:1/1$</string>
            <key>textureFileName</key>
            <string>g_0067_4.png</string>
        </dict>
    </dict>
</plist>
