<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0048_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,424},{74,128}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,135},{74,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,294},{74,128}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,135},{74,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,424},{74,128}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,135},{74,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,294},{74,128}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,135},{74,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{66,138}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,130},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,82},{66,138}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,130},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,142},{66,138}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,130},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{66,138}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,130},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{58,146}}</string>
                <key>offset</key>
                <string>{7,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,125},{58,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{58,146}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,125},{58,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{58,146}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,125},{58,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,146}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,125},{58,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{78,144}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,128},{78,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,80},{76,144}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,128},{76,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{78,144}}</string>
                <key>offset</key>
                <string>{4,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,128},{78,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{76,144}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,128},{76,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,286},{74,134}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,133},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,218},{74,136}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,131},{74,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,158},{74,136}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,131},{74,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0048_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,148},{74,136}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,131},{74,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0048_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1590d32b7c04613bc95b0835b125cf43:1/1$</string>
            <key>textureFileName</key>
            <string>g_0048_0.png</string>
        </dict>
    </dict>
</plist>
