<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0066_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{102,180}}</string>
                <key>offset</key>
                <string>{1,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,99},{102,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,180}}</string>
                <key>offset</key>
                <string>{1,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,99},{104,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,106},{102,180}}</string>
                <key>offset</key>
                <string>{2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,100},{102,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{102,180}}</string>
                <key>offset</key>
                <string>{2,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,101},{102,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,356},{122,140}}</string>
                <key>offset</key>
                <string>{8,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,121},{122,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{122,140}}</string>
                <key>offset</key>
                <string>{7,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,121},{122,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,128},{122,140}}</string>
                <key>offset</key>
                <string>{7,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,121},{122,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{124,140}}</string>
                <key>offset</key>
                <string>{7,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,122},{124,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,418},{136,132}}</string>
                <key>offset</key>
                <string>{2,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,125},{136,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,480},{134,134}}</string>
                <key>offset</key>
                <string>{1,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,123},{134,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{134,134}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,123},{134,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,552},{134,132}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,124},{134,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,686},{106,132}}</string>
                <key>offset</key>
                <string>{-7,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,129},{106,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{108,134}}</string>
                <key>offset</key>
                <string>{-7,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,128},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{106,132}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,130},{106,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,616},{106,132}}</string>
                <key>offset</key>
                <string>{-7,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,129},{106,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,314},{102,150}}</string>
                <key>offset</key>
                <string>{7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,107},{102,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{102,150}}</string>
                <key>offset</key>
                <string>{8,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,108},{102,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,210},{102,152}}</string>
                <key>offset</key>
                <string>{8,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,107},{102,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0066_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,252},{102,150}}</string>
                <key>offset</key>
                <string>{7,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,108},{102,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0066_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09dc4a0fe709401dbe73ea7d0c228456:1/1$</string>
            <key>textureFileName</key>
            <string>g_0066_0.png</string>
        </dict>
    </dict>
</plist>
