<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0068_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{202,210}}</string>
                <key>offset</key>
                <string>{-9,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,78},{202,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{208,208}}</string>
                <key>offset</key>
                <string>{-8,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,83},{208,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{204,210}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,81},{204,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{198,208}}</string>
                <key>offset</key>
                <string>{-8,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,78},{198,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{196,208}}</string>
                <key>offset</key>
                <string>{-9,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,77},{196,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,208},{202,208}}</string>
                <key>offset</key>
                <string>{-9,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,79},{202,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,412},{172,206}}</string>
                <key>offset</key>
                <string>{-9,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,72},{172,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,212},{158,208}}</string>
                <key>offset</key>
                <string>{-9,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,71},{158,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,368},{156,208}}</string>
                <key>offset</key>
                <string>{-8,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,68},{156,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{162,206}}</string>
                <key>offset</key>
                <string>{-8,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,66},{162,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,526},{172,206}}</string>
                <key>offset</key>
                <string>{-9,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,67},{172,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,372},{172,206}}</string>
                <key>offset</key>
                <string>{-9,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,71},{172,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,890},{146,188}}</string>
                <key>offset</key>
                <string>{-9,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,82},{146,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,724},{126,194}}</string>
                <key>offset</key>
                <string>{-9,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,79},{126,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,852},{120,194}}</string>
                <key>offset</key>
                <string>{-7,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,76},{120,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,702},{130,192}}</string>
                <key>offset</key>
                <string>{-9,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,75},{130,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,834},{140,190}}</string>
                <key>offset</key>
                <string>{-8,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,78},{140,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,742},{146,190}}</string>
                <key>offset</key>
                <string>{-9,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,81},{146,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,858},{184,172}}</string>
                <key>offset</key>
                <string>{-28,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,96},{184,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,546},{176,176}}</string>
                <key>offset</key>
                <string>{-29,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,97},{176,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,372},{172,178}}</string>
                <key>offset</key>
                <string>{-29,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,93},{172,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,192},{178,174}}</string>
                <key>offset</key>
                <string>{-29,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,93},{178,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{188,174}}</string>
                <key>offset</key>
                <string>{-29,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,94},{188,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{184,172}}</string>
                <key>offset</key>
                <string>{-28,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,96},{184,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,586},{204,154}}</string>
                <key>offset</key>
                <string>{-5,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,106},{204,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,166}}</string>
                <key>offset</key>
                <string>{-9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,102},{212,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,200},{208,166}}</string>
                <key>offset</key>
                <string>{-8,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,100},{208,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{202,162}}</string>
                <key>offset</key>
                <string>{-8,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,100},{202,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,700},{198,156}}</string>
                <key>offset</key>
                <string>{-20,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,103},{198,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,546},{204,154}}</string>
                <key>offset</key>
                <string>{-4,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,106},{204,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0068_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e62b74111e62bdec9526e4f21063280b:1/1$</string>
            <key>textureFileName</key>
            <string>g_0068_1.png</string>
        </dict>
    </dict>
</plist>
