<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0030_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,406},{138,120}}</string>
                <key>offset</key>
                <string>{34,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,154},{138,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,560},{110,134}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,140},{110,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{64,152}}</string>
                <key>offset</key>
                <string>{-8,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,122},{64,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,368},{58,126}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,148},{58,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,334},{70,130}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,144},{70,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,176},{146,156}}</string>
                <key>offset</key>
                <string>{22,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,118},{146,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,336},{74,128}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,147},{74,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,546},{92,126}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,149},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,842},{120,158}}</string>
                <key>offset</key>
                <string>{-13,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,117},{120,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,676},{164,128}}</string>
                <key>offset</key>
                <string>{45,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,147},{164,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{172,132}}</string>
                <key>offset</key>
                <string>{46,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,143},{172,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,432},{184,132}}</string>
                <key>offset</key>
                <string>{55,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,143},{184,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,672},{136,130}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,141},{136,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,678},{180,130}}</string>
                <key>offset</key>
                <string>{-43,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,141},{180,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{172,186}}</string>
                <key>offset</key>
                <string>{-25,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,85},{172,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{218,124}}</string>
                <key>offset</key>
                <string>{59,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,147},{218,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{212,128}}</string>
                <key>offset</key>
                <string>{54,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,143},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,428},{166,130}}</string>
                <key>offset</key>
                <string>{32,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,141},{166,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,192},{174,132}}</string>
                <key>offset</key>
                <string>{-38,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,133},{174,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,860},{164,160}}</string>
                <key>offset</key>
                <string>{-52,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,105},{164,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{122,218}}</string>
                <key>offset</key>
                <string>{-20,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,47},{122,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,868},{146,156}}</string>
                <key>offset</key>
                <string>{38,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,155},{146,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{132,156}}</string>
                <key>offset</key>
                <string>{28,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,151},{132,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,596},{78,124}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,146},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{138,188}}</string>
                <key>offset</key>
                <string>{-32,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,83},{138,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,222},{110,208}}</string>
                <key>offset</key>
                <string>{-13,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,63},{110,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,242}}</string>
                <key>offset</key>
                <string>{9,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,29},{64,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,618},{58,168}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,164},{58,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,176},{70,158}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,164},{70,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0030_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,412},{146,116}}</string>
                <key>offset</key>
                <string>{-21,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,155},{146,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0030_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:754373fc2d9fc22ff42d777afaa90a23:1/1$</string>
            <key>textureFileName</key>
            <string>g_0030_4.png</string>
        </dict>
    </dict>
</plist>
