<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0050_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,582},{110,154}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,146},{110,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{108,152}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,148},{108,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,576},{110,154}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,147},{110,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{112,156}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,146},{112,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,442},{132,170}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,136},{132,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{138,170}}</string>
                <key>offset</key>
                <string>{19,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,135},{138,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,306},{134,172}}</string>
                <key>offset</key>
                <string>{19,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,135},{134,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{128,174}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,134},{128,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,156},{200,148}}</string>
                <key>offset</key>
                <string>{-10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,133},{200,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{200,148}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,131},{200,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,152}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,131},{200,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,152}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,133},{200,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,444},{156,136}}</string>
                <key>offset</key>
                <string>{-33,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,142},{156,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{150,140}}</string>
                <key>offset</key>
                <string>{-34,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,139},{150,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,688},{152,138}}</string>
                <key>offset</key>
                <string>{-33,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,140},{152,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,306},{156,136}}</string>
                <key>offset</key>
                <string>{-33,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,142},{156,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,812},{110,116}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,157},{110,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,828},{108,122}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,153},{108,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,828},{110,120}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,154},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,694},{112,116}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,156},{112,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0050_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4497d4433f8de961b2345aa91ec23621:1/1$</string>
            <key>textureFileName</key>
            <string>g_0050_0.png</string>
        </dict>
    </dict>
</plist>
