<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0046_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,336},{172,162}}</string>
                <key>offset</key>
                <string>{14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,117},{172,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,328},{172,162}}</string>
                <key>offset</key>
                <string>{15,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,116},{172,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,324},{180,168}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,113},{180,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{192,158}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,118},{192,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{188,154}}</string>
                <key>offset</key>
                <string>{15,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,121},{188,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,172},{182,154}}</string>
                <key>offset</key>
                <string>{15,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,120},{182,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,806},{142,160}}</string>
                <key>offset</key>
                <string>{4,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,109},{142,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,806},{144,154}}</string>
                <key>offset</key>
                <string>{4,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,112},{144,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,806},{138,156}}</string>
                <key>offset</key>
                <string>{4,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,111},{138,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,654},{144,154}}</string>
                <key>offset</key>
                <string>{4,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,113},{144,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,656},{144,156}}</string>
                <key>offset</key>
                <string>{4,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,112},{144,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,656},{140,154}}</string>
                <key>offset</key>
                <string>{5,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,112},{140,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,494},{158,166}}</string>
                <key>offset</key>
                <string>{-10,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,107},{158,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,500},{154,164}}</string>
                <key>offset</key>
                <string>{-10,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,107},{154,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{156,164}}</string>
                <key>offset</key>
                <string>{-10,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,107},{156,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,642},{162,162}}</string>
                <key>offset</key>
                <string>{-11,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,109},{162,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{160,162}}</string>
                <key>offset</key>
                <string>{-10,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,109},{160,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,492},{160,166}}</string>
                <key>offset</key>
                <string>{-11,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,107},{160,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{190,168}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,107},{190,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{188,164}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,109},{188,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,318},{172,166}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,107},{172,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,806},{154,162}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,110},{154,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{146,160}}</string>
                <key>offset</key>
                <string>{1,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,110},{146,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,486},{154,170}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,106},{154,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,164},{178,170}}</string>
                <key>offset</key>
                <string>{2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,109},{178,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{180,160}}</string>
                <key>offset</key>
                <string>{2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,114},{180,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,158},{182,158}}</string>
                <key>offset</key>
                <string>{2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,115},{182,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,166}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,110},{192,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,162},{190,160}}</string>
                <key>offset</key>
                <string>{7,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,114},{190,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0046_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{186,160}}</string>
                <key>offset</key>
                <string>{9,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,113},{186,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0046_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fad9370a3c48e40a0374c5b107c7664:1/1$</string>
            <key>textureFileName</key>
            <string>g_0046_1.png</string>
        </dict>
    </dict>
</plist>
