<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0058_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{110,146}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,124},{110,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{108,144}}</string>
                <key>offset</key>
                <string>{13,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,126},{108,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{124,140}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,127},{124,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,620},{134,136}}</string>
                <key>offset</key>
                <string>{14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,130},{134,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,758},{132,130}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,132},{132,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,286},{124,140}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,127},{124,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{152,132}}</string>
                <key>offset</key>
                <string>{25,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,130},{152,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,142},{148,134}}</string>
                <key>offset</key>
                <string>{25,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,128},{148,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,144},{136,144}}</string>
                <key>offset</key>
                <string>{24,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,123},{136,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,282},{116,142}}</string>
                <key>offset</key>
                <string>{24,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,125},{116,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{110,136}}</string>
                <key>offset</key>
                <string>{25,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,127},{110,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,894},{128,132}}</string>
                <key>offset</key>
                <string>{25,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,130},{128,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{162,140}}</string>
                <key>offset</key>
                <string>{44,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,130},{162,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{160,138}}</string>
                <key>offset</key>
                <string>{45,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,130},{160,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,140}}</string>
                <key>offset</key>
                <string>{45,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,129},{164,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{156,138}}</string>
                <key>offset</key>
                <string>{44,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,131},{156,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,278},{142,134}}</string>
                <key>offset</key>
                <string>{45,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,132},{142,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{154,138}}</string>
                <key>offset</key>
                <string>{45,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,130},{154,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,136},{144,150}}</string>
                <key>offset</key>
                <string>{26,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,133},{144,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,142},{146,142}}</string>
                <key>offset</key>
                <string>{25,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,136},{146,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,142},{146,134}}</string>
                <key>offset</key>
                <string>{25,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,141},{146,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{138,136}}</string>
                <key>offset</key>
                <string>{26,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,140},{138,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,892},{130,128}}</string>
                <key>offset</key>
                <string>{25,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,143},{130,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{136,140}}</string>
                <key>offset</key>
                <string>{26,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,137},{136,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,282},{110,146}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,135},{110,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,758},{108,134}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,141},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,514},{110,132}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,142},{110,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,278},{114,146}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,135},{114,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{114,142}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,137},{114,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0058_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,400},{112,142}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,137},{112,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0058_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ecdf60afaffe78b5bb6f0f2835db06f:1/1$</string>
            <key>textureFileName</key>
            <string>g_0058_1.png</string>
        </dict>
    </dict>
</plist>
