<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0068_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,726},{200,202}}</string>
                <key>offset</key>
                <string>{-9,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,72},{200,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{242,208}}</string>
                <key>offset</key>
                <string>{-8,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,72},{242,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,924},{188,192}}</string>
                <key>offset</key>
                <string>{-9,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,96},{188,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,204},{214,184}}</string>
                <key>offset</key>
                <string>{-8,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,92},{214,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{238,200}}</string>
                <key>offset</key>
                <string>{-8,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,80},{238,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,676},{200,202}}</string>
                <key>offset</key>
                <string>{-9,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,72},{200,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,740},{182,196}}</string>
                <key>offset</key>
                <string>{-9,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,67},{182,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,398},{146,206}}</string>
                <key>offset</key>
                <string>{-8,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,67},{146,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,182},{216,192}}</string>
                <key>offset</key>
                <string>{-9,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,94},{216,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,216},{208,180}}</string>
                <key>offset</key>
                <string>{-8,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,93},{208,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{194,194}}</string>
                <key>offset</key>
                <string>{-9,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,77},{194,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,702},{182,196}}</string>
                <key>offset</key>
                <string>{-9,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,67},{182,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1112},{162,190}}</string>
                <key>offset</key>
                <string>{-9,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,77},{162,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,546},{204,192}}</string>
                <key>offset</key>
                <string>{-8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,83},{204,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{204,182}}</string>
                <key>offset</key>
                <string>{-8,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,85},{204,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,516},{204,158}}</string>
                <key>offset</key>
                <string>{-8,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,102},{204,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,516},{152,184}}</string>
                <key>offset</key>
                <string>{-9,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,79},{152,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1068},{162,190}}</string>
                <key>offset</key>
                <string>{-9,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,77},{162,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,928},{182,190}}</string>
                <key>offset</key>
                <string>{-8,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,85},{182,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,182}}</string>
                <key>offset</key>
                <string>{-18,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{288,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,886},{188,198}}</string>
                <key>offset</key>
                <string>{-8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,99},{188,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,570},{204,154}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,109},{204,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1114},{186,176}}</string>
                <key>offset</key>
                <string>{-9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,97},{186,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{182,190}}</string>
                <key>offset</key>
                <string>{-8,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,85},{182,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,390},{206,178}}</string>
                <key>offset</key>
                <string>{6,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,90},{206,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{242,212}}</string>
                <key>offset</key>
                <string>{-7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,73},{242,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,878},{188,202}}</string>
                <key>offset</key>
                <string>{-8,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,91},{188,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,376},{214,138}}</string>
                <key>offset</key>
                <string>{-7,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,113},{214,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{238,178}}</string>
                <key>offset</key>
                <string>{-18,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,99},{238,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0068_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{206,178}}</string>
                <key>offset</key>
                <string>{6,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,90},{206,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0068_4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55c9bdf04e6c2240d496ffd50b16b65f:1/1$</string>
            <key>textureFileName</key>
            <string>g_0068_4.png</string>
        </dict>
    </dict>
</plist>
