<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_0050_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,440},{132,150}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,144},{132,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,746},{130,142}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{130,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,890},{130,138}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,151},{130,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,614},{130,142}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,149},{130,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{132,148}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,145},{132,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,470},{132,148}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,146},{132,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{164,166}}</string>
                <key>offset</key>
                <string>{28,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,136},{164,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,456},{168,156}}</string>
                <key>offset</key>
                <string>{28,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,140},{168,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,310},{172,154}}</string>
                <key>offset</key>
                <string>{28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,142},{172,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,294},{174,160}}</string>
                <key>offset</key>
                <string>{28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,139},{174,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{172,166}}</string>
                <key>offset</key>
                <string>{28,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,136},{172,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,302},{168,166}}</string>
                <key>offset</key>
                <string>{27,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,136},{168,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,144}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,136},{214,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{206,136}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,140},{206,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{206,138}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,139},{206,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,148},{212,144}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,136},{212,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,152}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,131},{214,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{212,148}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,134},{212,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,140},{190,142}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,140},{190,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,152},{186,148}}</string>
                <key>offset</key>
                <string>{-16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,138},{186,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,284},{178,154}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,134},{178,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{174,146}}</string>
                <key>offset</key>
                <string>{-16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,139},{174,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{174,136}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,143},{174,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,176},{180,132}}</string>
                <key>offset</key>
                <string>{-15,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,146},{180,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{140,124}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,150},{140,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,604},{140,128}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,149},{140,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,748},{144,132}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,147},{144,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,894},{140,128}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,148},{140,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,746},{142,118}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,154},{142,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_0050_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,604},{140,118}}</string>
                <key>offset</key>
                <string>{15,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,153},{140,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_0050_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc813cdd471b590c9649a863062713dc:1/1$</string>
            <key>textureFileName</key>
            <string>g_0050_1.png</string>
        </dict>
    </dict>
</plist>
