<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_113_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{100,132}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,127},{100,132}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{100,132}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,127},{100,132}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{102,134}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,126},{102,134}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{102,134}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,126},{102,134}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{80,146}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{80,146}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{80,146}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{80,146}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{78,146}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{78,146}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{78,146}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{78,146}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{82,136}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,124},{82,136}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{82,136}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,124},{82,136}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{84,134}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,126},{84,134}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{84,134}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,126},{84,134}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{102,158}}</string>
                <key>offset</key>
                <string>{13,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,100},{102,158}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{102,158}}</string>
                <key>offset</key>
                <string>{13,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,100},{102,158}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,158}}</string>
                <key>offset</key>
                <string>{14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,100},{104,158}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,158}}</string>
                <key>offset</key>
                <string>{14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,100},{104,158}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{100,144}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,111},{100,144}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{100,144}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,111},{100,144}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{102,144}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,111},{102,144}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_113_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{102,144}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,111},{102,144}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_113_0.png</string>
            <key>size</key>
            <string>{108,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2df2fc6ee0e6dc745886eff65ff74262:1/1$</string>
            <key>textureFileName</key>
            <string>g_113_0.png</string>
        </dict>
    </dict>
</plist>
