<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_116_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{92,124}}</string>
                <key>offset</key>
                <string>{-11,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,138},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{92,124}}</string>
                <key>offset</key>
                <string>{-11,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,138},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{92,124}}</string>
                <key>offset</key>
                <string>{-12,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,138},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{92,124}}</string>
                <key>offset</key>
                <string>{-12,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,138},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{72,126}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,138},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{72,126}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,138},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{72,126}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,139},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{72,126}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,139},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{64,136}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,131},{64,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{64,136}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,131},{64,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{66,136}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,131},{66,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{66,136}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,131},{66,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{82,146}}</string>
                <key>offset</key>
                <string>{6,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,123},{82,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{82,146}}</string>
                <key>offset</key>
                <string>{6,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,123},{82,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{84,146}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,123},{84,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{84,146}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,123},{84,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{92,144}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,119},{92,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{92,144}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,119},{92,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,144}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,119},{92,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_116_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,144}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,119},{92,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_116_0.png</string>
            <key>size</key>
            <string>{96,1374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:364fcf3d556370b39b810dc5c19ff056:1/1$</string>
            <key>textureFileName</key>
            <string>g_116_0.png</string>
        </dict>
    </dict>
</plist>
