<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_110_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{112,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,176},{112,62}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{114,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,172},{114,66}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{112,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,176},{112,62}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{114,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,172},{114,66}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{116,78}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,157},{116,78}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{118,82}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,153},{118,82}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{116,78}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,157},{116,78}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{118,82}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,153},{118,82}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{100,90}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,155},{100,90}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{100,94}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,150},{100,94}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{100,90}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,155},{100,90}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{100,94}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,150},{100,94}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{116,104}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,147},{116,104}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,110}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,142},{118,110}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{116,104}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,147},{116,104}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,110}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,142},{118,110}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{112,98}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,144},{112,98}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{112,104}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,137},{112,104}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{112,98}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,144},{112,98}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_110_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{112,104}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,137},{112,104}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_110_0.png</string>
            <key>size</key>
            <string>{122,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9385a36a0843118af215ad3a71285a7b:1/1$</string>
            <key>textureFileName</key>
            <string>g_110_0.png</string>
        </dict>
    </dict>
</plist>
