<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_115_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{92,144}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{92,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{92,144}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{92,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{100,146}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,145},{100,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{100,146}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,145},{100,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{84,140}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,145},{84,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{84,140}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,145},{84,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{82,138}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,146},{82,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{82,138}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,146},{82,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{84,138}}</string>
                <key>offset</key>
                <string>{-15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,138},{84,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{84,138}}</string>
                <key>offset</key>
                <string>{-15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,138},{84,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{86,136}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,139},{86,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{86,136}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,139},{86,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{82,132}}</string>
                <key>offset</key>
                <string>{-14,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,135},{82,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{82,132}}</string>
                <key>offset</key>
                <string>{-14,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,135},{82,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{76,130}}</string>
                <key>offset</key>
                <string>{-16,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,136},{76,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{76,130}}</string>
                <key>offset</key>
                <string>{-16,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,136},{76,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,130}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,136},{102,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,130}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,136},{102,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{92,126}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,136},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{92,126}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,136},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_115_0.png</string>
            <key>size</key>
            <string>{106,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17f35bb61e7e154ed424b0c5960d7f41:1/1$</string>
            <key>textureFileName</key>
            <string>g_115_0.png</string>
        </dict>
    </dict>
</plist>
