<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_111_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{89,141}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,85},{89,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{89,141}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,85},{89,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{89,143}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,85},{89,143}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{89,143}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,85},{89,143}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{85,145}}</string>
                <key>offset</key>
                <string>{-6,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,81},{85,145}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{85,145}}</string>
                <key>offset</key>
                <string>{-6,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,81},{85,145}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,89},{81,147}}</string>
                <key>offset</key>
                <string>{-5,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,81},{81,147}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,89},{81,147}}</string>
                <key>offset</key>
                <string>{-5,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,81},{81,147}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{121,153}}</string>
                <key>offset</key>
                <string>{-38,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,80},{121,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{121,153}}</string>
                <key>offset</key>
                <string>{-38,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,80},{121,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{117,153}}</string>
                <key>offset</key>
                <string>{-37,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,80},{117,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{117,153}}</string>
                <key>offset</key>
                <string>{-37,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,80},{117,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,153}}</string>
                <key>offset</key>
                <string>{-30,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,82},{133,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,153}}</string>
                <key>offset</key>
                <string>{-30,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,82},{133,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{129,151}}</string>
                <key>offset</key>
                <string>{-29,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,84},{129,151}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{129,151}}</string>
                <key>offset</key>
                <string>{-29,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,84},{129,151}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{89,141}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,85},{89,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{89,141}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,85},{89,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{89,141}}</string>
                <key>offset</key>
                <string>{-2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,86},{89,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_111_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{89,141}}</string>
                <key>offset</key>
                <string>{-2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,86},{89,141}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_111_0.png</string>
            <key>size</key>
            <string>{1024,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5092de60969d0d036d96404afafa5614:1/1$</string>
            <key>textureFileName</key>
            <string>g_111_0.png</string>
        </dict>
    </dict>
</plist>
