<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_115_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,930},{98,140}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,139},{98,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{112,152}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,131},{112,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{100,164}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,124},{100,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{74,172}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,117},{74,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,180}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,104},{80,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1554},{80,136}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,145},{80,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,654},{96,138}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,140},{96,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{110,146}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,133},{110,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{84,164}}</string>
                <key>offset</key>
                <string>{-15,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,117},{84,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{112,154}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,128},{112,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{130,162}}</string>
                <key>offset</key>
                <string>{21,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,120},{130,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,520},{94,132}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,145},{94,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,382},{86,136}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,138},{86,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1214},{102,134}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,138},{102,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,84},{76,156}}</string>
                <key>offset</key>
                <string>{-9,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,118},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{154,132}}</string>
                <key>offset</key>
                <string>{18,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,135},{154,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{156,136}}</string>
                <key>offset</key>
                <string>{37,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,137},{156,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{72,136}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,136},{72,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,794},{96,134}}</string>
                <key>offset</key>
                <string>{-12,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,132},{96,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1350},{100,130}}</string>
                <key>offset</key>
                <string>{-10,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,134},{100,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{76,142}}</string>
                <key>offset</key>
                <string>{-19,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,117},{76,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{120,120}}</string>
                <key>offset</key>
                <string>{10,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,138},{120,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{146,126}}</string>
                <key>offset</key>
                <string>{27,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,140},{146,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,242},{86,138}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,136},{86,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1460},{92,136}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,135},{92,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1482},{96,132}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,135},{96,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1072},{102,140}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,120},{102,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1616},{74,120}}</string>
                <key>offset</key>
                <string>{0,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,140},{74,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{76,138}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,141},{76,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_115_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{82,140}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,137},{82,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_115_4.png</string>
            <key>size</key>
            <string>{256,1832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6f8609466bf536d0ddf7003d77029d3:1/1$</string>
            <key>textureFileName</key>
            <string>g_115_4.png</string>
        </dict>
    </dict>
</plist>
