<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_129_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,83},{49,125}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,109},{49,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,344},{53,111}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,110},{53,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,325},{53,111}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,120},{53,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,330},{51,111}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,121},{51,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,277},{51,103}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,119},{51,103}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,399},{51,109}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,119},{51,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{83,107}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,119},{83,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{79,103}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,119},{79,103}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,111},{71,111}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,119},{71,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,427},{71,109}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,119},{71,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,186},{61,103}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,119},{61,103}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,325},{75,107}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,119},{75,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{95,105}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,118},{95,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{91,103}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,119},{91,103}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{97,107}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,118},{97,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,83},{89,101}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,117},{89,101}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,209},{89,99}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,118},{89,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,107}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,118},{107,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,438},{67,113}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,114},{67,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{69,107}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,114},{69,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,134},{73,109}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,114},{73,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{73,109}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,115},{73,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,220},{85,103}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,116},{85,103}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{79,113}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,116},{79,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,330},{49,115}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,115},{49,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,111},{53,107}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,115},{53,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,310},{53,115}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,114},{53,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,134},{51,115}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,116},{51,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,224},{51,107}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,115},{51,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,291},{51,113}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,115},{51,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_129_1.png</string>
            <key>size</key>
            <string>{499,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dda8215bca7a6d183cb7feb5efe7cd4:1/1$</string>
            <key>textureFileName</key>
            <string>g_129_1.png</string>
        </dict>
    </dict>
</plist>
