<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_129_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,73},{53,107}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,116},{53,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,73},{53,107}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,116},{53,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,73},{53,105}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,118},{53,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,73},{53,105}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,118},{53,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{69,107}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,117},{69,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{69,107}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,117},{69,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{69,105}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,119},{69,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{69,105}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,119},{69,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,111}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,118},{81,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,111}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,118},{81,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,111}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,118},{79,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,111}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,118},{79,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{63,115}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,113},{63,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{63,115}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,113},{63,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{63,115}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,113},{63,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{63,115}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,113},{63,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,67},{53,115}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,110},{53,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,67},{53,115}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,110},{53,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,67},{53,115}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,110},{53,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,67},{53,115}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,110},{53,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_129_0.png</string>
            <key>size</key>
            <string>{616,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb7c450e65fb5563b9fbb81771b7f814:1/1$</string>
            <key>textureFileName</key>
            <string>g_129_0.png</string>
        </dict>
    </dict>
</plist>
