<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_124_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{180,116}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{180,116}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{180,116}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{180,116}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{180,118}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,94},{180,118}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{180,118}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,94},{180,118}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{168,128}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,88},{168,128}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{168,128}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,88},{168,128}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{168,126}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,90},{168,126}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{168,126}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,90},{168,126}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,746},{70,128}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,88},{70,128}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,746},{70,128}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,88},{70,128}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,876},{72,126}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,90},{72,126}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,876},{72,126}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,90},{72,126}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{100,122}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,96},{100,122}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{100,122}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,96},{100,122}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{98,122}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,96},{98,122}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{98,122}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,96},{98,122}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{180,122}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,90},{180,122}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{180,122}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,90},{180,122}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,122}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,90},{180,122}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_124_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,122}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,90},{180,122}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_124_0.png</string>
            <key>size</key>
            <string>{184,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d26319598ccfaf9fbea599f15459e814:1/1$</string>
            <key>textureFileName</key>
            <string>g_124_0.png</string>
        </dict>
    </dict>
</plist>
