<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_125_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,202},{68,98}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,105},{68,98}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{66,104}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,105},{66,104}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,94},{62,112}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,102},{62,112}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,242},{68,98}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,103},{68,98}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,158},{70,104}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,104},{70,104}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,100},{70,112}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,100},{70,112}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{114,98}}</string>
                <key>offset</key>
                <string>{10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,109},{114,98}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{98,110}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,107},{98,110}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{90,116}}</string>
                <key>offset</key>
                <string>{19,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,106},{90,116}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,324},{100,96}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,107},{100,96}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,198},{94,104}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,107},{94,104}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,110}}</string>
                <key>offset</key>
                <string>{15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,107},{106,110}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{110,102}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,107},{110,102}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,106},{90,106}}</string>
                <key>offset</key>
                <string>{15,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{90,106}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{96,110}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,108},{96,110}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{110,96}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,108},{110,96}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,422},{88,100}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,107},{88,100}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,230},{92,102}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,108},{92,102}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,172},{68,102}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,114},{68,102}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,100},{60,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,113},{60,100}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,344},{70,96}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,114},{70,96}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,372},{80,98}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,113},{80,98}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,304},{66,94}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,114},{66,94}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{56,92}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,113},{56,92}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,242},{68,100}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,116},{68,100}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,454},{66,92}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,117},{66,92}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,416},{62,88}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,115},{62,88}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,302},{68,96}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,118},{68,96}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,416},{70,92}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,119},{70,92}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_125_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,400},{70,86}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,117},{70,86}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_125_1.png</string>
            <key>size</key>
            <string>{512,523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b5b7b5ea75f58378f433624d08770a:1/1$</string>
            <key>textureFileName</key>
            <string>g_125_1.png</string>
        </dict>
    </dict>
</plist>
