<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_122_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{91,111}}</string>
                <key>offset</key>
                <string>{8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,131},{91,111}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{95,105}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,129},{95,105}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{95,105}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,129},{95,105}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,113}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,129},{95,113}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{93,105}}</string>
                <key>offset</key>
                <string>{8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,131},{93,105}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{93,105}}</string>
                <key>offset</key>
                <string>{8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,131},{93,105}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{91,105}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,133},{91,105}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,2},{79,101}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,133},{79,101}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,2},{79,101}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,133},{79,101}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,2},{81,103}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,133},{81,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,2},{71,105}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,134},{71,105}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,2},{71,105}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,134},{71,105}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{93,99}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,136},{93,99}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{75,93}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,136},{75,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{75,93}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,136},{75,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{91,103}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,137},{91,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{75,97}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,139},{75,97}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{75,97}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,139},{75,97}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{79,101}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,139},{79,101}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{79,89}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,140},{79,89}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{79,89}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,140},{79,89}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{87,93}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,142},{87,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{87,95}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,140},{87,95}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{87,95}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,140},{87,95}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{93,103}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,146},{93,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{93,85}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,148},{93,85}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{93,85}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,148},{93,85}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,2},{91,101}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,146},{91,101}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{93,93}}</string>
                <key>offset</key>
                <string>{-8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,146},{93,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{93,93}}</string>
                <key>offset</key>
                <string>{-8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,146},{93,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_122_1.png</string>
            <key>size</key>
            <string>{2000,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2a8cbf79122205d893d4655c2ce6673:1/1$</string>
            <key>textureFileName</key>
            <string>g_122_1.png</string>
        </dict>
    </dict>
</plist>
