<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_127_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{92,114}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,110},{92,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{92,114}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,110},{92,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{92,114}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,109},{92,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{92,114}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,109},{92,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{122,108}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,106},{122,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{122,108}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,106},{122,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,108}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,105},{124,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,108}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,105},{124,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{118,114}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,108},{118,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{118,114}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,108},{118,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{120,116}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,106},{120,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{120,116}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,106},{120,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{88,110}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,114},{88,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{88,110}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,114},{88,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{90,110}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,114},{90,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{90,110}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,114},{90,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{92,94}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,115},{92,94}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{92,94}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,115},{92,94}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{92,94}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,115},{92,94}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{92,94}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,115},{92,94}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_127_0.png</string>
            <key>size</key>
            <string>{1014,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49903a6239725bcb5eb3fedae2701d00:1/1$</string>
            <key>textureFileName</key>
            <string>g_127_0.png</string>
        </dict>
    </dict>
</plist>
