<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_122_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{89,109}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,136},{89,109}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{89,109}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,136},{89,109}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{117,101}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,144},{117,101}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{79,155}}</string>
                <key>offset</key>
                <string>{-12,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,89},{79,155}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{79,155}}</string>
                <key>offset</key>
                <string>{-12,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,89},{79,155}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{69,157}}</string>
                <key>offset</key>
                <string>{-9,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,86},{69,157}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,121},{73,115}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,135},{73,115}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,121},{73,115}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,135},{73,115}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{83,113}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,142},{83,113}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{57,161}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,87},{57,161}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{57,161}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,87},{57,161}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,163}}</string>
                <key>offset</key>
                <string>{2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,85},{61,163}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,93},{83,107}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,135},{83,107}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,93},{83,107}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,135},{83,107}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,178},{75,113}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,141},{75,113}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{85,151}}</string>
                <key>offset</key>
                <string>{24,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,82},{85,151}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{85,151}}</string>
                <key>offset</key>
                <string>{24,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,82},{85,151}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{87,153}}</string>
                <key>offset</key>
                <string>{23,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,80},{87,153}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,141},{113,103}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,137},{113,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,141},{113,103}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,137},{113,103}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,155},{109,99}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,141},{109,99}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,161},{93,133}}</string>
                <key>offset</key>
                <string>{35,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,105},{93,133}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,161},{93,133}}</string>
                <key>offset</key>
                <string>{35,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,105},{93,133}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{89,137}}</string>
                <key>offset</key>
                <string>{34,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,102},{89,137}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,133},{89,119}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,131},{89,119}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,133},{89,119}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,131},{89,119}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,127},{117,107}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,143},{117,107}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{81,123}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,126},{81,123}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{81,123}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,126},{81,123}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_122_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{71,129}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,120},{71,129}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_122_4.png</string>
            <key>size</key>
            <string>{909,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52b0356d1b17eff782ea0753bc2de37c:1/1$</string>
            <key>textureFileName</key>
            <string>g_122_4.png</string>
        </dict>
    </dict>
</plist>
