<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_126_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,133}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,128},{249,133}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,133}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,128},{249,133}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{163,123}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,135},{163,123}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,846},{127,103}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,142},{127,103}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,846},{155,131}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,112},{155,131}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,846},{155,131}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,112},{155,131}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{205,159}}</string>
                <key>offset</key>
                <string>{-14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,85},{205,159}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{205,159}}</string>
                <key>offset</key>
                <string>{-14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,85},{205,159}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,723},{153,113}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,134},{153,113}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{135,109}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,132},{135,109}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{159,137}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,107},{159,137}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{159,137}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,107},{159,137}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{169,175}}</string>
                <key>offset</key>
                <string>{-14,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,58},{169,175}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{169,175}}</string>
                <key>offset</key>
                <string>{-14,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,58},{169,175}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,586},{159,111}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,122},{159,111}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,846},{151,131}}</string>
                <key>offset</key>
                <string>{-14,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,102},{151,131}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,306},{171,149}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,84},{171,149}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,306},{171,149}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,84},{171,149}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,137},{197,167}}</string>
                <key>offset</key>
                <string>{-17,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,67},{197,167}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,137},{197,167}}</string>
                <key>offset</key>
                <string>{-17,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,67},{197,167}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,457},{163,123}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,120},{163,123}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,449},{135,151}}</string>
                <key>offset</key>
                <string>{-15,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,85},{135,151}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,306},{141,151}}</string>
                <key>offset</key>
                <string>{-8,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,82},{141,151}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,306},{141,151}}</string>
                <key>offset</key>
                <string>{-8,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,82},{141,151}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{247,133}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,100},{247,133}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{247,133}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,100},{247,133}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,582},{161,139}}</string>
                <key>offset</key>
                <string>{-5,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,94},{161,139}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{129,157}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,86},{129,157}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,699},{157,145}}</string>
                <key>offset</key>
                <string>{2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,90},{157,145}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
            <key>g_126_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,699},{157,145}}</string>
                <key>offset</key>
                <string>{2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,90},{157,145}}</string>
                <key>sourceSize</key>
                <string>{445,445}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_126_1.png</string>
            <key>size</key>
            <string>{505,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85c79feb288fae4c5d95a2c5f80faeab:1/1$</string>
            <key>textureFileName</key>
            <string>g_126_1.png</string>
        </dict>
    </dict>
</plist>
