<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_127_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,394},{78,100}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,108},{78,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,424},{84,88}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,107},{84,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,424},{84,88}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,107},{84,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,292},{78,100}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,107},{78,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,346},{76,96}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,108},{76,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,346},{76,96}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,108},{76,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,94},{130,102}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,104},{130,102}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,202},{118,88}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,105},{118,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,202},{118,88}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,105},{118,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{122,98}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,104},{122,98}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,198},{130,96}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,104},{130,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,198},{130,96}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,104},{130,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{144,96}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,107},{144,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{132,90}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,112},{132,90}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{132,90}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,112},{132,90}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,100},{130,100}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,109},{130,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,100}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,107},{148,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,100}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,107},{148,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{82,108}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,102},{82,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,368},{98,100}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,110},{98,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,368},{98,100}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,110},{98,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{98,102}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,109},{98,102}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,236},{90,108}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,109},{90,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,236},{90,108}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,109},{90,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,120},{78,114}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,103},{78,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,296},{82,98}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,103},{82,98}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,296},{82,98}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,103},{82,98}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{78,108}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,109},{78,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{78,116}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,99},{78,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_127_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{78,116}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,99},{78,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_127_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d46a27e2005763deca8c5c6eeec59d20:1/1$</string>
            <key>textureFileName</key>
            <string>g_127_1.png</string>
        </dict>
    </dict>
</plist>
