<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_120_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,151},{117,103}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,140},{117,103}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{79,129}}</string>
                <key>offset</key>
                <string>{5,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,109},{79,129}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{65,185}}</string>
                <key>offset</key>
                <string>{-2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,61},{65,185}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,189},{63,157}}</string>
                <key>offset</key>
                <string>{12,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,90},{63,157}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,117},{49,79}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,169},{49,79}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,169},{85,131}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,113},{85,131}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,157},{125,97}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,145},{125,97}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,167},{83,123}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,134},{83,123}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{101,183}}</string>
                <key>offset</key>
                <string>{-21,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,60},{101,183}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{141,147}}</string>
                <key>offset</key>
                <string>{42,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,97},{141,147}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,133},{121,69}}</string>
                <key>offset</key>
                <string>{33,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,175},{121,69}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,2},{63,117}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,127},{63,117}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,168},{83,101}}</string>
                <key>offset</key>
                <string>{-20,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,144},{83,101}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,2},{125,123}}</string>
                <key>offset</key>
                <string>{-30,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,110},{125,123}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{135,187}}</string>
                <key>offset</key>
                <string>{-29,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,50},{135,187}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{155,165}}</string>
                <key>offset</key>
                <string>{49,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,96},{155,165}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{153,89}}</string>
                <key>offset</key>
                <string>{45,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,183},{153,89}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,139},{63,115}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,129},{63,115}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,147},{71,107}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,141},{71,107}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{127,143}}</string>
                <key>offset</key>
                <string>{-25,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,75},{127,143}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,211}}</string>
                <key>offset</key>
                <string>{-26,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,39},{109,211}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{105,205}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,87},{105,205}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,129},{109,123}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,177},{109,123}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{79,113}}</string>
                <key>offset</key>
                <string>{12,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,130},{79,113}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,123},{117,111}}</string>
                <key>offset</key>
                <string>{-12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,134},{117,111}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{79,163}}</string>
                <key>offset</key>
                <string>{-11,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,39},{79,163}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{61,211}}</string>
                <key>offset</key>
                <string>{16,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,38},{61,211}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,191},{63,185}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,115},{63,185}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,2},{49,135}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,174},{49,135}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
            <key>g_120_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{83,119}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,130},{83,119}}</string>
                <key>sourceSize</key>
                <string>{471,471}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_120_4.png</string>
            <key>size</key>
            <string>{1679,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78204d27cfb93f5b3610116349812b44:1/1$</string>
            <key>textureFileName</key>
            <string>g_120_4.png</string>
        </dict>
    </dict>
</plist>
