<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_129_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1470},{45,101}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,123},{45,101}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1470},{45,125}}</string>
                <key>offset</key>
                <string>{3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,99},{45,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,343},{75,163}}</string>
                <key>offset</key>
                <string>{-13,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,61},{75,163}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,508},{85,163}}</string>
                <key>offset</key>
                <string>{-11,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,62},{85,163}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{91,159}}</string>
                <key>offset</key>
                <string>{-14,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,65},{91,159}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{83,159}}</string>
                <key>offset</key>
                <string>{-16,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,65},{83,159}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{69,99}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,124},{69,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,901},{93,107}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,115},{93,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{123,155}}</string>
                <key>offset</key>
                <string>{35,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,66},{123,155}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{119,155}}</string>
                <key>offset</key>
                <string>{34,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,66},{119,155}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{135,151}}</string>
                <key>offset</key>
                <string>{38,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,70},{135,151}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{131,153}}</string>
                <key>offset</key>
                <string>{34,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,69},{131,153}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1010},{83,109}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,119},{83,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1662},{115,107}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,121},{115,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{169,131}}</string>
                <key>offset</key>
                <string>{45,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,97},{169,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{165,129}}</string>
                <key>offset</key>
                <string>{44,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,99},{165,129}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,125}}</string>
                <key>offset</key>
                <string>{47,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,103},{181,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{179,127}}</string>
                <key>offset</key>
                <string>{42,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,101},{179,127}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,103},{59,119}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,111},{59,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{157,115}}</string>
                <key>offset</key>
                <string>{41,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,115},{157,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1311},{153,119}}</string>
                <key>offset</key>
                <string>{37,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,111},{153,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1551},{153,109}}</string>
                <key>offset</key>
                <string>{36,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,121},{153,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{161,113}}</string>
                <key>offset</key>
                <string>{42,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,117},{161,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{153,117}}</string>
                <key>offset</key>
                <string>{39,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,113},{153,117}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1347},{57,121}}</string>
                <key>offset</key>
                <string>{7,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,107},{57,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,224},{59,117}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,109},{59,117}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,790},{85,109}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,117},{85,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1236},{73,109}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,117},{73,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1121},{73,113}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,113},{73,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_129_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,673},{91,115}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,111},{91,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_129_4.png</string>
            <key>size</key>
            <string>{256,1815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06a375f57427013112f43b3cd92cd55d:1/1$</string>
            <key>textureFileName</key>
            <string>g_129_4.png</string>
        </dict>
    </dict>
</plist>
