<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_137_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,142},{84,130}}</string>
                <key>offset</key>
                <string>{8,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,187},{84,130}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,132},{84,140}}</string>
                <key>offset</key>
                <string>{5,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,177},{84,140}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,120},{84,152}}</string>
                <key>offset</key>
                <string>{8,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,166},{84,152}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,92},{80,170}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,146},{80,170}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{88,178}}</string>
                <key>offset</key>
                <string>{-8,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,139},{88,178}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,130},{82,142}}</string>
                <key>offset</key>
                <string>{-8,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,176},{82,142}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,130},{116,124}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,193},{116,124}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,132},{104,140}}</string>
                <key>offset</key>
                <string>{-2,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,178},{104,140}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,130},{142,144}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,184},{142,144}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{152,146}}</string>
                <key>offset</key>
                <string>{25,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,169},{152,146}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{138,164}}</string>
                <key>offset</key>
                <string>{19,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,159},{138,164}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,142},{112,142}}</string>
                <key>offset</key>
                <string>{9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,181},{112,142}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{148,120}}</string>
                <key>offset</key>
                <string>{8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,190},{148,120}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{176,132}}</string>
                <key>offset</key>
                <string>{31,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,179},{176,132}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,128}}</string>
                <key>offset</key>
                <string>{28,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,189},{204,128}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{190,126}}</string>
                <key>offset</key>
                <string>{24,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,183},{190,126}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{182,140}}</string>
                <key>offset</key>
                <string>{37,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,170},{182,140}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{178,128}}</string>
                <key>offset</key>
                <string>{23,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,181},{178,128}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,150},{146,122}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,205},{146,122}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{162,116}}</string>
                <key>offset</key>
                <string>{37,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,196},{162,116}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{162,122}}</string>
                <key>offset</key>
                <string>{24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,201},{162,122}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,130},{132,126}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,205},{132,126}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,126},{144,124}}</string>
                <key>offset</key>
                <string>{20,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,189},{144,124}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{154,126}}</string>
                <key>offset</key>
                <string>{17,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,198},{154,126}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,150},{82,122}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,214},{82,122}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,174},{82,118}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,212},{82,118}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,112},{82,114}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,217},{82,114}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,174},{78,124}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,216},{78,124}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{86,108}}</string>
                <key>offset</key>
                <string>{8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,209},{86,108}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>g_137_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,150},{80,120}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,213},{80,120}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_137_1.png</string>
            <key>size</key>
            <string>{1988,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fced5e44a246fccea6cac8874d9178f4:edf45f3504cd82f1d9c94ac445bc0d17:ee5330da0e93653db6cf3ba213ba1ea5$</string>
            <key>textureFileName</key>
            <string>g_137_1.png</string>
        </dict>
    </dict>
</plist>
