<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_133_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1182},{107,119}}</string>
                <key>offset</key>
                <string>{8,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,107},{107,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1182},{107,119}}</string>
                <key>offset</key>
                <string>{8,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,107},{107,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{117,111}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,111},{117,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1291},{89,121}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,107},{89,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1291},{89,121}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,107},{89,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{91,115}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,110},{91,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,938},{135,127}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,105},{135,127}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,938},{135,127}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,105},{135,127}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1067},{135,113}}</string>
                <key>offset</key>
                <string>{5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,107},{135,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,506},{133,119}}</string>
                <key>offset</key>
                <string>{20,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,104},{133,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,506},{133,119}}</string>
                <key>offset</key>
                <string>{20,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,104},{133,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,641},{137,119}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,109},{137,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{167,119}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,109},{167,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{167,119}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,109},{167,119}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{165,111}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,118},{165,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{165,121}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,117},{165,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{165,121}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,117},{165,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,131}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,106},{163,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{145,121}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,121},{145,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{145,121}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,121},{145,121}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{151,117}}</string>
                <key>offset</key>
                <string>{24,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,119},{151,117}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{147,115}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,123},{147,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{147,115}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,123},{147,115}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,254},{141,129}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,125},{141,129}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,397},{107,129}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,109},{107,129}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,397},{107,129}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,109},{107,129}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,135},{117,131}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,109},{117,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{89,127}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,109},{89,127}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{89,127}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,109},{89,127}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,780},{89,133}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,107},{89,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_133_1.png</string>
            <key>size</key>
            <string>{256,1390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a83b5bcd416ff52dd2a64183cf27ffd3:bd845fb188ceb1d06ca98319560de582:3022917980aa014f5544b683dfc86058$</string>
            <key>textureFileName</key>
            <string>g_133_1.png</string>
        </dict>
    </dict>
</plist>
