<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_132_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,294},{128,172}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,156},{128,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{162,178}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,154},{162,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1328},{162,168}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,158},{162,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{168,168}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,158},{168,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{136,206}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,137},{136,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{90,200}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,140},{90,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{172,126}}</string>
                <key>offset</key>
                <string>{-29,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,159},{172,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,102}}</string>
                <key>offset</key>
                <string>{-27,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,169},{220,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{216,108}}</string>
                <key>offset</key>
                <string>{-25,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,168},{216,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{204,122}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,158},{204,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,802},{186,146}}</string>
                <key>offset</key>
                <string>{-27,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,137},{186,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{186,156}}</string>
                <key>offset</key>
                <string>{-27,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,135},{186,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{182,108}}</string>
                <key>offset</key>
                <string>{-29,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,161},{182,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{184,96}}</string>
                <key>offset</key>
                <string>{-21,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,171},{184,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{170,102}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,167},{170,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{158,114}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,153},{158,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,468},{176,130}}</string>
                <key>offset</key>
                <string>{-21,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,142},{176,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{198,132}}</string>
                <key>offset</key>
                <string>{-35,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,145},{198,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1866},{128,124}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,148},{128,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,162},{130,118}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,153},{130,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{102,128}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,150},{102,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1762},{102,140}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,135},{102,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1224},{102,154}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,127},{102,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1084},{156,138}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,142},{156,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{128,126}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,146},{128,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1632},{162,128}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,144},{162,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1498},{162,132}}</string>
                <key>offset</key>
                <string>{-25,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,140},{162,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{168,146}}</string>
                <key>offset</key>
                <string>{-16,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,126},{168,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,646},{136,154}}</string>
                <key>offset</key>
                <string>{-20,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,125},{136,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_132_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,990},{92,150}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,130},{92,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_132_4.png</string>
            <key>size</key>
            <string>{340,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c78598419aa88bf38da78f1aaa930c91:eacce15b672683be2f2fa19e0a4069bc:c39a1dacec9e131f9c18bed3e96249a2$</string>
            <key>textureFileName</key>
            <string>g_132_4.png</string>
        </dict>
    </dict>
</plist>
