<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_135_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{77,95}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,144},{77,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{77,91}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,139},{77,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,91},{77,87}}</string>
                <key>offset</key>
                <string>{10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,140},{77,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,666},{77,81}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,141},{77,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,589},{75,85}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,136},{75,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{77,95}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,141},{77,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{85,91}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,141},{85,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,504},{85,83}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,146},{85,83}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,87},{87,77}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,145},{87,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,591},{81,81}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,144},{81,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,417},{85,85}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,142},{85,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{91,87}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,142},{91,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{93,77}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,145},{93,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{97,79}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,144},{97,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{95,77}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,149},{95,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{95,83}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,143},{95,83}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,87}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,139},{97,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,273},{95,71}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,152},{95,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,180},{79,81}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,145},{79,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,340},{85,75}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,151},{85,75}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,180},{89,81}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,151},{89,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,417},{83,85}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,145},{83,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,504},{85,83}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,141},{85,83}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{89,81}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,145},{89,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,824},{77,77}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,149},{77,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,840},{77,81}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,145},{77,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,757},{77,81}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,146},{77,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,745},{77,77}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,148},{77,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,263},{75,79}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,146},{75,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,674},{77,81}}</string>
                <key>offset</key>
                <string>{10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,147},{77,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_135_1.png</string>
            <key>size</key>
            <string>{253,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15f317fac257cb03099ee733fc9bb16f:4e917e7a0f9acfb123de2c32bbde0e41:1be534879035d7f5c2848f1a471bdc19$</string>
            <key>textureFileName</key>
            <string>g_135_1.png</string>
        </dict>
    </dict>
</plist>
