<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_136_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1198},{101,99}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,67},{101,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{187,95}}</string>
                <key>offset</key>
                <string>{-58,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,72},{187,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{187,95}}</string>
                <key>offset</key>
                <string>{-58,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,72},{187,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{135,113}}</string>
                <key>offset</key>
                <string>{-33,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,71},{135,113}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{135,113}}</string>
                <key>offset</key>
                <string>{-33,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,71},{135,113}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,463},{133,99}}</string>
                <key>offset</key>
                <string>{-34,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,68},{133,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,334},{127,111}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{127,111}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,982},{103,107}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{103,107}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,982},{103,107}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{103,107}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{151,109}}</string>
                <key>offset</key>
                <string>{-41,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,65},{151,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{151,109}}</string>
                <key>offset</key>
                <string>{-41,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,65},{151,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1177},{137,109}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,67},{137,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{169,137}}</string>
                <key>offset</key>
                <string>{-34,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{169,137}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,752},{109,111}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{109,111}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,752},{109,111}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{109,111}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,197},{135,111}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,62},{135,111}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,197},{135,111}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,62},{135,111}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{137,109}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,65},{137,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,165}}</string>
                <key>offset</key>
                <string>{-12,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{143,165}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{183,99}}</string>
                <key>offset</key>
                <string>{61,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,68},{183,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{183,99}}</string>
                <key>offset</key>
                <string>{61,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,68},{183,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1091},{105,97}}</string>
                <key>offset</key>
                <string>{19,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,68},{105,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1091},{105,97}}</string>
                <key>offset</key>
                <string>{19,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,68},{105,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,865},{115,95}}</string>
                <key>offset</key>
                <string>{19,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,70},{115,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{101,169}}</string>
                <key>offset</key>
                <string>{-11,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{101,169}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{193,105}}</string>
                <key>offset</key>
                <string>{57,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,72},{193,105}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{193,105}}</string>
                <key>offset</key>
                <string>{57,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,72},{193,105}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,659},{131,91}}</string>
                <key>offset</key>
                <string>{30,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,76},{131,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,659},{131,91}}</string>
                <key>offset</key>
                <string>{30,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,76},{131,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,564},{133,93}}</string>
                <key>offset</key>
                <string>{31,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,74},{133,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_136_4.png</string>
            <key>size</key>
            <string>{254,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e57dc1e1f219407816a4197448e6ec4f:2b17f57a069e81a74cacb87fc2f3b64b:d776954453b98364924644438a60044e$</string>
            <key>textureFileName</key>
            <string>g_136_4.png</string>
        </dict>
    </dict>
</plist>
