<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_133_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,527},{101,99}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,125},{101,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,676},{101,99}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,125},{101,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,527},{101,99}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,125},{101,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,676},{101,99}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,125},{101,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{161,113}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,114},{161,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{163,113}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,114},{163,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{161,113}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,114},{161,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{163,113}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,114},{163,113}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,133}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,112},{187,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{185,133}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,112},{185,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,133}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,112},{187,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{185,133}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,112},{185,133}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{149,131}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,114},{149,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,378},{147,131}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,114},{147,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{149,131}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,114},{149,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,378},{147,131}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,114},{147,131}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{103,125}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,116},{103,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,165},{105,125}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,115},{105,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{103,125}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,116},{103,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_133_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,165},{105,125}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,115},{105,125}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_133_0.png</string>
            <key>size</key>
            <string>{254,781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e0da2acfa75515c19ea3a733aa0f68f:a288c8de2317b85b56be31e38661a72b:bc459504fccf27d9fc6b26e5291514fe$</string>
            <key>textureFileName</key>
            <string>g_133_0.png</string>
        </dict>
    </dict>
</plist>
