<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_136_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{145,111}}</string>
                <key>offset</key>
                <string>{30,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,59},{145,111}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{143,109}}</string>
                <key>offset</key>
                <string>{25,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,52},{143,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{135,125}}</string>
                <key>offset</key>
                <string>{19,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,40},{135,125}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{135,131}}</string>
                <key>offset</key>
                <string>{19,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{135,131}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{139,113}}</string>
                <key>offset</key>
                <string>{25,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,45},{139,113}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{145,103}}</string>
                <key>offset</key>
                <string>{32,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,61},{145,103}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,149},{129,103}}</string>
                <key>offset</key>
                <string>{34,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,64},{129,103}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{127,103}}</string>
                <key>offset</key>
                <string>{37,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,62},{127,103}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,680},{131,109}}</string>
                <key>offset</key>
                <string>{38,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,61},{131,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,813},{131,113}}</string>
                <key>offset</key>
                <string>{38,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,61},{131,113}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,476},{127,107}}</string>
                <key>offset</key>
                <string>{36,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,61},{127,107}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1215},{123,99}}</string>
                <key>offset</key>
                <string>{26,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,65},{123,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1498},{75,101}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,68},{75,101}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,605},{73,105}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,64},{73,105}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,381},{93,105}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,65},{93,105}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1051},{87,109}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,63},{87,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1140},{73,109}}</string>
                <key>offset</key>
                <string>{16,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,58},{73,109}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1316},{77,103}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,64},{77,103}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,946},{115,103}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{115,103}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1395},{101,101}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,69},{101,101}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{85,97}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,67},{85,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1409},{87,97}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,67},{87,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,280},{99,105}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,64},{99,105}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{125,103}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{125,103}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,99}}</string>
                <key>offset</key>
                <string>{-32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,71},{147,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{145,97}}</string>
                <key>offset</key>
                <string>{-28,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,70},{145,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{137,97}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,72},{137,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{137,99}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,71},{137,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{143,97}}</string>
                <key>offset</key>
                <string>{-25,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,67},{143,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_136_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{147,97}}</string>
                <key>offset</key>
                <string>{-35,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,73},{147,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_136_1.png</string>
            <key>size</key>
            <string>{256,1585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26bd844f4e44477d23f96bc31fd9045d:d1bb881b9edafc830fee7a66dc1e4b4b:7e1c001daedb04499f77a57abd0c84e9$</string>
            <key>textureFileName</key>
            <string>g_136_1.png</string>
        </dict>
    </dict>
</plist>
