<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_138_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,2},{69,131}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,43},{69,131}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,2},{69,131}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,43},{69,131}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,119}}</string>
                <key>offset</key>
                <string>{-4,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{73,119}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{73,129}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,44},{73,129}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{73,129}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,44},{73,129}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{67,119}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,50},{67,119}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{105,117}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,57},{105,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{105,117}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,57},{105,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{107,113}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,58},{107,113}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{107,117}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,57},{107,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{107,117}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,57},{107,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{105,107}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,60},{105,107}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,2},{103,101}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,69},{103,101}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,2},{103,101}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,69},{103,101}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{101,111}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,64},{101,111}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{101,105}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,67},{101,105}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{101,105}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,67},{101,105}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{105,99}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,73},{105,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2},{69,99}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,75},{69,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2},{69,99}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,75},{69,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{69,117}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,72},{69,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,2},{65,99}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,76},{65,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,2},{65,99}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,76},{65,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{69,107}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,77},{69,107}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{67,99}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,73},{67,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{67,99}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,73},{67,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{71,119}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,73},{71,119}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{71,99}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,71},{71,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{71,99}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,71},{71,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_138_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{65,115}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,76},{65,115}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_138_1.png</string>
            <key>size</key>
            <string>{1814,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89dd05a37938d14ae7503a266e94a459:d3b8b56d3b1927266346b7eb4721cf75:be92fc1adf38b5e53849f0e79f5a7539$</string>
            <key>textureFileName</key>
            <string>g_138_1.png</string>
        </dict>
    </dict>
</plist>
