<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_135_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{79,97}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,137},{79,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,451},{79,89}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,145},{79,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,111}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,141},{77,111}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{77,97}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,158},{77,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,797},{79,73}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,146},{79,73}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,87},{77,71}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,151},{77,71}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,265},{77,91}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,141},{77,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,358},{91,77}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,154},{91,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{81,103}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,142},{81,103}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{81,95}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,147},{81,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,623},{85,79}}</string>
                <key>offset</key>
                <string>{12,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,147},{85,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,542},{85,77}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,149},{85,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{93,83}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,143},{93,83}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{103,81}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,143},{103,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,176},{83,87}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,140},{83,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,534},{79,87}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,139},{79,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,913},{93,81}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,142},{93,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{103,83}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,141},{103,83}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,87},{87,87}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,140},{87,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{99,85}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,142},{99,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,265},{93,77}}</string>
                <key>offset</key>
                <string>{-10,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,149},{93,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,710},{81,85}}</string>
                <key>offset</key>
                <string>{-15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,141},{81,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,447},{81,85}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,149},{81,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{95,81}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,144},{95,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,791},{77,79}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,146},{77,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,629},{79,79}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,145},{79,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,176},{77,73}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,150},{77,73}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,710},{77,79}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,146},{77,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,360},{77,85}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,164},{77,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_135_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,872},{77,77}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,161},{77,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_135_4.png</string>
            <key>size</key>
            <string>{247,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96bf6fbf4af7d4223abcd948dff5cdea:46cd360698836f4633ed02045e331c31:3ced463d60e3b47c5a01b80821262977$</string>
            <key>textureFileName</key>
            <string>g_135_4.png</string>
        </dict>
    </dict>
</plist>
