<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_140_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{69,97}}</string>
                <key>offset</key>
                <string>{13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,74},{69,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,533},{67,95}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,82},{67,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1014},{93,95}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,79},{93,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,717},{97,95}}</string>
                <key>offset</key>
                <string>{-26,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,75},{97,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{59,95}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,79},{59,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{115,95}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,80},{115,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{101,99}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,71},{101,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,420},{99,95}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,78},{99,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,517},{95,99}}</string>
                <key>offset</key>
                <string>{18,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,74},{95,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,220},{105,99}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,74},{105,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,321},{99,97}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,78},{99,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1016},{87,93}}</string>
                <key>offset</key>
                <string>{21,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,79},{87,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,614},{101,93}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,76},{101,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{125,91}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,78},{125,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,919},{95,93}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,74},{95,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,814},{89,103}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,64},{89,103}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,129},{121,89}}</string>
                <key>offset</key>
                <string>{13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,80},{121,89}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,727},{71,87}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,83},{71,87}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1105},{83,83}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,79},{83,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,816},{89,99}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,60},{89,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{101,105}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,56},{101,105}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,630},{73,95}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,66},{73,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{103,81}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,80},{103,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{91,77}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,87},{91,77}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{69,93}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,79},{69,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,420},{65,111}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,60},{65,111}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,129}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,50},{93,129}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,917},{97,85}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,94},{97,85}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{59,89}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,89},{59,89}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{115,83}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,90},{115,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_140_4.png</string>
            <key>size</key>
            <string>{255,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32079f31611c687736480d76323fdf39:faea9397d1360ca8e5987028a745587c:24482267af1dc3a0c35a29e8f160f12d$</string>
            <key>textureFileName</key>
            <string>g_140_4.png</string>
        </dict>
    </dict>
</plist>
