<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_149_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{133,101}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{133,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{153,111}}</string>
                <key>offset</key>
                <string>{16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{153,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,113}}</string>
                <key>offset</key>
                <string>{18,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{157,113}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,105},{81,93}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{81,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1391},{97,91}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{97,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,912},{113,93}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{113,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1296},{111,93}}</string>
                <key>offset</key>
                <string>{17,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,22},{111,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1007},{111,95}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{111,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{127,101}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{127,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{95,95}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,21},{95,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1484},{91,93}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,22},{91,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,716},{105,93}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,22},{105,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{129,93}}</string>
                <key>offset</key>
                <string>{13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{129,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1104},{117,93}}</string>
                <key>offset</key>
                <string>{10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,22},{117,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1199},{119,95}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,20},{119,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{117,89}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,26},{117,89}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,228},{109,87}}</string>
                <key>offset</key>
                <string>{20,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,30},{109,87}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1143},{123,93}}</string>
                <key>offset</key>
                <string>{17,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,29},{123,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,603},{111,105}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,32},{111,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{145,93}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{145,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{127,97}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{127,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,472},{129,97}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,34},{129,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,339},{131,89}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,40},{131,89}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{125,91}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,40},{125,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{133,105}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{133,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{155,105}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{155,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{157,109}}</string>
                <key>offset</key>
                <string>{-18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{157,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{81,101}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,38},{81,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1329},{97,93}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,44},{97,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,811},{113,99}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{113,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_149_4.png</string>
            <key>size</key>
            <string>{248,1585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bd03a0cdb5e5ac9bb53c26b91253222:e74a820530ca7bf23ae54761b7b44cce:968ad15c56fd90010f0bb0efe506e1d2$</string>
            <key>textureFileName</key>
            <string>g_149_4.png</string>
        </dict>
    </dict>
</plist>
