<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_142_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{114,86}}</string>
                <key>offset</key>
                <string>{18,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,112},{114,86}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{106,88}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,110},{106,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{108,88}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,110},{108,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{116,88}}</string>
                <key>offset</key>
                <string>{18,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,110},{116,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{100,88}}</string>
                <key>offset</key>
                <string>{22,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,113},{100,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{90,86}}</string>
                <key>offset</key>
                <string>{21,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,115},{90,86}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{96,84}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,117},{96,84}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{102,88}}</string>
                <key>offset</key>
                <string>{23,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,113},{102,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{84,102}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,111},{84,102}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{80,92}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,115},{80,92}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{84,86}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,117},{84,86}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{88,92}}</string>
                <key>offset</key>
                <string>{10,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,112},{88,92}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{74,102}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,112},{74,102}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{76,96}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,114},{76,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{74,100}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,113},{74,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{72,100}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,113},{72,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{114,102}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,111},{114,102}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{106,98}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,109},{106,98}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{108,102}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,109},{108,102}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,102}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,111},{116,102}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_142_0.png</string>
            <key>size</key>
            <string>{106,1908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1e2080774f3e4e5b96af025590b81f:53b7c3e8fb2d957cc71d5f937cf86ce2:0fab0aa7bb02d30650c9e2ca38149c79$</string>
            <key>textureFileName</key>
            <string>g_142_0.png</string>
        </dict>
    </dict>
</plist>
