<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_149_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{129,95}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{129,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{137,101}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{137,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1215},{127,99}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,15},{127,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{127,95}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{127,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{135,99}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{135,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{129,101}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{129,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{131,95}}</string>
                <key>offset</key>
                <string>{17,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,20},{131,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,898},{117,95}}</string>
                <key>offset</key>
                <string>{17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,22},{117,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,103},{111,91}}</string>
                <key>offset</key>
                <string>{15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,22},{111,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,995},{117,91}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,21},{117,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,803},{119,93}}</string>
                <key>offset</key>
                <string>{21,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,20},{119,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{139,95}}</string>
                <key>offset</key>
                <string>{28,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,19},{139,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1481},{125,95}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,27},{125,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1344},{127,95}}</string>
                <key>offset</key>
                <string>{15,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,26},{127,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{139,93}}</string>
                <key>offset</key>
                <string>{20,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,27},{139,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1481},{125,91}}</string>
                <key>offset</key>
                <string>{18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{125,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1088},{125,101}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,27},{125,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{137,91}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,27},{137,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,684},{117,103}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,39},{117,103}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{111,99}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{111,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,97}}</string>
                <key>offset</key>
                <string>{26,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,38},{139,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{131,95}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,38},{131,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,327},{117,105}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,38},{117,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,446},{105,99}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,39},{105,99}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{129,101}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{129,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{137,97}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{137,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{127,97}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{127,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,196},{129,105}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,32},{129,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,547},{135,103}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{135,103}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1089},{129,97}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{129,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_149_1.png</string>
            <key>size</key>
            <string>{256,1578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fe5bde55cb8e00c3ac6c1814763c5d8:b38f834b69a144e3f8e07d64517bb079:591b8740a4ce098f56d8b86fac549d24$</string>
            <key>textureFileName</key>
            <string>g_149_1.png</string>
        </dict>
    </dict>
</plist>
