<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_146_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{68,122}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,14},{68,122}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{68,124}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,13},{68,124}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{68,120}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,14},{68,120}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,124},{66,116}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,15},{66,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,126},{66,114}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,16},{66,114}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{66,118}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,15},{66,118}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,126}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,16},{60,126}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,128}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,15},{62,128}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{62,124}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,17},{62,124}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,122},{64,118}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,17},{64,118}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{64,116}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,17},{64,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{60,122}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,14},{60,122}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{74,112}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,16},{74,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,126},{74,114}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{74,114}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,120},{76,112}}</string>
                <key>offset</key>
                <string>{-9,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,14},{76,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,116},{84,108}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,16},{84,108}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,130},{84,110}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,17},{84,110}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,128},{82,112}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,15},{82,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,110},{88,106}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,27},{88,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{86,106}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{86,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{88,106}}</string>
                <key>offset</key>
                <string>{-10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,29},{88,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{92,98}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{92,98}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{92,104}}</string>
                <key>offset</key>
                <string>{-12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,29},{92,104}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{90,108}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,28},{90,108}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,108},{68,102}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{68,102}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,108},{68,102}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{68,102}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{66,102}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,28},{66,102}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,102},{64,90}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,30},{64,90}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,168},{64,98}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,28},{64,98}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,110},{66,106}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,27},{66,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_146_1.png</string>
            <key>size</key>
            <string>{1110,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29b688d60ff075ccce54e6508c7f41d7:3220e40c07a7ba4037b3b3858f47c226:43062feac6f158bf3c18937a6340caa7$</string>
            <key>textureFileName</key>
            <string>g_146_1.png</string>
        </dict>
    </dict>
</plist>
