<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_142_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,100},{94,96}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,105},{94,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{96,96}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,103},{96,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,96},{92,96}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,104},{92,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{92,100}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,98},{92,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{94,96}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,99},{94,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,100},{94,96}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,105},{94,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,116},{104,94}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,107},{104,94}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,106},{100,94}}</string>
                <key>offset</key>
                <string>{16,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,107},{100,94}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{110,90}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,109},{110,90}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{110,88}}</string>
                <key>offset</key>
                <string>{22,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,110},{110,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{102,92}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,105},{102,92}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,116},{102,92}}</string>
                <key>offset</key>
                <string>{19,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,105},{102,92}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{88,108}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,107},{88,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,112},{96,108}}</string>
                <key>offset</key>
                <string>{24,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,106},{96,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,106}}</string>
                <key>offset</key>
                <string>{26,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,107},{112,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{100,104}}</string>
                <key>offset</key>
                <string>{23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,110},{100,104}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,114},{100,106}}</string>
                <key>offset</key>
                <string>{25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,107},{100,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{94,110}}</string>
                <key>offset</key>
                <string>{20,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,106},{94,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{96,112}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,108},{96,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{98,108}}</string>
                <key>offset</key>
                <string>{12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,108},{98,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,114},{84,106}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,107},{84,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,114},{86,106}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,108},{86,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,112},{80,108}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,110},{80,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{96,112}}</string>
                <key>offset</key>
                <string>{12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,106},{96,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,114},{94,106}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,111},{94,106}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{96,110}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,108},{96,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{92,96}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,105},{92,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{92,96}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,102},{92,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,104},{96,96}}</string>
                <key>offset</key>
                <string>{-9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,108},{96,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_142_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,116},{94,104}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,106},{94,104}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_142_1.png</string>
            <key>size</key>
            <string>{1448,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2b14b439496db9ea2bcf952b1b63a4f:ff93cf4e2e9836fa5a94900c9c4d503d:8edd5c35c51c02cd3bd7da3a959d3cd6$</string>
            <key>textureFileName</key>
            <string>g_142_1.png</string>
        </dict>
    </dict>
</plist>
