<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_140_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{67,99}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,64},{67,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,198},{65,97}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,59},{65,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,105},{59,99}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,62},{59,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,198},{53,99}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,65},{53,99}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,352},{55,95}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,64},{55,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,265},{59,97}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,64},{59,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,101}}</string>
                <key>offset</key>
                <string>{16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,63},{103,101}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,99},{95,97}}</string>
                <key>offset</key>
                <string>{19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,64},{95,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,308},{89,93}}</string>
                <key>offset</key>
                <string>{17,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,66},{89,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,395},{89,91}}</string>
                <key>offset</key>
                <string>{16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,68},{89,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,408},{89,93}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,65},{89,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,99},{89,97}}</string>
                <key>offset</key>
                <string>{21,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,64},{89,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{107,95}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,65},{107,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{107,97}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,62},{107,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{107,93}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,66},{107,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{105,93}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,66},{105,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{105,95}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,66},{105,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{105,95}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,65},{105,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,103},{69,95}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,66},{69,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,200},{69,93}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,64},{69,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,326},{67,97}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,67},{67,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,99},{73,97}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,70},{73,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,309},{69,97}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,69},{69,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,403},{69,93}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,66},{69,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{67,97}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,70},{67,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,214},{63,93}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,72},{63,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,352},{59,95}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,69},{59,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,253},{53,97}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,70},{53,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,295},{55,97}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,70},{55,97}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,198},{59,95}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,67},{59,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_140_1.png</string>
            <key>size</key>
            <string>{499,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97931cf5284aa9bd9a12d9e99703ea4e:3e60e2b29deb713191289bb137cab974:c5b3cdaf4b1750e9f376192c8dfac03b$</string>
            <key>textureFileName</key>
            <string>g_140_1.png</string>
        </dict>
    </dict>
</plist>
