<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_145_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,130},{82,124}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,72},{82,124}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{120,126}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,70},{120,126}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{94,126}}</string>
                <key>offset</key>
                <string>{8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,70},{94,126}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,118},{76,114}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,82},{76,114}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,126},{108,120}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,79},{108,120}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,130},{86,124}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,73},{86,124}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,120},{110,114}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,78},{110,114}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,122},{82,118}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,75},{82,118}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,124},{118,116}}</string>
                <key>offset</key>
                <string>{23,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,76},{118,116}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{96,116}}</string>
                <key>offset</key>
                <string>{35,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,81},{96,116}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{82,118}}</string>
                <key>offset</key>
                <string>{25,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,80},{82,118}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,122},{94,118}}</string>
                <key>offset</key>
                <string>{28,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,80},{94,118}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{112,104}}</string>
                <key>offset</key>
                <string>{25,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,82},{112,104}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,112},{84,108}}</string>
                <key>offset</key>
                <string>{15,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,82},{84,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,110},{84,98}}</string>
                <key>offset</key>
                <string>{23,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,88},{84,98}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,102}}</string>
                <key>offset</key>
                <string>{61,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,91},{182,102}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{122,108}}</string>
                <key>offset</key>
                <string>{39,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,89},{122,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,130},{124,102}}</string>
                <key>offset</key>
                <string>{28,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,91},{124,102}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,174},{80,100}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,88},{80,100}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{118,104}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,82},{118,104}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{66,84}}</string>
                <key>offset</key>
                <string>{19,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,103},{66,84}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{170,86}}</string>
                <key>offset</key>
                <string>{52,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,106},{170,86}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{150,92}}</string>
                <key>offset</key>
                <string>{46,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,103},{150,92}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{114,86}}</string>
                <key>offset</key>
                <string>{25,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,99},{114,86}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,154},{84,98}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,88},{84,98}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{120,108}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,90},{120,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{94,84}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,102},{94,84}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{74,106}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,115},{74,106}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,116},{108,108}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,108},{108,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{86,108}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,94},{86,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_145_4.png</string>
            <key>size</key>
            <string>{1466,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e0dfe3207b408525673b99a9544a01d:1/1$</string>
            <key>textureFileName</key>
            <string>g_145_4.png</string>
        </dict>
    </dict>
</plist>
