<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_145_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{84,124}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,74},{84,124}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{74,114}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,77},{74,114}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{62,110}}</string>
                <key>offset</key>
                <string>{10,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,80},{62,110}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,2},{86,120}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,75},{86,120}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,79},{112,116}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{110,106}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,84},{110,106}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{108,104}}</string>
                <key>offset</key>
                <string>{21,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,86},{108,104}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{110,112}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,79},{110,112}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{114,104}}</string>
                <key>offset</key>
                <string>{27,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,83},{114,104}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{110,98}}</string>
                <key>offset</key>
                <string>{27,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,89},{110,98}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{106,96}}</string>
                <key>offset</key>
                <string>{27,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,91},{106,96}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{108,102}}</string>
                <key>offset</key>
                <string>{28,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,85},{108,102}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{82,100}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,86},{82,100}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{70,92}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,95},{70,92}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{70,92}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,96},{70,92}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{74,94}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,94},{74,94}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{86,100}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,87},{86,100}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{74,92}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,96},{74,92}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{62,90}}</string>
                <key>offset</key>
                <string>{-12,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,98},{62,90}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_145_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{86,94}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,93},{86,94}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_145_0.png</string>
            <key>size</key>
            <string>{1912,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15f8a59091073824a2f4c69a3751c076:1/1$</string>
            <key>textureFileName</key>
            <string>g_145_0.png</string>
        </dict>
    </dict>
</plist>
