<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_148_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{124,174}}</string>
                <key>offset</key>
                <string>{-11,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,25},{124,174}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,182}}</string>
                <key>offset</key>
                <string>{0,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,23},{108,182}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{82,176}}</string>
                <key>offset</key>
                <string>{10,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,34},{82,176}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{90,176}}</string>
                <key>offset</key>
                <string>{10,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,23},{90,176}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{92,176}}</string>
                <key>offset</key>
                <string>{4,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,31},{92,176}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,178},{98,162}}</string>
                <key>offset</key>
                <string>{-3,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,40},{98,162}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{150,154}}</string>
                <key>offset</key>
                <string>{-4,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,51},{150,154}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{142,156}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,55},{142,156}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{148,154}}</string>
                <key>offset</key>
                <string>{7,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,58},{148,154}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{136,158}}</string>
                <key>offset</key>
                <string>{19,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,46},{136,158}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{128,150}}</string>
                <key>offset</key>
                <string>{12,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,54},{128,150}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{158,138}}</string>
                <key>offset</key>
                <string>{-13,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,53},{158,138}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,140},{134,130}}</string>
                <key>offset</key>
                <string>{-5,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,71},{134,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,152},{140,124}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,77},{140,124}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,2},{148,126}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,79},{148,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{156,138}}</string>
                <key>offset</key>
                <string>{-6,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,63},{156,138}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{160,126}}</string>
                <key>offset</key>
                <string>{-10,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,75},{160,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{150,124}}</string>
                <key>offset</key>
                <string>{-18,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,78},{150,124}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,180},{94,132}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,79},{94,132}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,162},{106,130}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,86},{106,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,160},{120,116}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,94},{120,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,154},{126,120}}</string>
                <key>offset</key>
                <string>{-15,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,84},{126,120}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,2},{130,126}}</string>
                <key>offset</key>
                <string>{-11,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,87},{130,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,162},{114,128}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,82},{114,128}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2},{124,136}}</string>
                <key>offset</key>
                <string>{18,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,68},{124,136}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,164},{110,136}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,71},{110,136}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,160},{82,116}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,84},{82,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,158},{92,126}}</string>
                <key>offset</key>
                <string>{-17,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,79},{92,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,158},{92,136}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,73},{92,136}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>g_148_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,160},{98,136}}</string>
                <key>offset</key>
                <string>{7,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,65},{98,136}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_148_1.png</string>
            <key>size</key>
            <string>{2046,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4913470494b704653e1252aa5e24cba8:1/1$</string>
            <key>textureFileName</key>
            <string>g_148_1.png</string>
        </dict>
    </dict>
</plist>
