<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_140_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{91,93}}</string>
                <key>offset</key>
                <string>{26,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,68},{91,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{87,93}}</string>
                <key>offset</key>
                <string>{23,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,68},{87,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{91,91}}</string>
                <key>offset</key>
                <string>{24,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,70},{91,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{93,91}}</string>
                <key>offset</key>
                <string>{26,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{93,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{109,95}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,69},{109,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,95}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,69},{109,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{105,91}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,73},{105,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{105,91}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,73},{105,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{81,89}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,76},{81,89}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{95,89}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,76},{95,89}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{85,85}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,80},{85,85}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,2},{77,85}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,80},{77,85}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,2},{67,81}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,81},{67,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,2},{69,79}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,83},{69,79}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{73,81}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,81},{73,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{73,79}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,83},{73,79}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{93,83}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,82},{93,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,2},{87,81}}</string>
                <key>offset</key>
                <string>{-20,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,84},{87,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2},{91,83}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,82},{91,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_140_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{93,83}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,82},{93,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_140_0.png</string>
            <key>size</key>
            <string>{1774,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6784b60e8e83b9d593e255692e3c2031:ac40f80f24a473c5e4e4fe1ee743c4c3:82c52466d61a4671449abc283c6b96ee$</string>
            <key>textureFileName</key>
            <string>g_140_0.png</string>
        </dict>
    </dict>
</plist>
