<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_146_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{70,114}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,16},{70,114}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{68,112}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,17},{68,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{66,112}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,17},{66,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{68,114}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,16},{68,114}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,116}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,15},{104,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,116}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,15},{104,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{102,114}}</string>
                <key>offset</key>
                <string>{19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,17},{102,114}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,116}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,15},{104,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{102,112}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,17},{102,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{102,112}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,17},{102,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{100,112}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,17},{100,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{100,112}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,17},{100,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{68,106}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,29},{68,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{70,106}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,29},{70,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{68,106}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,29},{68,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{68,106}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,29},{68,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{70,106}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,25},{70,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{68,104}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,27},{68,104}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{66,104}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,27},{66,104}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>g_146_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{70,106}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,25},{70,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_146_0.png</string>
            <key>size</key>
            <string>{1680,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e89ee06aad158c70728577d4a31e5b7:894febd2e6ab970ae8022223a1fef56a:a79e2e4b03d50164ca0266c3523c6a0a$</string>
            <key>textureFileName</key>
            <string>g_146_0.png</string>
        </dict>
    </dict>
</plist>
