<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_149_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{133,101}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{133,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{135,95}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{135,95}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{137,93}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{137,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{137,93}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{137,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,596},{111,93}}</string>
                <key>offset</key>
                <string>{17,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,22},{111,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,691},{111,91}}</string>
                <key>offset</key>
                <string>{17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,24},{111,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,503},{113,91}}</string>
                <key>offset</key>
                <string>{16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{113,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,410},{113,91}}</string>
                <key>offset</key>
                <string>{16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{113,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{129,93}}</string>
                <key>offset</key>
                <string>{13,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,30},{129,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,915},{131,91}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{131,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{133,91}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,33},{133,91}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,784},{129,93}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{129,93}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{111,105}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,32},{111,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,109},{111,101}}</string>
                <key>offset</key>
                <string>{19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,36},{111,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,311},{111,97}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{111,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,212},{111,97}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{111,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{133,105}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{133,105}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{135,101}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{135,101}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{137,97}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{137,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>g_149_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,97}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{137,97}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_149_0.png</string>
            <key>size</key>
            <string>{254,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91cdc0c6d24a747cb2bf19054d82adbe:223dc372ba24ff790fd7a1789e36eb2b:e5fccac935fedf0cd609f7d1716bba31$</string>
            <key>textureFileName</key>
            <string>g_149_0.png</string>
        </dict>
    </dict>
</plist>
