<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_159_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,98}}</string>
                <key>offset</key>
                <string>{26,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,169},{114,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{110,98}}</string>
                <key>offset</key>
                <string>{24,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,169},{110,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{106,96}}</string>
                <key>offset</key>
                <string>{23,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,171},{106,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{106,96}}</string>
                <key>offset</key>
                <string>{22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,171},{106,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{78,100}}</string>
                <key>offset</key>
                <string>{24,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,172},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{74,100}}</string>
                <key>offset</key>
                <string>{24,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,172},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{76,98}}</string>
                <key>offset</key>
                <string>{23,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,174},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{76,98}}</string>
                <key>offset</key>
                <string>{23,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,174},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{76,94}}</string>
                <key>offset</key>
                <string>{12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,178},{76,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{78,94}}</string>
                <key>offset</key>
                <string>{12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,178},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{78,94}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,178},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{80,94}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,178},{80,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{98,86}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,176},{98,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{94,84}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,178},{94,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{92,84}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,178},{92,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{92,84}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,178},{92,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{114,92}}</string>
                <key>offset</key>
                <string>{-23,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,177},{114,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{110,90}}</string>
                <key>offset</key>
                <string>{-21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,179},{110,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{108,90}}</string>
                <key>offset</key>
                <string>{-21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,179},{108,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_159_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{106,90}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,179},{106,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_159_0.png</string>
            <key>size</key>
            <string>{1908,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a1b5977e35a73d9dd7b4d16d4275dae:1/1$</string>
            <key>textureFileName</key>
            <string>g_159_0.png</string>
        </dict>
    </dict>
</plist>
