<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_156_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{94,110}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,141},{94,110}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,124},{94,110}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,141},{94,110}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,124},{94,114}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,142},{94,114}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,124},{94,110}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,141},{94,110}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,124},{108,112}}</string>
                <key>offset</key>
                <string>{15,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,142},{108,112}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,124},{108,112}}</string>
                <key>offset</key>
                <string>{15,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,142},{108,112}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,124},{108,112}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,142},{108,112}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,124},{106,112}}</string>
                <key>offset</key>
                <string>{15,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,142},{106,112}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{88,116}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,140},{88,116}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{90,116}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,140},{90,116}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{88,116}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,140},{88,116}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{88,116}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,140},{88,116}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,118}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,136},{74,118}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{76,118}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,136},{76,118}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,118}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,136},{74,118}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,120}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,135},{74,120}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{92,116}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,137},{92,116}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{94,116}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,137},{94,116}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{94,116}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,137},{94,116}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>g_156_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,124},{94,116}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,137},{94,116}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_156_0.png</string>
            <key>size</key>
            <string>{956,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d60107a671c284b4e46030d0cad29e1:1/1$</string>
            <key>textureFileName</key>
            <string>g_156_0.png</string>
        </dict>
    </dict>
</plist>
