<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_151_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{68,138}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,136},{68,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{68,138}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,136},{68,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,356},{92,116}}</string>
                <key>offset</key>
                <string>{-15,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,145},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,356},{92,116}}</string>
                <key>offset</key>
                <string>{-15,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,145},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,114}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,149},{158,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{138,118}}</string>
                <key>offset</key>
                <string>{-16,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,140},{138,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,142},{70,132}}</string>
                <key>offset</key>
                <string>{-5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,138},{70,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,142},{70,132}}</string>
                <key>offset</key>
                <string>{-5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,138},{70,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{112,102}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,150},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{112,102}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,150},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,276},{82,110}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,150},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,118},{126,118}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,145},{126,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,474},{70,120}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,143},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,474},{70,120}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,143},{70,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{134,114}}</string>
                <key>offset</key>
                <string>{30,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,145},{134,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{134,114}}</string>
                <key>offset</key>
                <string>{30,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,145},{134,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,442},{92,104}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,146},{92,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{130,94}}</string>
                <key>offset</key>
                <string>{22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,153},{130,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,124},{68,104}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,148},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,124},{68,104}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,148},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{120,138}}</string>
                <key>offset</key>
                <string>{23,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,150},{120,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{120,138}}</string>
                <key>offset</key>
                <string>{23,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,150},{120,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{130,106}}</string>
                <key>offset</key>
                <string>{-5,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,141},{130,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,356},{100,120}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,153},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,230},{66,100}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,153},{66,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,230},{66,100}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,153},{66,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,294},{94,146}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,157},{94,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,294},{94,146}}</string>
                <key>offset</key>
                <string>{15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,157},{94,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,124},{168,88}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,162},{168,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,238},{126,116}}</string>
                <key>offset</key>
                <string>{41,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,140},{126,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_151_4.png</string>
            <key>size</key>
            <string>{512,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2faebba5a91d159d7a1cc3234cf26c4:1/1$</string>
            <key>textureFileName</key>
            <string>g_151_4.png</string>
        </dict>
    </dict>
</plist>
