<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_158_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{60,146}}</string>
                <key>offset</key>
                <string>{4,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,114},{60,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,122},{68,120}}</string>
                <key>offset</key>
                <string>{-5,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,140},{68,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{68,154}}</string>
                <key>offset</key>
                <string>{-13,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,104},{68,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,376},{64,100}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,158},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,116},{80,104}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,155},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,378},{76,116}}</string>
                <key>offset</key>
                <string>{10,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,143},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,268},{46,144}}</string>
                <key>offset</key>
                <string>{10,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,116},{46,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{68,124}}</string>
                <key>offset</key>
                <string>{-8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,136},{68,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,138}}</string>
                <key>offset</key>
                <string>{26,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,122},{116,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,442},{92,110}}</string>
                <key>offset</key>
                <string>{24,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,150},{92,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{110,112}}</string>
                <key>offset</key>
                <string>{37,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,148},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,268},{84,108}}</string>
                <key>offset</key>
                <string>{30,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,151},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,122},{60,130}}</string>
                <key>offset</key>
                <string>{10,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,130},{60,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{112,118}}</string>
                <key>offset</key>
                <string>{-20,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,142},{112,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{132,118}}</string>
                <key>offset</key>
                <string>{48,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,141},{132,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{124,110}}</string>
                <key>offset</key>
                <string>{44,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,149},{124,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,456},{108,104}}</string>
                <key>offset</key>
                <string>{35,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,155},{108,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,570},{72,96}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,163},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,184},{82,116}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,143},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,268},{108,108}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,149},{108,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,268},{102,106}}</string>
                <key>offset</key>
                <string>{29,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,152},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,456},{104,108}}</string>
                <key>offset</key>
                <string>{31,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,161},{104,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,268},{74,90}}</string>
                <key>offset</key>
                <string>{15,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,168},{74,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,562},{78,96}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,161},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,554},{60,110}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,152},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,192},{68,126}}</string>
                <key>offset</key>
                <string>{6,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,136},{68,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{70,90}}</string>
                <key>offset</key>
                <string>{15,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,171},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,456},{66,112}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,176},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,562},{80,90}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,171},{80,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,378},{76,102}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,159},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_158_4.png</string>
            <key>size</key>
            <string>{512,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6302709f30736695967c921b9c377b5b:1/1$</string>
            <key>textureFileName</key>
            <string>g_158_4.png</string>
        </dict>
    </dict>
</plist>
