<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_150_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,234},{96,132}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,134},{96,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,428},{90,132}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,134},{90,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{92,132}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,133},{92,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,332},{94,132}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,134},{94,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,344},{92,132}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,135},{92,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{96,132}}</string>
                <key>offset</key>
                <string>{-3,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,133},{96,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,438},{118,130}}</string>
                <key>offset</key>
                <string>{24,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,138},{118,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{112,130}}</string>
                <key>offset</key>
                <string>{22,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,138},{112,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,232},{110,132}}</string>
                <key>offset</key>
                <string>{20,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,138},{110,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,124},{108,134}}</string>
                <key>offset</key>
                <string>{20,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,138},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{108,136}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,139},{108,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,136}}</string>
                <key>offset</key>
                <string>{21,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,138},{114,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{114,130}}</string>
                <key>offset</key>
                <string>{16,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,140},{114,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,136},{98,126}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,140},{98,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{106,134}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,138},{106,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{118,132}}</string>
                <key>offset</key>
                <string>{18,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,140},{118,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,112},{118,134}}</string>
                <key>offset</key>
                <string>{19,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,138},{118,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{120,134}}</string>
                <key>offset</key>
                <string>{18,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,138},{120,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{78,124}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,146},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,264},{96,122}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,142},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,520},{88,126}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,144},{88,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,558},{84,124}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,144},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,720},{88,118}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,146},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,670},{76,122}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,145},{76,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,508},{96,116}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,152},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,720},{90,112}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,148},{90,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,626},{92,120}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,150},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,644},{94,114}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,151},{94,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,610},{92,120}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,151},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,388},{96,118}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,152},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_150_1.png</string>
            <key>size</key>
            <string>{512,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ae285de81d68d5c892e9be3ee5ae6fd:1/1$</string>
            <key>textureFileName</key>
            <string>g_150_1.png</string>
        </dict>
    </dict>
</plist>
