<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_151_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,384},{100,116}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,137},{100,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,344},{112,114}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,141},{112,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{150,112}}</string>
                <key>offset</key>
                <string>{-1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,140},{150,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,460},{106,114}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,137},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,112},{128,112}}</string>
                <key>offset</key>
                <string>{-37,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,146},{128,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{140,110}}</string>
                <key>offset</key>
                <string>{-38,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,148},{140,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{112,114}}</string>
                <key>offset</key>
                <string>{-26,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,143},{112,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{108,116}}</string>
                <key>offset</key>
                <string>{-27,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,142},{108,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{108,112}}</string>
                <key>offset</key>
                <string>{-34,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,146},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,112},{100,108}}</string>
                <key>offset</key>
                <string>{-30,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,150},{100,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,462},{102,114}}</string>
                <key>offset</key>
                <string>{-31,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,143},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,344},{104,116}}</string>
                <key>offset</key>
                <string>{-33,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,142},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,252},{130,126}}</string>
                <key>offset</key>
                <string>{-35,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,133},{130,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,114},{136,120}}</string>
                <key>offset</key>
                <string>{-38,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,139},{136,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,226},{110,112}}</string>
                <key>offset</key>
                <string>{-23,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,148},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,226},{106,116}}</string>
                <key>offset</key>
                <string>{-23,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,145},{106,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,114}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,147},{154,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{116,108}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,152},{116,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,502},{100,114}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,149},{100,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_151_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{112,118}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,145},{112,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_151_0.png</string>
            <key>size</key>
            <string>{512,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5236363bc4447150a2f23e5ab34fb73:1/1$</string>
            <key>textureFileName</key>
            <string>g_151_0.png</string>
        </dict>
    </dict>
</plist>
