<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_158_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,130}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,133},{72,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{72,120}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,140},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{74,116}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,149},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{76,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,156},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,76},{74,108}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,151},{74,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{72,124}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,140},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{82,112}}</string>
                <key>offset</key>
                <string>{27,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,150},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,78},{88,106}}</string>
                <key>offset</key>
                <string>{28,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,155},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,162},{98,104}}</string>
                <key>offset</key>
                <string>{28,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,154},{98,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{102,102}}</string>
                <key>offset</key>
                <string>{26,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,154},{102,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,152},{102,104}}</string>
                <key>offset</key>
                <string>{26,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,155},{102,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,76},{84,108}}</string>
                <key>offset</key>
                <string>{29,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,155},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,344},{82,98}}</string>
                <key>offset</key>
                <string>{20,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,164},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,262},{88,98}}</string>
                <key>offset</key>
                <string>{23,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,163},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,364},{92,96}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,164},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,256},{96,98}}</string>
                <key>offset</key>
                <string>{23,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,164},{96,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,246},{96,98}}</string>
                <key>offset</key>
                <string>{23,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,164},{96,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{86,98}}</string>
                <key>offset</key>
                <string>{25,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,163},{86,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,354},{74,90}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,170},{74,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,462},{72,90}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,170},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,430},{72,90}}</string>
                <key>offset</key>
                <string>{15,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,173},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,354},{74,94}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{74,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,428},{72,90}}</string>
                <key>offset</key>
                <string>{15,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,172},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,502},{70,88}}</string>
                <key>offset</key>
                <string>{14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,172},{70,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{72,98}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,168},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,462},{72,92}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,169},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,266},{74,96}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,167},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,168},{76,100}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,167},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,462},{74,94}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,168},{74,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_158_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,168},{74,96}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,169},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_158_1.png</string>
            <key>size</key>
            <string>{512,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133346863b5dad763eb80552bfecd445:1/1$</string>
            <key>textureFileName</key>
            <string>g_158_1.png</string>
        </dict>
    </dict>
</plist>
