<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_152_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,98},{48,94}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,169},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,98},{46,94}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,169},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,98},{60,94}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,169},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{46,94}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,169},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,98},{54,94}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,169},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,98},{42,98}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,169},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,98},{30,96}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,168},{30,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,98},{48,94}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,168},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,98},{48,94}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,168},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,98},{64,94}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,168},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,98},{54,94}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,168},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,98},{26,96}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,168},{26,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,98},{50,94}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,169},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{68,94}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,169},{68,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{46,94}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,169},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{70,94}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,169},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{50,94}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,169},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{38,94}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,169},{38,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{62,90}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,170},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{58,90}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,170},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{62,90}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,170},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{62,88}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,172},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,88}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,172},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{46,92}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,168},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{48,94}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,172},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,98},{46,96}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,170},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,98},{68,96}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,170},{68,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{46,92}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,174},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{54,92}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,174},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_152_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,98},{42,96}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,170},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_152_4.png</string>
            <key>size</key>
            <string>{806,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18a98a04cc8d19673a84dd04cb799d6a:1/1$</string>
            <key>textureFileName</key>
            <string>g_152_4.png</string>
        </dict>
    </dict>
</plist>
