<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_150_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,128}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,154},{96,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,208},{102,130}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,152},{102,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,418},{112,132}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,150},{112,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,104},{102,128}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,154},{102,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,104},{102,130}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,151},{102,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,208},{102,132}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,149},{102,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{102,134}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,147},{102,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,312},{104,132}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,149},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{100,122}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,152},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{100,122}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,152},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{108,126}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,148},{108,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,100},{102,124}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,150},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,208},{110,110}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,158},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,312},{110,112}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,156},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,320},{118,112}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,155},{118,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,424},{112,112}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,156},{112,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{96,114}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,160},{96,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{100,116}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,158},{100,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,434},{114,118}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,156},{114,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_150_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{102,116}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,158},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_150_0.png</string>
            <key>size</key>
            <string>{512,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9f48775dff277e4eb02bc028880cc44:1/1$</string>
            <key>textureFileName</key>
            <string>g_150_0.png</string>
        </dict>
    </dict>
</plist>
