<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_167_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{134,110}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,160},{134,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,232},{112,148}}</string>
                <key>offset</key>
                <string>{-10,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,122},{112,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{118,114}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,160},{118,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,232},{74,126}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,163},{74,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{108,120}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,149},{108,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,114},{88,118}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,154},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{146,112}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,148},{146,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,232},{76,148}}</string>
                <key>offset</key>
                <string>{-15,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,117},{76,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,232},{108,120}}</string>
                <key>offset</key>
                <string>{-22,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,145},{108,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,232},{94,126}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,154},{94,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,114},{94,116}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,149},{94,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,110}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,154},{118,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,232},{110,128}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,135},{110,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,380},{80,150}}</string>
                <key>offset</key>
                <string>{-16,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,113},{80,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{102,148}}</string>
                <key>offset</key>
                <string>{-22,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,117},{102,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{182,114}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,150},{182,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,0},{162,114}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,148},{162,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{208,112}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,149},{208,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,232},{100,124}}</string>
                <key>offset</key>
                <string>{-16,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,137},{100,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,380},{100,156}}</string>
                <key>offset</key>
                <string>{-13,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,104},{100,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,380},{108,166}}</string>
                <key>offset</key>
                <string>{-14,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,94},{108,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,114},{176,116}}</string>
                <key>offset</key>
                <string>{15,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,143},{176,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,114},{174,118}}</string>
                <key>offset</key>
                <string>{20,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,141},{174,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,114},{176,118}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,142},{176,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{134,114}}</string>
                <key>offset</key>
                <string>{-6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,146},{134,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,380},{112,166}}</string>
                <key>offset</key>
                <string>{8,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,94},{112,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,380},{120,168}}</string>
                <key>offset</key>
                <string>{8,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,93},{120,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,232},{74,130}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,157},{74,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,232},{110,132}}</string>
                <key>offset</key>
                <string>{16,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,157},{110,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,114},{88,118}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,154},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_167_4.png</string>
            <key>size</key>
            <string>{1020,548}</string>
            <key>textureFileName</key>
            <string>g_167_4.png</string>
        </dict>
    </dict>
</plist>
