<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_165_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,192}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,120},{126,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,188}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,119},{126,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,184}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,118},{126,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{126,188}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,119},{126,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{156,176}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,126},{156,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{156,174}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,124},{156,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{156,176}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,122},{156,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{154,174}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,123},{154,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{196,158}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,131},{196,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,196},{198,154}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,130},{198,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,196},{198,156}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,128},{198,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,196},{196,154}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,130},{196,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,196},{152,148}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,140},{152,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,196},{150,146}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,142},{150,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{152,148}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,140},{152,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,356},{152,146}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,142},{152,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,356},{126,128}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,148},{126,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,356},{126,130}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,146},{126,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,356},{128,132}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,144},{128,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_165_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,356},{126,130}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,146},{126,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_165_0.png</string>
            <key>size</key>
            <string>{1144,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a15d7deb2865c49935fe535f0a29458:1/1$</string>
            <key>textureFileName</key>
            <string>g_165_0.png</string>
        </dict>
    </dict>
</plist>
