<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_167_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,128},{102,98}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{102,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,246},{104,98}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,163},{104,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,128},{100,96}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,164},{100,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{98,96}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,164},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,362},{144,102}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,158},{144,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{144,102}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,158},{144,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{146,100}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,160},{146,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,362},{146,100}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,160},{146,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,246},{144,116}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,145},{144,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,464},{146,118}}</string>
                <key>offset</key>
                <string>{3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,143},{146,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,464},{146,116}}</string>
                <key>offset</key>
                <string>{4,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,145},{146,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,246},{144,116}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,145},{144,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,128}}</string>
                <key>offset</key>
                <string>{-19,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,136},{94,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{96,124}}</string>
                <key>offset</key>
                <string>{-18,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,137},{96,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{96,126}}</string>
                <key>offset</key>
                <string>{-17,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,135},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{94,126}}</string>
                <key>offset</key>
                <string>{-18,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,136},{94,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,128},{102,116}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,145},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{104,112}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,148},{104,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,128},{100,118}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,142},{100,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{98,116}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,144},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_167_0.png</string>
            <key>size</key>
            <string>{502,582}</string>
            <key>textureFileName</key>
            <string>g_167_0.png</string>
        </dict>
    </dict>
</plist>
