<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_169_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,98}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,170},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{68,100}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,100}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,168},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{68,100}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{76,102}}</string>
                <key>offset</key>
                <string>{23,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,168},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{74,100}}</string>
                <key>offset</key>
                <string>{21,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,168},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{72,100}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,168},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{72,100}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,168},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{82,98}}</string>
                <key>offset</key>
                <string>{19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,171},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{84,98}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,171},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{80,98}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,171},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,106},{82,98}}</string>
                <key>offset</key>
                <string>{17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,171},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,106},{86,88}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,174},{86,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,106},{84,90}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,172},{84,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,106},{80,92}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,170},{80,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,106},{80,90}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,172},{80,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,106},{72,94}}</string>
                <key>offset</key>
                <string>{-10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,176},{72,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,106},{68,98}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,172},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,106},{68,98}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,172},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_169_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,106},{68,98}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,172},{68,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_169_0.png</string>
            <key>size</key>
            <string>{790,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab806a6e47db7a404a0ac8aec50e73fa:1/1$</string>
            <key>textureFileName</key>
            <string>g_169_0.png</string>
        </dict>
    </dict>
</plist>
