<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_167_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{110,122}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,156},{110,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,358},{110,126}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,155},{110,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,112},{112,118}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,162},{112,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{110,110}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,161},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{106,108}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,162},{106,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{108,112}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,162},{108,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{162,110}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,152},{162,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{148,106}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,155},{148,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{130,108}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,156},{130,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{116,106}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,155},{116,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,106}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,155},{128,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{146,112}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,152},{146,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{194,124}}</string>
                <key>offset</key>
                <string>{-8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,137},{194,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,112},{182,120}}</string>
                <key>offset</key>
                <string>{-9,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,139},{182,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,234},{176,122}}</string>
                <key>offset</key>
                <string>{-15,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,139},{176,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,358},{158,128}}</string>
                <key>offset</key>
                <string>{-18,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,134},{158,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,234},{158,124}}</string>
                <key>offset</key>
                <string>{-11,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,137},{158,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,234},{174,124}}</string>
                <key>offset</key>
                <string>{-8,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,136},{174,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,358},{118,126}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,135},{118,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,234},{112,124}}</string>
                <key>offset</key>
                <string>{-6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,136},{112,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,358},{116,128}}</string>
                <key>offset</key>
                <string>{-17,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,134},{116,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,358},{110,136}}</string>
                <key>offset</key>
                <string>{-22,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,130},{110,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,358},{102,128}}</string>
                <key>offset</key>
                <string>{-16,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,134},{102,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,358},{110,124}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,138},{110,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,112},{110,118}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,145},{110,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,112},{110,116}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,146},{110,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,112},{108,114}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,147},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,234},{112,122}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,141},{112,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,112},{106,122}}</string>
                <key>offset</key>
                <string>{5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,141},{106,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_167_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,112},{108,114}}</string>
                <key>offset</key>
                <string>{4,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,146},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_167_1.png</string>
            <key>size</key>
            <string>{1018,494}</string>
            <key>textureFileName</key>
            <string>g_167_1.png</string>
        </dict>
    </dict>
</plist>
