<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_164_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,328},{122,172}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,115},{122,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,328},{122,168}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,114},{122,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,328},{122,174}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,113},{122,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,328},{122,174}}</string>
                <key>offset</key>
                <string>{-4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,113},{122,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{122,168}}</string>
                <key>offset</key>
                <string>{-3,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,113},{122,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,328},{120,172}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,115},{120,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,158},{174,168}}</string>
                <key>offset</key>
                <string>{36,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,107},{174,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,328},{162,172}}</string>
                <key>offset</key>
                <string>{38,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,107},{162,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,328},{156,174}}</string>
                <key>offset</key>
                <string>{35,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,108},{156,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,328},{152,172}}</string>
                <key>offset</key>
                <string>{36,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,108},{152,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,328},{156,172}}</string>
                <key>offset</key>
                <string>{35,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,108},{156,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,158},{162,168}}</string>
                <key>offset</key>
                <string>{38,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,107},{162,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{190,154}}</string>
                <key>offset</key>
                <string>{35,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,115},{190,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{174,154}}</string>
                <key>offset</key>
                <string>{37,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,115},{174,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{168,152}}</string>
                <key>offset</key>
                <string>{33,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,116},{168,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{178,154}}</string>
                <key>offset</key>
                <string>{25,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,116},{178,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{168,154}}</string>
                <key>offset</key>
                <string>{33,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,116},{168,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,150}}</string>
                <key>offset</key>
                <string>{36,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,116},{174,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,158},{112,164}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,135},{112,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,158},{108,166}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,137},{108,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,158},{110,166}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,140},{110,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,158},{116,166}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,140},{116,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,158},{110,166}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,140},{110,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,158},{108,166}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,137},{108,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{122,154}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,150},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,152},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{120,156}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,152},{120,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,158},{120,158}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,150},{120,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,158},{122,156}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,152},{122,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{120,154}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,152},{120,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_164_1.png</string>
            <key>size</key>
            <string>{1436,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3df6cbac9548f3295ae4e7b7b142b213:1/1$</string>
            <key>textureFileName</key>
            <string>g_164_1.png</string>
        </dict>
    </dict>
</plist>
