<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_164_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,176}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,103},{138,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{114,168}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,112},{114,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{130,174}}</string>
                <key>offset</key>
                <string>{17,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,106},{130,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{154,162}}</string>
                <key>offset</key>
                <string>{-22,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,118},{154,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,180},{148,174}}</string>
                <key>offset</key>
                <string>{-9,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,106},{148,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,180},{120,172}}</string>
                <key>offset</key>
                <string>{3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,107},{120,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{178,172}}</string>
                <key>offset</key>
                <string>{49,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,101},{178,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,356},{98,172}}</string>
                <key>offset</key>
                <string>{2,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,101},{98,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,356},{126,164}}</string>
                <key>offset</key>
                <string>{17,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,109},{126,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{122,166}}</string>
                <key>offset</key>
                <string>{28,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,107},{122,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,530},{120,170}}</string>
                <key>offset</key>
                <string>{25,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,103},{120,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,530},{142,170}}</string>
                <key>offset</key>
                <string>{24,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,103},{142,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{176,148}}</string>
                <key>offset</key>
                <string>{37,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,118},{176,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,702},{180,154}}</string>
                <key>offset</key>
                <string>{-13,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,112},{180,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{130,156}}</string>
                <key>offset</key>
                <string>{18,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,110},{130,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,858},{192,154}}</string>
                <key>offset</key>
                <string>{59,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,114},{192,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{166,158}}</string>
                <key>offset</key>
                <string>{46,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,113},{166,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1016},{190,156}}</string>
                <key>offset</key>
                <string>{51,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,111},{190,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{120,130}}</string>
                <key>offset</key>
                <string>{18,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,140},{120,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1176},{182,160}}</string>
                <key>offset</key>
                <string>{-4,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,102},{182,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{144,148}}</string>
                <key>offset</key>
                <string>{-4,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,110},{144,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1338},{210,160}}</string>
                <key>offset</key>
                <string>{76,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,128},{210,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{180,154}}</string>
                <key>offset</key>
                <string>{61,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,130},{180,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1500},{154,148}}</string>
                <key>offset</key>
                <string>{37,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,127},{154,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{140,132}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,145},{140,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1656},{114,196}}</string>
                <key>offset</key>
                <string>{6,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,74},{114,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1656},{132,188}}</string>
                <key>offset</key>
                <string>{-18,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,87},{132,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{154,160}}</string>
                <key>offset</key>
                <string>{18,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,139},{154,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1854},{148,152}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,139},{148,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_164_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1854},{118,140}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,148},{118,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_164_4.png</string>
            <key>size</key>
            <string>{430,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4685b37916b32b25f7a8eb0ac177a90c:1/1$</string>
            <key>textureFileName</key>
            <string>g_164_4.png</string>
        </dict>
    </dict>
</plist>
