<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_163_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,139},{100,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{100,140}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,135},{100,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{100,144}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,133},{100,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,140}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,135},{100,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{140,140}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,137},{140,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,150},{154,140}}</string>
                <key>offset</key>
                <string>{-11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,137},{154,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{158,140}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,137},{158,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,150},{152,140}}</string>
                <key>offset</key>
                <string>{-10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,137},{152,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,292},{212,138}}</string>
                <key>offset</key>
                <string>{-13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,145},{212,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,292},{212,138}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,145},{212,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,292},{208,138}}</string>
                <key>offset</key>
                <string>{-14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,145},{208,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,292},{210,138}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,145},{210,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,150},{164,132}}</string>
                <key>offset</key>
                <string>{-15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,154},{164,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,150},{154,132}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,154},{154,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{146,130}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,156},{146,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,150},{154,132}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,154},{154,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{100,146}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,143},{100,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,138}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,143},{100,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,136}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,145},{100,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_163_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,138}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,143},{100,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_163_0.png</string>
            <key>size</key>
            <string>{1012,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16f3df5ad628753dfee481cff649b02:1/1$</string>
            <key>textureFileName</key>
            <string>g_163_0.png</string>
        </dict>
    </dict>
</plist>
