<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_175_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,344},{38,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,212},{38,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,358},{40,82}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,210},{40,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,376},{40,86}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,210},{40,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,290},{42,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,213},{42,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,202},{40,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,213},{40,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,258},{38,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,213},{38,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,140},{112,74}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,202},{112,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,336},{108,74}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,201},{108,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,258},{108,76}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,198},{108,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,358},{104,80}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,197},{104,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,140},{106,76}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,199},{106,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,204},{114,76}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,198},{114,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,62}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,201},{156,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,66},{156,60}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,204},{156,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{152,62}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,203},{152,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,66}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,200},{156,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{156,64}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,200},{156,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{154,64}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,200},{154,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{112,86}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,191},{112,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{110,84}}</string>
                <key>offset</key>
                <string>{-11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,189},{110,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{116,78}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,195},{116,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,128},{118,74}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,193},{118,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,66},{120,72}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,192},{120,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,282},{116,74}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,196},{116,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{38,102}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,184},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,258},{40,98}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,184},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,216},{40,100}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,188},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,218},{42,96}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,184},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,412},{40,92}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,183},{40,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,218},{38,90}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,186},{38,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_175_1.png</string>
            <key>size</key>
            <string>{512,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dbff8f1246c267c208582ede4e4e663:1/1$</string>
            <key>textureFileName</key>
            <string>g_175_1.png</string>
        </dict>
    </dict>
</plist>
