<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_172_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,76}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,137},{62,76}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{64,76}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,137},{64,76}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{62,76}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,140},{62,76}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{62,72}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,141},{62,72}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{112,66}}</string>
                <key>offset</key>
                <string>{-15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,150},{112,66}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{106,66}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,150},{106,66}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{102,66}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,150},{102,66}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{106,64}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,152},{106,64}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{148,70}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,140},{148,70}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{148,68}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,142},{148,68}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{146,66}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,144},{146,66}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,80},{146,68}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,142},{146,68}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,80},{104,102}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,114},{104,102}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,80},{108,100}}</string>
                <key>offset</key>
                <string>{-9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,116},{108,100}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,80},{112,98}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,118},{112,98}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,80},{108,100}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,116},{108,100}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,80},{62,110}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,109},{62,110}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,80},{62,112}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,108},{62,112}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,80},{64,112}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,107},{64,112}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_172_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,80},{62,112}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,108},{62,112}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_172_0.png</string>
            <key>size</key>
            <string>{996,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16fff64faceca2b6605becca99d3c02:1/1$</string>
            <key>textureFileName</key>
            <string>g_172_0.png</string>
        </dict>
    </dict>
</plist>
