<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_175_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,434},{50,86}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,204},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,408},{66,86}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,203},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,394},{82,90}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,198},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,286},{54,102}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,187},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,390},{74,86}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,202},{74,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,486},{46,86}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,203},{46,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{108,80}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,202},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,308},{108,80}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,201},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,154},{120,80}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,200},{120,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{142,82}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,198},{142,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,356},{98,76}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,203},{98,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,278},{110,76}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,205},{110,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,86},{160,66}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,205},{160,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{160,68}}</string>
                <key>offset</key>
                <string>{-20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,203},{160,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,76},{160,66}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,202},{160,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,62}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,206},{190,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,144},{162,60}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,208},{162,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,154},{156,60}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,208},{156,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,206},{122,70}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,203},{122,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,236},{130,70}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,199},{130,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{130,68}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,201},{130,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{138,72}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,197},{138,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{148,72}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,197},{148,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{124,74}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,202},{124,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,486},{50,86}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,197},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,304},{66,88}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,195},{66,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,312},{82,94}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,189},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,206},{54,96}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,187},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,390},{74,96}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,188},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,488},{46,94}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,193},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_175_4.png</string>
            <key>size</key>
            <string>{512,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91073256a85c52f412a1f3644793b460:1/1$</string>
            <key>textureFileName</key>
            <string>g_175_4.png</string>
        </dict>
    </dict>
</plist>
