<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_171_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{70,56}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,217},{70,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{72,54}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,219},{72,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{70,60}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,220},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,54}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,219},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,250},{80,66}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,220},{80,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,60},{82,60}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,219},{82,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,60},{82,60}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,219},{82,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{82,60}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,219},{82,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,250},{82,62}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,214},{82,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{84,62}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,214},{84,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,186},{82,62}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,214},{82,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,186},{82,62}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,214},{82,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{80,66}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,219},{80,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,318},{80,66}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,219},{80,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,318},{84,66}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,219},{84,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{80,66}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,219},{80,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,122},{68,62}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,212},{68,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,122},{70,62}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,212},{70,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{68,62}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,212},{68,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_171_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,386},{68,68}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,211},{68,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_171_0.png</string>
            <key>size</key>
            <string>{254,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64664c0f721eceecea992f15dae9b254:1/1$</string>
            <key>textureFileName</key>
            <string>g_171_0.png</string>
        </dict>
    </dict>
</plist>
