<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_175_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,210},{50,86}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,206},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,210},{50,84}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,207},{50,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,158},{50,86}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,206},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,106},{50,86}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,207},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,112},{108,78}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,204},{108,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,126},{114,76}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,204},{114,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,242},{110,80}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,202},{110,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{108,80}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,203},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{160,64}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,207},{160,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,66}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,205},{160,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,66}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,205},{160,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,164},{158,66}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,205},{158,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{122,70}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,205},{122,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,252},{120,72}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,203},{120,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{124,72}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,203},{124,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,128},{122,72}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,203},{122,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,106},{50,86}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,54},{50,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,199},{50,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{50,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,199},{50,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_175_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{50,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,199},{50,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_175_0.png</string>
            <key>size</key>
            <string>{512,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f32f36f719ba7cf78bef1f8c99ef24da:1/1$</string>
            <key>textureFileName</key>
            <string>g_175_0.png</string>
        </dict>
    </dict>
</plist>
