<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_188_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,51}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,147},{109,51}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{107,39}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,154},{107,39}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{109,39}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,154},{109,39}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{107,49}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{107,49}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{109,39}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,153},{109,39}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{119,35}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,155},{119,35}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{79,59}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,137},{79,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,55},{79,61}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,138},{79,61}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,55},{79,49}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,148},{79,49}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,55},{79,51}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,141},{79,51}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,55},{79,55}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,141},{79,55}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,55},{87,47}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,151},{87,47}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,55},{41,59}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,144},{41,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,55},{45,69}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,143},{45,69}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,55},{45,59}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{45,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{41,59}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,149},{41,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,126},{47,59}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,147},{47,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,126},{45,59}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,151},{45,59}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,126},{79,49}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,153},{79,49}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,126},{77,53}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,153},{77,53}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,126},{77,43}}</string>
                <key>offset</key>
                <string>{8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,161},{77,43}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,126},{79,51}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,155},{79,51}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,126},{77,45}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,159},{77,45}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,126},{83,47}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,158},{83,47}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{107,29}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,162},{107,29}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,187},{107,29}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,163},{107,29}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,187},{107,33}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,162},{107,33}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,187},{107,29}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,162},{107,29}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,187},{107,33}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,162},{107,33}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,187},{117,29}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{117,29}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_188_1.png</string>
            <key>size</key>
            <string>{674,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8e7c978d0a18d153bb41e52d0e233c9:1/1$</string>
            <key>textureFileName</key>
            <string>g_188_1.png</string>
        </dict>
    </dict>
</plist>
