<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_188_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,49},{83,47}}</string>
                <key>offset</key>
                <string>{4,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,131},{83,47}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,49},{113,47}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{113,47}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,49},{71,49}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,129},{71,49}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{89,39}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,136},{89,39}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{117,45}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,139},{117,45}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{121,35}}</string>
                <key>offset</key>
                <string>{3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,137},{121,35}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,104},{67,61}}</string>
                <key>offset</key>
                <string>{14,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,143},{67,61}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,104},{79,57}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,137},{79,57}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,104},{49,57}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,141},{49,57}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{69,57}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,143},{69,57}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,49},{83,53}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,140},{83,53}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,49},{87,51}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,141},{87,51}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,104},{45,71}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,145},{45,71}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,104},{39,61}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,131},{39,61}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,104},{45,63}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,144},{45,63}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,104},{41,67}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,145},{41,67}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,49},{39,53}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,136},{39,53}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,104},{39,63}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,146},{39,63}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,104},{67,67}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,152},{67,67}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{85,45}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,141},{85,45}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{49,57}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{49,57}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,104},{77,61}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,152},{77,61}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{87,41}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,147},{87,41}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,49},{87,47}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,157},{87,47}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,104},{83,57}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,160},{83,57}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{115,39}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,151},{115,39}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,49},{69,49}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,152},{69,49}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,49},{87,47}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,152},{87,47}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,35}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,152},{117,35}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>g_188_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{121,35}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,157},{121,35}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_188_4.png</string>
            <key>size</key>
            <string>{826,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deeac46e8836ceb6e64da5c33aa43ade:1/1$</string>
            <key>textureFileName</key>
            <string>g_188_4.png</string>
        </dict>
    </dict>
</plist>
