<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_188_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,62},{108,30}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,130},{108,30}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,62},{108,30}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,131},{108,30}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{104,24}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,133},{104,24}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,62},{110,24}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,133},{110,24}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{76,44}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,120},{76,44}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{76,44}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,117},{76,44}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{74,44}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,121},{74,44}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{78,44}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,130},{78,44}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,56}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,115},{34,56}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,58}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,109},{34,58}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{34,54}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,107},{34,54}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,54}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,123},{34,54}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{76,42}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,120},{76,42}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{76,42}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,121},{76,42}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{74,48}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,119},{74,48}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{78,40}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,128},{78,40}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,62},{108,26}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,133},{108,26}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,62},{110,28}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,132},{110,28}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{104,26}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,133},{104,26}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_188_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,62},{110,18}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,137},{110,18}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_188_0.png</string>
            <key>size</key>
            <string>{876,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd1e67f5e2636a3336f26c5c5d57312f:1/1$</string>
            <key>textureFileName</key>
            <string>g_188_0.png</string>
        </dict>
    </dict>
</plist>
