<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_191_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,108}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,82},{80,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{76,108}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,82},{76,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{76,108}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,82},{76,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{78,108}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,82},{78,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{92,108}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,82},{92,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{78,108}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,82},{78,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{86,110}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,80},{86,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{90,108}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,82},{90,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{110,108}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,87},{110,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{112,106}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,89},{112,106}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{110,108}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,87},{110,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{104,108}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,87},{104,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,114},{86,102}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,85},{86,102}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,114},{104,100}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,87},{104,100}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,114},{96,102}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,85},{96,102}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,114},{90,102}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,85},{90,102}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,114},{78,106}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,86},{78,106}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,114},{74,106}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,86},{74,106}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,114},{74,108}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,84},{74,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,114},{76,108}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,84},{76,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_191_0.png</string>
            <key>size</key>
            <string>{914,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1de634c2f725ccb2f76ec4d3cfb3e8c:1/1$</string>
            <key>textureFileName</key>
            <string>g_191_0.png</string>
        </dict>
    </dict>
</plist>
