<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_191_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,224},{74,114}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,80},{74,114}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,224},{72,110}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,81},{72,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,112},{76,110}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,82},{76,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,112},{76,110}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,80},{76,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,224},{76,112}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,80},{76,112}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,224},{76,118}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,80},{76,118}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,224},{72,114}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,83},{72,114}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,112},{80,110}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,83},{80,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,224},{90,112}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,82},{90,112}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,112},{88,110}}</string>
                <key>offset</key>
                <string>{-13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,82},{88,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{78,104}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,84},{78,104}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,224},{62,114}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,83},{62,114}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{94,110}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,83},{94,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,224},{98,110}}</string>
                <key>offset</key>
                <string>{-18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,83},{98,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{112,104}}</string>
                <key>offset</key>
                <string>{-24,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,85},{112,104}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,112},{108,108}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,84},{108,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{102,104}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,84},{102,104}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{98,104}}</string>
                <key>offset</key>
                <string>{-17,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,86},{98,104}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,112},{90,110}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,83},{90,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{84,106}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,83},{84,106}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,104}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,84},{84,104}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{74,104}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,84},{74,104}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,112},{82,110}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,83},{82,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,224},{94,112}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,83},{94,112}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{74,108}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,80},{74,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{70,104}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,81},{70,104}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,112},{74,110}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,79},{74,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{74,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,79},{74,108}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{74,106}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,80},{74,106}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_191_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,112},{74,110}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,81},{74,110}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_191_1.png</string>
            <key>size</key>
            <string>{872,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dfe63dc95749ab12bd23860dbc822ea:1/1$</string>
            <key>textureFileName</key>
            <string>g_191_1.png</string>
        </dict>
    </dict>
</plist>
