<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_192_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,284},{80,102}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,76},{80,102}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,388},{78,106}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,76},{78,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,388},{74,108}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,75},{74,108}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,284},{74,102}}</string>
                <key>offset</key>
                <string>{18,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,76},{74,102}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,388},{74,106}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,75},{74,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,388},{78,108}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,74},{78,108}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,94},{116,92}}</string>
                <key>offset</key>
                <string>{-29,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,76},{116,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,284},{120,102}}</string>
                <key>offset</key>
                <string>{-29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{120,102}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{120,102}}</string>
                <key>offset</key>
                <string>{-28,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{120,102}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,188},{120,94}}</string>
                <key>offset</key>
                <string>{-27,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,75},{120,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,284},{120,100}}</string>
                <key>offset</key>
                <string>{-26,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,75},{120,100}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,388},{120,102}}</string>
                <key>offset</key>
                <string>{-28,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{120,102}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,188},{102,92}}</string>
                <key>offset</key>
                <string>{-24,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,75},{102,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{96,92}}</string>
                <key>offset</key>
                <string>{-26,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,78},{96,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,94},{98,92}}</string>
                <key>offset</key>
                <string>{-23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,77},{98,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{102,86}}</string>
                <key>offset</key>
                <string>{-21,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,77},{102,86}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{102,90}}</string>
                <key>offset</key>
                <string>{-24,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,76},{102,90}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,188},{96,94}}</string>
                <key>offset</key>
                <string>{-27,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,76},{96,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,94},{72,92}}</string>
                <key>offset</key>
                <string>{-15,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,78},{72,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{54,84}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,79},{54,84}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,188},{56,92}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,77},{56,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,188},{72,92}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,77},{72,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{64,80}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,79},{64,80}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,94},{68,92}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,78},{68,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{80,90}}</string>
                <key>offset</key>
                <string>{12,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,81},{80,90}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{78,82}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,79},{78,82}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{72,94}}</string>
                <key>offset</key>
                <string>{18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,76},{72,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,284},{72,98}}</string>
                <key>offset</key>
                <string>{18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,74},{72,98}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,76}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,82},{72,76}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,94},{76,90}}</string>
                <key>offset</key>
                <string>{13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,81},{76,90}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_192_1.png</string>
            <key>size</key>
            <string>{558,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fd67703e32306fac6904b10e8695890:1/1$</string>
            <key>textureFileName</key>
            <string>g_192_1.png</string>
        </dict>
    </dict>
</plist>
