<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_192_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{80,98}}</string>
                <key>offset</key>
                <string>{-23,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,76},{80,98}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,102},{52,100}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,75},{52,100}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,102},{52,104}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,70},{52,104}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{168,92}}</string>
                <key>offset</key>
                <string>{-11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,86},{168,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,102},{104,106}}</string>
                <key>offset</key>
                <string>{16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,71},{104,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{92,98}}</string>
                <key>offset</key>
                <string>{-15,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,77},{92,98}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{74,92}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,77},{74,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{116,98}}</string>
                <key>offset</key>
                <string>{-27,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{116,98}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,102},{86,108}}</string>
                <key>offset</key>
                <string>{-12,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,61},{86,108}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,214},{152,112}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,61},{152,112}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{122,98}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,74},{122,98}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,92}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,79},{96,92}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{70,94}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,75},{70,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,102},{124,102}}</string>
                <key>offset</key>
                <string>{-34,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,67},{124,102}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,214},{110,132}}</string>
                <key>offset</key>
                <string>{-27,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,37},{110,132}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,214},{122,152}}</string>
                <key>offset</key>
                <string>{18,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,42},{122,152}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,102},{86,110}}</string>
                <key>offset</key>
                <string>{-15,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,77},{86,110}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{88,94}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,75},{88,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,102},{76,104}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,74},{76,104}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,214},{76,112}}</string>
                <key>offset</key>
                <string>{-18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,66},{76,112}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,214},{80,162}}</string>
                <key>offset</key>
                <string>{-19,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,17},{80,162}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,214},{140,154}}</string>
                <key>offset</key>
                <string>{25,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,46},{140,154}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,102},{74,106}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,82},{74,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,102},{76,106}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,73},{76,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,102},{80,106}}</string>
                <key>offset</key>
                <string>{20,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,72},{80,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{50,112}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,66},{50,112}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,214},{52,170}}</string>
                <key>offset</key>
                <string>{-3,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,8},{52,170}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,214},{164,146}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,56},{164,146}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{106,96}}</string>
                <key>offset</key>
                <string>{-19,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,82},{106,96}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,102},{90,108}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,70},{90,108}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_192_4.png</string>
            <key>size</key>
            <string>{1018,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eecb0489df6f6ed395abc83d32bef437:1/1$</string>
            <key>textureFileName</key>
            <string>g_192_4.png</string>
        </dict>
    </dict>
</plist>
