<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_193_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,152},{142,140}}</string>
                <key>offset</key>
                <string>{-25,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,49},{142,140}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,152},{142,140}}</string>
                <key>offset</key>
                <string>{-26,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{142,140}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,152},{142,140}}</string>
                <key>offset</key>
                <string>{-26,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{142,140}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{142,142}}</string>
                <key>offset</key>
                <string>{-25,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,47},{142,142}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,296},{162,124}}</string>
                <key>offset</key>
                <string>{-2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,57},{162,124}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,296},{158,124}}</string>
                <key>offset</key>
                <string>{-1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,57},{158,124}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,296},{156,124}}</string>
                <key>offset</key>
                <string>{2,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,57},{156,124}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,296},{162,126}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,55},{162,126}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{138,142}}</string>
                <key>offset</key>
                <string>{22,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,56},{138,142}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{132,138}}</string>
                <key>offset</key>
                <string>{24,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,59},{132,138}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{132,140}}</string>
                <key>offset</key>
                <string>{25,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,57},{132,140}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{134,142}}</string>
                <key>offset</key>
                <string>{24,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,56},{134,142}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,148}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,47},{96,148}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{104,146}}</string>
                <key>offset</key>
                <string>{8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,49},{104,146}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{104,146}}</string>
                <key>offset</key>
                <string>{10,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,49},{104,146}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,148}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,47},{96,148}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{142,142}}</string>
                <key>offset</key>
                <string>{28,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,57},{142,142}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,152},{142,138}}</string>
                <key>offset</key>
                <string>{29,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,61},{142,138}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,152},{142,138}}</string>
                <key>offset</key>
                <string>{28,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,61},{142,138}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,296},{142,142}}</string>
                <key>offset</key>
                <string>{28,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,57},{142,142}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_193_0.png</string>
            <key>size</key>
            <string>{954,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8269a313f3246942318a10827d19a931:1/1$</string>
            <key>textureFileName</key>
            <string>g_193_0.png</string>
        </dict>
    </dict>
</plist>
