<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_190_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,38}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,178},{52,38}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,40}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,176},{52,40}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,38}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,178},{52,38}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{52,38}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,178},{52,38}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{56,44}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,178},{56,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{58,46}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,176},{58,46}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{58,44}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,179},{58,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{58,44}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,178},{58,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{60,48}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,172},{60,48}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{60,48}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,172},{60,48}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{60,48}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,172},{60,48}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,52},{60,48}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,172},{60,48}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,52},{56,58}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,166},{56,58}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,52},{58,56}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,168},{58,56}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,52},{60,56}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,168},{60,56}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,52},{58,56}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,168},{58,56}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,52},{52,60}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,166},{52,60}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,52},{52,58}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,168},{52,58}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,52},{52,60}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,167},{52,60}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_190_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,52},{52,60}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,167},{52,60}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_190_0.png</string>
            <key>size</key>
            <string>{582,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a8df4fd84dd7fc0d0a92812eb7bfd28:1/1$</string>
            <key>textureFileName</key>
            <string>g_190_0.png</string>
        </dict>
    </dict>
</plist>
