<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_192_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,96}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,74},{86,96}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{100,96}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,75},{100,96}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{94,96}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,74},{94,96}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{92,96}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,74},{92,96}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{60,94}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,74},{60,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{56,94}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,74},{56,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{58,94}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,74},{58,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{60,94}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,74},{60,94}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{82,100}}</string>
                <key>offset</key>
                <string>{-21,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,72},{82,100}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{68,100}}</string>
                <key>offset</key>
                <string>{-14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,72},{68,100}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{80,100}}</string>
                <key>offset</key>
                <string>{-18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,72},{80,100}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{80,100}}</string>
                <key>offset</key>
                <string>{-18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,72},{80,100}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,104},{106,106}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,72},{106,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,104},{102,106}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,72},{102,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,104},{98,106}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,72},{98,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,104},{104,106}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,72},{104,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,104},{84,106}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,69},{84,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,104},{96,106}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,69},{96,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,104},{94,104}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,71},{94,104}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
            <key>g_192_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,104},{90,106}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,69},{90,106}}</string>
                <key>sourceSize</key>
                <string>{328,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_192_0.png</string>
            <key>size</key>
            <string>{874,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ae7e4204cafe05ae4f4e741becb5c6:1/1$</string>
            <key>textureFileName</key>
            <string>g_192_0.png</string>
        </dict>
    </dict>
</plist>
