<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_193_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,178},{130,138}}</string>
                <key>offset</key>
                <string>{-22,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,54},{130,138}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{110,140}}</string>
                <key>offset</key>
                <string>{-12,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,53},{110,140}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,356},{148,144}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,49},{148,144}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,356},{148,118}}</string>
                <key>offset</key>
                <string>{32,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,70},{148,118}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,502},{160,124}}</string>
                <key>offset</key>
                <string>{23,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,65},{160,124}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,356},{154,136}}</string>
                <key>offset</key>
                <string>{24,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,55},{154,136}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,502},{162,126}}</string>
                <key>offset</key>
                <string>{-31,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,60},{162,126}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,356},{152,130}}</string>
                <key>offset</key>
                <string>{-27,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,57},{152,130}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,128}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,58},{94,128}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{156,130}}</string>
                <key>offset</key>
                <string>{30,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,71},{156,130}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,636},{222,128}}</string>
                <key>offset</key>
                <string>{40,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,65},{222,128}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,636},{242,118}}</string>
                <key>offset</key>
                <string>{58,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,67},{242,118}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{146,142}}</string>
                <key>offset</key>
                <string>{-21,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,52},{146,142}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{170,148}}</string>
                <key>offset</key>
                <string>{-45,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{170,148}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{112,134}}</string>
                <key>offset</key>
                <string>{-17,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,60},{112,134}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,502},{166,132}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,73},{166,132}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,786},{254,128}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{254,128}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,786},{296,130}}</string>
                <key>offset</key>
                <string>{31,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,64},{296,130}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{110,146}}</string>
                <key>offset</key>
                <string>{16,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,48},{110,146}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{126,176}}</string>
                <key>offset</key>
                <string>{2,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,18},{126,176}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,178},{138,156}}</string>
                <key>offset</key>
                <string>{-6,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,38},{138,156}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,178},{146,128}}</string>
                <key>offset</key>
                <string>{-16,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,66},{146,128}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,636},{208,134}}</string>
                <key>offset</key>
                <string>{13,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,60},{208,134}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{242,150}}</string>
                <key>offset</key>
                <string>{31,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,61},{242,150}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,178},{128,136}}</string>
                <key>offset</key>
                <string>{24,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,51},{128,136}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{110,174}}</string>
                <key>offset</key>
                <string>{14,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,13},{110,174}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,178},{146,174}}</string>
                <key>offset</key>
                <string>{1,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,13},{146,174}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,502},{166,132}}</string>
                <key>offset</key>
                <string>{-30,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,57},{166,132}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{114,132}}</string>
                <key>offset</key>
                <string>{-17,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,54},{114,132}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_193_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{108,134}}</string>
                <key>offset</key>
                <string>{-14,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,52},{108,134}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_193_4.png</string>
            <key>size</key>
            <string>{852,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a4f12277dbd94db4f46945ba5356907:1/1$</string>
            <key>textureFileName</key>
            <string>g_193_4.png</string>
        </dict>
    </dict>
</plist>
