<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2015_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,166},{180,220}}</string>
                <key>offset</key>
                <string>{7,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,168},{180,220}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,170},{180,216}}</string>
                <key>offset</key>
                <string>{7,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,170},{180,216}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{178,214}}</string>
                <key>offset</key>
                <string>{7,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,171},{178,214}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,168},{180,216}}</string>
                <key>offset</key>
                <string>{7,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,170},{180,216}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,534},{230,218}}</string>
                <key>offset</key>
                <string>{51,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,171},{230,218}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{232,216}}</string>
                <key>offset</key>
                <string>{51,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,172},{232,216}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,536},{232,218}}</string>
                <key>offset</key>
                <string>{51,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,171},{232,218}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,754},{228,220}}</string>
                <key>offset</key>
                <string>{51,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,170},{228,220}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,750},{220,218}}</string>
                <key>offset</key>
                <string>{55,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,171},{220,218}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,532},{222,216}}</string>
                <key>offset</key>
                <string>{55,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,172},{222,216}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,756},{220,220}}</string>
                <key>offset</key>
                <string>{55,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,171},{220,220}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{220,218}}</string>
                <key>offset</key>
                <string>{55,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,172},{220,218}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{164,230}}</string>
                <key>offset</key>
                <string>{-1,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,170},{164,230}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{166,232}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,170},{166,232}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,232}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,170},{162,232}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{162,234}}</string>
                <key>offset</key>
                <string>{-1,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,168},{162,234}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,352},{182,238}}</string>
                <key>offset</key>
                <string>{-12,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,170},{182,238}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,352},{180,240}}</string>
                <key>offset</key>
                <string>{-11,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,169},{180,240}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,350},{180,238}}</string>
                <key>offset</key>
                <string>{-11,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,170},{180,238}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
            <key>g_2015_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{180,240}}</string>
                <key>offset</key>
                <string>{-11,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,169},{180,240}}</string>
                <key>sourceSize</key>
                <string>{756,756}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2015_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0528c9d3e431e104cc1a9b62cf20db1:1/1$</string>
            <key>textureFileName</key>
            <string>g_2015_0.png</string>
        </dict>
    </dict>
</plist>
