<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2030_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{337,403}}</string>
                <key>offset</key>
                <string>{-14,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,121},{337,403}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,405}}</string>
                <key>offset</key>
                <string>{-8,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,121},{341,405}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{333,395}}</string>
                <key>offset</key>
                <string>{-14,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,128},{333,395}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,409},{339,397}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,125},{339,397}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{351,401}}</string>
                <key>offset</key>
                <string>{-7,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,123},{351,401}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{331,397}}</string>
                <key>offset</key>
                <string>{-18,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,124},{331,397}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1606},{383,333}}</string>
                <key>offset</key>
                <string>{-13,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,136},{383,333}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{383,333}}</string>
                <key>offset</key>
                <string>{-10,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,140},{383,333}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1217},{387,337}}</string>
                <key>offset</key>
                <string>{-6,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,137},{387,337}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,808},{367,345}}</string>
                <key>offset</key>
                <string>{-12,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,135},{367,345}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1177},{357,351}}</string>
                <key>offset</key>
                <string>{-17,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,137},{357,351}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1217},{369,337}}</string>
                <key>offset</key>
                <string>{-15,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,137},{369,337}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,347},{303,341}}</string>
                <key>offset</key>
                <string>{-17,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,137},{303,341}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,748},{311,341}}</string>
                <key>offset</key>
                <string>{-17,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,134},{311,341}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,399},{305,347}}</string>
                <key>offset</key>
                <string>{-17,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,139},{305,347}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,762},{321,353}}</string>
                <key>offset</key>
                <string>{-8,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,140},{321,353}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,399},{297,361}}</string>
                <key>offset</key>
                <string>{-18,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,136},{297,361}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1588},{303,359}}</string>
                <key>offset</key>
                <string>{-15,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,133},{303,359}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,1148},{237,329}}</string>
                <key>offset</key>
                <string>{-24,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,145},{237,329}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1536},{239,319}}</string>
                <key>offset</key>
                <string>{-27,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,147},{239,319}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1019},{249,325}}</string>
                <key>offset</key>
                <string>{-30,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,149},{249,325}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,690},{249,327}}</string>
                <key>offset</key>
                <string>{-29,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,148},{249,327}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1346},{245,315}}</string>
                <key>offset</key>
                <string>{-32,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,151},{245,315}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,913},{233,335}}</string>
                <key>offset</key>
                <string>{-34,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,143},{233,335}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,2},{339,303}}</string>
                <key>offset</key>
                <string>{-6,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,141},{339,303}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{343,305}}</string>
                <key>offset</key>
                <string>{-6,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,146},{343,305}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,307},{335,305}}</string>
                <key>offset</key>
                <string>{-7,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,145},{335,305}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1091},{333,297}}</string>
                <key>offset</key>
                <string>{-8,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,145},{333,297}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,614},{335,297}}</string>
                <key>offset</key>
                <string>{-5,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,145},{335,297}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{339,307}}</string>
                <key>offset</key>
                <string>{-4,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,144},{339,307}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2030_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512a17a75a6f8cd949aa876b19231369:1/1$</string>
            <key>textureFileName</key>
            <string>g_2030_1.png</string>
        </dict>
    </dict>
</plist>
