<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2018_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,596},{162,268}}</string>
                <key>offset</key>
                <string>{8,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,31},{162,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,424},{170,272}}</string>
                <key>offset</key>
                <string>{8,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,30},{170,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,210},{170,282}}</string>
                <key>offset</key>
                <string>{7,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,24},{170,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,548},{168,258}}</string>
                <key>offset</key>
                <string>{8,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,37},{168,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,382},{164,274}}</string>
                <key>offset</key>
                <string>{7,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,29},{164,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,760},{164,262}}</string>
                <key>offset</key>
                <string>{8,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,34},{164,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1042},{234,236}}</string>
                <key>offset</key>
                <string>{9,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,47},{234,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1170},{226,236}}</string>
                <key>offset</key>
                <string>{9,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,47},{226,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{226,242}}</string>
                <key>offset</key>
                <string>{9,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,44},{226,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,808},{242,232}}</string>
                <key>offset</key>
                <string>{10,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,50},{242,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,548},{270,250}}</string>
                <key>offset</key>
                <string>{9,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,40},{270,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{262,258}}</string>
                <key>offset</key>
                <string>{10,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,37},{262,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{320,206}}</string>
                <key>offset</key>
                <string>{8,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,72},{320,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{316,204}}</string>
                <key>offset</key>
                <string>{7,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,73},{316,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{298,206}}</string>
                <key>offset</key>
                <string>{8,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,72},{298,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,210},{316,212}}</string>
                <key>offset</key>
                <string>{7,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,70},{316,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,210}}</string>
                <key>offset</key>
                <string>{8,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,71},{324,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{318,206}}</string>
                <key>offset</key>
                <string>{8,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,73},{318,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,926},{246,198}}</string>
                <key>offset</key>
                <string>{4,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,87},{246,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{256,212}}</string>
                <key>offset</key>
                <string>{4,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,79},{256,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,800},{248,206}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,82},{248,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1126},{238,210}}</string>
                <key>offset</key>
                <string>{4,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,80},{238,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1506},{220,210}}</string>
                <key>offset</key>
                <string>{4,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,81},{220,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1398},{224,206}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,82},{224,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1278},{160,230}}</string>
                <key>offset</key>
                <string>{12,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,65},{160,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{162,234}}</string>
                <key>offset</key>
                <string>{11,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,65},{162,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{164,238}}</string>
                <key>offset</key>
                <string>{9,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,61},{164,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1338},{166,234}}</string>
                <key>offset</key>
                <string>{5,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,63},{166,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1008},{160,240}}</string>
                <key>offset</key>
                <string>{10,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,61},{160,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2018_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{164,218}}</string>
                <key>offset</key>
                <string>{15,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,81},{164,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2018_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a4fb31f4ceb008fd4696cca9578f61c:1/1$</string>
            <key>textureFileName</key>
            <string>g_2018_1.png</string>
        </dict>
    </dict>
</plist>
