<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2028_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,328}}</string>
                <key>offset</key>
                <string>{2,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{416,328}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{386,328}}</string>
                <key>offset</key>
                <string>{-41,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,168},{386,328}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,356},{376,292}}</string>
                <key>offset</key>
                <string>{-43,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,177},{376,292}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1530},{342,232}}</string>
                <key>offset</key>
                <string>{-26,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,206},{342,232}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1260},{340,258}}</string>
                <key>offset</key>
                <string>{-10,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,194},{340,258}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,262},{388,324}}</string>
                <key>offset</key>
                <string>{-9,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,169},{388,324}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{354,344}}</string>
                <key>offset</key>
                <string>{-11,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,159},{354,344}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,650},{352,308}}</string>
                <key>offset</key>
                <string>{-42,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,164},{352,308}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,538},{352,328}}</string>
                <key>offset</key>
                <string>{-14,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,152},{352,328}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,868},{318,274}}</string>
                <key>offset</key>
                <string>{-6,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,181},{318,274}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{348,276}}</string>
                <key>offset</key>
                <string>{4,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,190},{348,276}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,704},{346,338}}</string>
                <key>offset</key>
                <string>{-18,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,163},{346,338}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{288,344}}</string>
                <key>offset</key>
                <string>{-28,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,160},{288,344}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1144},{302,314}}</string>
                <key>offset</key>
                <string>{-31,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,175},{302,314}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,588},{296,368}}</string>
                <key>offset</key>
                <string>{2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,139},{296,368}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1542},{342,314}}</string>
                <key>offset</key>
                <string>{-20,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,158},{342,314}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1520},{340,240}}</string>
                <key>offset</key>
                <string>{15,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,206},{340,240}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1524},{280,340}}</string>
                <key>offset</key>
                <string>{-29,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{280,340}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,886},{348,298}}</string>
                <key>offset</key>
                <string>{-26,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,181},{348,298}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,960},{346,298}}</string>
                <key>offset</key>
                <string>{-23,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,177},{346,298}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{352,390}}</string>
                <key>offset</key>
                <string>{-21,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,128},{352,390}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{310,344}}</string>
                <key>offset</key>
                <string>{-18,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,152},{310,344}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,284},{380,252}}</string>
                <key>offset</key>
                <string>{4,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,203},{380,252}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1520},{338,308}}</string>
                <key>offset</key>
                <string>{-20,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,178},{338,308}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{416,258}}</string>
                <key>offset</key>
                <string>{-4,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,200},{416,258}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{386,280}}</string>
                <key>offset</key>
                <string>{-27,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,182},{386,280}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,332},{376,370}}</string>
                <key>offset</key>
                <string>{-29,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,141},{376,370}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1186},{342,344}}</string>
                <key>offset</key>
                <string>{-23,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,159},{342,344}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1260},{340,262}}</string>
                <key>offset</key>
                <string>{-11,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,198},{340,262}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{388,272}}</string>
                <key>offset</key>
                <string>{-18,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,195},{388,272}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2028_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d3ca73997628972d2dc478d4a38bc12:1/1$</string>
            <key>textureFileName</key>
            <string>g_2028_4.png</string>
        </dict>
    </dict>
</plist>
