<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2023_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1720},{232,322}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,245},{232,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,686},{230,314}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,250},{230,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1002},{228,308}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,253},{228,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1330},{228,308}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,252},{228,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{226,306}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,253},{226,306}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,340},{230,312}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,251},{230,312}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{192,346}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,234},{192,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{202,340}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,236},{202,340}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1046},{220,336}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,239},{220,336}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{232,336}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,238},{232,336}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{230,336}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,239},{230,336}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{216,342}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,235},{216,342}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{190,352}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,231},{190,352}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,346},{200,338}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,237},{200,338}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1384},{218,334}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,240},{218,334}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,706},{230,338}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,237},{230,338}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,360},{224,344}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,234},{224,344}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,356}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,229},{196,356}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1720},{192,326}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,243},{192,326}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{204,310}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,251},{204,310}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1640},{204,302}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,256},{204,302}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1330},{192,310}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,251},{192,310}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,686},{172,322}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,245},{172,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{162,344}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,235},{162,344}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,654},{244,306}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,253},{244,306}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,962},{246,300}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,257},{246,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1312},{246,300}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,256},{246,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{244,302}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,256},{244,302}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,314},{240,306}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,254},{240,306}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1010},{238,318}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,248},{238,318}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2023_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25db77ff25c5440815d92a99fa7644e3:1/1$</string>
            <key>textureFileName</key>
            <string>g_2023_1.png</string>
        </dict>
    </dict>
</plist>
