<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2010_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{184,256}}</string>
                <key>offset</key>
                <string>{18,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,297},{184,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{188,256}}</string>
                <key>offset</key>
                <string>{17,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,297},{188,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,176},{188,256}}</string>
                <key>offset</key>
                <string>{17,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,297},{188,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,176},{188,256}}</string>
                <key>offset</key>
                <string>{17,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,297},{188,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,556},{208,254}}</string>
                <key>offset</key>
                <string>{39,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,300},{208,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,556},{208,254}}</string>
                <key>offset</key>
                <string>{38,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,300},{208,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{214,254}}</string>
                <key>offset</key>
                <string>{34,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,299},{214,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{208,254}}</string>
                <key>offset</key>
                <string>{38,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,300},{208,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,766},{232,250}}</string>
                <key>offset</key>
                <string>{3,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,307},{232,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,788},{232,238}}</string>
                <key>offset</key>
                <string>{2,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,308},{232,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,556},{230,236}}</string>
                <key>offset</key>
                <string>{1,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,307},{230,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,766},{232,238}}</string>
                <key>offset</key>
                <string>{2,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,308},{232,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{172,232}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,307},{172,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{172,234}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,306},{172,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{172,232}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,307},{172,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,232}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,307},{172,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,176},{184,230}}</string>
                <key>offset</key>
                <string>{-20,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,307},{184,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,366},{188,230}}</string>
                <key>offset</key>
                <string>{-19,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,307},{188,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,366},{188,230}}</string>
                <key>offset</key>
                <string>{-20,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,307},{188,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,362},{188,230}}</string>
                <key>offset</key>
                <string>{-19,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,307},{188,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2010_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91289f0f9d0cb5eda1b3e6aa8bc4fdd7:1/1$</string>
            <key>textureFileName</key>
            <string>g_2010_0.png</string>
        </dict>
    </dict>
</plist>
