<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_205_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,325},{111,115}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,69},{111,115}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,325},{87,133}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,75},{87,133}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,210},{93,109}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,67},{93,109}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,210},{107,111}}</string>
                <key>offset</key>
                <string>{-27,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,65},{107,111}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,101},{121,103}}</string>
                <key>offset</key>
                <string>{-34,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{121,103}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{117,107}}</string>
                <key>offset</key>
                <string>{-32,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,69},{117,107}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,325},{67,117}}</string>
                <key>offset</key>
                <string>{-16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,71},{67,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,325},{73,135}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,71},{73,135}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,210},{71,107}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,69},{71,107}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,325},{121,119}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,57},{121,119}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,325},{99,115}}</string>
                <key>offset</key>
                <string>{-39,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,61},{99,115}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,210},{101,111}}</string>
                <key>offset</key>
                <string>{-26,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,65},{101,111}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,210},{73,111}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,76},{73,111}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,325},{123,119}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,71},{123,119}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,101},{125,103}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,73},{125,103}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{113,115}}</string>
                <key>offset</key>
                <string>{30,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,61},{113,115}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,210},{105,109}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,67},{105,109}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,101},{123,103}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,73},{123,103}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{95,97}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,78},{95,97}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{135,101}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,71},{135,101}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{137,95}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,77},{137,95}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{111,95}}</string>
                <key>offset</key>
                <string>{28,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,77},{111,95}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,93}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,79},{115,93}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{125,97}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,75},{125,97}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,101},{111,103}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,76},{111,103}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,210},{87,113}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,66},{87,113}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,101},{93,103}}</string>
                <key>offset</key>
                <string>{-20,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,76},{93,103}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{107,95}}</string>
                <key>offset</key>
                <string>{24,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,89},{107,95}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{119,93}}</string>
                <key>offset</key>
                <string>{31,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,87},{119,93}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,101},{117,107}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,72},{117,107}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_205_4.png</string>
            <key>size</key>
            <string>{841,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a656c2073fa3453c21b7efdea3ae9d7:1/1$</string>
            <key>textureFileName</key>
            <string>g_205_4.png</string>
        </dict>
    </dict>
</plist>
