<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2024_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,620},{177,413}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,203},{177,413}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,604},{181,423}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,198},{181,423}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,431},{187,429}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,196},{187,429}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,315},{177,433}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,193},{177,433}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,799},{409,403}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,209},{409,403}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,787},{399,405}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,207},{399,405}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{399,403}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,208},{399,403}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,779},{409,407}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,207},{409,407}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{565,315}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,253},{565,315}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{545,311}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,254},{545,311}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{555,313}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,253},{555,313}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{567,313}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,254},{567,313}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,494},{423,283}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,269},{423,283}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{419,283}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,269},{419,283}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,319},{425,283}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,268},{425,283}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,2},{427,283}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,268},{427,283}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{177,267}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,277},{177,267}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1158},{177,267}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,277},{177,267}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,889},{177,267}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,277},{177,267}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
            <key>g_2024_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,620},{177,267}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,277},{177,267}}</string>
                <key>sourceSize</key>
                <string>{973,973}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2024_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca5bbef40fff5bfd98d167fa53a60bb9:1/1$</string>
            <key>textureFileName</key>
            <string>g_2024_0.png</string>
        </dict>
    </dict>
</plist>
