<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2020_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,718},{192,224}}</string>
                <key>offset</key>
                <string>{17,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,319},{192,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,566},{216,226}}</string>
                <key>offset</key>
                <string>{0,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,314},{216,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,466},{364,250}}</string>
                <key>offset</key>
                <string>{80,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,302},{364,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{464,248}}</string>
                <key>offset</key>
                <string>{27,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,303},{464,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,718},{234,218}}</string>
                <key>offset</key>
                <string>{-44,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,332},{234,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{196,228}}</string>
                <key>offset</key>
                <string>{-19,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,334},{196,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,968},{162,214}}</string>
                <key>offset</key>
                <string>{-4,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,321},{162,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,288},{170,276}}</string>
                <key>offset</key>
                <string>{-10,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,252},{170,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{450,236}}</string>
                <key>offset</key>
                <string>{88,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,298},{450,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,234},{386,230}}</string>
                <key>offset</key>
                <string>{125,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,301},{386,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,932},{152,230}}</string>
                <key>offset</key>
                <string>{58,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{494,302},{152,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,722},{164,244}}</string>
                <key>offset</key>
                <string>{61,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,293},{164,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,912},{192,188}}</string>
                <key>offset</key>
                <string>{-21,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,340},{192,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{182,266}}</string>
                <key>offset</key>
                <string>{-17,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,260},{182,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{484,230}}</string>
                <key>offset</key>
                <string>{19,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,316},{484,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{492,220}}</string>
                <key>offset</key>
                <string>{27,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,321},{492,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,600},{216,204}}</string>
                <key>offset</key>
                <string>{9,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,327},{216,204}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{250,220}}</string>
                <key>offset</key>
                <string>{38,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,316},{250,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,794},{214,198}}</string>
                <key>offset</key>
                <string>{-32,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,340},{214,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,534},{182,240}}</string>
                <key>offset</key>
                <string>{-18,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,287},{182,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{388,294}}</string>
                <key>offset</key>
                <string>{-48,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,288},{388,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,230}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,350},{496,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{284,172}}</string>
                <key>offset</key>
                <string>{56,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,349},{284,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,600},{288,182}}</string>
                <key>offset</key>
                <string>{59,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,339},{288,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,534},{188,268}}</string>
                <key>offset</key>
                <string>{-37,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,298},{188,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,234},{114,260}}</string>
                <key>offset</key>
                <string>{5,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,302},{114,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,298},{356,300}}</string>
                <key>offset</key>
                <string>{-84,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,282},{356,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,224},{466,308}}</string>
                <key>offset</key>
                <string>{-28,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,280},{466,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,724},{230,206}}</string>
                <key>offset</key>
                <string>{40,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,350},{230,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2020_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,784},{206,184}}</string>
                <key>offset</key>
                <string>{15,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,348},{206,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2020_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f75f9ff74406028def7d7428d089c0c4:1/1$</string>
            <key>textureFileName</key>
            <string>g_2020_4.png</string>
        </dict>
    </dict>
</plist>
