<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2023_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,994},{284,304}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,254},{284,304}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,226},{276,284}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,265},{276,284}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{294,318}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,248},{294,318}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{244,302}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,256},{244,302}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,604},{278,290}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,262},{278,290}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,616},{298,284}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,265},{298,284}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,322},{300,308}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,252},{300,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,312},{302,292}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,260},{302,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{240,342}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,235},{240,342}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,354},{158,322}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,245},{158,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{168,290}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,261},{168,290}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{222,286}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,263},{222,286}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1656},{240,302}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,255},{240,302}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{284,302}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,255},{284,302}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{274,334}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,240},{274,334}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,678},{204,314}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,249},{204,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1300},{174,300}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,257},{174,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1300},{154,300}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,256},{154,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,306},{226,296}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,258},{226,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{232,308}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,253},{232,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{276,314}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,249},{276,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1238},{280,292}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,261},{280,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1602},{270,294}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,259},{270,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,632},{234,304}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,254},{234,304}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,916},{278,292}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,261},{278,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,350}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,232},{258,350}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{292,294}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,259},{292,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,298},{258,290}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,262},{258,290}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,938},{284,298}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,258},{284,298}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2023_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{304,296}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,258},{304,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2023_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c6127e7fe37a950b8ea1f8b99b47f93:1/1$</string>
            <key>textureFileName</key>
            <string>g_2023_4.png</string>
        </dict>
    </dict>
</plist>
