<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2016_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1062},{262,238}}</string>
                <key>offset</key>
                <string>{5,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,303},{262,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{256,220}}</string>
                <key>offset</key>
                <string>{12,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,305},{256,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1032},{266,234}}</string>
                <key>offset</key>
                <string>{3,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,307},{266,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,842},{254,236}}</string>
                <key>offset</key>
                <string>{0,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,308},{254,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,978},{252,222}}</string>
                <key>offset</key>
                <string>{-7,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,304},{252,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,968},{266,240}}</string>
                <key>offset</key>
                <string>{10,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,305},{266,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,452},{318,238}}</string>
                <key>offset</key>
                <string>{-16,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,308},{318,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{300,218}}</string>
                <key>offset</key>
                <string>{-15,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,306},{300,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,828},{290,232}}</string>
                <key>offset</key>
                <string>{-43,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,306},{290,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,808},{294,222}}</string>
                <key>offset</key>
                <string>{-44,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,306},{294,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,760},{272,216}}</string>
                <key>offset</key>
                <string>{-40,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,305},{272,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,594},{272,246}}</string>
                <key>offset</key>
                <string>{-39,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,306},{272,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{362,244}}</string>
                <key>offset</key>
                <string>{-28,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,296},{362,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{332,218}}</string>
                <key>offset</key>
                <string>{-31,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,322},{332,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{334,208}}</string>
                <key>offset</key>
                <string>{-51,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,329},{334,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,230}}</string>
                <key>offset</key>
                <string>{-31,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,312},{368,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{330,236}}</string>
                <key>offset</key>
                <string>{-30,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,298},{330,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,222},{326,228}}</string>
                <key>offset</key>
                <string>{-48,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,315},{326,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{296,322}}</string>
                <key>offset</key>
                <string>{-56,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,255},{296,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,692},{274,296}}</string>
                <key>offset</key>
                <string>{-52,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,289},{274,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{282,284}}</string>
                <key>offset</key>
                <string>{-56,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,289},{282,284}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,248},{344,310}}</string>
                <key>offset</key>
                <string>{-37,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,261},{344,310}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,516},{310,290}}</string>
                <key>offset</key>
                <string>{-27,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,275},{310,290}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,492},{298,266}}</string>
                <key>offset</key>
                <string>{-56,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,291},{298,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{264,350}}</string>
                <key>offset</key>
                <string>{-7,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,210},{264,350}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,258},{256,322}}</string>
                <key>offset</key>
                <string>{-11,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,240},{256,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,560},{266,302}}</string>
                <key>offset</key>
                <string>{-2,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,244},{266,302}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{254,346}}</string>
                <key>offset</key>
                <string>{3,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,215},{254,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,240},{250,324}}</string>
                <key>offset</key>
                <string>{9,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,242},{250,324}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2016_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,326},{266,304}}</string>
                <key>offset</key>
                <string>{-7,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,244},{266,304}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2016_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539e4d376ed0ef64ec8f304083e82d19:1/1$</string>
            <key>textureFileName</key>
            <string>g_2016_1.png</string>
        </dict>
    </dict>
</plist>
