<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2025_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1099},{253,267}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,126},{253,267}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,818},{251,277}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,121},{251,277}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{251,267}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,126},{251,267}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1071},{253,273}}</string>
                <key>offset</key>
                <string>{-1,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,122},{253,273}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,169},{231,295}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,112},{231,295}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{229,295}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,112},{229,295}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,169},{225,295}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,112},{225,295}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{225,293}}</string>
                <key>offset</key>
                <string>{0,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,112},{225,293}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,396},{165,295}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,112},{165,295}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{165,297}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,111},{165,297}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{165,301}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,109},{165,301}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,305}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,107},{167,305}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1326},{189,263}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,128},{189,263}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1075},{189,275}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,122},{189,275}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{189,279}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,120},{189,279}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,910},{187,277}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,121},{187,277}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,655},{253,285}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,117},{253,285}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,563},{253,285}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,117},{253,285}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,402},{251,291}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,114},{251,291}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{253,287}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,116},{253,287}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2025_0.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb333cab89d5d6e6fc37f8512f3bbd60:1/1$</string>
            <key>textureFileName</key>
            <string>g_2025_0.png</string>
        </dict>
    </dict>
</plist>
