<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_209_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,56}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,209},{28,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{26,56}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,209},{26,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{26,56}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,208},{26,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{26,56}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,209},{26,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{34,54}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,210},{34,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{34,54}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,210},{34,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{36,56}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,208},{36,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{36,54}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,210},{36,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{42,52}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,211},{42,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{42,52}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,211},{42,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{42,50}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,212},{42,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{42,50}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,212},{42,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{36,50}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,215},{36,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{34,52}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,213},{34,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{34,50}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,215},{34,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{36,50}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,215},{36,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{28,52}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,213},{28,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{28,52}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,213},{28,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{28,50}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,215},{28,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_209_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{28,50}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,215},{28,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_209_0.png</string>
            <key>size</key>
            <string>{708,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94bfea272823c913d53076d3229cc15f:1/1$</string>
            <key>textureFileName</key>
            <string>g_209_0.png</string>
        </dict>
    </dict>
</plist>
