<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2017_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,862},{196,236}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,313},{196,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,698},{196,244}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,309},{196,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,846},{192,244}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,310},{192,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,650},{194,246}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,309},{194,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{246,230}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,317},{246,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,218},{256,234}}</string>
                <key>offset</key>
                <string>{0,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,314},{256,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,212},{262,234}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,315},{262,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{252,230}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,317},{252,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{304,208}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,327},{304,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{308,214}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,324},{308,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,212}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,325},{310,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{304,208}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,327},{304,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,448},{248,200}}</string>
                <key>offset</key>
                <string>{0,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,331},{248,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,454},{248,206}}</string>
                <key>offset</key>
                <string>{0,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,328},{248,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,448},{250,200}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,332},{250,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,662},{244,198}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,333},{244,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{188,222}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,296},{188,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1040},{188,192}}</string>
                <key>offset</key>
                <string>{1,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,326},{188,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1040},{188,192}}</string>
                <key>offset</key>
                <string>{1,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,326},{188,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2017_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,896},{190,200}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,320},{190,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2017_0.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d30fad953bdf058cfd458789bb5fcab:1/1$</string>
            <key>textureFileName</key>
            <string>g_2017_0.png</string>
        </dict>
    </dict>
</plist>
