<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2029_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,726},{354,324}}</string>
                <key>offset</key>
                <string>{-33,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,195},{354,324}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{414,284}}</string>
                <key>offset</key>
                <string>{-25,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,230},{414,284}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,284}}</string>
                <key>offset</key>
                <string>{-26,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,196},{440,284}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{410,302}}</string>
                <key>offset</key>
                <string>{-19,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,216},{410,302}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,392},{382,332}}</string>
                <key>offset</key>
                <string>{-15,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,182},{382,332}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{394,338}}</string>
                <key>offset</key>
                <string>{-23,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,179},{394,338}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{364,300}}</string>
                <key>offset</key>
                <string>{-10,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,194},{364,300}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,628},{352,362}}</string>
                <key>offset</key>
                <string>{-14,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,183},{352,362}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,590},{388,366}}</string>
                <key>offset</key>
                <string>{-16,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{388,366}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{388,352}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,170},{388,352}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{360,322}}</string>
                <key>offset</key>
                <string>{5,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,194},{360,322}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,958},{372,344}}</string>
                <key>offset</key>
                <string>{-5,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,212},{372,344}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{346,384}}</string>
                <key>offset</key>
                <string>{-15,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,158},{346,384}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,624},{378,362}}</string>
                <key>offset</key>
                <string>{-37,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,172},{378,362}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,342},{384,284}}</string>
                <key>offset</key>
                <string>{-34,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,232},{384,284}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1566},{356,328}}</string>
                <key>offset</key>
                <string>{-24,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,220},{356,328}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,288},{334,394}}</string>
                <key>offset</key>
                <string>{0,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,158},{334,394}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,276},{410,312}}</string>
                <key>offset</key>
                <string>{-26,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,220},{410,312}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{436,272}}</string>
                <key>offset</key>
                <string>{-11,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,261},{436,272}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
            <key>g_2029_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{388,322}}</string>
                <key>offset</key>
                <string>{-35,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,219},{388,322}}</string>
                <key>sourceSize</key>
                <string>{886,886}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2029_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bb496f5cb7a8fb98ecf27c297dfe2be:1/1$</string>
            <key>textureFileName</key>
            <string>g_2029_0.png</string>
        </dict>
    </dict>
</plist>
