<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2027_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{323,283}}</string>
                <key>offset</key>
                <string>{69,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,233},{323,283}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,887},{321,277}}</string>
                <key>offset</key>
                <string>{56,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,236},{321,277}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,305},{309,265}}</string>
                <key>offset</key>
                <string>{49,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,242},{309,265}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1539},{293,251}}</string>
                <key>offset</key>
                <string>{43,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,247},{293,251}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1620},{291,255}}</string>
                <key>offset</key>
                <string>{39,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,247},{291,255}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1162},{313,275}}</string>
                <key>offset</key>
                <string>{62,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,238},{313,275}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,550},{335,301}}</string>
                <key>offset</key>
                <string>{77,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,223},{335,301}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,287},{341,303}}</string>
                <key>offset</key>
                <string>{77,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,223},{341,303}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,2},{349,283}}</string>
                <key>offset</key>
                <string>{77,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,232},{349,283}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{365,271}}</string>
                <key>offset</key>
                <string>{77,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,238},{365,271}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,275},{359,273}}</string>
                <key>offset</key>
                <string>{77,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,238},{359,273}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{345,301}}</string>
                <key>offset</key>
                <string>{80,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,225},{345,301}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,305},{295,333}}</string>
                <key>offset</key>
                <string>{35,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,228},{295,333}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,327},{313,337}}</string>
                <key>offset</key>
                <string>{38,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,224},{313,337}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{349,333}}</string>
                <key>offset</key>
                <string>{52,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,224},{349,333}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,319}}</string>
                <key>offset</key>
                <string>{69,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,227},{371,319}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{359,323}}</string>
                <key>offset</key>
                <string>{74,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,225},{359,323}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{323,333}}</string>
                <key>offset</key>
                <string>{43,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,225},{323,333}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1102},{247,317}}</string>
                <key>offset</key>
                <string>{-27,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,236},{247,317}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,642},{261,331}}</string>
                <key>offset</key>
                <string>{-16,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,229},{261,331}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,602},{281,333}}</string>
                <key>offset</key>
                <string>{7,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,223},{281,333}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,592},{293,333}}</string>
                <key>offset</key>
                <string>{25,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,219},{293,333}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,885},{285,331}}</string>
                <key>offset</key>
                <string>{27,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,225},{285,331}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,853},{247,325}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,232},{247,325}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1620},{289,291}}</string>
                <key>offset</key>
                <string>{-37,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,254},{289,291}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,616},{283,301}}</string>
                <key>offset</key>
                <string>{-37,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,253},{283,301}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1351},{267,309}}</string>
                <key>offset</key>
                <string>{-34,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,249},{267,309}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,905},{255,317}}</string>
                <key>offset</key>
                <string>{-33,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,244},{255,317}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{269,315}}</string>
                <key>offset</key>
                <string>{-36,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,246},{269,315}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,901},{299,297}}</string>
                <key>offset</key>
                <string>{-43,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,255},{299,297}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2027_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca2bd5fbc47fe08f9041b6640110cc3c:1/1$</string>
            <key>textureFileName</key>
            <string>g_2027_1.png</string>
        </dict>
    </dict>
</plist>
