<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2010_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1146},{204,262}}</string>
                <key>offset</key>
                <string>{31,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,297},{204,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,936},{208,264}}</string>
                <key>offset</key>
                <string>{30,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,296},{208,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,946},{210,262}}</string>
                <key>offset</key>
                <string>{31,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,297},{210,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{212,262}}</string>
                <key>offset</key>
                <string>{31,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,297},{212,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1158},{210,260}}</string>
                <key>offset</key>
                <string>{31,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,298},{210,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{202,262}}</string>
                <key>offset</key>
                <string>{31,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,296},{202,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{292,248}}</string>
                <key>offset</key>
                <string>{42,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,301},{292,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{280,252}}</string>
                <key>offset</key>
                <string>{42,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{280,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,454},{274,246}}</string>
                <key>offset</key>
                <string>{41,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,302},{274,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,702},{266,242}}</string>
                <key>offset</key>
                <string>{42,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,305},{266,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{294,242}}</string>
                <key>offset</key>
                <string>{42,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,305},{294,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,246},{284,244}}</string>
                <key>offset</key>
                <string>{42,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,304},{284,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,218}}</string>
                <key>offset</key>
                <string>{29,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,309},{298,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{290,226}}</string>
                <key>offset</key>
                <string>{29,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,304},{290,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{264,220}}</string>
                <key>offset</key>
                <string>{30,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,308},{264,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,714},{264,220}}</string>
                <key>offset</key>
                <string>{29,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,307},{264,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,492},{272,220}}</string>
                <key>offset</key>
                <string>{29,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,308},{272,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,230},{286,222}}</string>
                <key>offset</key>
                <string>{30,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,306},{286,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1594},{204,220}}</string>
                <key>offset</key>
                <string>{0,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,308},{204,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1802},{216,220}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,308},{216,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{226,236}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,300},{226,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1352},{234,238}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,298},{234,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1158},{226,228}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,304},{226,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1802},{214,220}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,307},{214,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1386},{200,236}}</string>
                <key>offset</key>
                <string>{20,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,307},{200,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{206,228}}</string>
                <key>offset</key>
                <string>{20,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,312},{206,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1586},{214,234}}</string>
                <key>offset</key>
                <string>{20,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,309},{214,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1370},{214,236}}</string>
                <key>offset</key>
                <string>{20,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,308},{214,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,946},{210,224}}</string>
                <key>offset</key>
                <string>{19,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,314},{210,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1802},{200,232}}</string>
                <key>offset</key>
                <string>{20,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,310},{200,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2010_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:933a332e5ec6b353fea02c769b0b85d8:1/1$</string>
            <key>textureFileName</key>
            <string>g_2010_1.png</string>
        </dict>
    </dict>
</plist>
