<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2011_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{140,146}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,135},{140,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,584},{142,148}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,135},{142,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,446},{144,154}}</string>
                <key>offset</key>
                <string>{15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,132},{144,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,536},{148,152}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,132},{148,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{146,144}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,136},{146,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,858},{144,144}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,136},{144,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,282},{124,160}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,128},{124,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{126,162}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,128},{126,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{130,164}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,127},{130,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,158},{136,162}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,127},{136,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{130,156}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,130},{130,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,296},{130,158}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,130},{130,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,162},{122,160}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,127},{122,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{132,158}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,128},{132,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,286},{142,158}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,129},{142,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,430},{136,158}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,129},{136,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,408},{126,158}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,128},{126,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,278},{120,160}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,127},{120,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{158,160}}</string>
                <key>offset</key>
                <string>{6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,126},{158,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{164,154}}</string>
                <key>offset</key>
                <string>{6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,128},{164,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,148}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,131},{168,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{164,142}}</string>
                <key>offset</key>
                <string>{6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,134},{164,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{156,148}}</string>
                <key>offset</key>
                <string>{6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,132},{156,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,428},{154,156}}</string>
                <key>offset</key>
                <string>{6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,127},{154,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,296},{158,148}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,132},{158,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,400},{158,140}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,136},{158,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,134},{162,146}}</string>
                <key>offset</key>
                <string>{16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,133},{162,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{162,150}}</string>
                <key>offset</key>
                <string>{17,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,130},{162,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,154},{160,140}}</string>
                <key>offset</key>
                <string>{17,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,135},{160,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_2011_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,130},{160,146}}</string>
                <key>offset</key>
                <string>{17,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,132},{160,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2011_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f4a898bc7dc19fe10f4cf7434e6a303:1/1$</string>
            <key>textureFileName</key>
            <string>g_2011_1.png</string>
        </dict>
    </dict>
</plist>
