<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2026_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,404},{310,402}}</string>
                <key>offset</key>
                <string>{-50,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,77},{310,402}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,808},{278,362}}</string>
                <key>offset</key>
                <string>{-26,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,106},{278,362}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{438,364}}</string>
                <key>offset</key>
                <string>{49,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,104},{438,364}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,806},{404,364}}</string>
                <key>offset</key>
                <string>{79,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,126},{404,364}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1172},{354,374}}</string>
                <key>offset</key>
                <string>{59,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,112},{354,374}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1738},{328,294}}</string>
                <key>offset</key>
                <string>{83,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,204},{328,294}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,416},{308,390}}</string>
                <key>offset</key>
                <string>{-36,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,90},{308,390}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1548},{338,352}}</string>
                <key>offset</key>
                <string>{21,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,125},{338,352}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,398},{416,364}}</string>
                <key>offset</key>
                <string>{58,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,116},{416,364}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,404},{418,400}}</string>
                <key>offset</key>
                <string>{51,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,113},{418,400}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{404,394}}</string>
                <key>offset</key>
                <string>{44,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,129},{404,394}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,808},{358,276}}</string>
                <key>offset</key>
                <string>{26,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,211},{358,276}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,2},{412,286}}</string>
                <key>offset</key>
                <string>{7,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,174},{412,286}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1154},{384,356}}</string>
                <key>offset</key>
                <string>{6,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,129},{384,356}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{446,400}}</string>
                <key>offset</key>
                <string>{18,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,121},{446,400}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,400}}</string>
                <key>offset</key>
                <string>{18,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,121},{456,400}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{470,386}}</string>
                <key>offset</key>
                <string>{17,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,128},{470,386}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1168},{350,286}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,235},{350,286}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1540},{366,266}}</string>
                <key>offset</key>
                <string>{7,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,203},{366,266}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,816},{278,326}}</string>
                <key>offset</key>
                <string>{0,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,152},{278,326}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1548},{346,352}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,153},{346,352}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{426,370}}</string>
                <key>offset</key>
                <string>{-11,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,143},{426,370}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1172},{436,328}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,158},{436,328}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1760},{298,258}}</string>
                <key>offset</key>
                <string>{-31,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,227},{298,258}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,374},{322,242}}</string>
                <key>offset</key>
                <string>{29,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,226},{322,242}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1456},{276,302}}</string>
                <key>offset</key>
                <string>{19,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,184},{276,302}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,816},{404,336}}</string>
                <key>offset</key>
                <string>{-40,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,133},{404,336}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{450,342}}</string>
                <key>offset</key>
                <string>{-42,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,125},{450,342}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1768},{378,278}}</string>
                <key>offset</key>
                <string>{-25,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,190},{378,278}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
            <key>g_2026_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1502},{328,234}}</string>
                <key>offset</key>
                <string>{-71,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,229},{328,234}}</string>
                <key>sourceSize</key>
                <string>{844,844}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2026_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a79864c45851072605508c8f6aeb2855:1/1$</string>
            <key>textureFileName</key>
            <string>g_2026_4.png</string>
        </dict>
    </dict>
</plist>
