<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2028_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,308}}</string>
                <key>offset</key>
                <string>{6,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,178},{418,308}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{398,258}}</string>
                <key>offset</key>
                <string>{-12,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,202},{398,258}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,308}}</string>
                <key>offset</key>
                <string>{6,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,178},{418,308}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{398,258}}</string>
                <key>offset</key>
                <string>{-12,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,202},{398,258}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,308}}</string>
                <key>offset</key>
                <string>{6,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,178},{418,308}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{398,258}}</string>
                <key>offset</key>
                <string>{-12,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,202},{398,258}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{356,312}}</string>
                <key>offset</key>
                <string>{-12,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,176},{356,312}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{366,278}}</string>
                <key>offset</key>
                <string>{10,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,186},{366,278}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{356,312}}</string>
                <key>offset</key>
                <string>{-12,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,176},{356,312}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{366,278}}</string>
                <key>offset</key>
                <string>{10,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,186},{366,278}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{356,312}}</string>
                <key>offset</key>
                <string>{-12,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,176},{356,312}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{366,278}}</string>
                <key>offset</key>
                <string>{10,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,186},{366,278}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,882},{320,302}}</string>
                <key>offset</key>
                <string>{-26,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,181},{320,302}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,888},{292,320}}</string>
                <key>offset</key>
                <string>{13,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,167},{292,320}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,882},{320,302}}</string>
                <key>offset</key>
                <string>{-26,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,181},{320,302}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,888},{292,320}}</string>
                <key>offset</key>
                <string>{13,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,167},{292,320}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,882},{320,302}}</string>
                <key>offset</key>
                <string>{-26,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,181},{320,302}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,888},{292,320}}</string>
                <key>offset</key>
                <string>{13,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,167},{292,320}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,532},{354,248}}</string>
                <key>offset</key>
                <string>{-23,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,207},{354,248}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,532},{366,348}}</string>
                <key>offset</key>
                <string>{10,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,156},{366,348}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,532},{354,248}}</string>
                <key>offset</key>
                <string>{-23,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,207},{354,248}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,532},{366,348}}</string>
                <key>offset</key>
                <string>{10,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,156},{366,348}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,532},{354,248}}</string>
                <key>offset</key>
                <string>{-23,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,207},{354,248}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,532},{366,348}}</string>
                <key>offset</key>
                <string>{10,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,156},{366,348}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{418,220}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,215},{418,220}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,224},{398,306}}</string>
                <key>offset</key>
                <string>{-4,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,175},{398,306}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{418,220}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,215},{418,220}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,224},{398,306}}</string>
                <key>offset</key>
                <string>{-4,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,175},{398,306}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{418,220}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,215},{418,220}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,224},{398,306}}</string>
                <key>offset</key>
                <string>{-4,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,175},{398,306}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2028_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ba08994ebf0b08f15749eb166b77855:1/1$</string>
            <key>textureFileName</key>
            <string>g_2028_1.png</string>
        </dict>
    </dict>
</plist>
