<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2030_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,355},{309,397}}</string>
                <key>offset</key>
                <string>{-14,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,125},{309,397}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,357},{305,397}}</string>
                <key>offset</key>
                <string>{-16,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,127},{305,397}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{303,397}}</string>
                <key>offset</key>
                <string>{-16,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,125},{303,397}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,349},{305,399}}</string>
                <key>offset</key>
                <string>{-19,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,122},{305,399}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{423,353}}</string>
                <key>offset</key>
                <string>{-12,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,130},{423,353}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{423,351}}</string>
                <key>offset</key>
                <string>{-12,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,131},{423,351}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,357}}</string>
                <key>offset</key>
                <string>{-11,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,125},{423,357}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{421,345}}</string>
                <key>offset</key>
                <string>{-14,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,130},{421,345}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{371,335}}</string>
                <key>offset</key>
                <string>{-6,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,136},{371,335}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,664},{373,339}}</string>
                <key>offset</key>
                <string>{-4,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,138},{373,339}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,681},{375,341}}</string>
                <key>offset</key>
                <string>{-8,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,133},{375,341}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,656},{379,333}}</string>
                <key>offset</key>
                <string>{-6,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,135},{379,333}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{231,329}}</string>
                <key>offset</key>
                <string>{-24,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,142},{231,329}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,456},{223,349}}</string>
                <key>offset</key>
                <string>{-22,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,140},{223,349}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{227,345}}</string>
                <key>offset</key>
                <string>{-23,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,143},{227,345}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,231},{223,345}}</string>
                <key>offset</key>
                <string>{-24,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,141},{223,345}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,957},{307,289}}</string>
                <key>offset</key>
                <string>{-17,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,149},{307,289}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,666},{307,289}}</string>
                <key>offset</key>
                <string>{-19,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,148},{307,289}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1005},{305,291}}</string>
                <key>offset</key>
                <string>{-20,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,147},{305,291}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
            <key>g_2030_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{303,295}}</string>
                <key>offset</key>
                <string>{-21,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,146},{303,295}}</string>
                <key>sourceSize</key>
                <string>{841,841}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2030_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b475c629bd10ec55d233b56ae8720eb5:1/1$</string>
            <key>textureFileName</key>
            <string>g_2030_0.png</string>
        </dict>
    </dict>
</plist>
