<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_202_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{66,74}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,134},{66,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,78},{66,72}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,136},{66,72}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,76},{66,72}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,136},{66,72}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{66,72}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,136},{66,72}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,152},{60,74}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,139},{60,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,154},{60,74}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,139},{60,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,154},{60,74}}</string>
                <key>offset</key>
                <string>{9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,139},{60,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,154},{60,74}}</string>
                <key>offset</key>
                <string>{9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,139},{60,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{68,74}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,149},{68,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,78},{68,74}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,149},{68,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{68,74}}</string>
                <key>offset</key>
                <string>{14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,150},{68,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,78},{66,74}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,149},{66,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{76,72}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,154},{76,72}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,72}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,154},{76,72}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,76},{74,72}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,154},{74,72}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{74,72}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,154},{74,72}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{66,76}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,154},{66,76}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{66,74}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,156},{66,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,78},{66,74}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,156},{66,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_202_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,150},{66,74}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,156},{66,74}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_202_0.png</string>
            <key>size</key>
            <string>{500,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d43d6b315bf5bdbac7ab299a82fdd86:1/1$</string>
            <key>textureFileName</key>
            <string>g_202_0.png</string>
        </dict>
    </dict>
</plist>
