<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2010_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,790},{200,256}}</string>
                <key>offset</key>
                <string>{26,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,297},{200,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{186,262}}</string>
                <key>offset</key>
                <string>{15,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,298},{186,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,174},{170,272}}</string>
                <key>offset</key>
                <string>{16,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,298},{170,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,230},{176,264}}</string>
                <key>offset</key>
                <string>{19,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,305},{176,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{184,254}}</string>
                <key>offset</key>
                <string>{-7,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,302},{184,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,230},{178,264}}</string>
                <key>offset</key>
                <string>{-7,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,294},{178,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,992},{228,254}}</string>
                <key>offset</key>
                <string>{49,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,300},{228,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,634},{228,256}}</string>
                <key>offset</key>
                <string>{35,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,301},{228,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{194,258}}</string>
                <key>offset</key>
                <string>{-2,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,311},{194,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,346},{186,262}}</string>
                <key>offset</key>
                <string>{26,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,306},{186,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,864},{232,254}}</string>
                <key>offset</key>
                <string>{43,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,301},{232,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,410},{222,260}}</string>
                <key>offset</key>
                <string>{38,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,295},{222,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1128},{232,250}}</string>
                <key>offset</key>
                <string>{13,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,307},{232,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{220,232}}</string>
                <key>offset</key>
                <string>{13,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,309},{220,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{256,248}}</string>
                <key>offset</key>
                <string>{-67,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,312},{256,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1222},{226,246}}</string>
                <key>offset</key>
                <string>{-5,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,313},{226,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{284,226}}</string>
                <key>offset</key>
                <string>{65,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,320},{284,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1098},{250,242}}</string>
                <key>offset</key>
                <string>{50,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,312},{250,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{158,232}}</string>
                <key>offset</key>
                <string>{-17,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,307},{158,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{164,226}}</string>
                <key>offset</key>
                <string>{-20,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,309},{164,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,534},{258,254}}</string>
                <key>offset</key>
                <string>{-67,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,283},{258,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{220,268}}</string>
                <key>offset</key>
                <string>{-30,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,269},{220,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,892},{246,234}}</string>
                <key>offset</key>
                <string>{26,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,333},{246,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1450},{212,228}}</string>
                <key>offset</key>
                <string>{9,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,322},{212,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,496},{200,224}}</string>
                <key>offset</key>
                <string>{-28,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,307},{200,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{186,222}}</string>
                <key>offset</key>
                <string>{-18,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,309},{186,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{170,300}}</string>
                <key>offset</key>
                <string>{-19,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,231},{170,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,300}}</string>
                <key>offset</key>
                <string>{-21,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,231},{178,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,698},{192,236}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,353},{192,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>g_2010_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1342},{186,230}}</string>
                <key>offset</key>
                <string>{1,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,331},{186,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2010_4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:259cf77640ea6fce66e33929e974ef90:1/1$</string>
            <key>textureFileName</key>
            <string>g_2010_4.png</string>
        </dict>
    </dict>
</plist>
