<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2028_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,278}}</string>
                <key>offset</key>
                <string>{-2,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,175},{360,278}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,278},{348,288}}</string>
                <key>offset</key>
                <string>{-4,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,188},{348,288}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,852},{340,284}}</string>
                <key>offset</key>
                <string>{-6,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,190},{340,284}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{348,276}}</string>
                <key>offset</key>
                <string>{-6,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,194},{348,276}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1740},{298,304}}</string>
                <key>offset</key>
                <string>{-10,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,179},{298,304}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{298,314}}</string>
                <key>offset</key>
                <string>{-2,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,163},{298,314}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1694},{290,310}}</string>
                <key>offset</key>
                <string>{3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,171},{290,310}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1740},{290,296}}</string>
                <key>offset</key>
                <string>{-5,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,176},{290,296}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,616},{262,318}}</string>
                <key>offset</key>
                <string>{-16,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,173},{262,318}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1430},{262,322}}</string>
                <key>offset</key>
                <string>{-10,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,170},{262,322}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1170},{272,326}}</string>
                <key>offset</key>
                <string>{-1,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,167},{272,326}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,352},{262,308}}</string>
                <key>offset</key>
                <string>{-6,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,173},{262,308}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,880},{332,288}}</string>
                <key>offset</key>
                <string>{-19,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,186},{332,288}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{344,298}}</string>
                <key>offset</key>
                <string>{-20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,181},{344,298}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{348,296}}</string>
                <key>offset</key>
                <string>{-19,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,182},{348,296}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{338,290}}</string>
                <key>offset</key>
                <string>{-20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,185},{338,290}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,274}}</string>
                <key>offset</key>
                <string>{-24,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,192},{360,274}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,568},{348,282}}</string>
                <key>offset</key>
                <string>{-29,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,188},{348,282}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1138},{338,290}}</string>
                <key>offset</key>
                <string>{-35,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,183},{338,290}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
            <key>g_2028_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{348,286}}</string>
                <key>offset</key>
                <string>{-33,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,185},{348,286}}</string>
                <key>sourceSize</key>
                <string>{806,806}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2028_0.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3fb65449218a8d37fae686d127ffa08:1/1$</string>
            <key>textureFileName</key>
            <string>g_2028_0.png</string>
        </dict>
    </dict>
</plist>
