<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_207_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,60}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,207},{44,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{46,60}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,209},{46,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{46,60}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,209},{46,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{44,60}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,208},{44,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{80,54}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,215},{80,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{84,54}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,215},{84,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{86,52}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,217},{86,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{84,54}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,215},{84,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{106,44}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,221},{106,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{108,42}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,223},{108,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{108,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,223},{108,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,64},{104,42}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,223},{104,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,64},{80,48}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,218},{80,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,64},{82,46}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,220},{82,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,64},{82,46}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,220},{82,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,64},{82,46}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,220},{82,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,64},{46,50}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,215},{46,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,64},{44,52}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,216},{44,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,64},{46,54}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,216},{46,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_207_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,64},{44,52}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,215},{44,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_207_0.png</string>
            <key>size</key>
            <string>{750,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e7df3fa3ea31812268e0b11bc9dc54:1/1$</string>
            <key>textureFileName</key>
            <string>g_207_0.png</string>
        </dict>
    </dict>
</plist>
