<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_205_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,111},{111,119}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,73},{111,119}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,111},{111,123}}</string>
                <key>offset</key>
                <string>{-10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,72},{111,123}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,111},{111,123}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,73},{111,123}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,111},{111,119}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,74},{111,119}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,111},{81,121}}</string>
                <key>offset</key>
                <string>{-19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,75},{81,121}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,111},{79,125}}</string>
                <key>offset</key>
                <string>{-19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,74},{79,125}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,111},{81,125}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,76},{81,125}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,111},{87,121}}</string>
                <key>offset</key>
                <string>{-20,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,77},{87,121}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,107}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,81},{75,107}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{79,107}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,82},{79,107}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{83,107}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,83},{83,107}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{81,103}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{81,103}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{101,85}}</string>
                <key>offset</key>
                <string>{-13,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,89},{101,85}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{105,85}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,88},{105,85}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{115,81}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,90},{115,81}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{109,81}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,91},{109,81}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,111},{111,91}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,90},{111,91}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{111,89}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,92},{111,89}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{113,87}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,94},{113,87}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{111,87}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,94},{111,87}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_205_0.png</string>
            <key>size</key>
            <string>{1018,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e10494ee84b10671fee5a9a05c463924:1/1$</string>
            <key>textureFileName</key>
            <string>g_205_0.png</string>
        </dict>
    </dict>
</plist>
