<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2025_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,524},{251,277}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,121},{251,277}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{255,289}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,115},{255,289}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{245,287}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,116},{245,287}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,293},{235,287}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,116},{235,287}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,817},{245,277}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,121},{245,277}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1465},{251,287}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,116},{251,287}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,564},{207,287}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,116},{207,287}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,293},{229,299}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,110},{229,299}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,297}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,111},{249,297}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{255,289}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,115},{255,289}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{245,293}}</string>
                <key>offset</key>
                <string>{0,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,112},{245,293}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1678},{195,291}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,114},{195,291}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1645},{179,293}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,113},{179,293}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1100},{181,297}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,111},{181,297}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1460},{183,291}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,114},{183,291}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1383},{195,293}}</string>
                <key>offset</key>
                <string>{0,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,112},{195,293}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1389},{185,297}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,111},{185,297}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1283},{175,299}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,110},{175,299}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,582},{233,289}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,115},{233,289}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,277},{213,285}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,117},{213,285}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1096},{191,291}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,114},{191,291}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1688},{189,293}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,113},{189,293}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1645},{183,287}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,116},{183,287}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,803},{229,295}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,112},{229,295}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{251,287}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,116},{251,287}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{255,273}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,123},{255,273}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,853},{245,271}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,124},{245,271}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1100},{235,281}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,119},{235,281}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{245,289}}</string>
                <key>offset</key>
                <string>{0,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,114},{245,289}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
            <key>g_2025_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{251,281}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,119},{251,281}}</string>
                <key>sourceSize</key>
                <string>{731,731}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2025_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3187d9aef1b36b6070a91f1aee916180:1/1$</string>
            <key>textureFileName</key>
            <string>g_2025_1.png</string>
        </dict>
    </dict>
</plist>
