<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_205_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{81,113}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,67},{81,113}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,208},{79,109}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,70},{79,109}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,208},{79,113}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,68},{79,113}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,331},{89,117}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,68},{89,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,331},{91,123}}</string>
                <key>offset</key>
                <string>{-9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,69},{91,123}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,331},{89,123}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,68},{89,123}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,208},{81,109}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,72},{81,109}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,101},{79,105}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,76},{79,105}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,208},{79,113}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,75},{79,113}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,331},{83,117}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,72},{83,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,208},{75,121}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,73},{75,121}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,208},{73,119}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,71},{73,119}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{79,95}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,81},{79,95}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{77,91}}</string>
                <key>offset</key>
                <string>{-9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,85},{77,91}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{71,97}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,85},{71,97}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{81,97}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,82},{81,97}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,208},{85,101}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,85},{85,101}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,101},{81,101}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,83},{81,101}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{95,79}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,91},{95,79}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,101},{93,85}}</string>
                <key>offset</key>
                <string>{-10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,94},{93,85}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{97,87}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,94},{97,87}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,331},{101,91}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,91},{101,91}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,331},{103,89}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,93},{103,89}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,101},{95,85}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,93},{95,85}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{81,91}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,86},{81,91}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,83}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,90},{79,83}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,87}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,90},{79,87}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,101},{89,91}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,86},{89,91}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,101},{91,87}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,91},{91,87}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>g_205_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{89,87}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,89},{89,87}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_205_1.png</string>
            <key>size</key>
            <string>{668,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db20b6634c2d398772137fc473720cc:1/1$</string>
            <key>textureFileName</key>
            <string>g_205_1.png</string>
        </dict>
    </dict>
</plist>
