<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_206_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{70,90}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,177},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,94},{44,94}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,174},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,94},{44,96}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,172},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{44,90}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,178},{44,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,94},{44,92}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,176},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{46,88}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,179},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,94},{58,92}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,173},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,94},{52,92}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,173},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,94},{36,104}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{36,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{48,90}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,176},{48,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,94},{52,92}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,174},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{54,90}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,175},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,94},{50,90}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,176},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{62,88}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,178},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,94},{36,108}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,158},{36,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,94},{44,102}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,165},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{64,88}}</string>
                <key>offset</key>
                <string>{13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,179},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{54,90}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,177},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{64,84}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,181},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{62,82}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,183},{62,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,94},{50,108}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,156},{50,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,94},{54,106}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,159},{54,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{62,80}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,185},{62,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{58,86}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,179},{58,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{70,84}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,181},{70,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{42,82}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,183},{42,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,94},{44,110}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,155},{44,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,94},{44,106}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,159},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,78}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,187},{44,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_206_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{44,86}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,179},{44,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_206_4.png</string>
            <key>size</key>
            <string>{816,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6bb6fbb53a7219c323e20b0abd1c1fc:1/1$</string>
            <key>textureFileName</key>
            <string>g_206_4.png</string>
        </dict>
    </dict>
</plist>
