<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_208_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,392},{120,102}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,162},{120,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,290},{122,98}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,165},{122,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,392},{120,102}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,164},{120,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,392},{122,104}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,162},{122,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,190},{120,98}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,165},{120,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,290},{120,98}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,164},{120,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,190},{96,96}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,166},{96,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{96,100}}</string>
                <key>offset</key>
                <string>{22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{96,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{96,98}}</string>
                <key>offset</key>
                <string>{19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,167},{96,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,190},{98,96}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,166},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,92},{104,94}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,170},{104,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,92},{100,92}}</string>
                <key>offset</key>
                <string>{15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,168},{100,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,290},{76,98}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,168},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,290},{62,98}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,171},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,290},{66,98}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,170},{66,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,290},{74,100}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,169},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,392},{68,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,173},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,392},{60,100}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,169},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,92},{102,94}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{102,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,92},{104,94}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,177},{104,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,92},{104,96}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{104,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,190},{106,96}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,175},{106,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{104,96}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,177},{104,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,190},{102,96}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,175},{102,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{120,86}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,175},{120,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{122,88}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,178},{122,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,82}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,178},{120,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{122,82}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,176},{122,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{120,88}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,177},{120,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_208_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{120,82}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,177},{120,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_208_1.png</string>
            <key>size</key>
            <string>{648,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e4b234633a3717cfd4dfda736e95793:1/1$</string>
            <key>textureFileName</key>
            <string>g_208_1.png</string>
        </dict>
    </dict>
</plist>
