<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_2027_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1506},{273,299}}</string>
                <key>offset</key>
                <string>{81,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,200},{273,299}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1774},{271,367}}</string>
                <key>offset</key>
                <string>{-28,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,136},{271,367}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1630},{225,345}}</string>
                <key>offset</key>
                <string>{-19,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,158},{225,345}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,722},{347,289}}</string>
                <key>offset</key>
                <string>{95,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,208},{347,289}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{479,303}}</string>
                <key>offset</key>
                <string>{34,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,193},{479,303}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,313},{407,251}}</string>
                <key>offset</key>
                <string>{33,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,245},{407,251}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1508},{237,315}}</string>
                <key>offset</key>
                <string>{7,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,158},{237,315}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{385,445}}</string>
                <key>offset</key>
                <string>{-58,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,35},{385,445}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,293},{345,407}}</string>
                <key>offset</key>
                <string>{-59,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,75},{345,407}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,824},{351,297}}</string>
                <key>offset</key>
                <string>{34,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,178},{351,297}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1051},{423,253}}</string>
                <key>offset</key>
                <string>{111,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,218},{423,253}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1658},{369,257}}</string>
                <key>offset</key>
                <string>{82,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,219},{369,257}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,694},{365,343}}</string>
                <key>offset</key>
                <string>{-67,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,163},{365,343}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1303},{313,469}}</string>
                <key>offset</key>
                <string>{-72,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,43},{313,469}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,375},{335,447}}</string>
                <key>offset</key>
                <string>{-72,165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,57},{335,447}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,702},{333,347}}</string>
                <key>offset</key>
                <string>{-40,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,139},{333,347}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1199},{457,255}}</string>
                <key>offset</key>
                <string>{123,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,251},{457,255}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1071},{433,261}}</string>
                <key>offset</key>
                <string>{116,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,249},{433,261}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,313},{377,379}}</string>
                <key>offset</key>
                <string>{-104,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,129},{377,379}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1177},{227,451}}</string>
                <key>offset</key>
                <string>{-22,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,69},{227,451}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1508},{247,451}}</string>
                <key>offset</key>
                <string>{-33,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,57},{247,451}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,824},{403,373}}</string>
                <key>offset</key>
                <string>{-76,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,114},{403,373}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{489,295}}</string>
                <key>offset</key>
                <string>{84,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,269},{489,295}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,2},{469,289}}</string>
                <key>offset</key>
                <string>{47,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,269},{469,289}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,299},{283,431}}</string>
                <key>offset</key>
                <string>{-77,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,92},{283,431}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1590},{315,439}}</string>
                <key>offset</key>
                <string>{59,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,78},{315,439}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1071},{267,435}}</string>
                <key>offset</key>
                <string>{61,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,83},{267,435}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1199},{369,389}}</string>
                <key>offset</key>
                <string>{-83,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,128},{369,389}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,371}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,260},{531,371}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
            <key>g_2027_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{467,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,291},{467,309}}</string>
                <key>sourceSize</key>
                <string>{891,891}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_2027_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acab08be3a2cb4e25070451ca844163e:1/1$</string>
            <key>textureFileName</key>
            <string>g_2027_4.png</string>
        </dict>
    </dict>
</plist>
