<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_217_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,845},{73,107}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,126},{73,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{77,95}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,130},{77,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,645},{79,97}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,129},{79,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,845},{83,109}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,127},{83,109}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,455},{75,93}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,131},{75,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{73,97}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,129},{73,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{77,93}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,129},{77,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,362},{77,91}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,132},{77,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,744},{85,99}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,129},{85,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{91,105}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,127},{91,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,744},{85,99}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,130},{85,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{75,91}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,130},{75,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,362},{63,91}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,132},{63,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,269},{61,91}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,135},{61,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,550},{63,93}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,132},{63,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{67,91}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,132},{67,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,550},{63,93}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,133},{63,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,178},{61,89}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,133},{61,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,645},{71,95}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,131},{71,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{69,91}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,135},{69,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,89},{63,87}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,133},{63,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,83}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,132},{59,83}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,79}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,137},{61,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{65,89}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,133},{65,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,269},{73,91}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,136},{73,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,178},{77,89}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,136},{77,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{81,85}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,137},{81,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,455},{85,93}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,134},{85,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,89},{75,87}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,137},{75,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_217_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{73,85}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,138},{73,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_217_1.png</string>
            <key>size</key>
            <string>{255,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91959a0dbfb0eaab7231c390db6d4756:1/1$</string>
            <key>textureFileName</key>
            <string>g_217_1.png</string>
        </dict>
    </dict>
</plist>
