<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_217_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{70,96}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,93},{70,96}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{70,96}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,93},{70,96}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{70,96}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,93},{70,96}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,100},{70,96}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,93},{70,96}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,100},{80,102}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,96},{80,102}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,100},{78,100}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,97},{78,100}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,100},{78,102}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,95},{78,102}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,100},{78,100}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,97},{78,100}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,100},{66,98}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,99},{66,98}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,100},{64,98}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,99},{64,98}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,100},{64,98}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,99},{64,98}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,100},{64,98}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,99},{64,98}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{66,88}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,109},{66,88}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{68,88}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,109},{68,88}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{68,92}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,105},{68,92}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{68,88}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,109},{68,88}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{70,80}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,107},{70,80}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,78}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,109},{70,78}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,78}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,109},{70,78}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
            <key>g_217_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,78}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,109},{70,78}}</string>
                <key>sourceSize</key>
                <string>{370,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_217_0.png</string>
            <key>size</key>
            <string>{734,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:976637331d90fcb11d9a35339c7e5c42:1/1$</string>
            <key>textureFileName</key>
            <string>g_217_0.png</string>
        </dict>
    </dict>
</plist>
