<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_213_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,65}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,106},{29,65}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,67}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,104},{29,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{29,67}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,104},{29,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,71},{29,67}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,104},{29,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{45,59}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,107},{45,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{45,59}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,107},{45,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{45,59}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,108},{45,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{45,59}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,107},{45,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{57,47}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,114},{57,47}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{57,47}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,114},{57,47}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{57,49}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,113},{57,49}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{57,47}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,114},{57,47}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{43,41}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,119},{43,41}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{45,41}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,119},{45,41}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{43,41}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,119},{43,41}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{43,41}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,119},{43,41}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{29,39}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,120},{29,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,754},{27,39}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,120},{27,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{27,39}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,119},{27,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,795},{29,39}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,120},{29,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_213_0.png</string>
            <key>size</key>
            <string>{64,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f437a6838b3b0707ef6751c18c0c6e:1/1$</string>
            <key>textureFileName</key>
            <string>g_213_0.png</string>
        </dict>
    </dict>
</plist>
