<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_212_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,77},{29,93}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,150},{29,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{31,73}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,167},{31,73}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,77},{37,81}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,160},{37,81}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,77},{41,109}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,141},{41,109}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,77},{29,83}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,166},{29,83}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,77},{31,89}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,160},{31,89}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,77},{49,91}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,153},{49,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{79,61}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,179},{79,61}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{75,73}}</string>
                <key>offset</key>
                <string>{15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,171},{75,73}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,77},{47,107}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,144},{47,107}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,77},{43,83}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,167},{43,83}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,77},{43,89}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,160},{43,89}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,77},{65,85}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,153},{65,85}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{91,47}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,190},{91,47}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{97,53}}</string>
                <key>offset</key>
                <string>{25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,185},{97,53}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,77},{75,91}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,149},{75,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{59,67}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,173},{59,67}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,77},{67,79}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,160},{67,79}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,77},{55,81}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,162},{55,81}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{73,55}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,191},{73,55}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,47}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,193},{89,47}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,77},{73,77}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,163},{73,77}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{57,69}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,176},{57,69}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,77},{57,79}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,162},{57,79}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{31,75}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,162},{31,75}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{31,59}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,186},{31,59}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{37,59}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,187},{37,59}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{41,67}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,169},{41,67}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{29,67}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,173},{29,67}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,77},{31,81}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,158},{31,81}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_212_4.png</string>
            <key>size</key>
            <string>{839,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29074c0d76e6a26392879e2fb0e4908:1/1$</string>
            <key>textureFileName</key>
            <string>g_212_4.png</string>
        </dict>
    </dict>
</plist>
