<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_214_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{54,106}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,122},{54,106}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,80},{60,102}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,126},{60,102}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,502},{48,100}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,126},{48,100}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,842},{42,108}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,120},{42,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,886},{42,106}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,122},{42,106}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{54,108}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,123},{54,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{122,84}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,124},{122,84}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,724},{116,84}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,123},{116,84}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,552},{102,82}}</string>
                <key>offset</key>
                <string>{-24,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,127},{102,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{130,84}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,127},{130,84}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{128,84}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,128},{128,84}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,304},{126,86}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{126,86}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{138,50}}</string>
                <key>offset</key>
                <string>{-24,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,140},{138,50}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{130,64}}</string>
                <key>offset</key>
                <string>{-28,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,129},{130,64}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{124,72}}</string>
                <key>offset</key>
                <string>{-37,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,118},{124,72}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{166,42}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,144},{166,42}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,42}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,143},{168,42}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{156,44}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,141},{156,44}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,432},{100,68}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,129},{100,68}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,238},{96,64}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,130},{96,64}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,936},{84,76}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,116},{84,76}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{124,80}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,129},{124,80}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{126,78}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,131},{126,78}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{118,74}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,129},{118,74}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,936},{54,78}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,117},{54,78}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{58,76}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,119},{58,76}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{48,80}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,115},{48,80}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,680},{42,100}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,116},{42,100}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,636},{42,100}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,116},{42,100}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>g_214_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,184},{52,88}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,116},{52,88}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_214_4.png</string>
            <key>size</key>
            <string>{232,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e5c84d7a026f7ea2bb2f90fcddf0791:1/1$</string>
            <key>textureFileName</key>
            <string>g_214_4.png</string>
        </dict>
    </dict>
</plist>
