<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_218_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,85},{59,93}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,77},{59,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,85},{51,91}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,79},{51,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,85},{45,95}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,76},{45,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,85},{47,95}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,76},{47,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,85},{65,95}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,76},{65,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,85},{63,95}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,76},{63,95}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,85},{59,89}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,78},{59,89}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,85},{53,89}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,77},{53,89}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,85},{55,89}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,78},{55,89}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,85},{55,89}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,78},{55,89}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,85},{65,93}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,78},{65,93}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,85},{61,91}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,79},{61,91}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,85},{57,83}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,81},{57,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{51,81}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,82},{51,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{55,81}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,82},{55,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{57,81}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,82},{57,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,85},{59,85}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,80},{59,85}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{57,83}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,81},{57,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{59,71}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,91},{59,71}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{53,73}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,90},{53,73}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{53,73}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,90},{53,73}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{55,73}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,90},{55,73}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{63,75}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,89},{63,75}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{63,73}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,89},{63,73}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{59,67}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,91},{59,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,67}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,91},{51,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{45,67}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,91},{45,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{47,71}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,89},{47,71}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{65,73}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,88},{65,73}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{63,71}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,89},{63,71}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_218_1.png</string>
            <key>size</key>
            <string>{883,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e8679615e338c1f57904cbdfb525058:1/1$</string>
            <key>textureFileName</key>
            <string>g_218_1.png</string>
        </dict>
    </dict>
</plist>
