<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_213_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,65}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,108},{29,65}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,67}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,106},{29,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{29,67}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,106},{29,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{29,67}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,106},{29,67}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{29,65}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,108},{29,65}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{29,65}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,108},{29,65}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{47,59}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,108},{47,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{45,59}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,108},{45,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{43,59}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,107},{43,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{43,59}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{43,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{45,59}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,108},{45,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{45,59}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,108},{45,59}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{57,47}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,113},{57,47}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{57,49}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,112},{57,49}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{57,49}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,112},{57,49}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{57,49}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,112},{57,49}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,71},{57,49}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,112},{57,49}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,71},{57,47}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,113},{57,47}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,71},{41,39}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,121},{41,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,71},{45,41}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,120},{45,41}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,71},{45,41}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,120},{45,41}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,71},{45,41}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,120},{45,41}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,71},{43,39}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,121},{43,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,71},{41,39}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,121},{41,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,71},{29,39}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,118},{29,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,71},{29,39}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,118},{29,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,71},{29,39}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,118},{29,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,71},{29,39}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,118},{29,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,71},{29,39}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,118},{29,39}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_213_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,71},{29,37}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,119},{29,37}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_213_1.png</string>
            <key>size</key>
            <string>{645,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ba17bb3c41e794c0845ec4071d58e0e:1/1$</string>
            <key>textureFileName</key>
            <string>g_213_1.png</string>
        </dict>
    </dict>
</plist>
