<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_215_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,144},{28,74}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,134},{28,74}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,144},{28,76}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,133},{28,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,144},{28,74}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,132},{28,74}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,144},{28,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,135},{28,74}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,24},{104,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,148},{104,56}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,82},{102,58}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,144},{102,58}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,24},{102,56}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,144},{102,56}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,82},{104,58}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,149},{104,58}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,170},{128,18}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,168},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,168},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{128,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,169},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,82},{100,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,149},{100,60}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,24},{100,54}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,151},{100,54}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{102,58}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,149},{102,58}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{102,64}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,146},{102,64}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,144},{28,74}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,131},{28,74}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,144},{28,76}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,128},{28,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,144},{28,78}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,127},{28,78}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,144},{28,76}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,130},{28,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_215_0.png</string>
            <key>size</key>
            <string>{444,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebbfd32a7296f80bf86681564742736c:1/1$</string>
            <key>textureFileName</key>
            <string>g_215_0.png</string>
        </dict>
    </dict>
</plist>
