<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_219_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,154},{100,140}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,30},{100,140}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,162},{108,158}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,17},{108,158}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{108,162}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,19},{108,162}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{104,158}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,20},{104,158}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{108,168}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,8},{108,168}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,152},{102,142}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,29},{102,142}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,168},{126,164}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,14},{126,164}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{134,164}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,17},{134,164}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{132,164}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,20},{132,164}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,168},{126,162}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,17},{126,162}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{118,172}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,8},{118,172}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{118,166}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,11},{118,166}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,164},{118,160}}</string>
                <key>offset</key>
                <string>{10,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,8},{118,160}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{134,162}}</string>
                <key>offset</key>
                <string>{8,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,7},{134,162}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{134,160}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,11},{134,160}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{134,158}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,6},{134,158}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,172}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{130,172}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{118,164}}</string>
                <key>offset</key>
                <string>{9,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,4},{118,164}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,170},{124,142}}</string>
                <key>offset</key>
                <string>{-7,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,15},{124,142}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,166},{122,154}}</string>
                <key>offset</key>
                <string>{-12,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,5},{122,154}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,172},{122,156}}</string>
                <key>offset</key>
                <string>{-16,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,5},{122,156}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,168},{122,154}}</string>
                <key>offset</key>
                <string>{-14,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,9},{122,154}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{118,164}}</string>
                <key>offset</key>
                <string>{-8,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{118,164}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,162},{110,148}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,11},{110,148}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{98,144}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,20},{98,144}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{108,150}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,14},{108,150}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,162},{108,150}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,19},{108,150}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{104,148}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,17},{104,148}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{108,158}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,12},{108,158}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>g_219_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{102,150}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,18},{102,150}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_219_1.png</string>
            <key>size</key>
            <string>{2028,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e78ea379625a59bcb54680042b748e:1/1$</string>
            <key>textureFileName</key>
            <string>g_219_1.png</string>
        </dict>
    </dict>
</plist>
