<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_216_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,70},{26,72}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,190},{26,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{26,74}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,188},{26,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,144},{28,74}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,189},{28,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,70},{26,72}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,190},{26,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{70,70}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,193},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{70,70}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,193},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{70,70}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,193},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{70,70}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,193},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{90,54}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,204},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{88,54}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,204},{88,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{90,54}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,204},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{90,54}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,204},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{70,60}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,204},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{70,60}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,204},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{70,60}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,204},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{70,60}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,204},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{26,66}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,195},{26,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{26,66}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,195},{26,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{26,66}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,195},{26,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_216_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,66}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,195},{24,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_216_0.png</string>
            <key>size</key>
            <string>{94,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fa8cf7997cbec9882971df086878c68:1/1$</string>
            <key>textureFileName</key>
            <string>g_216_0.png</string>
        </dict>
    </dict>
</plist>
