<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_215_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,86},{28,72}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,135},{28,72}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,86},{28,70}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,138},{28,70}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,86},{28,70}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,137},{28,70}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,86},{28,72}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,136},{28,72}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,86},{28,72}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,135},{28,72}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,86},{28,72}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,136},{28,72}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,24},{102,58}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,140},{102,58}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,24},{100,56}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,143},{100,56}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,24},{100,56}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,142},{100,56}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,24},{100,56}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,141},{100,56}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,24},{98,56}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,141},{98,56}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{102,56}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,141},{102,56}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,20}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,166},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,167},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,167},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{128,20}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,166},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{128,20}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,166},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{128,20}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,166},{128,20}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{100,62}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,142},{100,62}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,86},{100,62}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,144},{100,62}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,86},{100,62}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,145},{100,62}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,24},{102,60}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,145},{102,60}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,24},{102,60}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,144},{102,60}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,86},{100,62}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,142},{100,62}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,86},{28,76}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,128},{28,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,86},{28,76}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,127},{28,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,86},{28,76}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,128},{28,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,86},{28,76}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,128},{28,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,86},{28,78}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,126},{28,78}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>g_215_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,86},{28,76}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,128},{28,76}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_215_1.png</string>
            <key>size</key>
            <string>{824,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:235b968b8b8c4c81a8eda2a42eed7958:1/1$</string>
            <key>textureFileName</key>
            <string>g_215_1.png</string>
        </dict>
    </dict>
</plist>
