<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_211_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,46}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,169},{22,46}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{24,50}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,167},{24,50}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{24,46}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,168},{24,46}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{22,54}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,169},{22,54}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{22,52}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,167},{22,52}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{22,48}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,169},{22,48}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{52,44}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,167},{52,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{52,46}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,167},{52,46}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{52,42}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,167},{52,42}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{52,44}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,167},{52,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{52,42}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,167},{52,42}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{52,44}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,167},{52,44}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{72,38}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,171},{72,38}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{72,40}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,169},{72,40}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{72,40}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,169},{72,40}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{72,38}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,170},{72,38}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,58},{72,36}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,171},{72,36}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,58},{72,38}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,171},{72,38}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,58},{52,48}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,156},{52,48}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,58},{52,48}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,160},{52,48}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,58},{52,46}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,162},{52,46}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,58},{52,52}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,156},{52,52}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,58},{52,52}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,156},{52,52}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,58},{52,52}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,156},{52,52}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,58},{22,58}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,151},{22,58}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,58},{22,56}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,152},{22,56}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,58},{22,54}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{22,54}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,58},{24,60}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,148},{24,60}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,58},{24,62}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,148},{24,62}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>g_211_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,58},{22,62}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,148},{22,62}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_211_1.png</string>
            <key>size</key>
            <string>{696,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f652600ea2cb53d2599801a16a2731e6:1/1$</string>
            <key>textureFileName</key>
            <string>g_211_1.png</string>
        </dict>
    </dict>
</plist>
