<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_212_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,91}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,150},{29,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{31,91}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,150},{31,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{31,93}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,148},{31,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{31,91}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,150},{31,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{49,91}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,150},{49,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{49,91}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,150},{49,91}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{49,93}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,148},{49,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{49,93}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,148},{49,93}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{65,81}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,155},{65,81}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{65,81}}</string>
                <key>offset</key>
                <string>{5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,155},{65,81}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{67,83}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,153},{67,83}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{65,83}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,153},{65,83}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{53,81}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,161},{53,81}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{55,79}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,163},{55,79}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{55,79}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,163},{55,79}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{55,81}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,161},{55,81}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{29,75}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,163},{29,75}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{31,75}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,163},{31,75}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{31,75}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,163},{31,75}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
            <key>g_212_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{29,75}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,163},{29,75}}</string>
                <key>sourceSize</key>
                <string>{461,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_212_0.png</string>
            <key>size</key>
            <string>{960,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7adcb01e31ca8a993b5e4f54b99c4b09:1/1$</string>
            <key>textureFileName</key>
            <string>g_212_0.png</string>
        </dict>
    </dict>
</plist>
