<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_210_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{73,107}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,122},{73,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{77,95}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,129},{77,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,665},{79,97}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,127},{79,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{83,107}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,123},{83,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,469},{75,95}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,128},{75,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,566},{73,97}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,127},{73,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{77,93}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,128},{77,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,566},{77,93}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,131},{77,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,764},{85,99}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,128},{85,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,873},{93,105}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,124},{93,105}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,764},{85,99}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,128},{85,99}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,469},{77,91}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,131},{77,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{63,93}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,130},{63,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,93},{63,93}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,134},{63,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{63,93}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,132},{63,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,283},{67,93}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,130},{67,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,93},{63,93}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,134},{63,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{61,89}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,134},{61,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{71,95}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,138},{71,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{69,91}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,140},{69,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{61,87}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,141},{61,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,81}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,139},{59,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{61,81}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,142},{61,81}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,188},{67,89}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,138},{67,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,283},{73,91}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,138},{73,91}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,378},{77,89}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,137},{77,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,378},{79,85}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,139},{79,85}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,665},{83,93}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,136},{83,93}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{77,87}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,139},{77,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,188},{73,83}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,140},{73,83}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_210_1.png</string>
            <key>size</key>
            <string>{252,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:846b68f7cd3461307aa6950537e197ee:1/1$</string>
            <key>textureFileName</key>
            <string>g_210_1.png</string>
        </dict>
    </dict>
</plist>
