<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_210_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{69,95}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,129},{69,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{69,95}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,129},{69,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{69,95}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,129},{69,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,99},{69,95}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,129},{69,95}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,99},{79,103}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,125},{79,103}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,99},{81,101}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,126},{81,101}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,99},{77,101}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,126},{77,101}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,99},{77,101}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,126},{77,101}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,99},{65,101}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,130},{65,101}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,99},{65,97}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,130},{65,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,99},{63,97}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,130},{63,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,99},{65,97}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,130},{65,97}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{65,89}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,137},{65,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{67,87}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,139},{67,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{67,89}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,138},{67,89}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{67,87}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,139},{67,87}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{71,79}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,141},{71,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{69,79}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,141},{69,79}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,77}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,143},{69,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>g_210_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,77}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,143},{69,77}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_210_0.png</string>
            <key>size</key>
            <string>{732,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca032983d183c9f4b277a910ea134d4d:1/1$</string>
            <key>textureFileName</key>
            <string>g_210_0.png</string>
        </dict>
    </dict>
</plist>
