<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_218_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,81},{55,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{49,81}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,83},{49,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{45,81}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,82},{45,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{51,83}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,81},{51,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{53,83}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,80},{53,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{49,81}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,81},{49,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{41,81}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,81},{41,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{51,83}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,80},{51,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{53,87}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,80},{53,87}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{47,85}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,81},{47,85}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{43,83}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,82},{43,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{47,87}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,80},{47,87}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{53,85}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,81},{53,85}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{49,83}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,82},{49,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{43,81}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,83},{43,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{49,85}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,81},{49,85}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{57,83}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,83},{57,83}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{49,81}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,84},{49,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{45,81}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,84},{45,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>g_218_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{51,81}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,84},{51,81}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_218_0.png</string>
            <key>size</key>
            <string>{1022,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70ac66abf2f31756893ed87611d59966:1/1$</string>
            <key>textureFileName</key>
            <string>g_218_0.png</string>
        </dict>
    </dict>
</plist>
