<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_229_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{76,56}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,252},{76,56}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{76,56}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,253},{76,56}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{76,60}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,249},{76,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{76,58}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,250},{76,58}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{76,62}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,248},{76,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{76,58}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,251},{76,58}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{62,64}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,254},{62,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{62,64}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,253},{62,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{62,64}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,254},{62,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{62,68}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,250},{62,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{62,68}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,250},{62,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{62,66}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,252},{62,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{52,68}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,254},{52,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{52,70}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,253},{52,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{52,70}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,252},{52,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{50,70}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,253},{50,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{50,72}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,251},{50,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{52,70}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,253},{52,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{60,70}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,250},{60,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{62,70}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,250},{62,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{62,70}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,250},{62,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{62,68}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,251},{62,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{62,70}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,249},{62,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{62,70}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,250},{62,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{76,68}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,255},{76,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{76,68}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,254},{76,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,70}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,253},{76,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,70}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,253},{76,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{76,68}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,255},{76,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{76,68}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,255},{76,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_229_1.png</string>
            <key>size</key>
            <string>{74,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dd7595a27a06252cd391b4c2748cfc9:1/1$</string>
            <key>textureFileName</key>
            <string>g_229_1.png</string>
        </dict>
    </dict>
</plist>
