<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_228_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{82,106}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,105},{82,106}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{78,108}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,106},{78,108}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,2},{70,110}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,104},{70,110}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{80,106}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,105},{80,106}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{80,104}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,107},{80,104}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{86,102}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,106},{86,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,104}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,106},{88,104}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{84,106}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,106},{84,106}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{82,100}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,110},{82,100}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{80,100}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,109},{80,100}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{80,98}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,111},{80,98}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{76,98}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,110},{76,98}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2},{72,98}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,123},{72,98}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{76,98}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,125},{76,98}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{82,98}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,124},{82,98}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{80,96}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,124},{80,96}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{82,94}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,123},{82,94}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{80,92}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,123},{80,92}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{70,88}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,123},{70,88}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>g_228_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{78,92}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,122},{78,92}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_228_0.png</string>
            <key>size</key>
            <string>{2022,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7388c10dea01abf700bd28e39c70fedd:1/1$</string>
            <key>textureFileName</key>
            <string>g_228_0.png</string>
        </dict>
    </dict>
</plist>
