<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_223_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{64,94}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,90},{64,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{64,94}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,91},{64,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{64,96}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,91},{64,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{66,94}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,91},{66,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{76,90}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,89},{76,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{78,90}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,89},{78,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{76,90}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,89},{76,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{76,90}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,89},{76,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{86,84}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,83},{86,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{88,88}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,79},{88,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{90,82}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,85},{90,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{86,80}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,87},{86,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{86,96}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,77},{86,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{86,100}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,73},{86,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{86,96}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,77},{86,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{86,92}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,81},{86,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{66,102}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,75},{66,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,108}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,69},{64,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{66,104}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,73},{66,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_223_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{68,98}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,79},{68,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_223_0.png</string>
            <key>size</key>
            <string>{1548,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a434531acce418b98dad91800cab17f:1/1$</string>
            <key>textureFileName</key>
            <string>g_223_0.png</string>
        </dict>
    </dict>
</plist>
