<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_220_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,530},{50,106}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,142},{50,106}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,582},{46,96}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,149},{46,96}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,370},{54,114}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,136},{54,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,426},{52,112}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,138},{52,112}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{52,114}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,141},{52,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,480},{48,108}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,142},{48,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{90,94}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,141},{90,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,826},{84,88}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,145},{84,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{128,88}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,143},{128,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{124,90}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,145},{124,90}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{108,96}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,142},{108,96}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,128},{90,94}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,142},{90,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,220},{116,74}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,137},{116,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,296},{114,72}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,138},{114,72}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,66}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,144},{156,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{152,68}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,147},{152,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{142,76}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,139},{142,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{124,76}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,136},{124,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{96,84}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,134},{96,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{94,84}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,134},{94,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,664},{96,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,152},{96,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{100,74}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,153},{100,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,582},{98,80}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,143},{98,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,740},{94,84}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,134},{94,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,852},{50,84}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,136},{50,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{46,82}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,138},{46,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,770},{54,80}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,154},{54,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{52,86}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,146},{52,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,680},{52,88}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,140},{52,88}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>g_220_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,912},{48,86}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,136},{48,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_220_4.png</string>
            <key>size</key>
            <string>{252,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db18fe17e8a2ce4a3a15018688ff0d30:1/1$</string>
            <key>textureFileName</key>
            <string>g_220_4.png</string>
        </dict>
    </dict>
</plist>
