<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_226_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{64,122}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,130},{64,122}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{88,118}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,136},{88,118}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,124},{112,118}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,139},{112,118}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,154}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,98},{58,154}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{52,134}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,117},{52,134}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{78,130}}</string>
                <key>offset</key>
                <string>{10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,121},{78,130}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{86,116}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,136},{86,116}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,118},{62,114}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,141},{62,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{86,128}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,140},{86,128}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{98,138}}</string>
                <key>offset</key>
                <string>{23,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,116},{98,138}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,126},{82,122}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,132},{82,122}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{64,120}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,135},{64,120}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,118},{104,114}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,143},{104,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{96,114}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,137},{96,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{86,122}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,138},{86,122}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{108,114}}</string>
                <key>offset</key>
                <string>{29,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,141},{108,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,132},{120,114}}</string>
                <key>offset</key>
                <string>{34,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,139},{120,114}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{96,110}}</string>
                <key>offset</key>
                <string>{22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,143},{96,110}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,114},{72,108}}</string>
                <key>offset</key>
                <string>{17,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,145},{72,108}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{118,112}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,141},{118,112}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,122},{114,116}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,139},{114,116}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,118},{78,112}}</string>
                <key>offset</key>
                <string>{15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,144},{78,112}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,126},{108,120}}</string>
                <key>offset</key>
                <string>{31,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,138},{108,120}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,142},{112,110}}</string>
                <key>offset</key>
                <string>{31,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,144},{112,110}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,188},{64,108}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,146},{64,108}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{88,110}}</string>
                <key>offset</key>
                <string>{-11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,143},{88,110}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,138},{114,128}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,133},{114,128}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,120},{58,116}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,147},{58,116}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{52,134}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,131},{52,134}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
            <key>g_226_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{78,120}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,142},{78,120}}</string>
                <key>sourceSize</key>
                <string>{460,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_226_4.png</string>
            <key>size</key>
            <string>{1338,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65a998b9ba089a01d65662312e7a7ad1:1/1$</string>
            <key>textureFileName</key>
            <string>g_226_4.png</string>
        </dict>
    </dict>
</plist>
