<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_229_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{76,52}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,253},{76,52}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{76,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,252},{76,52}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{76,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,252},{76,52}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{76,54}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,251},{76,54}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,808},{62,60}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,255},{62,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,744},{62,60}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,255},{62,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,680},{62,60}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,255},{62,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,616},{62,60}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,255},{62,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,550},{50,64}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,255},{50,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,484},{52,64}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,255},{52,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{52,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,255},{52,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{50,64}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,255},{50,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{62,62}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,255},{62,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{62,62}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,255},{62,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{62,62}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,255},{62,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{62,62}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,255},{62,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{76,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,255},{76,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{76,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,255},{76,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{76,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,255},{76,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,255},{76,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_229_0.png</string>
            <key>size</key>
            <string>{128,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b33dfccf92a24e9455cabfecbe8c385b:1/1$</string>
            <key>textureFileName</key>
            <string>g_229_0.png</string>
        </dict>
    </dict>
</plist>
