<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_229_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{76,54}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,251},{76,54}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{84,106}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,228},{84,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{84,106}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,228},{84,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{76,102}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,232},{76,102}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{76,64}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,249},{76,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{76,64}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,249},{76,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{60,60}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,256},{60,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{88,70}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,252},{88,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{88,70}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,252},{88,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,90}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,242},{94,90}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{66,60}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,257},{66,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{66,60}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,257},{66,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{60,66}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,257},{60,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{98,66}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,256},{98,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{98,66}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,256},{98,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{110,62}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,256},{110,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{72,64}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,260},{72,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{72,64}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,260},{72,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{62,62}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,256},{62,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{88,80}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,246},{88,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{88,80}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,246},{88,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{94,80}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,246},{94,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{66,66}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,254},{66,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{66,66}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,254},{66,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{76,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,255},{76,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{76,94}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,240},{76,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{76,94}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,240},{76,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{76,94}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,240},{76,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{76,76}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,249},{76,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>g_229_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{76,76}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,249},{76,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_229_4.png</string>
            <key>size</key>
            <string>{94,1614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6e04c9f5c34bd9a06c1833f80a3b8b6:1/1$</string>
            <key>textureFileName</key>
            <string>g_229_4.png</string>
        </dict>
    </dict>
</plist>
