<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_227_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{62,120}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,147},{62,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{62,120}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,147},{62,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{62,120}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,147},{62,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{62,120}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,147},{62,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{86,114}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,147},{86,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{86,114}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,147},{86,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{86,114}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,147},{86,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{86,114}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,147},{86,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,124}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,146},{126,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,124}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,146},{126,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{126,122}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,148},{126,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,124}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,146},{126,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{94,124}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,151},{94,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{94,124}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,151},{94,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{94,124}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,151},{94,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,124}}</string>
                <key>offset</key>
                <string>{16,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,151},{94,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{62,116}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,156},{62,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,2},{62,114}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,158},{62,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{62,114}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,158},{62,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>g_227_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{62,116}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,156},{62,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_227_0.png</string>
            <key>size</key>
            <string>{1762,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa2daa1695d02cfad82e502a0981592:1/1$</string>
            <key>textureFileName</key>
            <string>g_227_0.png</string>
        </dict>
    </dict>
</plist>
