<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_221_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{72,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,219},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{72,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,217},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{72,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,214},{72,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{74,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,220},{74,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{104,66}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,217},{104,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{110,66}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,217},{110,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{106,76}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,209},{106,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{102,68}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,214},{102,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{106,72}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,210},{106,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{110,70}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,212},{110,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,66}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,216},{114,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{106,70}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,211},{106,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{100,94}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,205},{100,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{96,94}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,207},{96,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{108,92}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,207},{108,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{102,92}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,205},{102,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{72,98}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,196},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{72,100}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,195},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{74,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,198},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{72,100}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,194},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_221_0.png</string>
            <key>size</key>
            <string>{118,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d577a9cfc79a73f9bafc9478e510b15b:1/1$</string>
            <key>textureFileName</key>
            <string>g_221_0.png</string>
        </dict>
    </dict>
</plist>
