<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_221_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{74,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,214},{74,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{78,76}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,212},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{82,76}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,212},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{76,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,215},{76,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1888},{72,74}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,213},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1888},{72,74}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,213},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{96,74}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,211},{96,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{104,72}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,210},{104,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{108,72}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,211},{108,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{100,72}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,211},{100,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{96,70}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,215},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{96,70}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,215},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{106,70}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,207},{106,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{110,68}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,209},{110,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{112,68}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,209},{112,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{108,66}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,210},{108,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{108,66}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,209},{108,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{108,66}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,209},{108,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{108,96}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,201},{108,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{108,94}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,204},{108,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,94}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,204},{112,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{104,86}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,206},{104,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{102,90}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,206},{102,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{102,90}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,206},{102,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{74,100}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,195},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{78,98}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,196},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{82,98}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,197},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{76,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,198},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{72,96}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,197},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_221_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{72,96}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,197},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_221_1.png</string>
            <key>size</key>
            <string>{116,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64297dffced71558ca4b11bf1f58b4f6:1/1$</string>
            <key>textureFileName</key>
            <string>g_221_1.png</string>
        </dict>
    </dict>
</plist>
