<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_232_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,124}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,140},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{64,124}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,140},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{64,124}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,140},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{64,124}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,140},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{72,118}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,149},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{70,118}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,149},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{70,118}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,149},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{72,118}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,149},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,124},{62,122}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,154},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,124},{62,122}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,154},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,124},{62,122}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,154},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,124},{62,122}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,154},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,124},{50,122}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,153},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,124},{50,122}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,153},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,124},{52,122}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,153},{52,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{50,122}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,153},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,246},{64,120}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,148},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,246},{64,120}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,148},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,246},{64,120}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,148},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_232_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,246},{64,120}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,147},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_232_0.png</string>
            <key>size</key>
            <string>{472,368}</string>
            <key>textureFileName</key>
            <string>g_232_0.png</string>
        </dict>
    </dict>
</plist>
