<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_233_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,96}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,169},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,204},{48,114}}</string>
                <key>offset</key>
                <string>{5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,322},{46,130}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,145},{46,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,322},{32,144}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,131},{32,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,322},{42,144}}</string>
                <key>offset</key>
                <string>{3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,130},{42,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{56,96}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,169},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{92,96}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,170},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,204},{54,108}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,167},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,322},{50,128}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,147},{50,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,322},{64,140}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,135},{64,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,322},{46,140}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,134},{46,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{94,96}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,170},{94,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,98},{108,98}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,169},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,98},{70,100}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{70,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,204},{62,118}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,151},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,322},{88,126}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,143},{88,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{84,124}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,145},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{104,98}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,169},{104,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,98},{62,100}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,168},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{68,96}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,165},{68,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,204},{46,112}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,204},{72,112}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,149},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,98},{78,106}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,155},{78,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,98},{60,100}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,168},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{54,98}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,168},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,204},{48,114}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,154},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,204},{46,118}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,148},{46,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,204},{32,114}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,152},{32,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{42,108}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,158},{42,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{56,98}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,168},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_233_4.png</string>
            <key>size</key>
            <string>{482,466}</string>
            <key>textureFileName</key>
            <string>g_233_4.png</string>
        </dict>
    </dict>
</plist>
