<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_233_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,96}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,168},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{54,96}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,168},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{54,96}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,168},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{54,96}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,168},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{88,98}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{88,98}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{88,98}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{88,98}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,168},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,98},{102,100}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,168},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,98},{102,100}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,168},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,98},{102,100}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,98},{102,100}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{64,102}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,166},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,198},{64,102}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,166},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,198},{64,100}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,168},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,198},{64,102}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,166},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,198},{54,100}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,166},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,198},{54,100}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,166},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,198},{54,100}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,166},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>g_233_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,198},{54,100}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,166},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_233_0.png</string>
            <key>size</key>
            <string>{496,300}</string>
            <key>textureFileName</key>
            <string>g_233_0.png</string>
        </dict>
    </dict>
</plist>
