<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_231_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{66,80}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,150},{66,80}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{64,80}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,150},{64,80}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,80}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,150},{66,80}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{64,80}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,150},{64,80}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,164},{48,86}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,144},{48,86}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,164},{46,86}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,144},{46,86}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,250},{48,86}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,144},{48,86}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{46,86}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,144},{46,86}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,250},{28,90}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,140},{28,90}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,340},{28,92}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,138},{28,92}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,340},{30,92}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,138},{30,92}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,340},{28,92}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,138},{28,92}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,250},{48,88}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,142},{48,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{48,90}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,141},{48,90}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,340},{48,90}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,141},{48,90}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,250},{48,90}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,141},{48,90}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,164},{66,84}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,145},{66,84}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{66,84}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,145},{66,84}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,80},{66,84}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,145},{66,84}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>g_231_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,80},{66,84}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,145},{66,84}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_231_0.png</string>
            <key>size</key>
            <string>{226,432}</string>
            <key>textureFileName</key>
            <string>g_231_0.png</string>
        </dict>
    </dict>
</plist>
