<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_300_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_300_1.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd5c166659a733326b628fbfa0ed378:1/1$</string>
            <key>textureFileName</key>
            <string>g_300_1.png</string>
        </dict>
    </dict>
</plist>
