<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_307_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>g_307_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,136}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,38},{100,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_307_0.png</string>
            <key>size</key>
            <string>{104,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd97f6c45d5ac38b51f1bde2c67fdfcd:1/1$</string>
            <key>textureFileName</key>
            <string>g_307_0.png</string>
        </dict>
    </dict>
</plist>
