<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_300_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>g_300_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,84}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,84}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>g_300_4.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd5c166659a733326b628fbfa0ed378:1/1$</string>
            <key>textureFileName</key>
            <string>g_300_4.png</string>
        </dict>
    </dict>
</plist>
