<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_006_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{46,104}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,165},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{46,102}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,166},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,62},{48,96}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,165},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{50,102}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,166},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,112},{52,96}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,167},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,50},{50,94}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,166},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{56,102}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,166},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{58,98}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,166},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,144},{50,92}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,167},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{50,98}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,166},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,106},{58,90}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,167},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,50},{54,94}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,167},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,166},{54,90}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,172},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,112},{68,84}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,172},{68,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,166},{56,88}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,171},{56,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,54},{54,92}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,171},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,92}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,172},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,200},{56,92}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,171},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,110},{54,82}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,174},{54,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,102},{62,86}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,174},{62,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,210},{58,88}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,173},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,224},{50,86}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,174},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,218},{56,90}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,174},{56,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,276},{44,92}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,174},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,276},{46,84}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,174},{46,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,276},{46,90}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,175},{46,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,54},{48,88}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,175},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,238},{50,82}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,174},{50,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,222},{52,86}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,176},{52,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_006_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,166},{50,92}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,174},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_006_2.png</string>
            <key>size</key>
            <string>{512,325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adae1ac44415e1e10cb437b470ad1070$</string>
            <key>textureFileName</key>
            <string>m_006_2.png</string>
        </dict>
    </dict>
</plist>
