<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_001_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,204},{32,102}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,162},{32,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,198},{28,98}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,167},{28,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,168},{36,96}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,169},{36,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{44,106}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,158},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{66,94}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,170},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,68},{46,98}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,166},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,146},{40,100}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,164},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,168},{48,96}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,168},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,68},{60,96}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,168},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,166},{44,100}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,165},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,122},{62,90}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,175},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,48},{54,96}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,169},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,66},{54,94}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,167},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,48},{60,94}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,167},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,98}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,163},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,102},{64,94}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,167},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,186},{72,74}}</string>
                <key>offset</key>
                <string>{15,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,187},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{62,82}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,179},{62,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,102},{48,96}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,170},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,200},{54,100}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,165},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{52,112}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,152},{52,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{68,100}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,165},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,266},{62,66}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,199},{62,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,248},{56,78}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,187},{56,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,144},{34,100}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,170},{34,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,38},{28,104}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,165},{28,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{34,120}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,148},{34,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,56},{44,108}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,161},{44,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,268},{66,62}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,207},{66,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_001_3_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,260},{46,78}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,191},{46,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_001_3.png</string>
            <key>size</key>
            <string>{512,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5c3127a00815d7d07bec54f77002ba1$</string>
            <key>textureFileName</key>
            <string>m_001_3.png</string>
        </dict>
    </dict>
</plist>
