<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_000_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{40,98}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,163},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{46,96}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,174},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,82},{42,72}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,193},{42,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,102},{64,60}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,207},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{28,100}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,163},{28,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{38,96}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,172},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,108},{54,76}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,189},{54,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,102},{74,54}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,210},{74,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{36,100}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,164},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{34,92}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,169},{34,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,100},{68,64}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,196},{68,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,34}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,230},{108,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{44,98}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,163},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,38},{42,88}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,167},{42,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{68,52}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,207},{68,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{94,38}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,237},{94,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{40,104}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,161},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{46,86}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,165},{46,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,82},{42,40}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,217},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_000_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,98},{66,54}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,237},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_000_7.png</string>
            <key>size</key>
            <string>{512,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:762ddef88e4ec068224ae76e8ceda183$</string>
            <key>textureFileName</key>
            <string>m_000_7.png</string>
        </dict>
    </dict>
</plist>
