<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_005_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{44,98}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,161},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{48,98}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,171},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,148},{52,70}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,193},{52,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,140},{64,60}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,205},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,50},{38,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,161},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,48},{42,96}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,170},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{68,74}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,189},{68,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,130},{78,52}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,210},{78,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{58,100}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,162},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,92},{54,92}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,167},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,140},{74,62}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,196},{74,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,52},{108,32}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,229},{108,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,100}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{62,88}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,165},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,78},{70,60}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,207},{70,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,86},{94,42}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,231},{94,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{46,104}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,159},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,90},{48,86}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,163},{48,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,148},{52,58}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,214},{52,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_005_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,148},{66,58}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,231},{66,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_005_7.png</string>
            <key>size</key>
            <string>{512,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59d1673c1e32b3cd2b34621e7c6377d5$</string>
            <key>textureFileName</key>
            <string>m_005_7.png</string>
        </dict>
    </dict>
</plist>
