<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_010_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{46,100}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,104},{44,100}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,160},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{46,100}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,104},{48,100}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,160},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{42,102}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,160},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{40,102}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,160},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{42,102}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,154},{44,100}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,162},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,158},{40,100}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,163},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{38,100}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,163},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,158},{40,100}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,163},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{42,100}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,163},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{50,100}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,161},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{48,100}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,100}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,161},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,106},{50,98}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,163},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{46,102}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,161},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{44,102}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,161},{44,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{46,102}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,102}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_010_0.png</string>
            <key>size</key>
            <string>{512,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5d6d2e8f2e7c74ab7190380320d3c5e$</string>
            <key>textureFileName</key>
            <string>m_010_0.png</string>
        </dict>
    </dict>
</plist>
