<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_017_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,204},{54,98}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,165},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,208},{60,98}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,165},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,112}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,151},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{54,112}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,151},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,214},{66,100}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,164},{66,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,54},{50,98}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,163},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,316},{44,98}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,165},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{52,98}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{54,112}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,152},{54,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,116},{48,110}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,154},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{62,102}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,164},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{40,100}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,161},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,106},{54,92}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,169},{54,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,304},{56,92}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,169},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{50,106}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,156},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,214},{42,102}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,160},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{54,98}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,166},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{50,98}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,162},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{58,92}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,169},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,204},{68,94}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,169},{68,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,106},{58,100}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,161},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,106},{48,96}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,165},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,298},{60,94}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,170},{60,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,102},{52,98}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,160},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,104},{54,98}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,167},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,102},{60,96}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{62,102}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,163},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{56,100}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,200},{66,96}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,171},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_017_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,228},{52,104}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_017_5.png</string>
            <key>size</key>
            <string>{512,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbd07711d1451299786be43fe7d7c482$</string>
            <key>textureFileName</key>
            <string>m_017_5.png</string>
        </dict>
    </dict>
</plist>
