<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_019_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{40,104}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,161},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{40,104}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,160},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,132},{40,100}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,159},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,90},{40,102}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,160},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,44},{42,102}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,161},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,98},{40,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,160},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{44,104}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,160},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,88},{38,102}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,161},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,176},{36,98}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,159},{36,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,48},{48,100}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,159},{48,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,44},{44,100}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,159},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,128},{38,100}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,161},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,96}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,162},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,174},{44,94}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,163},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,250},{32,96}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,161},{32,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{54,96}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,162},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,192},{46,98}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,161},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,44},{34,98}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,162},{34,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,140},{50,96}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,164},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,240},{42,96}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,163},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,174},{36,92}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,164},{36,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,44},{44,100}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,163},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,90},{40,100}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,163},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,214},{34,96}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,164},{34,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{42,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,164},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,240},{42,98}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,164},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{40,94}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,163},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{40,102}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,162},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,132},{42,100}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,163},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_019_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,144},{40,94}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,164},{40,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_019_1.png</string>
            <key>size</key>
            <string>{512,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f6d10bc79b81aeecf73a14302cd6b3c$</string>
            <key>textureFileName</key>
            <string>m_019_1.png</string>
        </dict>
    </dict>
</plist>
