<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_010_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,102},{52,98}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,165},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,202},{52,98}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,165},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{50,112}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,151},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,112}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,151},{50,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,210},{62,100}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,202},{50,98}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,163},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,302},{46,98}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,165},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,102},{44,98}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,166},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{42,112}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,152},{42,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,230},{42,110}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,154},{42,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{56,102}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,164},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,308},{40,98}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,162},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{52,92}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,169},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,198},{48,94}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,167},{48,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,106}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,156},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{46,102}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,159},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,208},{56,98}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,166},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{48,98}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,162},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,180},{52,90}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,169},{52,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,122},{56,90}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,169},{56,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,102},{54,98}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,294},{54,94}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,165},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,56},{64,90}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,170},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{56,98}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{52,98}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,167},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,100},{52,96}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,170},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,216},{48,102}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,163},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,106},{52,100}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,165},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{62,96}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,171},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,110},{50,104}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_010_5.png</string>
            <key>size</key>
            <string>{512,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af038e5762d5f9e8474094f02e71ec3$</string>
            <key>textureFileName</key>
            <string>m_010_5.png</string>
        </dict>
    </dict>
</plist>
