<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_016_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{46,98}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{52,96}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,172},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{58,74}}</string>
                <key>offset</key>
                <string>{-9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,189},{58,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{64,60}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,206},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{32,100}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,161},{32,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{42,96}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,170},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,104},{56,74}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,189},{56,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,108},{82,54}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,209},{82,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{44,100}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,162},{44,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,98},{36,92}}</string>
                <key>offset</key>
                <string>{-16,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,168},{36,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,100},{68,66}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,194},{68,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,38}}</string>
                <key>offset</key>
                <string>{28,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,225},{108,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{52,100}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,160},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,102},{50,88}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,165},{50,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,100},{68,56}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,204},{68,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{94,42}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,234},{94,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{46,104}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,104},{52,86}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,163},{52,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,64},{58,42}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,215},{58,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_016_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,108},{66,54}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,235},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_016_7.png</string>
            <key>size</key>
            <string>{512,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd66af4fce40fdb73a68bbe3d3a69c21$</string>
            <key>textureFileName</key>
            <string>m_016_7.png</string>
        </dict>
    </dict>
</plist>
