<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_018_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,108},{52,104}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,161},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,104}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,161},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,214},{54,104}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,160},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{54,104}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,160},{54,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{56,104}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,160},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,212},{54,102}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,161},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{54,102}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,104}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,160},{56,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,208},{52,100}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,161},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,108},{54,102}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,159},{54,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,320},{46,102}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,160},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{46,102}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,160},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,208},{58,100}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,162},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{62,100}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,163},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,112},{62,94}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,163},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{66,96}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,163},{66,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,246},{62,98}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,162},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,310},{56,98}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,163},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,132},{56,96}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,164},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,212},{52,96}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,310},{54,94}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,163},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,208},{60,100}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,163},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,106},{64,100}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,163},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,70},{60,96}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,165},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,58},{52,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,164},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,112},{54,98}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,165},{54,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,112},{56,94}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,164},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{54,100}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,164},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,310},{56,100}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,163},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_018_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,190},{54,96}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,163},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_018_1.png</string>
            <key>size</key>
            <string>{512,369}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7664c948205ebfa6e46fc90563333528$</string>
            <key>textureFileName</key>
            <string>m_018_1.png</string>
        </dict>
    </dict>
</plist>
