<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_010_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{44,98}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,163},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,100},{46,96}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,174},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,74},{70,70}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,196},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,146},{64,60}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,210},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{38,100}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,164},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{52,96}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,173},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{70,74}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,192},{70,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{80,60}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,213},{80,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{40,100}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,164},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,98},{50,92}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,170},{50,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,84},{78,76}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,199},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,46}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,229},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,112},{46,100}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,162},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{48,88}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,167},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{78,68}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,207},{78,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{94,40}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,236},{94,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{42,102}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,163},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,92},{48,86}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{48,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,164},{70,52}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,216},{70,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_010_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,146},{64,54}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,237},{64,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_010_7.png</string>
            <key>size</key>
            <string>{512,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64b6f67a2604427acd7e794c0a515271$</string>
            <key>textureFileName</key>
            <string>m_010_7.png</string>
        </dict>
    </dict>
</plist>
