<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_026_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,316},{52,96}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,167},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,324},{48,96}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,170},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{52,114}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,152},{52,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,114}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,152},{58,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{62,112}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,154},{62,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{64,100}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,166},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,210},{36,102}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,160},{36,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,106},{44,98}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,168},{44,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,118},{50,110}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,156},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{46,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,158},{46,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,112},{50,106}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,160},{50,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{44,106}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{56,102}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,160},{56,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,314},{58,92}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,172},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,106},{52,102}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{50,102}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,212},{52,102}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,162},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,128},{58,98}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,168},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,68},{58,98}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,162},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,72},{62,86}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,175},{62,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,254},{58,96}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,165},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,188},{64,96}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,165},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,188},{66,94}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,167},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{68,88}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,174},{68,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,230},{52,106}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,206},{50,98}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,170},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{52,104}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,164},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,108},{58,102}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,166},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,220},{60,102}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,166},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_5_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,306},{66,94}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,176},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_026_5.png</string>
            <key>size</key>
            <string>{512,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eddd50b194eaf73899b33306e6682ae0$</string>
            <key>textureFileName</key>
            <string>m_026_5.png</string>
        </dict>
    </dict>
</plist>
