<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_021_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{42,98}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,162},{42,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{48,96}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,174},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,108},{52,72}}</string>
                <key>offset</key>
                <string>{-10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,193},{52,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,102},{66,60}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,207},{66,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{30,102}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,161},{30,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{42,96}}</string>
                <key>offset</key>
                <string>{-9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,172},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,108},{54,72}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,193},{54,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,100},{82,52}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,212},{82,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{40,104}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,160},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{36,92}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,169},{36,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{68,62}}</string>
                <key>offset</key>
                <string>{9,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,198},{68,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,36}}</string>
                <key>offset</key>
                <string>{29,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,227},{110,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{46,100}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,162},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{48,88}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,167},{48,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,104},{70,52}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,207},{70,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{98,38}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,237},{98,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{42,104}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,161},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,96},{48,86}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,165},{48,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,52},{52,42}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,215},{52,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_021_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,100},{66,54}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,237},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_021_7.png</string>
            <key>size</key>
            <string>{512,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3921517aee7e9f2ad6af88261e397f70$</string>
            <key>textureFileName</key>
            <string>m_021_7.png</string>
        </dict>
    </dict>
</plist>
