<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_022_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{80,108}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,161},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,80},{80,108}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,161},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,164},{80,110}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,159},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,162},{80,110}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,159},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,410},{82,108}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,161},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,326},{82,108}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,161},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,348},{82,106}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,161},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,330},{82,106}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,161},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,80},{80,108}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,159},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,246},{82,108}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,160},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,516},{84,108}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,160},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,494},{84,108}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,160},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{76,106}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,162},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{76,106}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,162},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{76,106}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,161},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,106}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,162},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,108}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,161},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{76,108}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,161},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,432},{84,100}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,163},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,246},{84,100}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,164},{84,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{82,102}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,163},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,244},{80,102}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,163},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,244},{80,102}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,163},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,80},{82,100}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,164},{82,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,432},{82,102}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,164},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,414},{82,102}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,164},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{80,102}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,164},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,162},{80,102}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,163},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{82,102}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,163},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{82,102}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,164},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_022_1.png</string>
            <key>size</key>
            <string>{512,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8b17f2c2f6a59c5ae7993b7105c4754$</string>
            <key>textureFileName</key>
            <string>m_022_1.png</string>
        </dict>
    </dict>
</plist>
