<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_024_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,98},{48,98}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,162},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{48,98}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,172},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,148},{62,74}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,193},{62,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,92},{68,62}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,205},{68,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,52},{38,102}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,161},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,98},{46,98}}</string>
                <key>offset</key>
                <string>{-12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,170},{46,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{68,78}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,190},{68,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,146},{84,54}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,210},{84,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,52},{40,104}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,160},{40,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{50,96}}</string>
                <key>offset</key>
                <string>{-16,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,165},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,76}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,196},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{112,42}}</string>
                <key>offset</key>
                <string>{29,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,226},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{50,100}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,161},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,94},{50,90}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,165},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,84},{78,66}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,206},{78,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{96,36}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,239},{96,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,164},{48,102}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,162},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{48,86}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,164},{48,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,146},{64,58}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,213},{64,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,156},{66,54}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,237},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_024_7.png</string>
            <key>size</key>
            <string>{512,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3d41427f80f4effe94f53ecb6acdd34$</string>
            <key>textureFileName</key>
            <string>m_024_7.png</string>
        </dict>
    </dict>
</plist>
