<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_022_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,198},{80,106}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,161},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{76,112}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,162},{76,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{72,116}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,158},{72,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{88,116}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,156},{88,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{106,94}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,171},{106,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,98},{100,98}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,166},{100,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{78,108}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,163},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,374},{70,108}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,164},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,76},{72,106}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,164},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,124},{84,110}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,156},{84,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,172},{96,92}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,173},{96,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,330},{96,98}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,169},{96,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,350},{88,100}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,168},{88,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,414},{76,100}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,167},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,430},{82,108}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,154},{82,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,446},{86,104}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,162},{86,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,440},{100,84}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,182},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,280},{102,92}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,177},{102,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,266},{82,96}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,170},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,228},{82,102}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,165},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{82,120}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,145},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{90,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,158},{90,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,526},{92,74}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,195},{92,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,240},{100,88}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,187},{100,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,492},{80,102}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,168},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,150},{76,104}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,165},{76,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{72,126}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,142},{72,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,118}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,153},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,94},{106,76}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,205},{106,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,312},{100,84}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,191},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_022_4.png</string>
            <key>size</key>
            <string>{512,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2687a3b7fccf6ba23ee16c1ab1c85f8f$</string>
            <key>textureFileName</key>
            <string>m_022_4.png</string>
        </dict>
    </dict>
</plist>
