<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_024_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,80},{48,102}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,162},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,162},{48,98}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,167},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,334},{44,96}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,169},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,48},{48,106}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,159},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,300},{64,94}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,171},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,106},{54,100}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,165},{54,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,98},{42,102}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,163},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,130},{52,100}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,206},{60,98}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,166},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,52},{52,102}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,163},{52,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,228},{70,90}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,175},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,142},{62,98}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,168},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,212},{58,96}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,165},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,268},{64,96}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,165},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,98}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,163},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{70,96}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,165},{70,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{78,76}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,185},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{74,84}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,178},{74,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,272},{60,96}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,170},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{62,100}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,165},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{60,112}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,152},{60,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{76,98}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,167},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,242},{76,70}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,195},{76,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,272},{72,78}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,187},{72,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,178},{48,102}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,168},{48,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,64},{48,106}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,163},{48,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{44,120}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,148},{44,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{48,108}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,161},{48,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,320},{64,64}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,205},{64,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_024_4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,184},{56,78}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,191},{56,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_024_4.png</string>
            <key>size</key>
            <string>{512,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac712b078d623818ac1be5c5ec711fa4$</string>
            <key>textureFileName</key>
            <string>m_024_4.png</string>
        </dict>
    </dict>
</plist>
