<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_022_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{76,108}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,163},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{76,108}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,173},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,220},{98,82}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,193},{98,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{90,64}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,207},{90,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{70,108}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,162},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,112},{68,106}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,172},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,108},{102,84}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,190},{102,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{102,64}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,210},{102,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,112},{72,108}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,163},{72,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,106},{64,102}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,170},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{104,84}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,196},{104,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,48}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,229},{110,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{72,102}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,162},{72,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,106},{72,96}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,166},{72,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,222},{102,74}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,207},{102,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,112},{108,44}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,234},{108,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{74,104}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,161},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,212},{72,90}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,164},{72,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,204},{96,56}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,217},{96,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_022_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,210},{92,58}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,233},{92,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_022_7.png</string>
            <key>size</key>
            <string>{512,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b677324193825c64674c17e00c3b3ca0$</string>
            <key>textureFileName</key>
            <string>m_022_7.png</string>
        </dict>
    </dict>
</plist>
