<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_026_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,104},{52,100}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,162},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,100}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,162},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,100}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,162},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,100}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,162},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,104},{38,102}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,162},{38,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,104},{38,100}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,164},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,102},{40,100}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,164},{40,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{40,102}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,162},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,102},{42,104}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,102},{42,104}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,102},{42,104}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,102},{42,104}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,161},{42,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,104},{50,100}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,163},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{50,100}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,163},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,102},{52,98}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,165},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{52,98}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,165},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{52,98}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,167},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{52,98}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,167},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{52,98}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,167},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_026_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{52,98}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,167},{52,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_026_0.png</string>
            <key>size</key>
            <string>{512,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0cce76c450745854cd33a318050fa2c$</string>
            <key>textureFileName</key>
            <string>m_026_0.png</string>
        </dict>
    </dict>
</plist>
