<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_023_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,78},{50,98}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,161},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,130},{54,96}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,172},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,78}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,185},{100,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,150},{64,62}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,205},{64,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,130},{36,100}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,161},{36,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,102},{46,96}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,170},{46,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{86,74}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,189},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,150},{88,58}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,208},{88,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{46,104}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,158},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,104},{42,92}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,167},{42,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{86,70}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,195},{86,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{108,46}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,223},{108,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,50},{52,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,160},{52,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,130},{50,94}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,159},{50,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,150},{78,68}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{78,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,104},{96,40}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,233},{96,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,50},{50,104}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,160},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{54,90}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,159},{54,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{98,66}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,207},{98,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_023_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,74},{66,54}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,235},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_023_7.png</string>
            <key>size</key>
            <string>{512,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c1c20a2ce28b9e63a0095328a450992$</string>
            <key>textureFileName</key>
            <string>m_023_7.png</string>
        </dict>
    </dict>
</plist>
