<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_025_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,88},{62,108}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,162},{62,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,170},{60,102}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,173},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,64},{72,74}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,194},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,162},{74,60}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,207},{74,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{64,106}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,158},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{60,102}}</string>
                <key>offset</key>
                <string>{-17,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,171},{60,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{84,80}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,191},{84,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,138},{92,52}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,212},{92,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,106}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,158},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,64},{48,96}}</string>
                <key>offset</key>
                <string>{-22,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,168},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,110},{102,66}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,196},{102,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{110,36}}</string>
                <key>offset</key>
                <string>{30,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,227},{110,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,64},{58,100}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,162},{58,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{58,88}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,167},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,68},{100,62}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,206},{100,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,214},{104,46}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,232},{104,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{64,104}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,161},{64,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{60,86}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,165},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,92},{74,60}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,211},{74,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_025_7_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,168},{72,60}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,231},{72,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_025_7.png</string>
            <key>size</key>
            <string>{512,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9a793e70ead350da2042fa882c7a110$</string>
            <key>textureFileName</key>
            <string>m_025_7.png</string>
        </dict>
    </dict>
</plist>
