<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_056_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,124}}</string>
                <key>offset</key>
                <string>{-12,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,146},{58,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_056_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{60,124}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,146},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_056_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{62,124}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,146},{62,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_056_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,124}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,146},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_056.png</string>
            <key>size</key>
            <string>{250,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:884d2c2dcb453f7658735a620fa699ec:1/1$</string>
            <key>textureFileName</key>
            <string>npc_056.png</string>
        </dict>
    </dict>
</plist>
