<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_311_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_311_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{1,166},{147,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_311_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{150,1},{147,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_311_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{150,150},{147,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_311_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{150,315},{147,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_311_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{147,160}</string>
                <key>spriteSourceSize</key>
                <string>{149,164}</string>
                <key>textureRect</key>
                <string>{{315,1},{147,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_311_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{147,160}</string>
                <key>spriteSourceSize</key>
                <string>{149,164}</string>
                <key>textureRect</key>
                <string>{{315,315},{147,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_311_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{299,150},{147,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>npc_311.png</string>
            <key>size</key>
            <string>{476,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df88fe6af38752e23a860db382a7e1f:63b8c501c156bca4bc1fdcc937886754:9adb53b84b409f3f69d28d66df9c79ed$</string>
            <key>textureFileName</key>
            <string>npc_311.png</string>
        </dict>
    </dict>
</plist>
