<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_050_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,96}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_050_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{48,96}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_050_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{48,98}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{48,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_050_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{48,96}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_050.png</string>
            <key>size</key>
            <string>{52,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54972313180b1012468c5855bbc4b5d1:1/1$</string>
            <key>textureFileName</key>
            <string>npc_050.png</string>
        </dict>
    </dict>
</plist>
