<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_062_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,107}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,117},{47,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>npc_062_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{47,107}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,118},{47,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>npc_062_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{49,107}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,118},{49,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>npc_062_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{47,107}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,117},{47,107}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_062.png</string>
            <key>size</key>
            <string>{53,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74f33e24575756d20167fa1976fd50d7:1/1$</string>
            <key>textureFileName</key>
            <string>npc_062.png</string>
        </dict>
    </dict>
</plist>
