<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_052_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,92}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,169},{48,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_052_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{52,94}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,167},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_052_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{54,94}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,167},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_052_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{52,92}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,169},{52,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_052.png</string>
            <key>size</key>
            <string>{58,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1721742c77950220bc36a958d169e376:1/1$</string>
            <key>textureFileName</key>
            <string>npc_052.png</string>
        </dict>
    </dict>
</plist>
