<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_010_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,100}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,132},{40,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_010_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,100}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,132},{40,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_010_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{38,100}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,132},{38,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_010_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{40,100}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,132},{40,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_010.png</string>
            <key>size</key>
            <string>{158,100}</string>
            <key>textureFileName</key>
            <string>npc_010.png</string>
        </dict>
    </dict>
</plist>
