<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_555_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_555_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,200}}</string>
                <key>offset</key>
                <string>{3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,47},{158,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_555.png</string>
            <key>size</key>
            <string>{1896,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef1e77e8605261cdc3e5a43d9949b069$</string>
            <key>textureFileName</key>
            <string>npc_555.png</string>
        </dict>
    </dict>
</plist>
