<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_012_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,88}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,145},{44,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_012_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,0},{44,88}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,145},{44,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_012_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{44,90}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,144},{44,90}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_012_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{44,88}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,145},{44,88}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_012.png</string>
            <key>size</key>
            <string>{176,90}</string>
            <key>textureFileName</key>
            <string>npc_012.png</string>
        </dict>
    </dict>
</plist>
