<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_051_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,102}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_051_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{46,102}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_051_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{46,102}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_051_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{46,102}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,160},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_051.png</string>
            <key>size</key>
            <string>{50,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd643bab669484267bc1b573e41966d:1/1$</string>
            <key>textureFileName</key>
            <string>npc_051.png</string>
        </dict>
    </dict>
</plist>
