<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_026_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,110}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,121},{50,110}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_026_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{50,110}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,121},{50,110}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_026_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{48,110}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,120},{48,110}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_026_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{50,110}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,121},{50,110}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_026.png</string>
            <key>size</key>
            <string>{198,110}</string>
            <key>textureFileName</key>
            <string>npc_026.png</string>
        </dict>
    </dict>
</plist>
