<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_310_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_310_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{291,1},{288,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_310_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{1,188},{288,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_310_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{188,291},{288,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_310_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_310_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{291,1},{288,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_310_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{1,188},{288,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_310_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{188,291},{288,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_310_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_310_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,185}</string>
                <key>spriteSourceSize</key>
                <string>{288,185}</string>
                <key>textureRect</key>
                <string>{{291,1},{288,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>npc_310.png</string>
            <key>size</key>
            <string>{477,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdda6a6f17349852eb8c30364d39d1ea:ef9efa9b36b4f3ab968e41555dbd65fc:c4fc7d747aaf4fa1dcfdef8c7490f2c3$</string>
            <key>textureFileName</key>
            <string>npc_310.png</string>
        </dict>
    </dict>
</plist>
