<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_055_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,104}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,160},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_055_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,104}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,160},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_055_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,106}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,158},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_055_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{66,104}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,160},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_055.png</string>
            <key>size</key>
            <string>{274,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ce9176f5087485c14f9d39ce2a169da:1/1$</string>
            <key>textureFileName</key>
            <string>npc_055.png</string>
        </dict>
    </dict>
</plist>
