<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,102}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,132},{56,102}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{56,102}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,132},{56,102}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{58,100}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,134},{58,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>npc_002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{56,100}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,134},{56,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_002.png</string>
            <key>size</key>
            <string>{226,102}</string>
            <key>textureFileName</key>
            <string>npc_002.png</string>
        </dict>
    </dict>
</plist>
