<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_008_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,134}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,150},{126,134}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>npc_008_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{128,130}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,154},{128,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>npc_008_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{128,124}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,160},{128,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>npc_008_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,134},{126,120}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,164},{126,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>npc_008_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{126,124}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,160},{126,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>npc_008_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,258},{126,130}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,154},{126,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_008.png</string>
            <key>size</key>
            <string>{254,388}</string>
            <key>textureFileName</key>
            <string>npc_008.png</string>
        </dict>
    </dict>
</plist>
