<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_049_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,96}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,168},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_049_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{40,96}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,168},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_049_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{40,98}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,166},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>npc_049_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{40,96}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,168},{40,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_049.png</string>
            <key>size</key>
            <string>{46,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8d0987c15657ee1cc075542a03d8976:1/1$</string>
            <key>textureFileName</key>
            <string>npc_049.png</string>
        </dict>
    </dict>
</plist>
