<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_067_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,221}}</string>
                <key>offset</key>
                <string>{11,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,5},{177,221}}</string>
                <key>sourceSize</key>
                <string>{580,580}</string>
            </dict>
            <key>npc_067_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,221}}</string>
                <key>offset</key>
                <string>{11,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,5},{177,221}}</string>
                <key>sourceSize</key>
                <string>{580,580}</string>
            </dict>
            <key>npc_067_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,221}}</string>
                <key>offset</key>
                <string>{11,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,5},{177,221}}</string>
                <key>sourceSize</key>
                <string>{580,580}</string>
            </dict>
            <key>npc_067_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,221}}</string>
                <key>offset</key>
                <string>{11,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,5},{177,221}}</string>
                <key>sourceSize</key>
                <string>{580,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_067.png</string>
            <key>size</key>
            <string>{300,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c2f9b833c225cbcbb152d717b2eb47c:1/1$</string>
            <key>textureFileName</key>
            <string>npc_067.png</string>
        </dict>
    </dict>
</plist>
