<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_044_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,188}}</string>
                <key>offset</key>
                <string>{-19,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,95},{128,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_044.png</string>
            <key>size</key>
            <string>{132,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b44511566d125e568f60c9f451b1fe2:1/1$</string>
            <key>textureFileName</key>
            <string>npc_044.png</string>
        </dict>
    </dict>
</plist>
