<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_312_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_312_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{1,178},{150,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_312_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_312_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{153,178},{150,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_312_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{1,355},{150,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>npc_312_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_312_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{305,178},{150,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>npc_312_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{150,175}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{178,355},{150,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>npc_312.png</string>
            <key>size</key>
            <string>{456,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd52c8835776c595f9d16340eedd8001:34cba9a60111bece9b107c92706bcb34:b5866dc041c32e7e17778014a3ad4ad0$</string>
            <key>textureFileName</key>
            <string>npc_312.png</string>
        </dict>
    </dict>
</plist>
