<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>一刀流</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72.png</string>
		<string>Icon-76.png</string>
		<string>Icon-114.png</string>
		<string>Icon-120.png</string>
		<string>Icon-144.png</string>
		<string>Icon-152.png</string>
		<string>Icon-57.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-57.png</string>
				<string>Icon-120.png</string>
				<string>Icon-72.png</string>
				<string>Icon-76.png</string>
				<string>Icon-114.png</string>
				<string>Icon-144.png</string>
				<string>Icon-152.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.teamtopgame.daili.ydl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>yidaoliu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yidaoliu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1101578989</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41A8C2ED</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQLaunch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencentlaunch1101578989</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxa530da27df3cd0a9</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8.0.2</string>
	<key>CHANNEL_DENGTA</key>
	<string>1001</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MSDK_PUSH_URL</key>
	<string>pushtest.msdk.qq.com</string>
	<key>MSDK_URL</key>
	<string>msdktest.qq.com</string>
	<key>QQAppID</key>
	<string>1101578989</string>
	<key>QQAppKey</key>
	<string>X2R8qIRu2lIznVrZ</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WXAppID</key>
	<string>wxa530da27df3cd0a9</string>
	<key>WXAppKey</key>
	<string>da653eb6f280c650153527577366442a</string>
</dict>
</plist>
