<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>channel_anzhi.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1448,804},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>channel_dangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1606},{320,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,227}}</string>
                <key>sourceSize</key>
                <string>{320,227}</string>
            </dict>
            <key>channel_duoku.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>channel_ewan.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,804},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>channel_ios_kuaiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>channel_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,644},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>channel_muzhiwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>channel_shouyouba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,604},{251,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,129}}</string>
                <key>sourceSize</key>
                <string>{251,129}</string>
            </dict>
            <key>channel_sougou.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1446},{534,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,152}}</string>
                <key>sourceSize</key>
                <string>{534,152}</string>
            </dict>
            <key>channel_tencent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>channel_uc.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1606},{351,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,212}}</string>
                <key>sourceSize</key>
                <string>{351,212}</string>
            </dict>
            <key>channel_zhidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{600,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,252}}</string>
                <key>sourceSize</key>
                <string>{600,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>channel.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:566686c04bf5ed7e856cf1e4726d3b86$</string>
            <key>textureFileName</key>
            <string>channel.png</string>
        </dict>
    </dict>
</plist>
