<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,511},{290,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,180}}</string>
                <key>sourceSize</key>
                <string>{290,180}</string>
            </dict>
            <key>bg_baoman.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,431},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bg_fuwuqi_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{729,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,394}}</string>
                <key>sourceSize</key>
                <string>{729,394}</string>
            </dict>
            <key>bg_fuwuqi_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,398},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>bg_jueseming.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{280,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,62}}</string>
                <key>sourceSize</key>
                <string>{280,62}</string>
            </dict>
            <key>bg_shurukuang_.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,222},{217,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,53}}</string>
                <key>sourceSize</key>
                <string>{217,53}</string>
            </dict>
            <key>bg_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,199},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bg_weihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,172},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bg_yongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,145},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bg_zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,118},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>bkg_sword_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,118},{258,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,102}}</string>
                <key>sourceSize</key>
                <string>{258,102}</string>
            </dict>
            <key>btn_fuwuqibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,847},{142,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,48}}</string>
                <key>sourceSize</key>
                <string>{142,48}</string>
            </dict>
            <key>btn_fuwuqibg_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,797},{142,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,48}}</string>
                <key>sourceSize</key>
                <string>{142,48}</string>
            </dict>
            <key>btn_n1_08_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,398},{110,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,43}}</string>
                <key>sourceSize</key>
                <string>{110,43}</string>
            </dict>
            <key>btn_n1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{110,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,43}}</string>
                <key>sourceSize</key>
                <string>{110,43}</string>
            </dict>
            <key>btn_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,302},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>btn_shanchu.png_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,226},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>ios_3737_board_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,511},{568,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,358}}</string>
                <key>sourceSize</key>
                <string>{568,358}</string>
            </dict>
            <key>ios_3737_board_zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{568,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,358}}</string>
                <key>sourceSize</key>
                <string>{568,358}</string>
            </dict>
            <key>ios_3737_btn_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,885},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_denglu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,897},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_qxdenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,826},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_qxdenglu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,693},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_qxzhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,450},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_qxzhuce_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,452},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,398},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_zhuce01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,452},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_zhuce01_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,398},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_zhuce2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,452},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_zhuce2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,398},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_btn_zhuce_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,378},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ios_3737_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,66},{276,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,50}}</string>
                <key>sourceSize</key>
                <string>{276,50}</string>
            </dict>
            <key>qq_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,745},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>qq_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,693},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>weixin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,693},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>weixin_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,398},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>word_xuanzhe_chuangjianjuese.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,334},{55,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,216}}</string>
                <key>sourceSize</key>
                <string>{55,216}</string>
            </dict>
            <key>word_xuanzhe_chuangjianjuese_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,277},{55,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,216}}</string>
                <key>sourceSize</key>
                <string>{55,216}</string>
            </dict>
            <key>word_xuanzhe_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,959},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>word_xuanzhe_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,959},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>word_xuanzhe_zhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,391},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login1.png</string>
            <key>size</key>
            <string>{1020,1081}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6718b779826a99988b005626a4d68142$</string>
            <key>textureFileName</key>
            <string>login1.png</string>
        </dict>
    </dict>
</plist>
