<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_chuangjianjuese.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{213,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,293}}</string>
                <key>sourceSize</key>
                <string>{213,293}</string>
            </dict>
            <key>bg_shuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,491},{199,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,47}}</string>
                <key>sourceSize</key>
                <string>{199,47}</string>
            </dict>
            <key>bkg_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,432}}</string>
                <key>sourceSize</key>
                <string>{349,432}</string>
            </dict>
            <key>btn_create_random.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,408},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>btn_create_random_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,353},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>btn_img_chuang_daoshinan.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,935},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_daoshinan_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_daoshinv.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,816},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_daoshinv_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,772},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_fashinan.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,747},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_fashinan_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,678},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_fashinv.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,609},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_fashinv_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,609},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_zhanshinan.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,540},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_zhanshinan_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,328},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_zhanshinv.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,165},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>btn_img_chuang_zhanshinv_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{67,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,161}}</string>
                <key>sourceSize</key>
                <string>{67,161}</string>
            </dict>
            <key>label_create_daoshi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{259,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,103}}</string>
                <key>sourceSize</key>
                <string>{259,103}</string>
            </dict>
            <key>label_create_fashi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{259,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,103}}</string>
                <key>sourceSize</key>
                <string>{259,103}</string>
            </dict>
            <key>label_create_zhanshi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{259,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,103}}</string>
                <key>sourceSize</key>
                <string>{259,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5122a99561fee7fd4b04b21a1337e8d$</string>
            <key>textureFileName</key>
            <string>login2.png</string>
        </dict>
    </dict>
</plist>
