<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ys2_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ys2_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d3a8f581bfbc3b92ff64a1394f2eee4$</string>
            <key>textureFileName</key>
            <string>ys2_2.png</string>
        </dict>
    </dict>
</plist>
