<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ys2_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys2_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{52,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,106},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ys2_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd056c18184df41ca0d6c6b54c28656b$</string>
            <key>textureFileName</key>
            <string>ys2_4.png</string>
        </dict>
    </dict>
</plist>
