<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ys4_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys4_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,78}}</string>
                <key>offset</key>
                <string>{51,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,96},{64,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ys4_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85f9b0b2f2b6aeb3a73f487225c98a84$</string>
            <key>textureFileName</key>
            <string>ys4_2.png</string>
        </dict>
    </dict>
</plist>
