<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ys5_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{86,74}}</string>
                <key>offset</key>
                <string>{60,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{86,74}}</string>
                <key>offset</key>
                <string>{60,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{86,74}}</string>
                <key>offset</key>
                <string>{60,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{86,74}}</string>
                <key>offset</key>
                <string>{59,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,78},{80,76}}</string>
                <key>offset</key>
                <string>{57,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,95},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,80},{80,74}}</string>
                <key>offset</key>
                <string>{56,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,97},{80,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{86,74}}</string>
                <key>offset</key>
                <string>{54,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{86,74}}</string>
                <key>offset</key>
                <string>{54,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{90,76}}</string>
                <key>offset</key>
                <string>{57,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,95},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,74}}</string>
                <key>offset</key>
                <string>{57,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,97},{92,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{86,74}}</string>
                <key>offset</key>
                <string>{60,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{86,74}}</string>
                <key>offset</key>
                <string>{60,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{86,74}}</string>
                <key>offset</key>
                <string>{60,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{86,74}}</string>
                <key>offset</key>
                <string>{59,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,78},{80,76}}</string>
                <key>offset</key>
                <string>{57,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,95},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,80},{80,74}}</string>
                <key>offset</key>
                <string>{56,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,97},{80,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{86,74}}</string>
                <key>offset</key>
                <string>{54,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{86,74}}</string>
                <key>offset</key>
                <string>{54,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,97},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{90,76}}</string>
                <key>offset</key>
                <string>{57,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,95},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ys5_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,74}}</string>
                <key>offset</key>
                <string>{57,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,97},{92,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ys5_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6263d8263e944658e21958939703246$</string>
            <key>textureFileName</key>
            <string>ys5_2.png</string>
        </dict>
    </dict>
</plist>
