<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_008_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,972},{200,202}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,106},{200,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1184},{202,194}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,114},{202,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{194,204}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,106},{194,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,402},{178,214}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,96},{178,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,414},{176,214}}</string>
                <key>offset</key>
                <string>{-6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,94},{176,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,408},{178,216}}</string>
                <key>offset</key>
                <string>{-7,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,94},{178,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,202},{220,198}}</string>
                <key>offset</key>
                <string>{15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,107},{220,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,210},{216,196}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,114},{216,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{224,206}}</string>
                <key>offset</key>
                <string>{21,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,106},{224,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,206},{218,206}}</string>
                <key>offset</key>
                <string>{19,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,106},{218,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,588},{208,212}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,99},{208,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{206,210}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,106},{206,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,592},{208,202}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,114},{208,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,582},{210,202}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,115},{210,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{222,202}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,114},{222,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{222,198}}</string>
                <key>offset</key>
                <string>{19,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{222,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{224,198}}</string>
                <key>offset</key>
                <string>{20,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,114},{224,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,202}}</string>
                <key>offset</key>
                <string>{19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,114},{226,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,786},{184,208}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,116},{184,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{186,216}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,119},{186,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,798},{186,206}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,118},{186,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,998},{202,196}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,116},{202,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,986},{204,196}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,116},{204,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{204,198}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,118},{204,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{200,200}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,117},{200,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,796},{200,206}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,118},{200,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1174},{198,198}}</string>
                <key>offset</key>
                <string>{-17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,119},{198,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1174},{178,198}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,116},{178,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,972},{176,196}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,116},{176,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_008_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1196},{178,198}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,118},{178,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_008_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e95ea6b6fb9a695f5f44e0eb8e5e8770$</string>
            <key>textureFileName</key>
            <string>p_008_1.png</string>
        </dict>
    </dict>
</plist>
