<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_007_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,96},{96,150}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,139},{96,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,90},{88,146}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,139},{88,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,88},{90,148}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,139},{90,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,0},{90,148}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,138},{90,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,90},{90,144}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,137},{90,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,90},{92,148}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,137},{92,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,0},{132,146}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,138},{132,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,0},{128,140}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,141},{128,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,0},{126,148}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,139},{126,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,132},{128,148}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,140},{128,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,0},{126,142}}</string>
                <key>offset</key>
                <string>{8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,141},{126,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,126},{132,138}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,142},{132,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{144,136}}</string>
                <key>offset</key>
                <string>{-14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,144},{144,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{144,142}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,142},{144,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{150,144}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,142},{150,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,144}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,141},{152,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{154,136}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,143},{154,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{144,136}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,142},{144,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{110,148}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,139},{110,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,144},{112,144}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,141},{112,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,136},{118,144}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,140},{118,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,136},{124,148}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,137},{124,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,136},{116,148}}</string>
                <key>offset</key>
                <string>{-11,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,136},{116,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{106,150}}</string>
                <key>offset</key>
                <string>{-13,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,137},{106,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,140},{100,150}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,138},{100,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,0},{96,150}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,137},{96,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,0},{88,152}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,138},{88,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,0},{90,152}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,136},{90,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,96},{94,146}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,137},{94,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_007_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,126},{100,148}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,137},{100,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_007_1.png</string>
            <key>size</key>
            <string>{2038,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:489df8a57889149cb134a7b50c6f6795$</string>
            <key>textureFileName</key>
            <string>p_007_1.png</string>
        </dict>
    </dict>
</plist>
