<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_005_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,282},{44,80}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,187},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,246},{44,80}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,188},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,200},{44,80}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,187},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,364},{42,80}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,187},{42,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,252},{42,82}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,187},{42,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,200},{44,80}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,188},{44,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{108,66}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,194},{108,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,110},{102,68}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,194},{102,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,260},{98,66}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,195},{98,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,82},{92,70}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,194},{92,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,260},{96,70}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,195},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{106,66}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,196},{106,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{134,60}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,202},{134,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,138},{134,56}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,205},{134,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,274},{132,58}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,204},{132,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,138},{130,60}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,203},{130,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{134,60}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,201},{134,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,60}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,202},{138,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{92,78}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,194},{92,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,102},{94,80}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,194},{94,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{100,82}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,196},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,104},{100,80}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,197},{100,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,270},{104,74}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,197},{104,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{98,74}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,196},{98,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,206},{44,92}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,187},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,358},{44,92}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,186},{44,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,214},{44,96}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,187},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{42,90}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,191},{42,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,154},{44,90}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,190},{44,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>p_005_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,360},{44,94}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,188},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_005_1.png</string>
            <key>size</key>
            <string>{512,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b09d978804ce238a3ec91ca0f7595cf$</string>
            <key>textureFileName</key>
            <string>p_005_1.png</string>
        </dict>
    </dict>
</plist>
