<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zb_016_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,1152},{264,168}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,173},{264,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,850},{274,162}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,173},{274,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{290,156}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,173},{290,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,310},{298,154}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,172},{298,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{280,156}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,170},{280,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,994},{268,156}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,173},{268,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,830},{270,162}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,173},{270,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,290},{280,170}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,173},{280,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{286,176}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,172},{286,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,584},{280,176}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,172},{280,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{320,168}}</string>
                <key>offset</key>
                <string>{-48,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,170},{320,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,332},{320,176}}</string>
                <key>offset</key>
                <string>{-45,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,157},{320,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,986},{320,184}}</string>
                <key>offset</key>
                <string>{-40,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,144},{320,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,992},{322,194}}</string>
                <key>offset</key>
                <string>{-38,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,130},{322,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1308},{312,204}}</string>
                <key>offset</key>
                <string>{-41,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,120},{312,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{304,200}}</string>
                <key>offset</key>
                <string>{-43,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,127},{304,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,644},{308,196}}</string>
                <key>offset</key>
                <string>{-44,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,137},{308,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,644},{318,194}}</string>
                <key>offset</key>
                <string>{-44,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,147},{318,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{328,184}}</string>
                <key>offset</key>
                <string>{-44,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,161},{328,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,166}}</string>
                <key>offset</key>
                <string>{-46,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,180},{330,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{272,174}}</string>
                <key>offset</key>
                <string>{-86,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,152},{272,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,836},{270,168}}</string>
                <key>offset</key>
                <string>{-86,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,149},{270,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,454},{272,170}}</string>
                <key>offset</key>
                <string>{-87,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,136},{272,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,276},{272,176}}</string>
                <key>offset</key>
                <string>{-88,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,118},{272,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2},{272,180}}</string>
                <key>offset</key>
                <string>{-89,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,108},{272,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,280},{272,180}}</string>
                <key>offset</key>
                <string>{-89,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,117},{272,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1126},{274,182}}</string>
                <key>offset</key>
                <string>{-89,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,127},{274,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,284},{276,182}}</string>
                <key>offset</key>
                <string>{-90,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,137},{276,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{276,178}}</string>
                <key>offset</key>
                <string>{-89,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,149},{276,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,850},{274,182}}</string>
                <key>offset</key>
                <string>{-87,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,152},{274,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,324},{318,240}}</string>
                <key>offset</key>
                <string>{-47,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,76},{318,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{318,232}}</string>
                <key>offset</key>
                <string>{-44,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,73},{318,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{322,222}}</string>
                <key>offset</key>
                <string>{-39,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,72},{322,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,664},{320,212}}</string>
                <key>offset</key>
                <string>{-37,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,69},{320,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,322},{308,194}}</string>
                <key>offset</key>
                <string>{-39,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,69},{308,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,954},{302,198}}</string>
                <key>offset</key>
                <string>{-42,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,70},{302,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{306,210}}</string>
                <key>offset</key>
                <string>{-43,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,70},{306,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,964},{316,224}}</string>
                <key>offset</key>
                <string>{-43,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,70},{316,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{326,238}}</string>
                <key>offset</key>
                <string>{-43,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,72},{326,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{328,248}}</string>
                <key>offset</key>
                <string>{-44,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,76},{328,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1152},{266,200}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,69},{266,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,572},{276,196}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,63},{276,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1316},{292,200}}</string>
                <key>offset</key>
                <string>{-1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,58},{292,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,632},{300,202}}</string>
                <key>offset</key>
                <string>{-2,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,54},{300,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,934},{282,202}}</string>
                <key>offset</key>
                <string>{-2,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,52},{282,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,626},{268,202}}</string>
                <key>offset</key>
                <string>{-2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,52},{268,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,562},{272,202}}</string>
                <key>offset</key>
                <string>{-2,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,52},{272,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1218},{282,200}}</string>
                <key>offset</key>
                <string>{-1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,56},{282,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,294},{288,198}}</string>
                <key>offset</key>
                <string>{-2,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,62},{288,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1258},{284,210}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,66},{284,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zb_016_2.png</string>
            <key>size</key>
            <string>{2048,1518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b547c3cbce2fb52215bdce8bd2797110$</string>
            <key>textureFileName</key>
            <string>zb_016_2.png</string>
        </dict>
    </dict>
</plist>
