<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zb_007_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,136},{80,172}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,112},{80,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,136},{80,174}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,110},{80,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,132},{80,172}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,111},{80,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,610},{80,166}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,112},{80,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,128},{80,164}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,113},{80,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,132},{80,162}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,117},{80,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,214},{80,152}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,122},{80,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,218},{80,134}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,124},{80,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,330},{80,146}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,122},{80,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,610},{80,160}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,116},{80,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{120,160}}</string>
                <key>offset</key>
                <string>{14,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,113},{120,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{132,158}}</string>
                <key>offset</key>
                <string>{8,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,113},{132,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,162}}</string>
                <key>offset</key>
                <string>{5,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,112},{140,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{132,152}}</string>
                <key>offset</key>
                <string>{8,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,114},{132,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{122,154}}</string>
                <key>offset</key>
                <string>{12,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,113},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,610},{112,158}}</string>
                <key>offset</key>
                <string>{17,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,116},{112,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,218},{110,152}}</string>
                <key>offset</key>
                <string>{18,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,121},{110,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,368},{110,138}}</string>
                <key>offset</key>
                <string>{18,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,123},{110,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,352},{108,142}}</string>
                <key>offset</key>
                <string>{19,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,120},{108,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,218},{112,150}}</string>
                <key>offset</key>
                <string>{18,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,117},{112,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,214},{150,130}}</string>
                <key>offset</key>
                <string>{17,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,131},{150,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{166,128}}</string>
                <key>offset</key>
                <string>{10,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,133},{166,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{174,122}}</string>
                <key>offset</key>
                <string>{6,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,134},{174,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{170,124}}</string>
                <key>offset</key>
                <string>{7,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,135},{170,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{164,128}}</string>
                <key>offset</key>
                <string>{9,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,132},{164,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,346},{146,130}}</string>
                <key>offset</key>
                <string>{17,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,132},{146,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,478},{142,130}}</string>
                <key>offset</key>
                <string>{19,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,135},{142,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{138,128}}</string>
                <key>offset</key>
                <string>{19,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,135},{138,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,210},{140,122}}</string>
                <key>offset</key>
                <string>{19,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,133},{140,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,214},{140,124}}</string>
                <key>offset</key>
                <string>{21,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,132},{140,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,478},{110,114}}</string>
                <key>offset</key>
                <string>{19,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,156},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,450},{124,118}}</string>
                <key>offset</key>
                <string>{13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,159},{124,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,412},{132,116}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,161},{132,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,340},{136,116}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,160},{136,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,332},{132,116}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,157},{132,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,354},{122,114}}</string>
                <key>offset</key>
                <string>{12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,157},{122,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,496},{110,112}}</string>
                <key>offset</key>
                <string>{18,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,156},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,590},{110,110}}</string>
                <key>offset</key>
                <string>{18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,153},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,530},{110,108}}</string>
                <key>offset</key>
                <string>{19,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,153},{110,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,478},{110,114}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,154},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,680},{80,108}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,173},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,570},{80,108}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,175},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,640},{80,112}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,171},{80,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,610},{80,114}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,168},{80,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,590},{80,106}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,171},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,508},{80,100}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,173},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,698},{80,96}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,172},{80,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,694},{80,92}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,168},{80,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,590},{80,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,169},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_007_1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,702},{80,110}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,171},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zb_007_2.png</string>
            <key>size</key>
            <string>{1024,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dea28961d15e6ca2e4df65a7e8cf7f32$</string>
            <key>textureFileName</key>
            <string>zb_007_2.png</string>
        </dict>
    </dict>
</plist>
