<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zb_015_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,172},{38,118}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,164},{38,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,172},{40,112}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,167},{40,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,172},{40,106}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,170},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,70},{40,98}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,172},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,70},{42,96}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,168},{42,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,70},{42,100}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,165},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,172},{44,104}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,165},{44,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,172},{42,114}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,165},{42,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,172},{40,112}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,167},{40,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,172},{40,114}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,167},{40,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,70},{136,92}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,174},{136,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,70},{136,94}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,177},{136,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,70},{136,92}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{136,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,70},{134,88}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,180},{134,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,70},{134,80}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,178},{134,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{134,78}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,174},{134,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,70},{136,90}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,173},{136,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,70},{142,96}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,174},{142,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,70},{146,92}}</string>
                <key>offset</key>
                <string>{-3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,176},{146,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,70},{138,100}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,176},{138,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{190,66}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,195},{190,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,2},{190,66}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,196},{190,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{190,58}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,196},{190,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{188,60}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,197},{188,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{186,60}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,194},{186,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,58}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,192},{184,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{186,60}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,194},{186,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{186,62}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,194},{186,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{200,66}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,197},{200,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{196,64}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,196},{196,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,172},{136,104}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,180},{136,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,172},{138,102}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,177},{138,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,70},{138,98}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,171},{138,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,172},{136,102}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,168},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{134,102}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,164},{134,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,70},{132,100}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,164},{132,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,172},{130,106}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,166},{130,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,172},{138,110}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,170},{138,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,172},{152,110}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,173},{152,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,70},{150,98}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,178},{150,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,172},{38,134}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,164},{38,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,172},{40,128}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{40,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,172},{40,128}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,155},{40,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,172},{40,132}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,151},{40,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,172},{40,132}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,148},{40,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,172},{42,126}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,150},{42,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,172},{44,128}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,151},{44,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,172},{42,132}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,156},{42,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,172},{40,134}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,158},{40,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_015_2_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,172},{40,132}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,162},{40,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zb_015_2.png</string>
            <key>size</key>
            <string>{2048,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe7ade2614cee5fb1650699c23193ba$</string>
            <key>textureFileName</key>
            <string>zb_015_2.png</string>
        </dict>
    </dict>
</plist>
