<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zb_016_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{302,168}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,173},{302,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,312},{306,160}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,172},{306,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,306},{300,154}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,173},{300,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{288,160}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,170},{288,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,608},{292,168}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,173},{292,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,620},{298,176}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,173},{298,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{332,192}}</string>
                <key>offset</key>
                <string>{-43,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,146},{332,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{326,190}}</string>
                <key>offset</key>
                <string>{-40,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,140},{326,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,328},{322,200}}</string>
                <key>offset</key>
                <string>{-38,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,124},{322,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,648},{312,210}}</string>
                <key>offset</key>
                <string>{-39,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,118},{312,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,668},{318,216}}</string>
                <key>offset</key>
                <string>{-42,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,123},{318,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,212}}</string>
                <key>offset</key>
                <string>{-44,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,134},{332,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,742},{272,176}}</string>
                <key>offset</key>
                <string>{-86,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,134},{272,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,562},{272,178}}</string>
                <key>offset</key>
                <string>{-87,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,125},{272,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,378},{272,182}}</string>
                <key>offset</key>
                <string>{-88,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,109},{272,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,192},{272,184}}</string>
                <key>offset</key>
                <string>{-89,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,106},{272,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{274,188}}</string>
                <key>offset</key>
                <string>{-89,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,110},{274,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,632},{276,186}}</string>
                <key>offset</key>
                <string>{-89,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,120},{276,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{330,220}}</string>
                <key>offset</key>
                <string>{-42,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,76},{330,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{324,218}}</string>
                <key>offset</key>
                <string>{-39,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,71},{324,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,328},{318,206}}</string>
                <key>offset</key>
                <string>{-36,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,70},{318,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,320},{310,192}}</string>
                <key>offset</key>
                <string>{-38,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,71},{310,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{316,198}}</string>
                <key>offset</key>
                <string>{-41,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,72},{316,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,336},{330,212}}</string>
                <key>offset</key>
                <string>{-43,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,74},{330,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{304,192}}</string>
                <key>offset</key>
                <string>{-2,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,69},{304,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{308,200}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,60},{308,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,308},{302,204}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,54},{302,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,298},{290,204}}</string>
                <key>offset</key>
                <string>{-2,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,53},{290,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{294,202}}</string>
                <key>offset</key>
                <string>{-2,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,56},{294,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_016_0_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,612},{300,196}}</string>
                <key>offset</key>
                <string>{-2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,64},{300,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zb_016_0.png</string>
            <key>size</key>
            <string>{2048,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dabdc7fad4a2024a576b6a0ca604ebad$</string>
            <key>textureFileName</key>
            <string>zb_016_0.png</string>
        </dict>
    </dict>
</plist>
