<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zb_021_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,721},{85,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,197}}</string>
                <key>sourceSize</key>
                <string>{85,197}</string>
            </dict>
            <key>zb_021_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,895},{85,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,196}}</string>
                <key>sourceSize</key>
                <string>{85,196}</string>
            </dict>
            <key>zb_021_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,794},{85,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,197}}</string>
                <key>sourceSize</key>
                <string>{85,197}</string>
            </dict>
            <key>zb_021_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,808},{85,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,196}}</string>
                <key>sourceSize</key>
                <string>{85,196}</string>
            </dict>
            <key>zb_021_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,639},{85,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,195}}</string>
                <key>sourceSize</key>
                <string>{85,195}</string>
            </dict>
            <key>zb_021_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,721},{85,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,197}}</string>
                <key>sourceSize</key>
                <string>{85,197}</string>
            </dict>
            <key>zb_021_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,794},{213,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,179}}</string>
                <key>sourceSize</key>
                <string>{213,179}</string>
            </dict>
            <key>zb_021_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,794},{212,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,179}}</string>
                <key>sourceSize</key>
                <string>{212,179}</string>
            </dict>
            <key>zb_021_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,263},{215,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,179}}</string>
                <key>sourceSize</key>
                <string>{215,179}</string>
            </dict>
            <key>zb_021_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{214,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,178}}</string>
                <key>sourceSize</key>
                <string>{214,178}</string>
            </dict>
            <key>zb_021_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,794},{213,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,178}}</string>
                <key>sourceSize</key>
                <string>{213,178}</string>
            </dict>
            <key>zb_021_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,794},{213,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,179}}</string>
                <key>sourceSize</key>
                <string>{213,179}</string>
            </dict>
            <key>zb_021_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{287,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,162}}</string>
                <key>sourceSize</key>
                <string>{287,162}</string>
            </dict>
            <key>zb_021_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,162}}</string>
                <key>sourceSize</key>
                <string>{289,162}</string>
            </dict>
            <key>zb_021_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{288,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,160}}</string>
                <key>sourceSize</key>
                <string>{288,160}</string>
            </dict>
            <key>zb_021_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{286,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,160}}</string>
                <key>sourceSize</key>
                <string>{286,160}</string>
            </dict>
            <key>zb_021_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,164},{287,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,159}}</string>
                <key>sourceSize</key>
                <string>{287,159}</string>
            </dict>
            <key>zb_021_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{287,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,162}}</string>
                <key>sourceSize</key>
                <string>{287,162}</string>
            </dict>
            <key>zb_021_0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,413},{239,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,224}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>zb_021_0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,480},{239,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,224}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>zb_021_0_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,342},{239,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,225}}</string>
                <key>sourceSize</key>
                <string>{239,225}</string>
            </dict>
            <key>zb_021_0_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{238,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,224}}</string>
                <key>sourceSize</key>
                <string>{238,224}</string>
            </dict>
            <key>zb_021_0_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,569},{238,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,223}}</string>
                <key>sourceSize</key>
                <string>{238,223}</string>
            </dict>
            <key>zb_021_0_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,413},{239,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,224}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>zb_021_0_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,166},{86,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,259}}</string>
                <key>sourceSize</key>
                <string>{86,259}</string>
            </dict>
            <key>zb_021_0_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{86,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,259}}</string>
                <key>sourceSize</key>
                <string>{86,259}</string>
            </dict>
            <key>zb_021_0_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{86,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,257}}</string>
                <key>sourceSize</key>
                <string>{86,257}</string>
            </dict>
            <key>zb_021_0_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,325},{86,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,258}}</string>
                <key>sourceSize</key>
                <string>{86,258}</string>
            </dict>
            <key>zb_021_0_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,254},{86,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,258}}</string>
                <key>sourceSize</key>
                <string>{86,258}</string>
            </dict>
            <key>zb_021_0_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,166},{86,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,259}}</string>
                <key>sourceSize</key>
                <string>{86,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zb_021_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2753a13b4865fc673392026664112ce0$</string>
            <key>textureFileName</key>
            <string>zb_021_0.png</string>
        </dict>
    </dict>
</plist>
