<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zb_006_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,372},{48,126}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,167},{48,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,378},{48,124}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,172},{48,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,504},{48,118}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,175},{48,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,446},{48,114}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,175},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,266},{48,114}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,173},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,230},{48,116}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,171},{48,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,502},{48,120}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,168},{48,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,452},{48,122}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,168},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,402},{48,122}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,169},{48,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,352},{48,126}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,169},{48,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,244},{126,106}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,176},{126,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,88},{130,108}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,179},{130,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,266},{130,106}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,181},{130,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,242},{128,102}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,180},{128,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,298},{126,94}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,179},{126,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,322},{122,96}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,177},{122,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,316},{122,96}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,178},{122,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,448},{124,102}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,179},{124,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,192},{128,98}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,181},{128,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,102},{126,108}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,179},{126,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{178,80}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,184},{178,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,86}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,187},{180,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{182,80}}</string>
                <key>offset</key>
                <string>{-16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,187},{182,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{182,80}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,188},{182,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{178,84}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,186},{178,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{176,84}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,185},{176,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,270},{174,84}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,185},{174,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,90},{174,78}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,186},{174,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{180,82}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,186},{180,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,90},{178,84}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,186},{178,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,198},{126,98}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,181},{126,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{128,104}}</string>
                <key>offset</key>
                <string>{-11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,179},{128,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,394},{128,88}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,179},{128,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,414},{130,90}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,178},{130,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,410},{130,88}}</string>
                <key>offset</key>
                <string>{-13,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,177},{130,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,280},{128,96}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,177},{128,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,88},{126,106}}</string>
                <key>offset</key>
                <string>{-11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,177},{126,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,84},{134,108}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,179},{134,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,84},{140,106}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,181},{140,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,88},{136,102}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,182},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,506},{48,128}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{48,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,484},{48,130}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,162},{48,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,52},{48,116}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,160},{48,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{48,116}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,160},{48,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,216},{48,114}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,159},{48,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,448},{48,112}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,159},{48,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,398},{48,126}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,160},{48,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,192},{48,134}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,161},{48,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,244},{48,132}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,164},{48,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zb_006_1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,194},{48,132}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{48,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zb_006_2.png</string>
            <key>size</key>
            <string>{1024,563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18202e410afa46bd751220ac7a58535c$</string>
            <key>textureFileName</key>
            <string>zb_006_2.png</string>
        </dict>
    </dict>
</plist>
