<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zh_005_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,32},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,46}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,194},{28,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{28,48}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,197},{28,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{28,50}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,198},{28,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{28,50}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,200},{28,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{28,52}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,196},{28,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{28,52}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,193},{28,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{28,50}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,194},{28,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{28,50}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,195},{28,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{28,50}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,196},{28,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_005_1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{28,48}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,196},{28,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zh_005_2.png</string>
            <key>size</key>
            <string>{512,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8801ecc88a1789924fb2252fafcca60f$</string>
            <key>textureFileName</key>
            <string>zh_005_2.png</string>
        </dict>
    </dict>
</plist>
