<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zh_013_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,56},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,58}}</string>
                <key>offset</key>
                <string>{20,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,186},{56,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{54,60}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,188},{54,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{54,62}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,190},{54,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{54,62}}</string>
                <key>offset</key>
                <string>{19,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,192},{54,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{52,60}}</string>
                <key>offset</key>
                <string>{19,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,188},{52,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{52,58}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,185},{52,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{52,60}}</string>
                <key>offset</key>
                <string>{20,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,186},{52,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{52,62}}</string>
                <key>offset</key>
                <string>{20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,189},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{54,62}}</string>
                <key>offset</key>
                <string>{20,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,192},{54,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{54,60}}</string>
                <key>offset</key>
                <string>{20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,190},{54,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{44,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{46,52}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,195},{46,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,196},{46,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{46,58}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,196},{46,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{44,54}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,194},{44,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{42,52}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,190},{42,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,191},{42,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,195},{44,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,198},{46,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_013_2_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{46,54}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,196},{46,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zh_013_2.png</string>
            <key>size</key>
            <string>{2048,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65105e6d0b4b882dec17be8ab515453c$</string>
            <key>textureFileName</key>
            <string>zh_013_2.png</string>
        </dict>
    </dict>
</plist>
