<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zh_007_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,170},{78,82}}</string>
                <key>offset</key>
                <string>{35,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,155},{78,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{78,82}}</string>
                <key>offset</key>
                <string>{36,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,158},{78,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{76,84}}</string>
                <key>offset</key>
                <string>{37,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,160},{76,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{76,84}}</string>
                <key>offset</key>
                <string>{36,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,160},{76,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,86},{78,82}}</string>
                <key>offset</key>
                <string>{34,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,158},{78,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,86},{80,80}}</string>
                <key>offset</key>
                <string>{33,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,157},{80,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{82,82}}</string>
                <key>offset</key>
                <string>{32,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,156},{82,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{84,82}}</string>
                <key>offset</key>
                <string>{31,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,154},{84,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,82}}</string>
                <key>offset</key>
                <string>{32,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,154},{84,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{80,82}}</string>
                <key>offset</key>
                <string>{34,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,154},{80,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,80},{80,72}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,174},{80,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{80,70}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,178},{80,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,160},{80,70}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,182},{80,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,156},{80,70}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,182},{80,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,154},{80,70}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,177},{80,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,80},{80,74}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,173},{80,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,228},{80,76}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,172},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,226},{80,78}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,169},{80,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,80},{80,78}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,169},{80,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zh_007_1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{80,76}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,170},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zh_007_2.png</string>
            <key>size</key>
            <string>{512,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75b7ad8bec11804cd62de0bd8971c5f0$</string>
            <key>textureFileName</key>
            <string>zh_007_2.png</string>
        </dict>
    </dict>
</plist>
