<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_biaoqing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,428},{20,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,428},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,406},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,406},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,208},{20,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,186},{20,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,384},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,384},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,164},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,74},{22,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,362},{20,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,362},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,340},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,340},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,142},{20,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,318},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,318},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,296},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,296},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,274},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,274},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,252},{20,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,252},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,50},{22,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,98},{22,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{22,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,120},{20,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,230},{20,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,230},{20,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_biaoqing_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,26},{22,22}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bg_hanghuiguangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,892},{243,335}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{243,335}}</string>
                <key>sourceSize</key>
                <string>{243,341}</string>
            </dict>
            <key>bg_libaomeizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,464}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{458,464}}</string>
                <key>sourceSize</key>
                <string>{458,480}</string>
            </dict>
            <key>bg_libaomeizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{402,420}}</string>
                <key>offset</key>
                <string>{28,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,42},{402,420}}</string>
                <key>sourceSize</key>
                <string>{458,480}</string>
            </dict>
            <key>bg_meiz2i.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{269,462}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{269,462}}</string>
                <key>sourceSize</key>
                <string>{335,480}</string>
            </dict>
            <key>bg_mmeizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{774,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{774,240}}</string>
                <key>sourceSize</key>
                <string>{774,240}</string>
            </dict>
            <key>bg_zhuanpanwenzibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,462},{428,259}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,259}}</string>
                <key>sourceSize</key>
                <string>{430,261}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bgimg1.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d9efbcd2cd4d439906764f04a3781ab$</string>
            <key>textureFileName</key>
            <string>bgimg1.png</string>
        </dict>
    </dict>
</plist>
