<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>word_100yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,24},{110,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,25}}</string>
                <key>sourceSize</key>
                <string>{110,25}</string>
            </dict>
            <key>word_1888dalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,284},{127,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{127,20}}</string>
                <key>sourceSize</key>
                <string>{127,22}</string>
            </dict>
            <key>word_1888yuanbaochongzhidalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{380,36}}</string>
                <key>sourceSize</key>
                <string>{382,38}</string>
            </dict>
            <key>word_68yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,558},{94,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,28}}</string>
                <key>sourceSize</key>
                <string>{94,28}</string>
            </dict>
            <key>word_Nyuedalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{120,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{122,20}</string>
            </dict>
            <key>word_Nyuedalibaoo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{270,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{270,41}}</string>
                <key>sourceSize</key>
                <string>{276,43}</string>
            </dict>
            <key>word_biaotizi_denglujiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,364},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{134,24}</string>
            </dict>
            <key>word_biaotizi_fanlidahuikui.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,437},{171,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,24}}</string>
                <key>sourceSize</key>
                <string>{171,24}</string>
            </dict>
            <key>word_biaotizi_fuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,650},{101,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{101,24}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>word_biaotizi_hefuhuikui.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,208},{135,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,24}}</string>
                <key>sourceSize</key>
                <string>{135,24}</string>
            </dict>
            <key>word_biaotizi_huodonghuikui.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,182},{136,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,24}}</string>
                <key>sourceSize</key>
                <string>{136,24}</string>
            </dict>
            <key>word_biaotizi_kaifuhuodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,338},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{134,24}</string>
            </dict>
            <key>word_biaotizi_kaifujingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,312},{134,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,24}}</string>
                <key>sourceSize</key>
                <string>{134,24}</string>
            </dict>
            <key>word_biaotizi_kuafupaihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,566},{97,15}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{97,15}}</string>
                <key>sourceSize</key>
                <string>{99,23}</string>
            </dict>
            <key>word_biaotizi_liwufengshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,286},{134,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,24}}</string>
                <key>sourceSize</key>
                <string>{134,24}</string>
            </dict>
            <key>word_biaotizi_meirihuoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,260},{134,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,24}}</string>
                <key>sourceSize</key>
                <string>{134,24}</string>
            </dict>
            <key>word_biaotizi_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,533},{99,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,23}}</string>
                <key>sourceSize</key>
                <string>{99,23}</string>
            </dict>
            <key>word_biaotizi_touzijihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,51},{130,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,24}}</string>
                <key>sourceSize</key>
                <string>{134,24}</string>
            </dict>
            <key>word_biaotizi_zhanglijingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,234},{134,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,24}}</string>
                <key>sourceSize</key>
                <string>{134,24}</string>
            </dict>
            <key>word_chengzhudiaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,104},{137,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,24}}</string>
                <key>sourceSize</key>
                <string>{139,26}</string>
            </dict>
            <key>word_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,597},{103,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,24}}</string>
                <key>sourceSize</key>
                <string>{105,24}</string>
            </dict>
            <key>word_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,676},{100,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,23}}</string>
                <key>sourceSize</key>
                <string>{102,25}</string>
            </dict>
            <key>word_fuli_jiuyuelaoyuechun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{270,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{270,28}}</string>
                <key>sourceSize</key>
                <string>{272,28}</string>
            </dict>
            <key>word_fuli_meirigongzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,507},{99,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>word_fuli_zhizhunvipewailingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,473},{192,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{192,32}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>word_hanghuijianzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,156},{136,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,24}}</string>
                <key>sourceSize</key>
                <string>{136,24}</string>
            </dict>
            <key>word_huodong_999yuanbaokaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,221},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>word_huodong_999yuanbaokaiqi_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,73},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>word_huodong_caishenchuangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,77},{137,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,25}}</string>
                <key>sourceSize</key>
                <string>{137,25}</string>
            </dict>
            <key>word_huodong_chongjidajingsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,350},{207,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{207,31}}</string>
                <key>sourceSize</key>
                <string>{207,33}</string>
            </dict>
            <key>word_huodong_hunshidajingsai.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,317},{207,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{207,31}}</string>
                <key>sourceSize</key>
                <string>{207,33}</string>
            </dict>
            <key>word_huodong_jintianxiaofei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{317,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,33}}</string>
                <key>sourceSize</key>
                <string>{317,33}</string>
            </dict>
            <key>word_huodong_linfengxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,151},{544,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,36}}</string>
                <key>sourceSize</key>
                <string>{544,36}</string>
            </dict>
            <key>word_huodong_meinvhusong.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,130},{136,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,24}}</string>
                <key>sourceSize</key>
                <string>{136,24}</string>
            </dict>
            <key>word_huodong_shitianjianianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{727,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,28}}</string>
                <key>sourceSize</key>
                <string>{727,28}</string>
            </dict>
            <key>word_huodong_xunbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,623},{102,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,25}}</string>
                <key>sourceSize</key>
                <string>{102,25}</string>
            </dict>
            <key>word_huodong_zuojidajingcai.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,284},{207,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{207,31}}</string>
                <key>sourceSize</key>
                <string>{207,33}</string>
            </dict>
            <key>word_jichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,461},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>word_jieduanchongzhidalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,417},{177,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,18}}</string>
                <key>sourceSize</key>
                <string>{177,18}</string>
            </dict>
            <key>word_jingyingxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,588},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>word_jinjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,435},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>word_jiping.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,369},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>word_leijishuzi_jieduandalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,489},{128,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,19}}</string>
                <key>sourceSize</key>
                <string>{128,19}</string>
            </dict>
            <key>word_libaojingshen642yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{280,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{280,36}}</string>
                <key>sourceSize</key>
                <string>{284,38}</string>
            </dict>
            <key>word_liuyanxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,565},{90,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,25}}</string>
                <key>sourceSize</key>
                <string>{90,25}</string>
            </dict>
            <key>word_meirishouchongdalibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,395},{179,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,20}}</string>
                <key>sourceSize</key>
                <string>{179,20}</string>
            </dict>
            <key>word_meirishouchongdalibao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{278,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{278,36}}</string>
                <key>sourceSize</key>
                <string>{278,38}</string>
            </dict>
            <key>word_meiyuechongzhijiangliduoduoo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{259,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,28}}</string>
                <key>sourceSize</key>
                <string>{259,28}</string>
            </dict>
            <key>word_mianfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,40},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{59,31}</string>
            </dict>
            <key>word_moshi_dui.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,653},{26,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,24}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>word_moshi_hang.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,626},{24,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>word_moshi_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,653},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>word_moshi_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,626},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>word_moshi_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,626},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>word_qidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,487},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>word_qingsongchongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{279,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,28}}</string>
                <key>sourceSize</key>
                <string>{279,28}</string>
            </dict>
            <key>word_renwujiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,536},{91,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,27}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>word_renwumubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,507},{91,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,27}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>word_renyijine.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,510},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>word_rongyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,570},{104,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,25}}</string>
                <key>sourceSize</key>
                <string>{106,27}</string>
            </dict>
            <key>word_shejiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,542},{104,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,26}}</string>
                <key>sourceSize</key>
                <string>{104,26}</string>
            </dict>
            <key>word_title_liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,597},{102,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,23}}</string>
                <key>sourceSize</key>
                <string>{102,23}</string>
            </dict>
            <key>word_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,510},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>word_youxixiaomishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,463},{170,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,24}}</string>
                <key>sourceSize</key>
                <string>{174,26}</string>
            </dict>
            <key>word_zhiye_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,471},{17,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>word_zhiye_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,454},{17,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>word_zhiye_zhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,437},{17,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>word_zhongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,413},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>word_zhujiemian_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,528},{36,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,16}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>word_zhujiemian_huodong_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,374},{36,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,16}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>word_zhujiemian_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,334},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>word_zhujiemian_renwu_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,294},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>word_zhujiemian_zudui.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,254},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,16}</string>
            </dict>
            <key>word_zhujiemian_zudui_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,488},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,16}</string>
            </dict>
            <key>word_zidongxunlu.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,383},{206,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,45}}</string>
                <key>sourceSize</key>
                <string>{206,45}</string>
            </dict>
            <key>word_zidongzhandouzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,430},{200,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{200,41}}</string>
                <key>sourceSize</key>
                <string>{206,45}</string>
            </dict>
            <key>word_zt_anticritical.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,678},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>word_zt_critical.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,600},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>word_zt_jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,585},{74,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,36}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>word_zt_mabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,511},{72,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>word_zt_mianyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,615},{68,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>word_zt_reflect.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,75},{74,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,34}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>word_zt_shanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,592},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{72,32}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>word_zt_weimingzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,489},{109,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,38}}</string>
                <key>sourceSize</key>
                <string>{111,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wordimg.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c944565dec5ca27f02a17f1f8940aba1$</string>
            <key>textureFileName</key>
            <string>wordimg.png</string>
        </dict>
    </dict>
</plist>
